[2021-02-02 03:27] p1n0cch10 commented on #508
我在develop分支试了，已经更新到原post，请问如流号是？

[2021-02-02 03:27] p1n0cch10 commented on #508
我在develop试了，已经更新到原始posts了，请问如流号是？

[2021-02-02 03:56] SunAhong1993 commented on #505
已修复该问题，您可以重装下X2Paddle进行转换：
[code]
但是MemoryData中有的transform不属于模型转换范畴（属于数据预处理），该部分不进行转换，您可自行添加该部分的处理。

[2021-02-02 05:41] GreenValue commented on #505
感谢，感谢。

具体指哪里？如果添加该部分处理？有列子吗？

[2021-02-02 06:15] SunAhong1993 commented on #505
这边没有例子，您只需自己使用python实现下图中的数据预处理即可（包括crop、mirror、normalization）
![image](https://user-images.githubusercontent.com/48579383/106559902-11374500-6561-11eb-868c-367edb12e22a.png)

[2021-02-05 03:59] SunAhong1993 commented on #501
均已修复，请更新最新版本的X2Paddle

[2021-02-05 04:01] #508 closed, assigned to nobody

[2021-02-05 07:49] SunAhong1993 commented on #504
已添加LRN op 转换相关代码，您可重装X2Paddle，进行转换，安装流程：
[code]
[code]

[2021-02-05 07:52] tingggggg commented on #504
謝謝您

[2021-02-05 07:52] #504 closed, assigned to nobody

[2021-02-07 09:36] lgcy opened #511 "onnx lstm"
请问现在支持onnx的lstm模型转paddle吗，刚转了一下，出现了不支持
Now, onnx2paddle support convert onnx model opset_verison [9],opset_verison of your onnx model is 9, automatically treated as op_set: 9.
there are 1 OPs are not supported yet, list as below:
LSTM

[2021-02-07 09:48] SunAhong1993 commented on #511
目前已经支持，您可以安装下最新版本的X2Paddle，安装方式如下：
[code]

[2021-02-07 10:18] lgcy commented on #511
你好，刚试了一下，还是不行，错误和上面是一样的

[2021-02-07 10:20] SunAhong1993 commented on #511
请问是使用动态图方式转换吗？目前只支持动态图方式

[2021-02-07 10:33] lgcy commented on #511
paddle_type 设置成dygraph, 错误为convert failed node:857, op_type is LSTM

[2021-02-07 11:28] SunAhong1993 commented on #511
方便把模型发送到545510262@qq.com吗？我查看下原因

[2021-02-07 11:43] lgcy commented on #511
模型链接在https://github.com/ouyanghuiyu/chineseocr_lite/tree/onnx/models/crnn_lite_lstm.onnx

[2021-02-07 11:51] SunAhong1993 commented on #511
已收到，这边尝试转换

[2021-02-07 13:02] SunAhong1993 commented on #511
该模型由于LSTM的输入weight是个Tensor，Paddle暂无法支持该类输入的weight，暂无法支持。
![image](https://user-images.githubusercontent.com/48579383/107147211-c74ac680-6987-11eb-96b5-bbd053bd3229.png)

[2021-02-08 02:12] lgcy commented on #511
最近会优化这个问题吗

[2021-02-08 02:55] SunAhong1993 commented on #511
您这边可以使用下onnx-simplifier，将onnx模型优化下，再使用x2paddle进行转换，具体方式如下：
[code]
【onnx-simplifier】可以参考repo：https://github.com/daquexian/onnx-simplifier

[2021-02-08 06:56] lgcy commented on #511
简化过的模型可以转换，但是LSTM的参数貌似没有转换成功，warning如下：lstm0.0cell.weight_ih is not found in the provided dicr
还有一个bug就是https://github.com/PaddlePaddle/X2Paddle/blob/d509569c2467202169a698126fd5f917bf1c6865/x2paddle/core/program.py#L529，这一行需要加上encoding='utf-8'，不然会出现ascii codec can't encode characters错误

[2021-02-08 06:58] lgcy commented on #511
还有一个问题，即使现在能够成功转换为动态模型，但是如果不支持转换为静态模型的话，依然不能使用paddle_lite进行相关部署

[2021-02-08 07:00] SunAhong1993 commented on #511
这边转的动态图指的是只是动态图的代码，inference model还是静态图的，能使用paddle_lite进行相关部署

[2021-02-08 07:35] SunAhong1993 commented on #511
这个是转换成功的，因为paddle有2套参数命名方式，所以导致这个warning；另外这个bug应该和环境里的encoding格式有关。

[2021-02-20 18:00] edmundang1994 opened #512 "self.params[node.layer_name + "_cparam2"] = np.squeeze(node.data[ IndexError: list index out of range"
Hi, I have been trying to convert caffe > paddle, however, I keep facing the issue of Indexerror: list index out of range on the file caffe_op_mapper.py. Please help!!

![image](https://user-images.githubusercontent.com/36850212/108604415-c46cbe80-73e8-11eb-89d0-9e830193cb29.png)

The caffe model that I am using, with the prototxt as attached.
[caffemodel.zip](https://github.com/PaddlePaddle/X2Pad

[2021-02-22 04:19] SunAhong1993 commented on #512
You can try reinstall the X2Paddle as follow command：
[code]
And run as :
```x2paddle -f caffe -p deploy.prototxt -w baidu_iter_250000.caffemodel -s pd_model_dygraph -pt dygraph```
If this is useful, we willl  update the static method.

[2021-02-22 05:22] edmundang1994 commented on #512
Yes! Thanks alot! It work like magic!

[2021-02-23 06:14] #512 closed, assigned to nobody

[2021-02-23 06:58] lgcy commented on #511
在上述一系列操作之后，成功得到了paddle-lite的推理模型，但是推理Aborted了，不知道是paddle-lite那边的问题，还是这边模型转换的问题，希望官方能够去尝试一下，给一个例子

[2021-02-23 07:03] SunAhong1993 commented on #511
这边lstm转换后模型与onnx是对齐的，您可以在paddlelite的repo中提相关issue，并提供共转换后的inference_model

[2021-02-24 06:39] zhudibo opened #513 "pytorch模型转为paddle模型，提示prelu不支持"
pytorch模型直接转为paddle模型时提示错误，prelu不支持，错误如下：
Now translating model from pytorch to paddle.
Traceback (most recent call last):
  File "/home/un/Silent-Face-Anti-Spoofing/conver.py", line 32, in <module>

========= 1 OPs are not supported yet ===========
========== aten::prelu ============
    input_examples=[torch.tensor(input_data)])
  File "/usr/local/lib/python3.7/site-packages/x2paddle-1.0.1-py3.7

[2021-02-24 06:48] SunAhong1993 commented on #513
您可以将模型和相关代码提供至545510262@qq.com吗？近期我们将对这个op进行支持

[2021-02-24 06:49] zhudibo commented on #513
好的

[2021-02-28 15:44] youngstu opened #515 "x2paddle从onnx模型转paddle异常（yolo 目标检测）"
![image](https://user-images.githubusercontent.com/26452514/109424440-91e14800-7a1e-11eb-8b8b-d29a6002f0f7.png)
![image](https://user-images.githubusercontent.com/26452514/109424446-9a398300-7a1e-11eb-924f-9955fd2d9162.png)

x2paddle从onnx转paddle后结构中多了几个transpose op导致输出结果顺序混乱，无法和onnx输出对齐。

[2021-03-01 01:58] SunAhong1993 commented on #515
方便提供下模型到545510262@qq.com吗

[2021-03-01 02:29] youngstu commented on #515
我能在如流上（飞桨预测服务群）联系您吗？

[2021-03-01 02:30] youngstu commented on #515
信息已经发到群里面了，直接如流沟通方便些~

[2021-03-01 04:09] Zyq990127 opened #517 "转tf模型时报错：'utf-8' codec can't decode byte 0xb9 in position 3437: invalid start byte"
‘’‘
模型来源： TensorFlow
模型说明：图像分类模型https://github.com/tensorflow/models/tree/master/research/slim
                  下载的MobileNet_v2预训练模型
模型文件：https://storage.googleapis.com/mobilenet_v2/checkpoints/mobilenet_v2_1.0_224.tgz
转换过程出错提示如下：'utf-8' codec can't decode byte 0xb9 in position 3437: invalid start byte
![图片](https://user-images.githubusercontent.com/73383216/109450736-a1947700-7a86-11eb-8813-6d8b

[2021-03-02 09:06] jiangjiajun opened #518 "【PyTorch模型代码转换需求收集🔥🔥🔥】"
X2Paddle目前正在探索PyTorch模型代码的转换工作，帮助大家直接将基于PyTorch写的模型训练代码迁移到飞桨框架进行训练，有需求的童鞋快联系我们！

联系方式
- 直接此issue下直接评论，提出需求，例如你当前的代码库路径
- 邮件给jiangjiajun@baidu.com

[2021-03-03 02:28] Owen-Fish opened #519 "ONNX通过X2paddle转换时出现GPU错误"
概要：在实验将pytorh中训练的模型通过x2paddle转化，实施路径是pytorch模型->onnx->paddle，在onnx->paddle
过程中出现了GPU问题。报错信息简要为（这种错误出现在我一张卡满负荷跑的时候，切换到另一张空卡的时候没问题）

安装库：paddlepaddle-gpu 2.0.0.post101以及其他必须库

疑惑：我是onnx通过X2paddle转为pd模型，为什么需要在GPU有显存的时候才可以进行？是我paddlepaddle为GPU版本的原因吗？

**error trace**：
(paddle) lenovo@lenovo-desktop:~/4T/xxx/program/Torch$ x2paddle --framework=onnx --model=./resnet18.onnx --save_dir=pd_model --paddle_t

[2021-03-03 07:05] liuhongduosc opened #520 "onnx模型转换至paddle模型的时候显示DepthToSpace算子不支持"
请说明模型的来源，模型类型（例如图像分类、目标检测等）

如有原模型文件或github链接，如方便可一并附上，方便开发人员分析。

**为了便于开发人员快速定位原因，建议将模型文件上传（或通过百度网盘分享）**

## 示例

模型来源： TensorFlow
模型说明： 图像分类模型，其相应repo为 https://github.com/xxxx
模型文件： 链接: https://pan.baidu.com/s/1LRzTSJwsLOul99Tj5_43wQ 密码: d3dg
转换过程出错提示如下：
[code]

[2021-03-03 07:50] SunAhong1993 commented on #520
这边修复后回复您

[2021-03-03 07:53] SunAhong1993 commented on #519
可先尝试安装使用paddlepaddle进行转换，（pip install paddlepaddle）。
同时方便把模型发给我们（发送至545510262@qq.com），我们查看下原因吗。

[2021-03-03 07:54] #515 closed, assigned to nobody

[2021-03-03 08:38] liuhongduosc commented on #520
好的，非常感谢！

On Wed, Mar 3, 2021 at 3:50 PM SunAhong1993 <notifications@github.com>
wrote:

[2021-03-03 09:48] Owen-Fish commented on #519
@SunAhong1993 我用CUDA_VISIBLE_DEVICES切换到另一块空闲的卡上去之后就没这问题。用的模型就是resnet18，在torchvision里面下载的。我想这会不会是paddle-gpu在X2paddle转换会有用到GPU的资源啊？

[2021-03-03 10:36] jon135790 opened #521 "caffe 转 paddle"
模型来源： caffe
模型说明： retinaface
环境:windows10
转换过程出错提示如下：
[code]

[2021-03-03 11:16] SunAhong1993 commented on #521
可以查看下prototxt中是否有命名为class的层（将相关层修改），class在代码中为关键字所以出错了

[2021-03-03 12:21] nlj0011 opened #522 "module 'paddle' has no attribute 'nn'"
paddlepaddle = 1.8.5
x2paddle按照第一种方式安装，需要pytorch模型转为paddle，现试用下面的例子会报错：
import torch
import numpy as np
from torchvision.models import AlexNet
from torchvision.models.utils import load_state_dict_from_url
# 构建输入
input_data = np.random.rand(1, 3, 224, 224).astype("float32")
# 获取PyTorch Module
torch_module = AlexNet()
# 设置为eval模式
torch_module.eval()
# 进行转换
from x2paddle.convert import pytorch2paddle

[2021-03-03 12:29] SunAhong1993 commented on #522
需要将paddlepaddle更新至2.0.0

[2021-03-04 02:19] jiangjiajun commented on #522
建议在X2Paddle中加入一下PaddlePaddle版本的判断

[2021-03-04 02:40] jon135790 commented on #521
这个问题修改了名称后已经可以了。谢谢

[2021-03-04 02:40] jon135790 commented on #521
Traceback (most recent call last):
  File "D:\Anaconda3\Scripts\x2paddle-script.py", line 33, in <module>
    sys.exit(load_entry_point('x2paddle==1.0.1', 'console_scripts', 'x2paddle')())
  File "D:\Anaconda3\lib\site-packages\x2paddle-1.0.1-py3.8.egg\x2paddle\convert.py", line 260, in main
  File "D:\Anaconda3\lib\site-packages\x2paddle-1.0.1-py3.8.egg\x2paddle\convert.py", line 150, in caffe2pa

[2021-03-04 02:43] nlj0011 commented on #522
好的，谢谢！

[2021-03-04 02:54] SunAhong1993 commented on #521
这边修复下回复您

[2021-03-04 02:56] nlj0011 opened #523 "pytorch_albert转paddle提示aten::einsum不支持"
模型来源：Pytorch
模型说明：模型采用transformers库中的albert，模型权重为https://huggingface.co/voidful/albert_chinese_tiny/tree/main
转换过程中出现的问题：提示**aten::einsum** 不支持

[2021-03-04 03:52] SunAhong1993 commented on #513
已更新相关op，您可重装X2Paddle进行转换，重装方式如下：
[code]

[2021-03-04 03:55] zhudibo commented on #513
好的，谢谢大佬

---原始邮件---
发件人: "SunAhong1993"<notifications@github.com&gt;
发送时间: 2021年3月4日(周四) 中午11:53
收件人: "PaddlePaddle/X2Paddle"<X2Paddle@noreply.github.com&gt;;
抄送: "zhudibo"<1020286694@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/X2Paddle] pytorch模型转为paddle模型，提示prelu不支持 (#513)

已更新相关op，您可重装X2Paddle进行转换，重装方式如下：
 pip uninstall x2paddle git clone https://github.com/SunAhong

[2021-03-04 04:33] SunAhong1993 commented on #521
该问题已修复，您可重装X2Paddle进行使用，重装方式：
[code]

[2021-03-04 04:36] SunAhong1993 commented on #517
该问题已修复，您可重装X2Paddle进行使用，重装方式：
[code]

[2021-03-04 04:42] SunAhong1993 commented on #519
是会用到GPU资源，所以推荐使用CPU的paddlepaddle进行转换。

[2021-03-04 04:45] SunAhong1993 commented on #523
该OP Paddle暂时无法支持，我们将在Paddle支持该OP后，对应添加该OP的转换，请持续关注X2Paddle的更新。

[2021-03-04 06:04] jon135790 commented on #521
刚才的问题已解决。新的提示：
DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.9 it will stop working
  return (isinstance(seq, collections.Sequence) and
'utf-8' codec can't decode byte 0xa3 in position 6889: invalid start byte
目前的python版本是3.8.5   是否需要将python版本升级到指定版本？谢谢

[2021-03-04 08:19] Zyq990127 commented on #517
重装之后还是报错：'utf-8' codec can't decode byte 0xa3 in position 1718: invalid start byte

就是换了一个字符

[2021-03-04 08:21] Zyq990127 commented on #517
重装之后还是报错：'utf-8' codec can't decode byte 0xa3 in position 1718: invalid start byte
![图片](https://user-images.githubusercontent.com/73383216/109932749-9307c300-7d05-11eb-9b6f-75d797bd830d.png)

[2021-03-04 08:34] SunAhong1993 commented on #517
你可以截图看下x2paddle_code.py的248行主要是什么吗？

[2021-03-04 08:40] Zyq990127 commented on #517
这个文件的第248行是：

看起来是参数文件有什么问题。。。。。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/X2Paddle"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2021年3月4日(星期四) 下午4:34
收件人:&nbsp;"PaddleP

[2021-03-04 08:59] SunAhong1993 commented on #517
248行是空行？

[2021-03-04 09:14] Zyq990127 commented on #517
不是啊，图片是没加载出来吗

248行：params = paddle.load('D:\pythontest\garbage_classify\models\pb\pd_model/model.pbparams')

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/X2Paddle"                                                                                    <notif

[2021-03-04 09:36] SunAhong1993 commented on #517
是由于Windows上路径字符串的问题，已修复，请按照前面的方式进行重装X2Paddle。

[2021-03-04 10:10] Zyq990127 commented on #517
![图片](https://user-images.githubusercontent.com/73383216/109947774-a8381e00-7d14-11eb-8063-716db2727edf.png)
![图片](https://user-images.githubusercontent.com/73383216/109947844-bab25780-7d14-11eb-9a09-addfc24f7665.png)

[2021-03-04 10:11] Zyq990127 commented on #517
![图片](https://user-images.githubusercontent.com/73383216/109948063-edf4e680-7d14-11eb-94fe-bcd718657003.png)
![图片](https://user-images.githubusercontent.com/73383216/109948142-ff3df300-7d14-11eb-825f-304b152a4a26.png)
重装之后依然报错

[2021-03-05 03:27] SunAhong1993 commented on #517
突然发现你报的一只是一个warning，不影响转换，你看下inference_model下应该已经文件了（说明转换成功）。

[2021-03-05 03:38] Zyq990127 commented on #517
inference_model文件夹下是空的

------------------&nbsp;原始邮件&nbsp;------------------

突然发现你报的一只是一个warning，不影响转换，你看下inference_model下应该已经文件了（说明转换成功）。

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-05 04:39] SunAhong1993 commented on #517
那D盘下
![image](https://user-images.githubusercontent.com/48579383/110068077-e59db980-7daf-11eb-9fad-e4ed10e5c21b.png)
该文件是否存在？

[2021-03-05 04:51] Zyq990127 commented on #517
![图片](https://user-images.githubusercontent.com/73383216/110068708-395cd280-7db1-11eb-92f3-db80e00be277.png)
![图片](https://user-images.githubusercontent.com/73383216/110068749-4e396600-7db1-11eb-85eb-7159ffef0b84.png)
model.pbparams文件存在，inference_model文件夹下是空的

[2021-03-05 06:11] SunAhong1993 commented on #517
为什么你的路径下有个ave_dir？是什么意思？

[2021-03-05 07:19] Owen-Fish commented on #519
@SunAhong1993 了解了，谢谢。

[2021-03-05 07:19] #519 closed, assigned to nobody

[2021-03-05 09:28] jon135790 opened #525 "caffe 转 paddle"
模型来源： caffe
模型说明： 多个网络都有这个问题
python版本: 3.8.5
转换过程出错提示如下：
DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.9 it will stop working
return (isinstance(seq, collections.Sequence) and
'utf-8' codec can't decode byte 0xa3 in position 6889: invalid start byte

[2021-03-05 09:40] SunAhong1993 commented on #525
方便发送一个模型到sunyanfang01@baidu.com吗？我这边查看下原因

[2021-03-06 03:06] jon135790 commented on #525
邮件已发

[2021-03-06 06:17] Zyq990127 commented on #517
我也不知道为什么有，删掉重新运行一次就没了
![图片](https://user-images.githubusercontent.com/73383216/110197440-a1311d00-7e86-11eb-98d4-cc91ca6a6211.png)
![图片](https://user-images.githubusercontent.com/73383216/110197467-aa21ee80-7e86-11eb-8a40-35d61b89ec37.png)

[2021-03-06 08:19] Zyq990127 commented on #517
我换了ubuntu操作系统成功转换了，是因为操作系统的问题吗

[2021-03-07 08:46] Zyq990127 commented on #517
换了ubuntu系统后的输出为：
![图片](https://user-images.githubusercontent.com/73383216/110234215-2fc79c00-7f64-11eb-8996-bce959d666d0.png)
![图片](https://user-images.githubusercontent.com/73383216/110234226-3b1ac780-7f64-11eb-975d-f8068a41c90e.png)
![图片](https://user-images.githubusercontent.com/73383216/110234241-453cc600-7f64-11eb-8920-ffdf02d9ba36.png)
这个转化结果对吗，我怎么觉得inference_model下面不应该是
![图片](https://user-i

[2021-03-07 09:00] Zyq990127 commented on #517
model.pdiparams文件是所有参数信息保存在单个文件params中？
model.pdmodel文件是模型的拓扑信息吗？求解，麻烦啦
换了这个命令之后paddle_lite_opt --model_file=model.pdmodel --param_file=model.pdiparams --optimize_out_type=naive_buffer --optimize_out=out --valid_targets=arm
nb文件转换出来了

[2021-03-07 09:05] Zyq990127 commented on #517
model.pdiparams文件是所有参数信息保存在单个文件params中？
model.pdmodel文件是模型的拓扑信息吗？
换了这个命令之后paddle_lite_opt --model_file=model.pdmodel --param_file=model.pdiparams --optimize_out_type=naive_buffer --optimize_out=out --valid_targets=arm
nb文件转换出来了，但是还是担心自己理解的不对，求解答，麻烦啦！

[2021-03-08 02:11] SunAhong1993 commented on #517
你这样使用是没问题的，model.pdmodel对应__model__，model.pdiparams对应__params__

[2021-03-15 02:33] SunAhong1993 commented on #525
没收到你的邮件，但是这边改了下和utf-8相关的代码，你可以尝试下重装下X2Paddle：
[code]

[2021-03-18 02:46] wzzwh110 opened #528 "onnx2paddle keyerror 0"
模型来源： MMdetection
模型说明： 目标检测模型
我在windows下pip install onnx==1.6.0出了以下问题
‘’‘
assert CMAKE, 'Could not find "cmake" executable!'     AssertionError: Could not find "cmake" execut
’‘’
我直接使用pip install onnx 解决了
但是在转换过程出错提示如下：
[code]
请问如何解决

[2021-03-18 02:46] wzzwh110 opened #529 "onnx2paddle keyerror 0"
模型来源： MMdetection
模型说明： 目标检测模型
我在windows下pip install onnx==1.6.0出了以下问题
‘’‘
assert CMAKE, 'Could not find "cmake" executable!'     AssertionError: Could not find "cmake" execut
’‘’
我直接使用pip install onnx 解决了
但是在转换过程出错提示如下：
[code]
请问如何解决

[2021-03-18 02:56] #529 closed, assigned to nobody

[2021-03-19 02:09] SunAhong1993 commented on #528
方便把onnx模型发送到sunyanfang01@baidu.com吗

[2021-03-19 02:15] wzzwh110 commented on #528
wzzwh110 issue

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/X2Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年3月19日(星期五) 上午10:09
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:

[2021-03-19 02:15] wzzwh110 commented on #528
已发送

[2021-03-19 02:27] SunAhong1993 commented on #528
已收到，近期查看原因后，回复您

[2021-03-20 11:50] MrWcy commented on #518
要不把detr转换下吧https://github.com/facebookresearch/detr

[2021-03-22 10:42] SunAhong1993 commented on #518
感谢回复，我们将将该repo放入我们的需求库中。

[2021-03-25 07:19] SunAhong1993 commented on #528
这个onnx本身有问题，这边使用如下代码跑onnx前向，会报如下错误：
[code]
![image](https://user-images.githubusercontent.com/48579383/112433598-72b7ab00-8d7d-11eb-97a2-7b9a7e45483b.png)
你那边可以先查看下onnx的问题。

[2021-03-25 07:52] SunAhong1993 commented on #520
当前已更新代码支持了DepthToSpace，您可按照以下方式更新代码：
[code]
有问题可随时反馈。

[2021-03-26 00:47] wzzwh110 commented on #528
好的我查看一下 谢谢了

[2021-03-26 00:47] #528 closed, assigned to nobody

[2021-03-27 08:59] gongruiyang opened #532 "SyntaxError: invalid decimal literal"
模型来源：onnx
模型说明：图像分割模型，将onnx模型文件转换为paddle
转换过程出错提示如下：
[code]

[2021-03-29 02:04] SunAhong1993 commented on #532
这个问题是由于onnx模型中的命名出现了非法字符@，把onnx模型中的@替换成合法字符（比如：_）可解决该问题

[2021-03-29 02:35] gongruiyang commented on #532
好的，我来试试，谢谢你😃

---Original---
From: ***@***.***&gt;
Date: Mon, Mar 29, 2021 10:04 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/X2Paddle] SyntaxError: invalid decimal literal (#532)

这个问题是由于onnx模型中的命名出现了非法字符@，把onnx模型中的@替换成合法字符（比如：_）可解决该问题

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-29 13:00] jogogohaha opened #533 "tensorflow转paddle"
[code]

请问可以提供ReverseV2的支持吗，谢谢

[2021-04-01 06:01] #520 closed, assigned to nobody

[2021-04-01 06:23] SunAhong1993 commented on #533
当前已更新代码支持了ReverseV2，您可按照以下方式更新代码：
[code]
有问题可随时反馈。

[2021-04-01 13:43] Dreamkeeper66666 commented on #533
[code]
请问这是什么问题

[2021-04-01 13:45] jogogohaha commented on #533
[code]

下面是一个transpose的node，请问是这里有什么问题吗

[code]
我把报错的地方输出了一下，好像变成ConcatV2了
[code]

[2021-04-02 02:37] SunAhong1993 commented on #533
目前paddle中的transpose的perm只能支持是一个常量，而你的网络中的perm为concat的结果（一个Tensor），您那边可否修改代码把这个perm修改为常量

[2021-04-03 06:13] janoslim opened #534 "AssertionError: We only support 'to_tensor()' in dynamic graph mode, please call 'paddle.disable_static()' to enter dynamic graph mode."
Hello,

I used X2paddle to run my tensorflow model at paddle-lite.
I noticed an error when converting my tf model by x2paddle dynamic option
but static seems fine. Is is okay to be compiled to static only to use with paddle-lite?
Thank you.

Framework: Tensorflow
Model Description: mobilenet_v1, classify
Link: [frozen_mobilenet_v1.pb.zip](https://github.com/PaddlePaddle/X2Paddle/files/6252038/froz

[2021-04-03 13:51] Dreamkeeper66666 commented on #533
这个tensor是tf.constant(np.array[a1,a2,a3,....])这种格式,其中a1，a2...为numpy数组，不知道这个算constant吗。可能是这个过程变成了concat？有什么办法变成const呢

[2021-04-06 02:42] SunAhong1993 commented on #533
np.array[a1,a2,a3,....] 是否为一个常量，如果为常量，建议直接传入常量。

[2021-04-06 03:32] SunAhong1993 commented on #533
这边方便把模型提供给我们下吗

[2021-04-06 08:34] zouzhuo777 opened #535 "onnx模型转paddle时出错"
模型来源：onnx
模型说明：ReXNet V1，用于手部关键点标注。

转paddle模型时出错，生成的model.py文件中输出层axes参数初始化为None，但是在后续处理中要求这个参数为list。
Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/x2paddle/core/op_mapper.py", line 142, in save_inference_model
    inputs, outputs = model.x2paddle_net()
  File "pd_model_rexnet/model_with_code/model.py", line 1371, in x2paddle_net

[2021-04-06 09:25] Dreamkeeper66666 commented on #533
a1,a2,a3会随着输入的变化而变化，似乎不是常量。

[2021-04-06 09:44] SunAhong1993 commented on #535
你好，建议使用x2paddle1.0.1进行转换，如果还是出问题方便方便提供下onnx模型吗？

[2021-04-06 11:14] SunAhong1993 commented on #534
The inference model can work well. You can set "paddle.disable_static()" in your code. Or you can move this issue to [PaddleLite repo](https://github.com/PaddlePaddle/Paddle-Lite). They will help you.

[2021-04-06 11:56] janoslim commented on #534
Thank you! I am making some progress.

[2021-04-06 11:56] #534 closed, assigned to nobody

[2021-04-06 14:01] zouzhuo777 commented on #535
已解决，非常感谢！

[2021-04-06 16:39] zouzhuo777 commented on #535
感谢，已经解决了

[2021-04-07 03:41] SunAhong1993 commented on #533
由于paddle的transpose暂不支持perm为Tensor，所以这样的模型暂不支持

[2021-04-07 16:39] Dreamkeeper66666 commented on #533
我刚刚看了下，这个可能是tf.tensordot过程中涉及到了transpose。 下面是相关的代码
[code]

请问有什么办法可以定义成常量吗，谢谢！

[2021-04-08 02:11] SunAhong1993 commented on #533
方便把pb模型发到sunyanfang01@baidu.com吗？这边具体看下模型

[2021-04-08 04:20] Dreamkeeper66666 commented on #533
谢谢，已发送

[2021-04-08 08:06] SunAhong1993 commented on #533
已收到，查到原因后回复您

[2021-04-08 08:25] Dreamkeeper66666 commented on #533
或许是tensordot的问题，并不是直接转换的，似乎目前并没有支持tensordot？

[2021-04-09 06:11] SunAhong1993 commented on #533
这边更新了下代码，支持了你这类模型，您可重装X2Paddle进行转换：
[code]

[2021-04-09 07:15] Dreamkeeper66666 commented on #533
可以了，非常感谢！！

[2021-04-09 15:12] Dreamkeeper66666 commented on #533
@SunAhong1993 请问一下这个转换是等价的吗，我刚刚试了下相同的输入(例如，全1的矩阵)，输出似乎不太一样诶。

[2021-04-10 05:41] SunAhong1993 commented on #533
查看原因后发现是Pad op操作出现部分问题，已修改部分代码，您可按照之前的方式重装X2Paddle，即可对齐

[2021-04-10 10:33] Dreamkeeper66666 commented on #533
非常感谢，可以使用了。最后有个小问题。就是有报错我之前把输入的x2改成constant了，现在我改回tf.placeholder(tf.bool, shape=[3])后发现可以生成paddle参数，但是生成inference model的过程就会报错：
`The feeded_var_names[2]: 'x2' doesn't exist in pruned inference program. Please check whether 'x2' is a valid feed_var name, or remove it from feeded_var_names if 'x2' is not involved in the target_vars calculation.`
请问是inference program是不支持这个类型作为输入吗。谢谢

[2021-04-12 02:16] SunAhong1993 commented on #533
你把你的pb模型发我看下

[2021-04-12 11:18] Jackson8888 opened #540 "onnx模型转成paddle报错"
模型用于目标检测

模型来源：
    模型vgg16_bn
    使用pytorch -> onnx, 在使用onnx转换成paddle时报错

Now translating model from onnx to paddle.
model ir_version: 6, op version: 9
shape inferencing ...
Warning: Unsupported operator adaptive_avg_pool2d. No schema registered for this operator.
Stopping at incomplete shape inference at adaptive_avg_pool2d: x2paddle_143
node inputs:
name: "x2paddle_141"
type {
  tensor_type {

[2021-04-13 09:04] ryansunyz opened #542 "onnx转paddle没有报错也没有生成结果"
WARNING: OMP_NUM_THREADS set to 2, not 1. The computation speed will not be optimized if you use data parallel. It will fail if this PaddlePaddle binary is compiled with OpenBlas since OpenBlas does not support multi-threads.
PLEASE USE OMP_NUM_THREADS WISELY.
paddle.__version__ = 2.0.0-rc0
Now translating model from onnx to paddle.
model ir_version: 4, op version: 11
shape inferencing ...
shape i

[2021-04-13 17:08] 15150053530 commented on #518
pth to weights

[2021-04-13 18:11] littletomatodonkey opened #544 "SwinTransformer模型转换paddle出错"
## 分类模型 SwinTransformer

* 模型地址：https://github.com/microsoft/Swin-Transformer/

* 转换脚本如下

[code]

* 报错如下

[code]

[2021-04-16 08:45] SunAhong1993 commented on #540
方便把onnx模型发送到sunyanfang01@baidu.com吗？

[2021-04-19 02:15] #542 closed, assigned to nobody

[2021-04-19 06:16] 851532562 commented on #518
麻烦将basnet转换的更新下吧，感谢！
https://github.com/xuebinqin/BASNet

[2021-04-20 08:35] 851532562 commented on #518
麻烦将basnet转换的更新下吧，感谢！
https://github.com/xuebinqin/BASNet

[2021-04-20 08:40] SunAhong1993 commented on #518
已收到您的邮件，进去转换后通知您

[2021-04-20 08:56] 851532562 commented on #518
感谢感谢！最好是分散的静态模型，我们想用百度K100卡跑，demo是用的分散形式的模型。

[2021-04-22 06:31] yinyimoshushi opened #549 "onnx模型转paddle模型报错"
模型来源： pytorch1.6
模型说明： JDE多目标跟踪模型，其相应repo为 https://github.com/lyk125/Towards-Realtime-MOT
模型文件： https://pan.baidu.com/s/1Ifgn0Y_JZE65_qSrQM2l-Q
转换过程出错提示如下：
Traceback (most recent call last):
  File "F:/pythonworkplace/jdeTransform/ts1.py", line 38, in <module>
    input_examples=[torch.tensor(input_data)])
  File "D:\Anaconda3\envs\pytorch2paddle\lib\site-packages\x2paddle-1.0.1-py3.6.egg\x2paddle

[2021-04-23 09:24] SunAhong1993 commented on #549
这边修复后，回复您

[2021-04-25 01:23] Dreamkeeper66666 opened #552 "关于数据类型转化"
您好，我用x2paddle将tensorflow的pb模型转化为paddle后，调用发现以下报错
[code]
似乎是transpose不支持int8的类型，好像conv2d也不支持。请问能否自动转换为paddlepaddle支持的数据类型，非常感谢。
模型的链接: https://storage.googleapis.com/minigo-pub/v17-19x19/models/000002-orion.pb

[2021-04-25 05:06] wjj19950828 commented on #552
您好，请提供一下tensorflow以及paddle的版本号吧，我这边没有遇到上述问题

[2021-04-25 06:39] Dreamkeeper66666 commented on #552
tf1.15.2 以及 paddle 2.0.2

[2021-04-25 06:55] Dreamkeeper66666 commented on #552
不好意思，我把输入弄成int8的了。改成float32就可以了。谢谢

[2021-04-25 06:55] #552 closed, assigned to wjj19950828

[2021-04-25 16:30] ZeyuChen commented on #523
@joey12300 @SunAhong1993 PaddleNLP后续会新增einsum OP，届时x2paddle转换时可以用该API替换
`paddlenlp.ops.einsum()`

[2021-04-26 09:05] ezekielqu opened #554 "Exception: Model is not supported yet."
转换tensorflow的模型时，提示操作不支持，但是op表中现在已经支持这两个op

`========= 2 OPs are not supported yet ===========
========== BatchToSpaceND ============
========== SpaceToBatchND ============
Traceback (most recent call last):
  File "/home/senn/.conda/envs/envPaddle/bin/x2paddle", line 33, in <module>
    sys.exit(load_entry_point('x2paddle==1.0.2', 'console_scripts', 'x2paddle')())
  File "/home/senn/.conda/envs/e

[2021-04-29 13:26] wjj19950828 commented on #554
这边新增了这两个op，请重装一下X2Paddle

然后输出下列命令

[code]

[2021-04-29 16:39] wjj19950828 commented on #554
如果方便的话把模型对应repo链接也发一下可以吗，谢谢啦！

[2021-05-03 15:44] hong19860320 commented on #540
我在转onnx的ssd-mobilenetv1模型到paddle模型也遇到这个问题。
[ssd_mobilenet_v1_10.onnx.zip](https://github.com/PaddlePaddle/X2Paddle/files/6415931/ssd_mobilenet_v1_10.onnx.zip)

[2021-05-06 01:39] yjhtc007 opened #559 "onnx模型转paddle模型报错"
模型来源： Onnx
模型说明： Faster RCNN检测模型
转换过程出错提示如下：
[code]
请问现在ONNX转paddle的时候， NonMaxSuppression 还不支持吗？

[2021-05-06 02:16] wjj19950828 commented on #559
麻烦提供一下ONNX模型吧，谢谢啦！

[2021-05-06 02:37] eyhtqd commented on #559
您好，关于这个问题我参照了 https://github.com/PaddlePaddle/X2Paddle/pull/486， 似乎已经得到了解决。但是目前我遇到了一个新的问题，如下所示：
yjh@yjh-RESCUER-Y720-15IKB:~$ x2paddle --framework=onnx --model=/home/yjh/Pig_CrowdDet-master_debug_mv3_convert_onnx/crowd_mv3_0506_1.onnx --save_dir=pd_model --paddle_type dygraph
paddle.__version__ = 2.0.0
Now translating model from onnx to paddle.
model ir_version: 6, op version: 11
shape inferencing

[2021-05-06 03:22] yjhtc007 commented on #559
您好，关于这个问题我参照了 https://github.com/PaddlePaddle/X2Paddle/pull/486， 似乎已经得到了解决。但是目前我遇到了一个新的问题，如下所示：
yjh@yjh-RESCUER-Y720-15IKB:~$ x2paddle --framework=onnx --model=/home/yjh/Pig_CrowdDet-master_debug_mv3_convert_onnx/crowd_mv3_0506_2.onnx --save_dir=pd_model --paddle_type dygraph
paddle.__version__ = 2.0.0
Now translating model from onnx to paddle.
model ir_version: 6, op version: 11
shape inferencing

[2021-05-08 08:12] wjj19950828 commented on #559
您好，请提供一下之前pytorch模型和几张测试图片吧，这边需要对齐一下精度

[2021-05-09 11:21] pixeli99 opened #560 "op不支持"
用到的是mmdetection的模型，现在mmdetection只支持op11,所以就会有点问题

2个op不支持，

========= 2 OPs are not supported yet ===========
========== Less ============
========== NonMaxSuppression ============
Traceback (most recent call last):
  File "/home/lpx/miniconda3/envs/A9/bin/x2paddle", line 8, in <module>
    sys.exit(main())
  File "/home/lpx/miniconda3/envs/A9/lib/python3.8/site-packages/x2paddle/convert.py", line

[2021-05-10 02:07] wjj19950828 commented on #560
您好，请提供一下onnx模型以及mmdetection对应哪一个模型，谢谢啦！

[2021-05-10 10:35] pixeli99 commented on #560
链接：https://pan.baidu.com/s/1-BDDWAvfL3Uf8deSoG0xDg
提取码：6666
模型配置文件和权重均以上传，用到的是yolov3模型，麻烦您了。

[2021-05-11 02:56] #544 closed, assigned to nobody

[2021-05-11 07:25] williamlzw opened #564 "cannot import name 'polish_model' from 'onnx.utils'"
cannot import name 'polish_model' from 'onnx.utils'
onnx1.9.0 ,x2paddle1.1.0
转换模型报错

[2021-05-11 07:27] williamlzw opened #565 "pytorch2paddle log_softmax不支持"
log_softmax不支持，pytorch1.8.1

[2021-05-11 09:51] williamlzw opened #566 "onnx2paddle转换动态图推理耗时从10ms增加到2600ms"
onnx2paddle转换动态图推理耗时从10ms增加到2600ms。什么情况?

[2021-05-11 09:56] williamlzw commented on #566
原生pytorch耗时50ms，onnx耗时10ms，转到paddle动态图耗时2600ms

[2021-05-11 11:28] wjj19950828 commented on #566
麻烦提供一下onnx模型以及pytortch对应repo，谢谢啦！

[2021-05-11 12:08] williamlzw commented on #566
是一个crnn模型，与paddleocr类似。代码不能提供。你们可以找一个模型试试。

[2021-05-11 12:28] wjj19950828 commented on #566
可以把ONNX模型提供一下吗，不需要代码，这边查找一下耗时占比以及出现问题

[2021-05-11 12:29] williamlzw commented on #566
模型是公司内部的，不能对外提供

[2021-05-12 01:00] williamlzw commented on #566
问题出在paddle.nn.functional.log_softmax，耗时占比99%

[2021-05-12 01:01] williamlzw commented on #566
[46, 1, 7563]做axis=2的log_softmax操作，非常耗时

[2021-05-13 07:56] SunAhong1993 commented on #565
目前已支持，您可重装最新的X2Paddle进行更新

[2021-05-13 09:50] jiangjiajun opened #570 "【论文复现营】来自论文复现营的issue模版"
## 问题
问题的相关描述

## 建议
问题解决的相关建议

[2021-05-16 21:46] faded-TJU opened #574 "X2Paddle, DETR"
torch.nn.utils.clip_grad_norm_(model.parameters(), max_norm)
torch.utils.data.DistributedSampler
torch.utils.data.RandomSampler
torch.utils.data.SequentialSampler
torch.utils.data.BatchSampler
torch.jit._flatten
torch.testing.assert_allclose（numpy）

X2Paddle不支持直接转换，在API文档中好像没找到对应paddle写法

[2021-05-17 01:19] tt8000 opened #575 "【论文复现营】timm没有识别出来啊"
**问题:**

torch2paddle 需要在torch环境么，在AI Studio一些可以转，一些不行，使用timm import的没有变

**建议:**

timm 也支持下

[2021-05-17 06:23] SunAhong1993 commented on #575
torch2paddle是需要在PyTorch环境下转的。timm由于是一个导入的库，暂时不支持转换。timm如果只是用到其中某个模型，可以把相关代码抽出来，同时取出jit相关代码，放置于一个文件夹中进行转换。

[2021-05-17 07:02] Darki-luo opened #576 "【论文复现营】没有torch.nn.parameter对应的api"
问题：paddle没有toroch.nn.parameter对应的api接口

[2021-05-17 07:04] faded-TJU opened #577 "【论文复现营】stack转换问题"
![image](https://user-images.githubusercontent.com/69620592/118445385-f314df80-b720-11eb-8ce6-d30fa6f4b7d0.png)
![image](https://user-images.githubusercontent.com/69620592/118445370-ef815880-b720-11eb-87c1-637165c56311.png)
这个X.stack在转换的时候，是不是有点问题

应该是这样吗？ return paddle.stacks((xmin, ymin, xmax - xmin, ymax - ymin), axis=1)

[2021-05-17 07:06] faded-TJU commented on #577
return paddle.stack((xmin, ymin, xmax - xmin, ymax - ymin), axis=1) 好像多打了一个s

[2021-05-17 07:07] SunAhong1993 commented on #576
对应可以使用paddle.create_parameter，具体可以参见[转换代码](https://github.com/PaddlePaddle/X2Paddle/blob/af4654b6f203a790b40e2a1db72646edf4feffe8/x2paddle/project_convertor/pytorch/api_mapper/ops.py#L253 )。

[2021-05-17 07:09] SunAhong1993 commented on #577
这里确实有一点问题，我们将修复这一问题，感谢你的建议。

[2021-05-17 07:10] wyxogo opened #578 "【论文复现营】已安装“detach”但提示【AttributeError: 'collections.OrderedDict' object has no attribute 'detach'】"
模型来源： Pytorch
模型说明： 目标检测detr
转换过程出错提示如下：
[code]

[2021-05-17 07:11] faded-TJU commented on #577
给大佬的work点赞！o(￣▽￣)ｄ

[2021-05-17 07:18] SunAhong1993 commented on #578
当前转换的模型文件只支持：参数名-参数值的键值对；若出现包含optimizer或者scheduler等信息的的模型暂时无法转换，建议把这类模型的optimier的optimizer去掉，只保留参数名-参数值的键值对。

[2021-05-17 07:24] SunAhong1993 commented on #577
有什么问题欢迎随时给我们提issue~

[2021-05-17 08:56] Darki-luo opened #579 "【论文复现营】paddle缺少masked_fill方法"
paddle.tensor缺少masked_fill方法

[2021-05-17 08:57] jstzwjr opened #580 "【论文复现营】关于30系列显卡计算结果误差比较大的问题"
定义了一个卷积层，weight全为1，bias为None，输入数据为随机。
paddle的卷积核输出结果与torch相差比较大，但是切换的cpu或者使用2080ti计算时，误差就很小。
环境：cuda11.2 pytorch1.7.0 paddle2.0.2

import numpy as np
import torch
import paddle
from paddle.nn.initializer import Assign

# paddle.set_device('cpu')
paddle_x = np.random.randn(1,64,56,56).astype('float32')
torch_x = paddle_x.copy()
paddle_w = np.ones((128,64,3,3)).astype('float32')
torch_w = paddle_w.c

[2021-05-17 09:25] faded-TJU opened #581 "【论文复现营】PyTorch-PaddlePaddle API对应表 nn.组网类"
主要为torch.nn.XX类下组网相关的API，这个网站 404了，打不开呢。

然后关于这个函数，我该用什么样的方式去转呢，torch.nn.init.uniform_
直接paddle.nn.init吗

[2021-05-17 09:29] SunAhong1993 commented on #581
1. 404我们正在修复，你可在[这个界面](https://github.com/PaddlePaddle/X2Paddle/tree/develop/docs/pytorch_project_convertor/API_docs/nn)进行查阅。
2.  torch.nn.init.uniform_可参考[此处代码](https://github.com/PaddlePaddle/X2Paddle/blob/develop/x2paddle/project_convertor/pytorch/torch2paddle/nn_init.py#L292)进行处理，欢迎根据此处代码给我们提PR哦~

[2021-05-17 09:43] faded-TJU commented on #581
好的，我看到了。

[2021-05-17 11:18] SunAhong1993 commented on #580
这边我们查看下原因，有结果将及时回复您~

[2021-05-17 11:29] faded-TJU commented on #581
这样可行吗，似乎要放进torch2paddle才能调试。
`uniform_init_

def uniform_init_(param, min=0.0, max=1.0):

    replaced_param = paddle.create_parameter(
          shape=param.shape,
          dtype=param.dtype,
          default_initializer=paddle.nn.initializer.Assign(
                 paddle.uniform(
                         shape=param.shape, min=min, max=max)))
    paddle.assign(param, replaced_param)
`

我可以先用

[2021-05-17 13:00] SunAhong1993 commented on #579
可参考[文档](https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/pytorch_project_convertor/add_api.md )添加对应API实现，如若实现欢迎给我们提PR。

[2021-05-17 19:12] Felix-python opened #583 "【论文复现营】x2paddle转换时torch.optim.Optimizer和paddle.optimizer.Optimizer接口无法对应"
复现代码时需要用到pytorch-image-models/timm/scheduler中的代码，使用x2paddle转换失败，发现torch.optim.Optimizer和paddle.optimizer.Optimizer接口无法对应，人工修改后仍存在问题，paddle的Optimizer类中缺少param_groups属性
转换失败代码的链接：https://github.com/rwightman/pytorch-image-models/tree/master/timm/scheduler

[2021-05-18 03:26] 156aasdfg opened #584 "【论文复现营】提示不支持相关包--The unsupported packages or operators"
模型来源： Pytorch
模型说明： Swin Transformer
转换过程出错提示如下：
[code]
这个不支持这些包吗？

[2021-05-18 03:55] faded-TJU commented on #581
找到这个函数
class paddle.nn.initializer.Uniform(low=- 1.0, high=1.0, name=None)

[2021-05-18 04:02] SunAhong1993 commented on #584
这些暂时不支持，您可以通过[文档](https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/pytorch_project_convertor/add_api.md)自行添加，为我们贡献PR。

[2021-05-18 07:40] wyxogo opened #585 "【论文复现营】不支持torch.as_tensor转换"
不支持torch.as_tensor转换
建议
`torch.as_tensor(data, dtype=None, device=None) ` -> `paddle.to_tensor(data,dtype=None, place=None, stop_gradient=True)`

[2021-05-18 07:55] SunAhong1993 commented on #585
感谢建议，我们后续添加，也欢迎您可以通过[文档](https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/pytorch_project_convertor/add_api.md)自行添加，为我们贡献PR。

[2021-05-18 07:57] SunAhong1993 commented on #583
paddle的Optimizer类与PyTorch的使用机制较为不一致，所以属性也是不一致的，param_groups属性可以通过重写下Optimizer这个API自行添加。

[2021-05-18 08:50] wyxogo commented on #585
new PR [https://github.com/PaddlePaddle/X2Paddle/pull/586](https://github.com/PaddlePaddle/X2Paddle/pull/586)

[2021-05-18 09:08] SunAhong1993 commented on #585
感谢贡献~我提了2个小问题

[2021-05-18 09:16] wyxogo commented on #585
没有看到问题，请问是什么问题呢

[2021-05-18 09:18] Li-ChengYan opened #587 "【论文复现营】pytorch模型转换失败 Could not get name of python class object"
模型来源： Pytorch
模型说明： 图像分类模型，其相应repo为 https://github.com/zihangJiang/TokenLabeling
模型文件： 链接: https://github.com/zihangJiang/TokenLabeling/releases/download/1.0/lvvit_s-26M-384-84.4.tar

转换代码：
[code]

转换过程出错提示如下：
[code]

[2021-05-18 09:44] SunAhong1993 commented on #585
不好意思，刚有个命名问题没看到，再修改下就好了~

[2021-05-18 12:40] wyxogo commented on #585
已做修改

[2021-05-18 12:51] SunAhong1993 commented on #585
已合入，感谢贡献~

[2021-05-18 14:36] aiyasin commented on #585
我在修改其他的api转换，请问如何将一个数组参数转化为单个的参数呢
![image](https://user-images.githubusercontent.com/61509470/118670700-6bff5e80-b829-11eb-8cfb-522354e4541f.png)

[2021-05-18 15:14] yjhtc007 commented on #559
您好，不好意思前段时间有点忙，忘记回复您了。我想确认一下需要发给您pytorch的pth模型、推理代码和测试图片对吗？您那边方便提供邮箱吗？

[2021-05-19 01:52] skywalk163 opened #589 "【论文复现营】报错No module named 'paddle.fluid'"
# 问题
论文复现的时候，出现报错信息：
 File "/Users/skywalk/github/big_transfer/paddle/train.py", line 2, in <module>
    from x2paddle import torch2paddle
  File "/Users/skywalk/py38/lib/python3.8/site-packages/x2paddle-1.2.0-py3.8.egg/x2paddle/__init__.py", line 3, in <module>
    from .core.program import PaddleGraph
  File "/Users/skywalk/py38/lib/python3.8/site-packages/x2paddle-1.2.0-py3.8.egg/x2paddle/core/

[2021-05-19 02:06] SunAhong1993 commented on #589
部分fluid API在2.X中还是可以使用的，该API适用于保存静态图参数时使用的，您可以查看下paddlepaddle是否安装成功，查看方式如下：
使用 python 进入python解释器，输入import paddle ，再输入 paddle.utils.run_check()，
如果出现PaddlePaddle is installed successfully!，说明您已成功安装。

[2021-05-19 03:03] SunAhong1993 commented on #580
我们目前未在这一系列的机器上进行对齐，近期将进行对齐工作，建议你们在1080和2080上实验，该部分机器我们已经对齐过。

[2021-05-19 03:42] hrdwsong opened #591 "【论文复现营】转换DETR源码时报错"
请说明模型的来源，模型类型（例如图像分类、目标检测等）
目标检测，DETR官方源代码，pytorch版本
如有原模型文件或github链接，如方便可一并附上，方便开发人员分析。
https://github.com/facebookresearch/detr
**为了便于开发人员快速定位原因，建议将模型文件上传（或通过百度网盘分享）**

## 示例

模型来源： pytorch
模型说明： https://github.com/facebookresearch/detr
模型文件： https://dl.fbaipublicfiles.com/detr/detr-r50-e632da11.pth
转换过程出错提示如下：
[code]

[2021-05-19 03:49] SunAhong1993 commented on #591
参见[issue](https://github.com/PaddlePaddle/X2Paddle/issues/578)。

[2021-05-19 11:56] geoyee opened #593 "【论文复现营】x2paddle转换的torch模型"
请说明模型的来源，模型类型（例如图像分类、目标检测等）

如有原模型文件或github链接，如方便可一并附上，方便开发人员分析。

**为了便于开发人员快速定位原因，建议将模型文件上传（或通过百度网盘分享）**

## 示例

模型来源： TensorFlow
模型说明： 图像分类模型，其相应repo为 https://github.com/xxxx
模型文件： 链接: https://pan.baidu.com/s/1LRzTSJwsLOul99Tj5_43wQ 密码: d3dg
转换过程出错提示如下：
[code]

[2021-05-19 12:02] #593 closed, assigned to nobody

[2021-05-19 12:19] geoyee opened #594 "【论文复现营】x2paddle转换的torch模型与torch模型输出形状及内容均不同，但无报错"
模型来源： Pytorch
模型说明： 图像分类模型，其相应repo为[https://github.com/facebookresearch/deit](https://github.com/facebookresearch/deit)
相关文件： github：[https://github.com/geoyee/PaddleTr/tree/main/x2paddle](https://github.com/geoyee/PaddleTr/tree/main/x2paddle)
文件说明：在deit下是pytorch的整个文件，通过torch2paddle.py加载了torch的模型和参数进行转换。pd_model_trace下保存着转换得到的模型参数，两个test.py分别对应torch和paddle使用该模型及参数得到的结果。
说明：转换过程未有出错提示，输出的结果和形状都不相同

[2021-05-19 13:13] SunAhong1993 commented on #594
我们将查看下原因，查看后回复您。

[2021-05-19 13:30] geoyee commented on #594
好的，非常感谢

[2021-05-19 16:12] wyxogo opened #597 "【论文复现营】一系列不支持的【pytorch】api转换 “Can not convert the file ”"
**Can not convert the file xxxx
The unsupported packages or operators are:**
[code]

[2021-05-19 16:19] wyxogo commented on #597
已支持
`[torch.as_tensor]` [https://github.com/PaddlePaddle/X2Paddle/pull/586](https://github.com/PaddlePaddle/X2Paddle/pull/586)
`[ torch.optim.AdamW]` [https://github.com/PaddlePaddle/X2Paddle/pull/592](https://github.com/PaddlePaddle/X2Paddle/pull/592)

[2021-05-20 06:47] bin0612 opened #598 "x2paddle 将.pb转化pd_model"
OCR

尝试通过
x2paddle --framework=tensorflow --model=tf1_14train_weight.pb --save_dir=pd_model
将.pb转化pd_model出现错误。

错误如下：
Traceback (most recent call last):
  File "/home/wuzhou/.local/bin/x2paddle", line 8, in <module>
    sys.exit(main())
  File "/home/wuzhou/.local/lib/python3.7/site-packages/x2paddle/convert.py", line 278, in main
    args.paddle_type)
  File "/home/wuzhou/.local/lib/python3.7/si

[2021-05-20 09:59] SunAhong1993 commented on #594
已修复该问题，可通过下述方式进行重装：
[code]

[2021-05-20 10:42] geoyee commented on #594
收到，感谢，现在进行尝试，待问题解决我再回来告知！

[2021-05-20 10:55] geoyee commented on #594
感谢！形状问题已解决。

[2021-05-20 11:28] SunAhong1993 commented on #587
你喂给pytorch2paddle的只是模型参数，不是模型。

[2021-05-21 01:48] ArlanCooper opened #599 "【论文复现营】TypeError: __init__() got an unexpected keyword argument 'affine'"
StarGAN方法，图像翻译，主要是X2Paddle 的 demo，讲解的例子。
如有原模型文件或github链接，如方便可一并附上，方便开发人员分析。
https://github.com/yunjey/stargan

模型来源： pytorch
模型说明： 图像翻译，其相应repo为 https://github.com/yunjey/stargan
转换过程没有问题，但是运行paddlepaddle命令之后，报错:

[code]
环境是windows
paddlepaddle版本：Version: 2.0.2
x2paddle 版本: Version: 1.2.0
torch 版本: Version: 1.8.1+cpu

[2021-05-21 02:26] SunAhong1993 commented on #599
由于之前只于Linux\MacOS上测试过，我们将在近期于Windows上测试是否存在相关问题，建议想使用LInux进行转换，或手动把各处`affine=True`去掉。

[2021-05-21 02:59] SunAhong1993 commented on #599
这边尝试过Windows未出现此类问题，建议使用LInux进行转换，或手动把各处`affine=True`去掉。

[2021-05-21 03:08] ArlanCooper commented on #599
好的，已经去掉了，谢谢，我查了paddlepaddle.nn.InstanceNorm2D的接口文档，发现是没有affine 参数的，所以，您说其他地方没报错，不应该的吧？

[2021-05-21 03:37] SunAhong1993 commented on #599
我们这边转换过程中，对应会把`affine=True`去掉，目前无法排除啊您那边什么原因，导致这一参数在转换工程中未去掉。

[2021-05-21 07:47] wjj19950828 commented on #598
方便把模型以及对应repo发我一份吗，放到百度网盘即可

[2021-05-21 07:49] wjj19950828 commented on #564
方便把模型以及对应repo发我一份吗，放到百度网盘即可

[2021-05-21 07:50] wjj19950828 commented on #559
这边新增了NMS，请重装一下X2Paddle

然后输出下列命令

[code]

[2021-05-24 02:54] jiangjiajun opened #601 "X2Paddle Roadmap and Feature Request"
我们在这里罗列了X2Paddle待计划和已完成的事项，如若你有任何新的需求或建议反馈，可以在此issue下回复。

## X2Paddle v1.4 [2021.07&&08]
- [ ] 支持TFLite模型格式转换，支持70+ OP，TensorFlow Hub 20+模型
- [ ] 集成PaddleLite的Opt工具

## X2Paddle v1.3 [2021.07.12 Released](https://github.com/PaddlePaddle/X2Paddle/releases/tag/v1.3.0)
- [ ] 训练代码转换支持
- - [x] [CRAFT](https://github.com/clovaai/CRAFT-pytorch)
- - [ ] yolov5[暂不支持]
- - [ ] DiscoGAN
-  [x] 去除to_tensor
- [

[2021-05-24 13:22] a794133319 commented on #518
YOLOV5第五版！

[2021-05-25 03:04] SSyangguang commented on #578
请问可以用一个例子解释一下吗？刚开始接触paddle，不太明白去掉optimizer具体是在什么位置去掉

[2021-05-25 03:13] SunAhong1993 commented on #578
这里是针对PyTorch而言，你重新保存为只包含模型参数的模型即可，过程如下：
[code]

[2021-05-26 06:22] SunAhong1993 commented on #518
已加入需求库,我们近期支持。

[2021-05-26 13:32] skywalk163 commented on #589
非常感谢，原来是误创建了一个 名字叫paddle的目录，犯了低级错误。

[2021-05-26 13:32] #589 closed, assigned to SunAhong1993

[2021-05-28 02:42] AlexZou14 commented on #518
有没有机会把basicsr转换一下

[2021-05-28 04:13] AlexZou14 opened #607 "【论文复现营】paddle.vision中缺少调整gamma值的function"
# 建议增加adjust gamma方法
paddle.vision中缺少调整gamma值的function
附上代码：
def adjust_gamma(img, gamma, gain=1):
    if not isinstance(img, Image.Image):
        raise TypeError('img should be PIL Image. Got {}'.format(type(img)))

    if gamma < 0:
        raise ValueError('Gamma should be a non-negative real number')

    input_mode = img.mode
    img = img.convert('RGB')
    gamma_map = [(255 + 1 - 1e-3) * g

[2021-05-29 15:31] skywalk163 opened #608 "【论文复现营】import x2paddle.torch2paddle 导致的错误"
## 问题
在论文复现的时候，发现数据集挂载的时候报错，单独执行不会报错，但是如果执行一遍 导入语句import x2paddle.torch2paddle ，则会报错。

## 测试代码：
`from paddle.vision.transforms import ToTensor
import paddle.vision as vision
import paddle

train_set = vision.datasets.Cifar10(mode='train', transform=ToTensor())
valid_set = vision.datasets.Cifar10(mode='test', transform=ToTensor())`

单独执行ok，如果执行import x2paddle.torch2paddle 语句之后，再执行就会报错，报错信息：

[code]

[2021-05-31 09:30] Z1Wu opened #609 "pytorch 模型转化成 paddle 模型之后结果有误差"
直接使用教程中提供的代码把 pytorch 的 AlexNet  转化成 paddle 模型。使用 paddle 模型测试的时候和 pytorch 输出的结果不一致
平均误差级别大概是 2e-7 级别，请问这是属于合理的误差范围吗？
[code]

输出如下：

[code]

环境：

[code]

[2021-06-01 02:12] skywalk163 opened #610 "【论文复现营】请问为什么要使用类似这样的操作：tw[torch_key].detach().numpy()"
# 问题
听课的时候，老师讲到pytorch权重转换到paddlepaddle的时候，当时讲的是要转置一下，代码是tw[torch_key].detach().numpy() ，但是我看api讲detach是copy子图啊，不理解这里的意思，
希望能解释一下。

在x2paddle源代码找到，在x2paddle/project_convertor/pytorch/convert.py文件的convert_params代码块也是用了detach()操作：

···
def convert_params(params_path):
    import torch
    import paddle
    params = torch.load(params_path, map_location=torch.device('cpu'))
    new_params = dict()

[2021-06-02 11:50] Cppowboy commented on #518
resnet101, resnet101-fpn, vit, layoutlm

[2021-06-07 03:42] SunAhong1993 commented on #607
我们将排期在X2Paddle中添加这一用法，您也可在X2Paddle中提PR添加这一用法。

[2021-06-07 03:46] SunAhong1993 commented on #608
这边不会出现这样的错误，您可以尝试安装最新的X2Paddle和PaddlePaddle2.1.0进行尝试，如有问题，您可继续反馈。

[2021-06-07 03:59] SunAhong1993 commented on #610
这里是因为PyTorch保存参数的类型为torch.Tensor，而Paddle则是numpy格式保存，因此需要将子图复制出来，转换成numpy格式的参数进行保存。

[2021-06-07 04:00] SunAhong1993 commented on #609
误差小于1e-05我们则认为是对齐的。

[2021-06-07 06:03] jiangjiajun commented on #609
diff对齐的标准一般如下，但有的时候会根据自行需求提高要求或降低要求，一般对于分类模型，最终的score值在`1e-05`内已经不会影响最终的结果
[code]

[2021-06-07 07:09] Z1Wu commented on #609
请问一下这种误差的来源一般是什么的呢？

[2021-06-07 07:38] jiangjiajun commented on #609
不同框架在计算时采用的计算库不同，底层精度表达不一致等等，会导致计算误差

[2021-06-07 07:41] Z1Wu commented on #609
好的，谢谢。

[2021-06-07 07:41] #609 closed, assigned to SunAhong1993

[2021-06-07 08:43] skywalk163 commented on #610
谢谢，那这句就是找到fc层并转置吧？ 飞桨和torch的fc层格式正好是转置关系？
for k, v in new_params.items():
        if len(v.shape) == 2 and k.endswith(
                ".weight") and k not in bn_w_name_list:
            new_params[k] = v.T

[2021-06-07 08:44] SunAhong1993 commented on #610
是的，没错的

[2021-06-07 13:46] 376498485 opened #613 "optimizer.add_param_group添加的参数无法更新"
我做了一个简单的测试，我使用了X2Paddle里的optimzer.Adam，首先用w的参数创建优化器，然后使用optimzer.add_param_group()添加b的参数，训练前后w的参数更新了，但b的参数没有更新，这是怎么回事呢？
如下是结果和代码：
![image](https://user-images.githubusercontent.com/49092533/121028427-67034e80-c7da-11eb-93ab-4957247929ec.png)
[code]

[2021-06-09 04:05] SunAhong1993 commented on #613
我们暂未碰到过这样的使用方式，经查看当前X2Padlde实现Adam有一定问题，这边修复后回复您。

[2021-06-09 11:44] WAS2001 opened #615 "转换模型出错：Now translating model from pytorch to paddle. Could not get name of python class object"
模型来源： pytorch
模型说明： 图像分割模型，对应代码地址为：https://github.com/DengPingFan/PraNet
模型：
链接：https://pan.baidu.com/s/1VoWdBUnLgPXzqKyRv0-n4A
          提取码：gfwx

版本为python:3.8.5
torch：1.7.1

转换代码：
opt = parser.parse_args()
model = PraNet()
model = nn.DataParallel(model)
model.load_state_dict(torch.load(opt.pth_path),False)
model.cuda()
model.eval()

from x2paddle.convert import pytorch2paddle

input_data = torc

[2021-06-09 12:10] xiaobu404 commented on #615
如果方便的话，麻烦发一下模型的下载链接！

[2021-06-10 07:57] SunAhong1993 commented on #615
![image](https://user-images.githubusercontent.com/48579383/121487254-7d8cee00-ca04-11eb-99f3-1bc8221185e5.png)
你的model传成了一个字符串。

[2021-06-10 11:44] WAS2001 commented on #615
非常感谢，此问题已经解决。
但现在报错./snapshots\x2paddle_code.py:2097: DeprecationWarning: invalid escape sequence \z
'utf-8' codec can't decode byte 0xb9 in position 6851: invalid start byte

这个转义该如何解决。应用了转义字符仍然在自动生成的X2paddle_code.py中无法正确转义

[2021-06-11 02:47] SunAhong1993 commented on #615
建议使用最新的X2Paddle (pip install x2paddle==1.2.2)，搭配Paddle2.1.0

[2021-06-11 06:48] #610 closed, assigned to SunAhong1993

[2021-06-14 14:03] WAS2001 commented on #615
你好，它现在报这些错是什么原因？ 个人认为安装最新版本之后，它只是把报错绕过去了，实际还是没解决路径问题？
pd_model_trace\x2paddle_code.py:1077: DeprecationWarning: invalid escape sequence \z
  params = paddle.load('D:\bszl\zhuanhuan\pd_model_trace\model.pdparams')
Fail to generate inference model! Problem happend while export inference model from python code 'D:\bszl\zhuanhuan\pd_model_trace\x2paddle_code.py';
===================Error Information==

[2021-06-14 14:08] skywalk163 opened #620 "【论文复现营】精度对齐中发现torch2paddle.zeros_init_并没有将参数设置为0"
bigtransfor论文复现中，发现head处精度无法对齐，相关代码为：
torch代码：
`      if self.zero_head:
        nn.init.zeros_(self.head4.conv.weight)
        nn.init.zeros_(self.head4.conv.bias)`
对应的飞桨代码：
`            if self.zero_head:
                zeros_init_(self.head4.conv.weight)
                zeros_init_(self.head4.conv.bias)
`
经对比，发现飞桨这里并没有把self.head4.conv.weight 设置为0 ，
查找源代码，发现zeros_init_代码为：

Signature: torch2pad

[2021-06-17 11:56] SunAhong1993 commented on #620
感谢建议，已提PR修复。

[2021-06-22 06:25] j-river opened #626 "x2paddle_code.py:582: DeprecationWarning: invalid escape sequence \p 'utf-8' codec can't decode byte 0xb9 in position 1389: invalid start byte"
模型来源：Pytorch
模型说明：FeatherNetB，图像分类
模型文件：链接：https://pan.baidu.com/s/1HvNBnYJ1LQmukEuFG1Tz3w  提取码：ok32
转换过程报错：
’‘’
['1', '8', '1+cpu']
Now translating model from pytorch to paddle.
Model optimizing ...
trace_fc_fuse_pass done!
Model optimized.
Exporting inference model from python code ('D:\model_trace\x2paddle_code.py')...

D:\model_trace\x2paddle_code.py:582: DeprecationWarning: invalid escape seq

[2021-06-23 07:45] youngstu opened #627 "Fail to generate inference model! Problem happend while export inference model from python code"
模型来源：onnx（tflite2onnx导出；onnxruntime 验证onnx模型OK）
模型类型：关键点回归

转换过程出错提示如下：
[code]

[2021-06-23 08:00] SunAhong1993 commented on #626
这一问题我们已经在最新的X2Paddle中解决了，请使用如下方式更新X2Paddle：
[code]
同时PaddlePaddle升级至2.1.0，方可转换。

[2021-06-24 09:20] ltcs11 opened #628 "LRN精度问题"
模型来源： ONNX model zoo
模型说明： --
模型文件： https://github.com/onnx/models/tree/master/vision/classification/alexnet

转换之后出现精度误差，部分分类Top1均存在偏差

paddle更新2.0+之后，适配了LRN，与X2paddle自定义方式类似
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/LocalResponseNorm_cn.html#localresponsenorm

实际替换opset.py的
"custom_layer:LocalResponseNorm" -> "paddle.nn.LocalResponseNorm"
精度回复正常

[2021-06-26 12:39] #620 closed, assigned to SunAhong1993

[2021-06-29 02:32] wjj19950828 commented on #628
感谢您的建议，已经对代码进行了修改

[2021-06-30 00:28] #591 closed, assigned to SunAhong1993

[2021-07-02 05:43] rolfma19 opened #634 "FaceNet(Inception Resnet V1 model）can't be converted from onnx to paddle!"
[code]

[2021-07-02 07:53] wjj19950828 commented on #634
您好，麻烦提供一下ONNX模型吧

[2021-07-02 07:58] rolfma commented on #634
模型见附件，期待您的回复！

马万皓
***@***.***

武汉工程大学
信息工程

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/X2Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月2日(星期五) 下午3:53
***@***.***&g

[2021-07-02 08:02] rolfma19 commented on #634
模型见如下链接，期待您的回复！
链接：https://pan.baidu.com/s/10PVy_5I2G0wpTIj_v-iZfQ
提取码：s32s

[2021-07-02 08:26] wjj19950828 commented on #634
麻烦直接提供一下onnx模型吧，不要rar压缩

[2021-07-02 08:32] rolfma19 commented on #634
已修改格式，期待您的回复，谢谢！
链接：https://pan.baidu.com/s/1QJXSvHYavI8y3XHzOY53xQ
提取码：813p

[2021-07-15 06:18] QinZiwen commented on #518
https://github.com/tonyngjichun/SOLAR

[2021-07-19 03:02] duantangjin opened #640 "yolov5是否支持转换为paddle"
我在转换过程中，已经将yolov5模型转换为onnx模型，但始终无法将转换出来的onnx模型转为paddle。

[2021-07-19 03:28] wjj19950828 commented on #640
麻烦提供一下ONNX模型以及对应yolov5的repo吧

[2021-07-19 03:52] duantangjin commented on #640
我并没有repo,我只是获得了团队工作中的pytorch模型，而且我的工作都是在本地和服务器上完成的，我试过给您发邮件，但是被退回了。

[2021-07-19 04:01] wjj19950828 commented on #640
直接把模型放到评论吧

[2021-07-19 04:19] jianganbai opened #641 "pytorch模型Conv2DTranspose转换报错"
我在进行SfMlearner的预训练模型转换时，模型参数可以正常转化，网络代码也可以正常生成，但在生成网络代码时出现报错。

报错信息指出output_padding参数转换错误，整个网络中仅Conv2DTranspose函数具有output_padding项，故怀疑是该函数的转化出错。

尽管出现了报错，转换后的模型参数和网络代码均可以正常使用，即可将转换后的模型参数加载进x2paddle_code.py定义的网络，并能正常进行预测。

模型来源： Pytorch
模型说明： 图像深度估计模型，源repo为https://github.com/ClementPinard/SfmLearner-Pytorch
模型转换代码及预训练参数： 链接: https://pan.baidu.com/s/1_-QGiZG29NXGRzmcDyxCwA 提取码: ugfi
版本：paddle 2.1，p

[2021-07-19 04:44] duantangjin commented on #640
可以百度网盘链接发给你么？

[2021-07-19 04:49] wjj19950828 commented on #641
这个是跟paddle框架有关，更新到最新的paddle即可，相关PR：https://github.com/PaddlePaddle/Paddle/pull/33429

[2021-07-19 04:50] wjj19950828 commented on #640
可以的

[2021-07-19 04:55] duantangjin commented on #640
链接：https://pan.baidu.com/s/1so5V3jIaao_lEgjUQdZ-Sg
提取码：qlzp

[2021-07-19 08:21] jianganbai commented on #641
谢谢回复，使用百度源更新paddle和x2paddle后的确不报错了

[2021-07-19 08:38] wjj19950828 commented on #641
没事，记得点个star

[2021-07-20 02:38] duantangjin commented on #640
您好，请问转换有结果了吗？

[2021-07-20 12:46] yeliang2258 commented on #640
您好，您提供的model使用onnxruntime跑不通，应该是导出onnx时某一步有问题。
此外github上yolov5的模型我尝试了是可以转换成功的，具体您可以参考，https://github.com/ultralytics/yolov5/issues/251
如果还是有问题，请您导出一个正确的模型，onnxruntime测试通过之后更新给我们，谢谢！

[2021-07-20 13:17] duantangjin commented on #640
谢谢您啊!那您可以帮忙将我的pytorch模型转为paddle模型么？

[2021-07-20 13:42] yeliang2258 commented on #640
您先将pytorch的模型导出到onnx，然后使用onnxruntime测试，如果可以跑通，再使用x2paddle进行转换。

[2021-07-21 09:48] duantangjin commented on #640
我现在已经将pytorch模型转为onnx，onnxruntime测试也已经通过，但是转paddle的时候仍有报错，我希望得到您的帮助。onnx
![报错信息](https://user-images.githubusercontent.com/49987390/126469225-f4860c4e-f6e7-4d33-b56c-e6d5b0e03ac1.png)
模型连接：链接：https://pan.baidu.com/s/1vBer6Fril5H5KUcKPnaAgg
提取码：1wsl

[2021-07-22 02:07] jiangjiajun opened #643 "支持YOLOX模型转Paddle吗"
https://github.com/Megvii-BaseDetection/YOLOX/tree/main/demo/ONNXRuntime
模型列表及下载地址见上链接

[2021-07-22 13:56] yeliang2258 commented on #640
您的模型确实比较奇怪，有一些操作是可以合并简化的，您有验证过onnruntime和你pytorch的model跑的结果有没有误差？里面的一些操作能否做简化，比如下图的操作？导出onnx的python代码也请提供以下。
![image](https://user-images.githubusercontent.com/30516196/126651163-8b784a03-6956-45de-a1eb-c3d5260bc663.png)

[2021-07-22 14:03] duantangjin commented on #640
在模型转换这方面我不是很有经验，非常感谢您的帮助，我现在将pytorch模型（best.pt）已及我转换的onnx模型和转换代码发给您。谢谢！链接：https://pan.baidu.com/s/1tB1iBvYj8jKrLt_YDz9LFw
提取码：fzp4

[2021-07-22 14:11] yeliang2258 commented on #640
您试试这样导出
#coding: utf-8
import torch
import torchvision

# 指定输入大小的shape
dummy_input = torch.randn(1, 3, 224, 224)

# 构建pytorch model，并载入模型参数
resnet18 = torchvision.models.resnet18(pretrained=True)

# 导出resnet18.onnx模型文件
torch.onnx.export(resnet18, dummy_input, "resnet18.onnx",verbose=True)

[2021-07-22 14:12] yeliang2258 commented on #640
您试试这样：
dummy_input = torch.randn(1, 3, 640, 640)
torch.onnx.export(model, dummy_input, "resnet18.onnx",verbose=True)

[2021-07-22 14:37] duantangjin commented on #640
按照您说的改完以后我去进行onnxruntime时报错：
Traceback (most recent call last):
  File "F:/Python/paddle/pytorchToPaddle_yolov5/verify.py", line 9, in <module>
    ort_session = ort.InferenceSession('yolov5.onnx')
  File "C:\ProgramData\Anaconda3\envs\paddle\lib\site-packages\onnxruntime\capi\onnxruntime_inference_collection.py", line 283, in __init__
    self._create_inference_session(providers, provider_options

[2021-07-22 15:52] yeliang2258 commented on #640
建议您先检查一下您的模型，检查网络是否合理

[2021-07-23 03:49] lwb69 opened #644 "x2paddle不能转torch的GRU，GRUCell,multinomial这些吗"
The unsupported packages or operators are: [torch.nn.GRU, torch.nn.GRUCell, torch.multinomial].

[2021-07-23 06:37] yeliang2258 commented on #643
支持yolox全系模型转换

[2021-07-23 06:39] yeliang2258 commented on #643
支持yolox全系列模型转换，包括YOLOX-Nano，YOLOX-Tiny，YOLOX-S，YOLOX-M，YOLOX-L，YOLOX-Darknet53，YOLOX-X

[2021-07-23 13:10] wjj19950828 commented on #644
目前pytorch预测模型转换是支持GRU的，您可以把相应模型参数、组网结构以及转换代码打包放到百度云，这边帮忙查看一下问题

[2021-07-24 12:59] krisandchris opened #646 "项目无法转换，有不支持的包或OP"
The unsupported packages or operators are: [torch.jit.ignore, torch.nn.init.kaiming_uniform_]

[2021-07-24 16:26] lytning98 opened #647 "upsample_nearest2d 算子仅使用 `scale_factor` 参数时转换出错"
`torch.nn.functional.interpolate` 转换出错，详情见下

#### 环境
x2paddle 1.3.0
pytorch 1.8.1

#### 最小复现代码：
[code]

#### 报错信息
[code]

[2021-07-24 16:59] lytning98 commented on #647
报错的代码在这里，看起来是下标写错了，改成2可以正常转换
https://github.com/PaddlePaddle/X2Paddle/blob/379ce426d3f5656a6428f058d66423c0d9ef4cc8/x2paddle/op_mapper/pytorch2paddle/aten.py#L5516-L5518
+@SunAhong1993 as PR author

[2021-07-27 08:19] KoTion opened #649 "cannot import name 'polish_model' from 'onnx.utils'"
模型是由paddlex训练的yolov3转为onnx的，在使用x2paddle转为paddle时，报如下错误：

paddle.__version__ = 2.1.1
Now translating model from onnx to paddle.
Traceback (most recent call last):
  File "/root/anaconda3/envs/torch2paddle/bin/x2paddle", line 33, in <module>
    sys.exit(load_entry_point('x2paddle==1.3.0', 'console_scripts', 'x2paddle')())
  File "/root/anaconda3/envs/torch2paddle/lib/python3.7/site-packages/x2paddl

[2021-07-27 09:24] yeliang2258 commented on #649
请问onnx装的是那个版本？

[2021-07-27 09:30] yeliang2258 commented on #649
请问安装的onnx是那个版本？

[2021-07-27 10:34] KoTion commented on #649
onnx是1.9.0的

[2021-07-27 11:03] yeliang2258 commented on #649
onnx安装1.7.0再试一下

[2021-07-29 06:22] youngstu opened #651 "Yolov5 后处理层转换不支持"
问题描述：
1、pytorch训练模型，导出onnx，再转到paddle，paddle模型没有实现yolov5后处理部分（解码+nms），请问怎么实现呢？

[2021-08-02 01:19] jiangjiajun commented on #651
当前Paddle转换后的模型与转换前的ONNX模型是保持一致的，这个应该是ONNX模型中也无这部分解码的实现。

当前最建议的解决方案是使用Python或C++手动实现这部分后处理

[2021-08-03 03:53] luo1230 opened #652 "Model is not supported yet"
模型来源： TensorFlow
模型说明： 图像分类模型，其相应repo为 https://github.com/Jackluisus/VisDrone-ensemble-tensorflow
模型文件： 链接: 链接：https://pan.baidu.com/s/1f7HwghJtPmJJPazSxhTtiA 提取码：0eq4

ckpt模型转换为pb模型代码如下：
[code]

转换过程出错提示如下：
[code]

[2021-08-04 03:05] jiangjiajun commented on #652
这里的output_node_names检查下是否是正确的输出节点；对于分类模型而言，一般最后一个节点是softmax或fc全连接层

--------------------
另外你这里的模型是用于什么场景下的呢？例如什么业务，用什么部署方式之类的

[2021-08-10 02:05] natureLanguageQing opened #653 "tensorflow 文本分类 文本命名实体识别 转换异常"
请说明模型的来源，模型类型（例如图像分类、目标检测等）

如有原模型文件或github链接，如方便可一并附上，方便开发人员分析。

**为了便于开发人员快速定位原因，建议将模型文件上传（或通过百度网盘分享）**

## 示例

模型来源： TensorFlow
模型说明： 文本分类 文本命名实体识别，其相应repo为 https://github.com/bert4keras
模型文件： 链接：https://pan.baidu.com/s/1DSBcTXekqrTwzCeJ8nEbNA 提取码：296t
转换过程出错提示如下：
[code]

[2021-08-10 02:15] jiangjiajun commented on #653
以上转换过程，常出现的问题是，转换TensorFlow时，注意输入的模型需为FrozenGraph格式，你当前可以检查下你转换时输入的是否符合要求，根据上面的提示，猜测你可能将`SavedModel`格式模型传了进去

------------
另外你这边转换模型的应用场景是什么呢，方便开发人员更好的了解用户需求

[2021-08-10 08:39] youqingxiaozhua opened #654 "[PyTorch2Paddle] nn.PReLU模型参数名不匹配"
发现了宝藏包！落地Paddle比想象中丝滑的多，非常感谢大家的辛苦付出！

模型来源： PyTorch
模型说明： 模型中使用了nn.PReLU，API映射表中表示功能一致，实际上他们保存的weight名称不一致。torch 中为 “weight"，paddle中为"_weight"

[2021-08-10 11:37] wjj19950828 commented on #654
感谢您的支持，您说的是预测模型还是训练代码转换，可以描述一下应用场景吗，感谢～

[2021-08-10 11:47] youqingxiaozhua commented on #654
已经训练好的torch的模型参数(.pth）需要转成paddle的格式（.pdparams）。
使用`x2paddle --convert_torch_project --pretrain_model=model.pth`,  model里有PReLU层，他的参数在torch的文件(.pth)里的key是weight，而paddle的PReLU需要的key是_weight。

具体可见：
pytorch：https://pytorch.org/docs/stable/_modules/torch/nn/modules/activation.html#PReLU
paddle：https://github.com/PaddlePaddle/Paddle/blob/e04b66f2d272d68f77dcd94cb2956938475411d8/python/paddle/nn/layer/a

[2021-08-10 12:00] wjj19950828 commented on #654
训练好的PyTorch模型转为Paddle参考文档：https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/pytorch2paddle.md
您说的命令是训练代码转换即将PyTorch的组网以及损失函数等代码转为Paddle，包括预训练模型。

[2021-08-10 12:11] youqingxiaozhua commented on #654
不是……这是报bug，不是求助贴，我已经转成功了；这个bug是用上面命令时**遇到的**，bug的**内容**就是转换后的模型参数（.pdparams）并不能直接load进转换后的paddle模型中，**原因**是nn.PReLU的可训练参数(param)在torch中定义为`self.weight`，而在paddle中定义为`self._weight`，导致他们存储的时候的key不同（模型参数存储的key-value对）。

[2021-08-10 13:58] youqingxiaozhua commented on #654
如果直接在paddle里load转化后的model.pdparams，会报以下warning：
[code]

[2021-08-10 15:57] franva opened #656 "Could you please add DeeplabV3Plus with backbone Mobile Net timm-mobilenetv3_small_075"
请说明模型的来源，模型类型（例如图像分类、目标检测等），应用场景（如需要转为Paddle，通过PaddleLite部署到树莓派上，满足XXX需求）

**提示 上述有详细描述的issue会让工程师更快了解用户的需求，丰富产品的功能和易用性，相关issue也会被优先处理！！！**

你们好，
我参加了AI达人训练营，需要做路面分隔，用到了DeeplabV3Plus with Mobile Net V3, 原因是要跑在Raspberry Pi 4（4GB）这样的edge devices上。

模型来源： PyTorch
模型说明： 图像分类模型，其相应repo为 https://github.com/qubvel/segmentation_models.pytorch/
模型文件： 链接: https://github.com/qubvel/segmentation_models.pytorc

[2021-08-11 02:23] wjj19950828 commented on #654
我的意思是您的命令使用错了，训练好的PyTorch模型转为Paddle需要参考文档：https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/pytorch2paddle.md，
而不是`x2paddle --convert_torch_project --pretrain_model=model.pth`，另外您的应用场景是什么，请具体描述一下吧～

[2021-08-11 02:26] wjj19950828 commented on #656
能否提供一下训练好的PyTorch模型以及组网结构，感谢～

[2021-08-11 09:04] youqingxiaozhua commented on #654
😂 我的场景就是需要使用 `x2paddle --convert_torch_project`把代码和参数文件(.pth)都从torch转成paddle，x2paddle命令行的参数`--pretrain_model`不就是用来转换预训练模型吗……

[2021-08-11 09:18] leospark opened #657 "Covert onnx lstm model to paddlelite model failed"
我利用tf.keras训练两层lstm+一层全连接降噪模型，并利用keras2onnx转为onnx模型，然后计划将onnx lstm 转换为paddlelite model, 但转换失败。我也尝试利用onnx-simplifier来简化onnx lstm model， 简化成功后转换paddlelite model [仍然失败，这一步参考。](https://github.com/PaddlePaddle/X2Paddle/issues/511)

## 示例
模型来源： onnx model from keras2onnx
模型文件： 链接：https://pan.baidu.com/s/19z5Efr4siw1_ByecnH_4PA   提取码：kpj3
转换过程出错提示如下：

onnx-simplifier 简化前：
![image](https://user-images.git

[2021-08-11 09:37] natureLanguageQing commented on #653
FrozenGraph格式转换paddle model 时候异常。
tensorflow.python.framework.errors_impl.InvalidArgumentError: Input 1 of node StatefulPartitionedCall_2 was passed float from hanzi/embeddings:0 incompatible with expected resource.

[2021-08-11 09:45] natureLanguageQing commented on #653
文本分类 命名实体识别 为了模型加密选择了paddlex作为备选方案。

[2021-08-11 10:00] franva commented on #656
你好 @wjj19950828

我对AI还不是太在行。
我用了一个叫做 segmentation_models.pytorch 的Github Project， 使用它我就不需要自己写模型和组网结构。只要几行代码就可以了， 具体代码是这样的：
[code]

通过看它的源代码 我觉得 这个可能是你们需要的：
mobilenetv3_small_075的 backbone在这里
    'tf_mobilenetv3_small_075': {
        'imagenet': 'https://github.com/rwightman/pytorch-image-models/releases/download/v0.1-weights/tf_mobilenetv3_small_075-da427f52.pth'
    },
它在[timm_mobilenetv3.py](htt

[2021-08-13 08:36] 78666621 opened #658 "caffemodel转PaddlePaddle 失败 AttributeError: input"
模型来源： CAFFE
模型说明： RCF边缘检测，其相应GitHub：https://github.com/yun-liu/RCF
模型文件：链接：https://pan.baidu.com/s/1vscZPDIWE3tia9V-1Fo7OQ 提取码：c2ya
环境：python3.8
转换过程出错提示如下：
paddle.__version__ = 2.1.1
Now translating model from caffe to paddle.
Total nodes: 70
Nodes converting ...
Converting node 15 ...     Traceback (most recent call last):
  File "G:\Anaconda3\envs\eiseg\Scripts\x2paddle-script.py", line 33, in

[2021-08-15 04:56] jiangjiajun commented on #656
Hi, @franva PyTorch转成Paddle模型有两种方式
- 1. Pytorch转成ONNX，再将ONNX模型通过X2Paddle转成Paddle模型
- 2. 直接使用X2Paddle的接口进行转换

关于第二种方式，可以参考文档 https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/demo/pytorch2paddle.ipynb

如若转换失败，可再反馈给我们

[2021-08-16 02:07] natureLanguageQing commented on #653
感谢回复

[2021-08-16 02:07] #653 closed, assigned to wjj19950828

[2021-08-16 03:36] #651 closed, assigned to wjj19950828

[2021-08-16 03:56] wjj19950828 commented on #627
您好，这个问题已经解决，安装最新的x2paddle即可～

[2021-08-16 03:59] wjj19950828 commented on #657
您好，请问一下转换此模型的背景和目的可以描述一下吗

[2021-08-16 04:52] leospark commented on #657
好的，主要是用于语音信号的降噪。 应用于嵌入式设备， 这种应用很广泛。

[2021-08-17 03:17] jiangjiajun opened #659 "转换ONNX模型提示ONNX版本不符合要求"
在已经安装了1.10.0版本的ONNX情况下，转ONNX模型，提示要安装onnx>=1.6.0

原因应该是在https://github.com/PaddlePaddle/X2Paddle/blob/develop/x2paddle/convert.py#L152 这行代码中用字符串来判断，而字符串判断中 1.10.0确实小于1.6.0

[2021-08-17 03:40] gsq7474741 commented on #518
torch.nn.MSELoss不支持

[2021-08-18 15:56] skywalk163 opened #660 "【论文复现营】没有这句就报错：from x2paddle import torch2paddle"
在完成代码转换工作的时候，发现有时候已经将x2paddle的代码全部替换掉了，但是如果没有这句：from x2paddle import torch2paddle

程序还是会报错，加上就能执行成功。

比如完成的这段代码：

            from x2paddle import torch2paddle
            import paddle

            def max(input, dim_other=None, keepdim=False, *, out=None):
                if dim_other is None:
                    return paddle.max(input)
                elif isinstance(dim_other, paddle.Tensor):

[2021-08-19 02:18] jiangjiajun commented on #660
Hi, @skywalk163 当前看起来是`bboxes1`这个变量的类型发生了变化，你可以在import和不import的情况下，输出这个bboxes1的type和值，观察下有什么变化

[2021-08-20 10:25] skywalk163 commented on #660
两种情况输出类型和值一样的。
在import的情况下：
`====== <class 'paddle.Tensor'> Tensor(shape=[3, 4], dtype=float32, place=CPUPlace, stop_gradient=True,
       [[0. , 0. , 10., 10.],
        [10., 10., 20., 20.],
        [32., 32., 38., 42.]])
`

在不import的情况下，带上报错信息：
`====== <class 'paddle.Tensor'> Tensor(shape=[3, 4], dtype=float32, place=CPUPlace, stop_gradient=True,
       [[0. , 0. , 10., 10.],
        [10., 10.,

[2021-08-20 11:04] jiangjiajun commented on #660
https://github.com/PaddlePaddle/X2Paddle/blob/af4654b6f203a790b40e2a1db72646edf4feffe8/x2paddle/project_convertor/pytorch/torch2paddle/tensor.py#L93

应该是因为X2Paddle在这里重载了tensor的size函数

[2021-08-21 02:21] #659 closed, assigned to wjj19950828

[2021-08-22 05:14] skywalk163 commented on #660
谢谢，加了size这个函数后，就正常了。
`

                def add_tensor_function(func):
                    setattr(paddle.Tensor, func.__name__, func)

                # @property
                # def data(self):
                #     return self

                # setattr(paddle.Tensor, "data", data)

                @add_tensor_function
                def size(self, dim=None):
                    if dim is no

[2021-08-22 09:47] #660 closed, assigned to nobody

[2021-08-22 17:02] #517 closed, assigned to nobody

[2021-08-25 14:15] yeliang2258 commented on #658
https://github.com/PaddlePaddle/X2Paddle/pull/663
你好，由于X2Paddle先前Eltwise和Crop, 以及Directly map 3个OP类型转换过程中字段没考虑完全导致转换失败，目前在PR中已修复，请拉这个PR进行测试。

[2021-08-27 13:39] 978326187 opened #664 "torch.nn相关API转换"
pytorch定义网络的时候需要继承nn.Module，对应到paddle中是什么呢？

[2021-08-27 13:39] 978326187 opened #665 "torch.nn相关API转换"
pytorch定义网络的时候需要继承nn.Module，对应到paddle中是什么呢？

[2021-08-29 05:45] jiangjiajun commented on #664
paddle.nn.Layer 参考官方文档即可

[2021-08-29 05:45] jiangjiajun commented on #665
Duplicate of #664

[2021-08-30 05:00] Ricardozzf opened #666 "1 OPs are not supported yet aten::sum"
模型类型: 图像分类
模型来源： Pytorch
模型说明： 图像分类模型，Resnest50

========= 1 OPs are not supported yet ===========
========== aten::sum ============
raise Exception("Model is not supported yet.")
Exception: Model is not supported yet.

[2021-08-30 06:03] yeliang2258 commented on #666
你好，请提供一下模型，谢谢

[2021-08-30 07:14] 978326187 opened #667 "torch转paddle，paddle.io.Sampler相关问题"
paddle.io.Sampler中是否有SubsetRandomSampler这个类？torch的sampler中有，
[https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/pytorch_project_convertor/API_docs/utils/README.md](url)这个链接里说二者功能一致，但是我发现源码中并没有SubsetRandomSampler这个类？

[2021-08-30 10:04] thomaszheng opened #668 "onnx 转换失败"
模型来源： onnx
模型说明： 文本检测dbnet网络
模型文件：链接: https://pan.baidu.com/s/1ml6PFUdNey2TnHjSOcCqmg  密码: pieo

[code]
转换过程出错提示如下：
python 3.6.2
x2paddle 1.3.1

[code]

[2021-08-31 02:56] jiangjiajun commented on #667
目前Paddle的官方文档中确实没有支持SubsetRandomSampler

[2021-08-31 02:58] 978326187 commented on #667
那请问有没有什么方法可以使用呢？比如其他人写的比较靠谱的类？

[2021-08-31 08:14] #665 closed, assigned to nobody

[2021-08-31 13:45] yeliang2258 commented on #668
模型能够转换成功，你可以先尝试看转换的模型能否正确部署。

[2021-08-31 13:48] yeliang2258 commented on #666
https://github.com/PaddlePaddle/X2Paddle/pull/669
请拉取这个PR进行测试。之前没有转换成功的原因是没有aten::sum op。

[2021-09-01 02:57] thomaszheng commented on #668
是说这个报错信息是不影响的，模型是成功转换的

[2021-09-01 06:52] yeliang2258 commented on #668
转换成功的模型试试可以用吗？

[2021-09-01 07:36] thomaszheng commented on #668
确实可以推理，这个错误目前看不影响转换后的模型使用

[2021-09-01 08:42] fcqfcq opened #671 "ModuleNotFoundError: No module named 'packaging'"
模型来源： pytorch
模型说明： 图像分割模型，其相应repo为 https://github.com/xxxx
模型文件： https://github.com/xuebinqin/U-2-Net  u2netp
onnx == <1.6,1.9>
x2paddle==1.3.1
paddlepaddle-gpu=2.1.2
paddlelite=2.9.1
转换过程出错提示如下：
[code]

[2021-09-02 08:35] a29813287 opened #672 "CRAFT-pytorch轉換後使用出錯"
请说明模型的来源，模型类型（例如图像分类、目标检测等），应用场景（如需要转为Paddle，通过PaddleLite部署到树莓派上，满足XXX需求）

**提示 上述有详细描述的issue会让工程师更快了解用户的需求，丰富产品的功能和易用性，相关issue也会被优先处理！！！**

如有原模型文件或github链接，如方便可一并附上，方便开发人员分析。

为了便于开发人员快速定位原因，建议将模型文件上传（或通过百度网盘分享）

## 示例

模型来源： CRAFT
模型说明： https://github.com/clovaai/CRAFT-pytorch
模型文件： craft_mlt_25k.pth
转换过程出错提示如下：

x2paddle版本是1.3.1

(paddle_env) G:\Paddle>x2paddle --convert_torch_project --projec

[2021-09-08 02:41] #628 closed, assigned to wjj19950828

[2021-09-09 14:25] yeliang2258 commented on #671
请尝试使用下面命令安装，pip install packaging

[2021-09-19 14:07] Leslie-Tsui opened #678 "pytorch的模型转换至paddlepaddle出错"
模型来自pytorch实现的yolov5网络，是一个目标检测的模型。想转为Paddle，通过PaddleLite部署到服务器、移动端上，满足工业生产检测的需求。

模型来源： pytorch
模型说明： 目标检测模型，pt模型文件我已经转成了onnx文件，并且我用转换的onnx模型做detect，没有问题。我在把onnx转成paddlepaddle时出现如下图的错误。模型文件链接中是pt、onnx文件。

环境说明：
onnx 1.7.0（高版本试过，仍然是下面的错误。）
python 3.8
x2Paddle 1.3.0（高版本试过，仍然是下面的错误。）
paddlepaddle-gpu 2.0.0

模型文件： 链接：https://pan.baidu.com/s/13uddAxqjVzP1HFaPwEbSKQ 提取码：0e1z

转换过程出错提示如下：
![image](https:

[2021-09-20 05:06] Leslie-Tsui commented on #678
![image](https://user-images.githubusercontent.com/73231938/133958975-125bb193-e9b5-428c-a1cb-2e72a24c2bee.png)
这是错误信息中提示的node（Resize_219）信息

[2021-09-22 04:03] yeliang2258 commented on #678
你好，根据你的模型，使用onnx.checker.check_model检查，模型是有问题的，请先使用onnx自带的模型检查工具可以通过。

[2021-09-23 09:31] saler-1 opened #679 "onnx模型转换时，报MemoryError: std::bad_alloc"
模型来源： mmdetection的yolov3_d53_mstrain-608_273e_coco重训练模型
模型说明：
1.转onnx
'''
python tools/deployment/pytorch2onnx.py     configs/yolo/yolov3_d53_mstrain-608_273e_coco.py     /u01/Code/mmdetection/work_dirs/yolov3_d53_mstrain-608_273e_coco/latest.pth     --output-file /u01/Code/mmdetection/work_dirs/yolov3_d53_mstrain-608_273e_coco/yolov3_d53_mstrain-608_273e_coco.onnx     --input-img /u01/Code/mmdete

[2021-09-23 12:31] yeliang2258 commented on #679
您好，请提供一下你的onnx模型

[2021-09-24 01:17] saler-1 commented on #679
链接: https://pan.baidu.com/s/1CXKfqckkjx-lUBLMPjrJZQ 提取码: 512y

[2021-09-24 12:19] yeliang2258 commented on #679
可以尝试一下使用paddlepaddle的CPU运行，不要调用GPU

[2021-09-26 01:59] saler-1 commented on #679
还是同样的报错，环境如下
'''
(test_pp_cpu) [10:15:37 lhh:/u01/Code/mmdetection ] # pip list
Package            Version
------------------ ---------
astor              0.8.1
brotlipy           0.7.0
certifi            2021.5.30
cffi               1.14.6
charset-normalizer 2.0.4
cryptography       3.4.7
decorator          5.0.9
gast               0.3.3
idna               3.2
mkl-fft            1.0.14
mkl-random

[2021-09-29 04:14] Lanqingsong opened #683 "请问下paddle有没有类似torch中is_contiguous的功能,即判断tensor底层数组元素存储顺序是否一致"

[2021-10-05 02:09] vxfla commented on #679
请问解决了吗，我也遇到了同样的问题。现在打算直接把项目源码转了..

[2021-10-05 02:14] yeliang2258 commented on #679
你好，请试一下只使用paddle的CPU版本，看是否能转成功。谢谢

[2021-10-06 14:00] wjj19950828 commented on #683
您好，我印象当中是没有的，待我确认给您回复～

[2021-10-08 01:57] saler-1 commented on #679
你用cpu版本的转换成功没有   我这边还是同样的报错

[2021-10-08 02:37] vxfla commented on #679
cpu版本也失败了，我转源码重新练了

[2021-10-08 04:32] yeliang2258 commented on #679
CPU版本的报错是？

[2021-10-08 04:36] saler-1 commented on #679
同样的报错，MemoryError: std::bad_alloc....最开始用的其实也是cpu版本的，后面重建了个虚拟环境，还是这个错

[2021-10-11 03:21] #664 closed, assigned to nobody

[2021-10-11 07:00] wjj19950828 commented on #683
您好，目前paddle没有类似API，因为paddle底层数组存储顺序一定连续

[2021-10-18 07:12] xdg2016 opened #685 "mode should be one of constant, reflect, replicate, circular, but got edge"
模型来源： pytorch
模型说明： GAN生成模型
模型文件： 链接：链接：https://pan.baidu.com/s/1Lc6PupwZ1fXtu8w06LHpxg 提取码：xiln
pytorch转onnx可以，但是onnx转到paddle出错，转换过程出错提示如下：
[code]
问题应该是在pad的地方出错，pytorch原始的实现是：
![image](https://user-images.githubusercontent.com/16351823/137684409-1fc9599e-83c5-40a1-8be6-e5540c00c67e.png)
生成的onnx为fire-GS.onnx，运行命令：
 x2paddle --framework=onnx --model=fire-GS.onnx --save_dir=pd_model
生成了一个x2paddle_c

[2021-10-18 07:27] xdg2016 opened #686 "pytoch2paddle缺少算子支持"
模型来源： pytorch
模型说明： GAN生成模型
模型文件： 链接：链接：https://pan.baidu.com/s/1Lc6PupwZ1fXtu8w06LHpxg 提取码：xiln
直接从pytorch2paddle转换过程出错提示如下：
[code]
看错误像是replication_pad2d 在paddle中不支持

[2021-10-18 15:47] wjj19950828 commented on #686
之前PyTorch开发版本为1.6.0，建议换成1.6.0再试试~

[2021-10-19 08:35] zhihaofan commented on #518
您好，有空把layoutlmft这个转换一下吧https://github.com/microsoft/unilm/tree/master/layoutlmft

[2021-10-19 13:21] yeliang2258 commented on #685
请拉取这个PR进行测试，谢谢
https://github.com/PaddlePaddle/X2Paddle/pull/687

[2021-10-21 08:45] Terragelida opened #688 "pytorch的.pth模型转换到paddle的pdiparams模型失败"
模型来源： pytorch
模型说明： 图像分类模型，其相应repo为 https://gitee.com/wdwdwd123/U2Fusion-pytorch?_from=gitee_search#4-training-and-testing
模型文件： 链接：https://pan.baidu.com/s/1iRfJTrAIU1vcYK2vsFKY8A 提取码：pth1
转换过程出错提示如下：
[code]

[2021-10-22 10:04] yeliang2258 commented on #688
pth只是模型参数而已，你可以尝试先将pytorch导出为onnx模型，再转换为paddle模型

[2021-10-24 01:50] litingting1111 commented on #564
me too

[2021-10-27 14:34] zhoucz97 opened #692 "[菁英计划]torch.utils.data.DataLoader.md中有笔误"
https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/pytorch_project_convertor/API_docs/utils/torch.utils.data.DataLoader.md

这里最后一行好像self写错了

[2021-10-28 02:21] jiangjiajun commented on #692
确实写错了，你能提一个pull request来直接修复这个问题吗？

[2021-10-28 02:23] zhoucz97 commented on #692
好的

[2021-11-04 11:33] Jay-Hu-BIT opened #695 "修改ERNIE源码后加载预训练模型失败"
我将ernie分类模型修改为多任务模型，在输出部分多加了一个fc层用于另一个任务的训练，但是在训练的时候加载预训练模型报错
![image](https://user-images.githubusercontent.com/81789357/140306582-8089af7e-5182-4da2-9452-585b58443876.png)

[2021-11-04 11:34] #695 closed, assigned to nobody

[2021-11-08 09:49] imistyrain opened #697 "onnx模型转paddle提示 Exception: convert failed node:577, op_type is Slice"
库版本:
    paddlepaddle            2.1.3
    x2paddle                1.3.0

模型来源：pytorch(转换至onnx成功，未报错)
模型说明：关键点模型，backbone为shufflenetV2
模型文件： 待如流给出
转换过程出错提示如下：
[code]

而x2paddle0.8版本则提示:
[code]

[2021-11-08 13:03] Yihouyihou opened #698 "pytorch2paddle转ResNet18出错"
模型来源：pytorch的 ResNet18模型
模型说明：图像分类模型，其repo为https://github.com/ozanciga/self-supervised-histopathology/releases/tag/tenpercent
转换过程出错提示如下：
[code]

[2021-11-09 02:46] wjj19950828 commented on #698
因为开发过程依赖PyTorch 1.6.0，将版本降为1.6.0应该可以解决此问题

[2021-11-11 11:28] vicwer opened #699 "根据微信公众号转换openpose的手势关键点报错"
模型来源： caffe
模型说明： 手势关键点检测
模型文件： https://github.com/CMU-Perceptual-Computing-Lab/openpose/tree/master/models/hand
转换过程出错提示如下：
[code]

[2021-11-11 15:14] #697 closed, assigned to yeliang2258

[2021-11-12 06:10] wjj19950828 commented on #699
麻烦尝试一下Paddle最新版本，看报错Paddle版本较低导致

[2021-11-25 03:28] BruceFreedom opened #709 "Tensorflow的Yolov3模型转换至paddle模型测试失败"
模型来源：TensorFlow
模型说明： 其相应repo为 https://github.com/YunYang1994/tensorflow-yolov3
模型文件： 上面repo的预训练模型，经过转换成 pb模型
测试环境： tensorflow-gpu 1.15, x2paddle 1.3.4
测试输入： 416*416的图片

测试过程出错提示如下（重新转换模型测试，如下错误消失...）：
![图片](https://user-images.githubusercontent.com/48776875/143374592-e04ccfda-cf18-42b9-99ab-bcb2a7c0c4a8.png)

[2021-11-25 05:49] wjj19950828 commented on #709
您好，麻烦可以描述一下应用场景吗，然后上传一下pd模型，这边看一下～

[2021-11-25 09:04] wjj19950828 commented on #709
@BruceFreedom 您好，这边尝试之后并没有发现转换相关问题，不知是否与paddle版本有关，麻烦更新paddle版本在进行尝试～

[2021-11-25 09:11] BruceFreedom commented on #709
谢谢指导，我昨天一直报图片中的错误，然后上午将整个转换过程重新走了一遍，错误消失了，估计是我自己哪里出了点儿问题

[2021-11-25 09:12] #709 closed, assigned to wjj19950828

[2021-11-25 15:47] Stave604671 opened #710 "yolov5模型torch转onnx测试通过，onnx转paddle又出了问题"
模型来源：YoloV5 Pytorch版
模型类型：目标检测
运行环境：windows10
                   onnx=1.6.0
                   paddlepaddle-gpu=2.1.0(paddlepaddle cpu 1.8.5也试了)
                   x2paddle==1.3.4
应用场景：Torch转onnx转paddle然后计划用paddle用paddle inference部署
torch转onnx顺利调通，转换的时候，opset_version=11
转换得到的onnx文件已经通过了下面这段onnx官网的测试用例输出The model is valid
import onnx
model = onnx.load(r"D:\Code\github_project\count_detection_projec

[2021-11-26 09:49] wjj19950828 commented on #710
您好，您给的ONNX模型这边查看了一下，主要问题在```Mul_425```这个节点，如下图
![image](https://user-images.githubusercontent.com/19977378/143556742-e486ce11-31e0-4cda-b68b-9036806cc227.png)
有两个输入：```569```:shape为[1, 3, 80, 80, 2],```1326```:shape为[3,2],无法相乘导致出错
可以确认一下这里的shape是否有问题吗～

[2021-12-07 06:49] YY-GAO opened #715 "ONNX模型转换报错，Couldn't find x2paddle_Split__658_0_p3 in previous layers, the layers should be make by topological sort"
## 问题描述
从ONNX模型转换到的时候报错
- 错误信息
[code]
- 转换时用的命令行
[code]
## 具体信息

- 模型来源
blazepose_landmarks_lite : https://drive.google.com/file/d/1wt7mpd8el1piOVOaRUBkkOZhKOpErm-Q/view?usp=sharing

- 版本信息
PaddlePaddle => paddlepaddle2.2.0
X2Paddle => 1.3.5
ONNX => 1.10.2

[2021-12-07 13:59] wjj19950828 commented on #715
感谢您的反馈，这边会尽快查看相关问题，这边有一个问卷：https://iwenjuan.baidu.com/?code=npyd51

帮助X2Paddle变得更好，也希望您能填一下～

[2021-12-10 03:25] wjj19950828 commented on #715
@YY-GAO 您好，相关问题已经解决，转换模型这边对了已经没有diff，参考https://github.com/PaddlePaddle/X2Paddle/pull/716

重新源码安装即可
[code]

[2021-12-15 03:08] ccLemonTree opened #717 "tensorflow2.x转paddle"

[2021-12-15 03:10] ccLemonTree commented on #717
x2paddle支持tensorflow2.x转paddle嘛

[2021-12-15 03:10] #717 closed, assigned to nobody

[2021-12-15 03:11] ccLemonTree opened #718 "tensorflow2.x转paddle"
x2paddle支持tensorflow2.x转paddle嘛

[2021-12-15 03:31] wjj19950828 commented on #718
暂时不支持tensorflow2.x转paddle，可以尝试先导出onnx模型，再从onnx到paddle，也欢迎反馈问题～

如果方便的话，可以帮忙填一份问卷吗，帮助X2Paddle更好的迭代开发，感谢～

https://iwenjuan.baidu.com/?code=npyd51

[2021-12-15 08:20] lfgogogo opened #719 "Failed when convert deepspeech pb model to paddle model"
Hi,i want to use paddle to do inference of  deepspeech pb model in the tensorrt-way.
Firstly, i get the checkpoint in https://github.com/mozilla/DeepSpeech and convert it to pb model,then i want to convert pb model to paddle model using x2paddle,but i get the error below:
![image](https://user-images.githubusercontent.com/42054022/146148876-3dd12f4d-ac5c-49e0-ada2-7aeb7d8c996e.png)
It seems some o

[2021-12-15 08:44] lfgogogo commented on #719
I also tried another way,i convert the checkpoint to tflite model,and then convert tflite model to onnx model,when i convert onnx model to paddle model,i get error below:
![image](https://user-images.githubusercontent.com/42054022/146153096-7365f76b-0f19-402a-966a-d846addfa38e.png)

[2021-12-15 09:23] wjj19950828 commented on #719
感谢反馈问题～麻烦您可以描述一下业务场景以及paddle以及onnx的版本号吗，然后再上传一下onnx模型～

如果方便的话，可以帮忙填一份问卷吗，帮助X2Paddle更好的迭代开发，感谢～

https://iwenjuan.baidu.com/?code=npyd51

[2021-12-15 09:35] lfgogogo commented on #719
@wjj19950828 我已经填了问卷，业务场景就是想用mozilla的这个模型进行tensorrt的推理测试，paddle的版本号是2.2.1，onnx的是1.10.2,然后这个onnx模型要怎么上传呢。

[2021-12-15 09:46] wjj19950828 commented on #719
可上传到百度云～

[2021-12-15 09:50] lfgogogo commented on #719
账号呢，发给谁

[2021-12-15 09:54] lfgogogo commented on #719
链接：https://pan.baidu.com/s/1rfb5OCM8b-MuGFvyxGD2bQ
提取码：cjg5
这个是deepspeech的onnx模型

[2021-12-22 14:02] WellYoungIOE commented on #549
请问修复了吗？我这边aten::copy_依旧显示不支持，1.3.5 stable版本

[2021-12-22 14:03] yinyimoshushi commented on #549
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2021-12-23 03:05] wjj19950828 commented on #549
@WellYoungIOE 您好，麻烦描述一下您所在的业务场景吧～这边排期看一下

paddledetection那边复现了相关算法，也推荐您直接去相关repo直接使用：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/mot

另外方便的话，也麻烦也填写一下问卷吧：https://iwenjuan.baidu.com/?code=npyd51

[2021-12-30 09:01] geoyee opened #724 "[API对照表] 关于pytorch和paddle的scatter"
请问能否增加一个关于pytorch和paddle的scatter的对比和讲解，以及怎么用paddle的flatten、scatter_nd等API组合达到pytorch的scatter的效果

[2021-12-30 11:25] wjj19950828 commented on #724
好的，这边会排个期支持一下～

[2022-01-07 12:02] wjj19950828 commented on #724
@geoyee 您好，已添加torch.scatter api映射文档以及如何组合实现，相关PR：https://github.com/PaddlePaddle/X2Paddle/pull/726

[2022-01-09 14:51] geoyee commented on #724
谢谢，明天试试满足的话就close这个issue

[2022-01-10 07:44] geoyee commented on #724
已解决我当前问题，只是dim==2的情况要稍微改下

[2022-01-11 07:21] CuberrChen opened #727 "unique_name.generate can't find."
## 问题描述

- 错误信息：

在nn_init.py中找不到 unique_name的出处。

  # to be compatible of fp16 initalizers
  if var.dtype == paddle_dtypes.t_float16:
      out_dtype = paddle_dtypes.t_float32
      out_var = block.create_var(
          name=unique_name.generate(".".join(
              ['masra_init', var.name, 'tmp'])),
          shape=var.shape,
          dtype=out_dtype,
          type=VarDesc.VarType.LOD_TENSO

[2022-01-12 09:06] wjj19950828 commented on #727
感谢反馈～已经在这个PR修复～:https://github.com/PaddlePaddle/X2Paddle/pull/728

[2022-01-13 04:26] geoyee commented on #724
我参考了这个组合实现，但任务中需要的是`dim==2`的情况。于是我根据代码写了`dim==2`的情况，我创造了一个测试，它给出了相同的结果，所以开始我认为它是对的，如下：
[code]
但在网络中一个较复杂的情况下却不相同，我不知道知道是`dim==2`不应该这样写吗还是什么原因，我发现一些位置是对的，我认为可能是`paddle.scatter_nd_add`的问题，可能有同位置的index。如下：
[code]
麻烦帮忙看看，怎样才能和pytorch的这个scatter对齐，这个npy的文件我放在这儿了：[Link](https://next.a-boat.cn:2021/s/zewBR83RgAi2r2e)，感谢~

[2022-01-13 04:59] wjj19950828 commented on #724
好的，这边看一下～

[2022-01-17 07:01] zuixiaosanlang opened #731 "tf的.pb模型转paddle模型，报错"
![image](https://user-images.githubusercontent.com/20105627/149722297-a2d5fe44-58f6-4bdf-8ad0-d2d064b5de18.png)

.pb 模型在tf环境运行正常，请问这怎么解决呢？

模型是自定义模型

[2022-01-17 08:01] #731 closed, assigned to nobody

[2022-01-18 03:50] zuixiaosanlang opened #733 ".pb转paddle模型，发现输出与.pb输出不一致"
![image](https://user-images.githubusercontent.com/20105627/149867669-0fb653cc-fcc7-4c32-9872-1917a7d943b2.png)

转换命令：
x2paddle --framework=tensorflow --model=frozen_model.pb --save_dir=pd_model

.pb在tf环境运行都ok的，转为paddle模型后，进行预测，与.pb输出不一样

[2022-01-18 05:56] #727 closed, assigned to wjj19950828

[2022-01-18 06:35] zuixiaosanlang opened #734 ".pb 转paddle模型失败，附.pb模型"
![image](https://user-images.githubusercontent.com/20105627/149883315-4c8b3568-7972-43c0-9904-fa2e60c0083f.png)

.pb模型：链接：https://pan.baidu.com/s/1oSJ0ps-aFiVyDLC0rul6jA
提取码：asdf

模型转换命令：
x2paddle --framework=tensorflow --model=frozen_model.pb --save_dir=pd_model

问题：
1）形状对不上
2）_BatchNorm_Const_2 receives a shape [0], but the expected shape is [64].

应用场景：类似pix2pix，用于图像生成，风格迁移
paddlepaddle

[2022-01-18 08:00] wjj19950828 commented on #734
感谢反馈，请补充描述一下模型具体应用场景吧，感谢～

[2022-01-18 10:16] zuixiaosanlang commented on #734
@wjj19950828 已补充，麻烦帮忙分析一下，为啥转换后会出现上述问题，以及解决方法，非常感谢。

[2022-01-18 10:16] zuixiaosanlang commented on #734
@wjj19950828 已补充，麻烦帮忙分析一下，为啥转换后会出现上述问题，以及解决方法，非常感谢。

[2022-01-18 14:11] zzcgithub opened #735 "如何根据修改已有inference模型的输入为“动态shape” ？"
目前已有一些导出的模型参数（model/__params）, 可以通过paddle框架进行正常的推理，但是因为输入的shape已经固定，导致无法进行动态推理/无法使用tensorrt。具体问题如下，模型的输入输出截图截图均由netron可视化得出。

问题1
通过x2paddle将onnx模型转为paddle的模型参数，paddle版本2.1。

如何将输入的shape从1x3x224x224，修改为？x3x224x224 ， 将输出(1x69)改为shape ？x69。

![image](https://user-images.githubusercontent.com/13117136/149953236-e7854dda-f989-4293-a3a6-7d1a35ece188.png)

[2022-01-19 03:36] wjj19950828 commented on #735
您好，感谢反馈问题，可以参照[文档](https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/pytorch2paddle.md#%E6%96%B9%E5%BC%8F%E4%BA%8C%E6%89%8B%E5%8A%A8%E5%8A%A8%E8%BD%AC%E9%9D%99)

关于动态shape的部分，在x2paddle_code.py中手动添加动态输入再动转静～

[2022-01-19 05:59] wjj19950828 commented on #734
@zuixiaosanlang 这个和[issue#733](https://github.com/PaddlePaddle/X2Paddle/issues/733)是同一问题吗，若是同一问题请关闭吧～

[2022-01-19 06:55] #733 closed, assigned to nobody

[2022-01-19 07:03] zuixiaosanlang commented on #734
@wjj19950828 那个关闭了。麻烦帮忙看看为啥形状出问题了。如果输入都改为320,320,3，就不报形状问题，但是跟.pb的输出结果差异很大。不知是paddle哪些算子转tf误差那么大

[2022-01-19 10:05] zuixiaosanlang opened #736 "onn模型转paddle，算子ReduceSumSquare 不支持"
![image](https://user-images.githubusercontent.com/20105627/150108716-32e496b6-d059-4dfc-a4b2-e086ac5fa8b9.png)

onn模型：链接：https://pan.baidu.com/s/1NfJjTpIvMF-OVI_0L8_bfg
提取码：asdf

应用场景：图像生成、风格迁移

[2022-01-19 10:52] wjj19950828 commented on #736
感谢反馈，这边排期支持一下～

[2022-01-20 10:19] wjj19950828 commented on #734
@zuixiaosanlang 您好，相关问题以及修复

拉取PR代码，重新安装即可：https://github.com/PaddlePaddle/X2Paddle/pull/738
[code]

[2022-01-20 11:53] zzcgithub commented on #735
使用“方式二：手动动转静 在自动生成的 x2paddle_code.py 中添加如下代码" 问题解决

[2022-01-20 11:53] #735 closed, assigned to wjj19950828

[2022-01-21 03:50] wjj19950828 commented on #736
@zuixiaosanlang 麻烦上传一下onnx模型，然后描述一下业务场景～

[2022-01-22 04:18] zuixiaosanlang opened #739 ".pb转paddle模型，发现输出与.pb输出不一致，附.pb模型"
![image](https://user-images.githubusercontent.com/20105627/150624250-b8a8e071-5a09-4471-8afd-e3c8571ec5c8.png)

pb模型链接：https://pan.baidu.com/s/1tl8-d8JN1HfVpsCT9UymjQ
提取码：asdf

这个BN算子转得有问题啊，当那个偏移值不是为0时，输出结果跟.pb不一样

应用场景：风格迁移，PIX2PIX

烦请帮忙分析一下吧

 SpaceToBatchND、BatchToSpaceND bug 这个问题你们修复后，现在是可以直接转换成paddle模型了，但输出结果差很远

[2022-01-23 02:30] wjj19950828 commented on #739
@zuixiaosanlang 麻烦提供一下相关真实输入(1*640*480*3,npy格式)、TF预测(pb模型)以及Paddle预测脚本吧，这边随机输入之后已经测过是没有diff的

[2022-01-23 11:07] zuixiaosanlang commented on #739
可能你用错模型了，你不要用我其他issue的模型啊，用我对应issu的模型。我这个模型是400*300*3的，另一个issue才是640*480的，那个没问题是因为我没恢复模型快照，bn的bata值全是默认值0，输出是一致；当模型训练后，这个值不是0，输出就不一样了，麻烦再试试吧谢谢
@wjj19950828

[2022-01-24 02:19] zuixiaosanlang commented on #736
@wjj19950828 onn模型已上传，谢谢

[2022-01-24 07:58] wbc110460 opened #740 "能用在nlp领域吗？我试了一下好像找不到transformers包"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

- 错误信息
- 错误截图

## 具体信息

- 转换模型后用处
    - [ ] 使用 Paddle 框架/ PaddleInference 推理预测
    - [ ] 使用 Paddle-Lite 做移动端推理
    - [ ] 转换预训练参数，再使用 Paddle 进行模型开发
- 模型来源
YOLOX：https://github.com/Megvii-BaseDetection/YOLOX
- 应用场景
用于移动端业务下的检测业务
- 版本信息
PaddlePaddle => :grey_question:
X2Paddle => :grey_question:
来源框架版本(PyTorch/TF

[2022-01-24 08:56] wjj19950828 commented on #740
@wbc110460 目前pytorch2paddle是支持HuggingFace的一些模型的，找不到transformers包，应该是HuggingFace的依赖，pip一下即可

[2022-01-24 09:17] wbc110460 commented on #740
Oh,Thanks. But after that, I met a error .
'FileNotFoundError: [Errno 2] No such file or directory: 'E:\\miniconda\\lib\\site-packages\\transformers\\utils\\dummies_sentencepiece_and_tokenizers_objects\\__init__.py''
这个dummies_sentencepiece***本身就是一个文件，并不是一个文件夹，这个问题应该出在哪呢

[2022-01-24 14:17] wjj19950828 commented on #740
看起来像HF的transformers包的版本问题，或者python路径问题

[2022-01-25 07:45] wjj19950828 commented on #739
@zuixiaosanlang 您好，关于FusedBatchNorm需要您确认下，提供的pb模型，在```is_traing```属性设置的为True，这个是GAN任务特有的吗
![image](https://user-images.githubusercontent.com/19977378/150933089-094ec587-605a-4ea3-9309-071bf3c83b30.png)
若确认无问题，可拉取https://github.com/PaddlePaddle/X2Paddle/pull/741

手动安装即可～

[2022-01-25 10:21] zuixiaosanlang commented on #739
@wjj19950828 没发现dev分支代码有变换呀，我拉取哪个分支代码？

[2022-01-25 11:20] wjj19950828 commented on #739
@zuixiaosanlang 已合入，重新拉去develop分支即可～

[2022-01-27 07:30] zhizhusheng opened #742 "tensorflow 转paddle出问题= 1 OPs are not supported yet = MaxPool3D"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

========= 1 OPs are not supported yet ===========
========== MaxPool3D ============

## 具体信息
MaxPool3D 现在能支持转换么
- 转换模型后用处
    - [ ] 使用 Paddle 框架/ PaddleInference 推理预测
    - [ ] 转换预训练参数，再使用 Paddle 进行模型开发
- 模型来源
https://github.com/Megvii-BaseDetection/YOLOX](https://github.com/mchengny/RWF2000-Video-Database-for

[2022-01-28 03:02] jiangjiajun commented on #742
@zhizhusheng Hi， 能麻烦直接上传下你的TensorFlow FrozenGraph格式的 pb 模型吗

[2022-01-28 03:19] zhizhusheng commented on #742
[Models.zip](https://github.com/PaddlePaddle/X2Paddle/files/7955444/Models.zip)
@jiangjiajun

[2022-01-28 08:11] jiangjiajun commented on #742
@zhizhusheng 你能先试下使用tf2onnx，将模型转成onnx后，再使用x2paddle进行转换吗

[2022-01-29 02:39] zhizhusheng commented on #742
@jiangjiajun 我试了先转onnx，转成功了，谢谢

[2022-01-30 03:26] zhizhusheng opened #743 "onnx转paddle时出错了 ，麻烦看一下吧"
我是torch转onnx成功了，但是在onnx转paddle时出错了，

    File "pd_model_TinyYOLOv3_onecls\x2paddle_code.py", line 476, in forward
        x2paddle_851 = paddle.equal(x=x2paddle_1058, y=x2paddle_850)
        x2paddle_893 = self.conv1(x2paddle_75)
        x2paddle_112 = paddle.strided_slice(x=x2paddle_107, axes=[0], starts=[-1], ends=[-9223372036854775807], strides=[-1])
[code]

[2022-01-30 03:43] wjj19950828 commented on #743
@zhizhusheng 感谢反馈，麻烦描述一下业务场景、X2Paddle以及Paddle的版本是多少吧～

[2022-01-30 03:54] zhizhusheng commented on #743
@wjj19950828 https://github.com/GajuuzZ/Human-Falling-Detect-Tracks 是这个的第一个模型。我的paddle是2.2.2，x2paddle是1.3.5，应该都是最新的

[2022-01-30 06:19] zhizhusheng opened #744 "关于 OPs are not supported"
========= 2 OPs are not supported yet ===========
========== aten::einsum ============
========== aten::linear ============

请问下，这种的能解决么？谢谢

[2022-01-31 02:41] wjj19950828 commented on #744
@zhizhusheng aten::einsum转为paddle.einsum，这个op不支持动转静，建议转为onnx，再从onnx->paddle~

[2022-02-07 05:28] zhizhusheng commented on #743
@wjj19950828 你好  这个问题可以解决么

[2022-02-07 08:02] zhizhusheng commented on #744
@wjj19950828 你好 我试过的， 还是报Einsum op不支持呢

[2022-02-08 05:55] hurui79 opened #745 "Message type "caffe.DropoutParameter" has no field named "scale_train""
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

- google.protobuf.text_format.ParseError: 318:5 : Message type "caffe.DropoutParameter" has no field named "scale_train".
- INFO:root:paddle.__version__ = 2.1.0
INFO:root:Now translating model from caffe to paddle.
Traceback (most recent call last):
  File "d:\program files\python39\lib\runpy.py", line 197, in

[2022-02-08 07:58] zhizhusheng commented on #743
我的x2paddle_code中有个这个
x2paddle_112 = paddle.strided_slice(x=x2paddle_107, axes=[0], starts=[-1], ends=[-9223372036854775807], strides=[-1])
应该是ends参数的问题 @wjj19950828

[2022-02-08 15:47] wjj19950828 commented on #745
@390029659 您好，看起来像caffe版本问题，检查一下模型对应caffe版本吧~

[2022-02-08 15:48] wjj19950828 commented on #744
@zhizhusheng 有尝试过ONNX这条路吗

[2022-02-09 01:21] hurui79 commented on #745
![QQ截图20220209092042](https://user-images.githubusercontent.com/16483840/153103708-9caa6813-3657-41cc-8863-c6bb29b1e6a7.png)
可是安装依赖并不需要安装caffe，我需要在本地也安装相应的caffe么？ @wjj19950828

[2022-02-09 02:21] wjj19950828 commented on #743
@zhizhusheng 这个ONNX 模型没有上传成功，麻烦再上传一下吧～

[2022-02-09 02:27] zhizhusheng commented on #744
@ @wjj19950828 试过的，Einsum op不支持，我把pytorch的Einsum 给换掉了。。

[2022-02-09 02:30] zhizhusheng commented on #743
At 2022-02-09 09:21:16, "WJJ1995" ***@***.***> wrote:

@zhizhusheng 这个ONNX 模型没有上传成功，麻烦再上传一下吧～

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you were mentioned.Message ID: ***@***.***>

从网易163邮箱发来的超大附件
TinyYOLOv3_onecls.onnx (33.31M, 2022年2月24日 10:30 到期)
下载

[2022-02-09 02:40] zhizhusheng commented on #743
链接：https://pan.baidu.com/s/1yVJUxSju2aeJOXKIwNNYHA
提取码：a2pi
@wjj19950828

[2022-02-09 08:33] hurui79 commented on #745
您好这回信息又变了（我把protxt 里面的scale_train都注释掉了），求帮忙给看看@wjj19950828
INFO:root:paddle.__version__ = 2.1.0
INFO:root:Now translating model from caffe to paddle.
The filter layer:drop6
The filter layer:drop7
Traceback (most recent call last):
  File "d:\program files\python39\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "d:\program files\python39\lib\ru

[2022-02-09 08:35] hurui79 opened #746 "AttributeError: module 'x2paddle.decoder.caffe_shape_inference' has no attribute 'shape_python'"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

- 错误信息
- AttributeError: module 'x2paddle.decoder.caffe_shape_inference' has no attribute 'shape_python'
- 错误截图
-
![QQ截图20220209163436](https://user-images.githubusercontent.com/16483840/153156811-b25e071f-a76a-47a5-bac4-0652425e0f34.png)

## 具体信息

- 转换模型后用处
    - [使用 Paddle 框架/ PaddleInference 推理预测
- 模型来源
第三方

[2022-02-09 09:16] #746 closed, assigned to nobody

[2022-02-09 09:19] hurui79 commented on #745
错误信息这回到我最开始的的时候出现的了
Message type "caffe.LayerParameter" has no field named "input_param" @wjj19950828   就很绝望。。。。
![QQ截图20220209171754](https://user-images.githubusercontent.com/16483840/153164137-bcc81b41-9f20-410f-9247-56fa9083a71b.png)

[2022-02-10 02:39] wjj19950828 commented on #744
@zhizhusheng 目前还有问题吗，若有问题提供一下组网代码、模型参数以及转换脚本吧～

[2022-02-10 02:41] zhizhusheng commented on #744
@wjj19950828 替换了einsum之后 ，没问题了，谢谢

[2022-02-10 02:42] zhizhusheng commented on #743
好像onnx模型里面，已经有了这个参数了 @wjj19950828

[2022-02-13 08:41] wjj19950828 commented on #745
@390029659 您好～

第一个问题，"scale_train"问题将deploy.prototxt中的相关信息注释到即可，因为dropout不影响预测

第二个问题，因为您提供的模型有自定义层proposal，所以必须使用自己环境的caffe_proto

第三个问题，关于“input_param”，这个也是与caffe版本相关，必须使用您使用的[fast-rcnn repo](https://github.com/rbgirshick/fast-rcnn),使用相应caffe版本，参考https://github.com/rbgirshick/fast-rcnn/issues/1

但是个人推荐因为模型较为经典：FasterRcnn,因为要使用Paddle部署，可使用[PaddleDetection](https://github.com/PaddlePaddle/PaddleD

[2022-02-13 11:48] wjj19950828 commented on #743
@zhizhusheng 输入如下命令，先用onnxsim简化一下
[code]

已经验证是没有diff的～

[2022-02-14 05:02] zhizhusheng commented on #743
@wjj19950828 谢谢  转换成功

[2022-02-28 02:23] hurui79 commented on #745
![6f875ee2403e01082de0107ae721fc2](https://user-images.githubusercontent.com/16483840/155913782-ab1d5248-7eeb-4755-843d-41c82cefed05.jpg)
@wjj19950828

[2022-03-05 03:32] geoyee commented on #724
请问有结果了吗

[2022-03-07 03:20] zgq91 opened #750 "onnx 手动动转静 InvalidArgumentError: The Tensor in the conv2d Op's Input Variable Input(x0) is not initialized"
onnx模型链接: https://pan.baidu.com/s/13-PA1aFGB1KX96X8uG6ovA 提取码: ic63

文本检测dbnet，用mmocr训练， x2paddle --framework=onnx --model=dbnet.onnx --save_dir=dbnet_model 没问题，但手动动转静
在自动生成的 x2paddle_code.py 手动添加以下代码
def main(x2paddle_input):
    # There are 1 inputs.
    # x2paddle_input: shape-[1, 3, 320, 320], type-float32.
    paddle.disable_static()
    params = paddle.load(r'/home/gpu/workspace/X2Paddle/dbn

[2022-03-07 07:13] wjj19950828 commented on #750
@zgq91 感谢反馈，这个手动动转静主要问题是onnx为静态shape，输入为[1,3,320,320]，而且onnx模型有shape op，所以对shape强依赖，如下图：
![image](https://user-images.githubusercontent.com/19977378/156984533-610ac8b4-730c-4d9c-8586-ce9337a4a168.png)
解决有两个方法：
1、torch.onnx.export导出动态shape的onnx，再通过x2paddle转换
2、或者在x2paddle_code.py中将对应batch纬度都改为-1
另外有一个问卷：https://iwenjuan.baidu.com/?code=npyd51
麻烦抽空做一下，感谢～

[2022-03-08 01:26] zgq91 commented on #750
感谢回复，x2paddle_code.py中对应batch维度都改为-1 动转静也没出问题，
![image](https://user-images.githubusercontent.com/18069515/157147115-8faf8284-02de-4e87-9028-4fa177f92346.png)
像nearest_interp_v2_0这样动态shape，tensorrt  c++部署的维度是要自己手动确定？？？

[2022-03-08 01:50] zgq91 opened #752 "onnx opset11 Slice error"
环境:paddle 2.2.2, onnx opset11,x2paddle1.3.5；转换mmdection训练的yolov3.onnx  链接: https://pan.baidu.com/s/1xzOLXguibbImhjf7g02oGw 提取码: s9tf   出现以下错误:

INFO:root:paddle.__version__ = 2.2.2
INFO:root:Now translating model from onnx to paddle.
model ir_version: 7, op version: 11
shape inferencing ...
[WARNING] Incomplete symbolic shape inference
shape inferenced.
Now, onnx2paddle support convert onnx model

[2022-03-08 02:31] wjj19950828 commented on #750
@zgq91 这个需要在paddle inference中将动态shape开启，参考[SetTRTDynamicShapeInfo](https://paddleinference.paddlepaddle.org.cn/api_reference/cxx_api_doc/Config/GPUConfig.html#tensorrt)

[2022-03-08 02:32] wjj19950828 commented on #752
@zgq91 我看您有在转mmocr以及mmdetection的模型，这个是什么业务背景呢，可以描述一下吗～

[2022-03-08 02:47] zgq91 commented on #752
对铁包的编号识别,用paddleOCR dbnet文本检测用同样的模型识别率会比mmocr更低；mmocr能达到0.98,paddleOCR只能达到0.94左右

[2022-03-08 02:56] wjj19950828 commented on #752
@zgq91 这个slice op之前修过，源码安装最新的x2paddle即可解决~
[code]

[2022-03-08 03:36] zgq91 commented on #752
您好，我用源码安装最新的x2paddle还是报同样的错误
![image](https://user-images.githubusercontent.com/18069515/157161328-b38a984d-e1f5-4595-b2f0-e3c3a9fe8c4f.png)

[2022-03-08 03:43] wjj19950828 commented on #752
@zgq91 有卸载之前版本吗，pip uninstall一下

[2022-03-08 03:57] zgq91 commented on #752
有卸载了之前的版本,重新安装的

[2022-03-08 03:58] #750 closed, assigned to wjj19950828

[2022-03-08 04:32] wjj19950828 commented on #752
@zgq91 我确定是可以的呀，你删除之前源码，重新git clone一下再安装吧

[2022-03-08 05:31] zgq91 commented on #752
好奇怪 我这边删除之前的源码，重新git clone还是一样报错；转成动态的onnx，不会报错Slice 但会报以下错误。
x2paddle --framework onnx --model yolo.onnx  --save_dir yolo_model
INFO:root:paddle.__version__ = 2.2.2
INFO:root:Now translating model from onnx to paddle.
model ir_version: 7, op version: 11
Unknown shape for input tensor[tensor name: 'x2paddle_input'] -> shape: ['batch', 3, 'height', 'width'], Please define shape of input here,
Note:

[2022-03-08 06:05] wjj19950828 commented on #752
@zgq91  你的onnx模型是不是提供错了，这边onnx输入是固定的
![image](https://user-images.githubusercontent.com/19977378/157176582-db11556a-b147-4d17-8df1-9f7613634944.png)

[2022-03-08 06:10] zgq91 commented on #752
链接: https://pan.baidu.com/s/1xhRJG9u2cs8V2X-pSBmaPw 提取码: 3d41 动态的onnx刚上传,麻烦你那边测试一下；我这边用按你之前提供方法还是不行

[2022-03-08 11:49] vicwer opened #753 "lite_valid_places类型，代码和文档没有枚举"
lite_valid_places有哪些类型，是否枚举说明一下比较合理？

[2022-03-08 13:19] wjj19950828 commented on #753
感谢反馈，这边会排期补充一下文档～

[2022-03-08 14:53] Craw-B opened #754 "在pytorch模型转换到paddle模型。运行官方程序出现这个错误怎么解决"
===================Error Information===============
Traceback (most recent call last):
  File "D:/Program Code/pythonProject/x2paddle/main.py", line 15, in <module>
    pytorch2paddle(torch_module,
  File "D:\Program Files\anaconda3\envs\pytorch_env\lib\site-packages\x2paddle\convert.py", line 240, in pytorch2paddle
    mapper.paddle_graph.gen_model(save_dir, jit_type=jit_type)
  File "D:\Program

[2022-03-09 02:04] wjj19950828 commented on #754
@Craw-B 看起来像是windows路径问题，应该在路径前加一个r，git clone最新的X2Paddle代码，输入下列命令
[code]
麻烦做一下这个问卷：https://iwenjuan.baidu.com/?code=npyd51

感谢～

[2022-03-10 12:37] GuoQuanhao opened #755 "paddle.multiply 怎么拥有axis参数"
https://github.com/PaddlePaddle/X2Paddle/blob/fef1d0bb832c95550a7de7ee47bef55756a43936/x2paddle/op_mapper/caffe2paddle/caffe_op_mapper.py#L904

[2022-03-10 13:36] GuoQuanhao commented on #755
链接：https://pan.baidu.com/s/15JBvT1RLsfdaIYPsJddW0w
提取码：lz5w
--来自百度网盘超级会员V5的分享

从这里获取所有资源文件，其中deployraw.prototxt为原始配置文件，deploy.prototxt为我修改后，去掉了DataAugmentation以及Resample

[2022-03-11 03:24] wjj19950828 commented on #752
@zgq91 您好，因为一些历史原因当reshape里有超过两个-1时动转静会失败，静态shape的onnx的reshape节点有-1，所以动态shape会有两个-1，目前我调整了shape手动动转静成功，验证没问题，你下载一下吧～

链接: https://pan.baidu.com/s/1xDv6nHOZq0RTW9peQGrWGg 提取码: 13fb

[2022-03-11 03:31] wjj19950828 commented on #755
@GuoQuanhao 目前[paddle.multiply](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/multiply_cn.html#multiply)是没有axis参数的哈，可以描述一下具体报错和部署场景吗～

[2022-03-11 03:32] wjj19950828 commented on #755
这里有一份问卷，麻烦做一下吧：https://iwenjuan.baidu.com/?code=npyd51

感谢～

[2022-03-11 05:14] GuoQuanhao commented on #755
我生成的代码multiply具有axis参数，而且caffe的算子映射[caffe_op_mapper.py](https://github.com/PaddlePaddle/X2Paddle/blob/fef1d0bb832c95550a7de7ee47bef55756a43936/x2paddle/op_mapper/caffe2paddle/caffe_op_mapper.py#L904)中multily怎么也拥有axis参数，我的资源文件已经上传百度云了
![image](https://user-images.githubusercontent.com/49911294/157806489-889e0d4b-3b6b-4876-891d-4fb7c1ca76ec.png)

[2022-03-11 05:27] wjj19950828 commented on #755
好的，感谢反馈，这边修一下bug～

[2022-03-12 10:07] zgq91 commented on #752
非常感谢，试了可以，能否将你修改后代码更新到X2Paddle上；后期我会需要改变输入大小

[2022-03-12 13:11] ericCHxia opened #756 "已经完成到ONNX的转换，但是转换到Paddle失败"
## 问题描述

onnx模型无法转换到Paddle上

我尝试使用onnxsim但是还是不行

- 原模型报错
![image](https://user-images.githubusercontent.com/52739449/158019081-cb65a4cd-e355-465a-9813-2ba1bd787616.png)
- 使用onnxsim后报错
![image](https://user-images.githubusercontent.com/52739449/158019111-eff71a44-3d2c-4447-bb3e-9700243500cf.png)

## 具体信息

- 转换模型后用处
    - [ ] 使用 Paddle 框架/ PaddleInference 推理预测
    - [x] 使用 Paddle-Lite 做移动端推理
    - [

[2022-03-12 18:02] ericCHxia commented on #756
发现源模型虽然报错但是能跑

[2022-03-13 02:29] ericCHxia commented on #756
但是发现能跑的只是动态图，无法转换成静态图

[2022-03-14 00:46] wjj19950828 commented on #756
@ericCHxia  看起来像是数据类型溢出导致，麻烦上传一下ONNX模型吧～

这里有一份问卷：https://iwenjuan.baidu.com/?code=npyd51

麻烦做一下吧，感谢～

[2022-03-14 01:37] wjj19950828 commented on #752
@zgq91 上传的有一份动态图代码x2paddle_code.py，根据相应shape做对应修改，因为是手动修改所以不适配所有模型，目前推荐先静态shape转换->手动动态shape动转静

[2022-03-14 02:01] zgq91 commented on #752
能分享一下，你改的代码嘛，我这边检测算法还在训练中，之前上传的onnx模型不是最终部署

[2022-03-14 06:07] wjj19950828 commented on #755
@GuoQuanhao 您好，相关问题已经修复，拉取PR：https://github.com/PaddlePaddle/X2Paddle/pull/757

重新安装X2Paddle即可

相关部署场景也补充一下吧，感谢～
[code]

[2022-03-14 06:55] GuoQuanhao commented on #755
拉取新的pr报新的错误了
[code]

没部署场景，复现一个n多年前的一个论文代码

[2022-03-14 07:00] GuoQuanhao commented on #755
尝试了几次，应该是crop算子存在问题

[2022-03-14 07:31] wjj19950828 commented on #755
@GuoQuanhao 我看报错x2paddle版本是1.0.1的，记得先pip uninstall一下，再源码安装

[2022-03-14 10:02] GuoQuanhao commented on #755
pr是merge到develop了吗

[2022-03-14 10:58] wjj19950828 commented on #755
@GuoQuanhao 已merge～

[2022-03-14 11:02] wjj19950828 commented on #752
@zgq91 我并没有改相应代码，可直接输入静态shape，然后照着x2paddle_code.py修改相应shape即可

[2022-03-14 11:36] zgq91 commented on #752
是onnx模型输入静态shape?  但model.pdparams模型参数怎么获取的呢

[2022-03-14 12:40] wjj19950828 commented on #753
@vicwer 您好，相关文档已经更新～

[2022-03-15 00:48] wjj19950828 commented on #752
@zgq91 仅支持batch纬度动态，所以与模型参数无关

[2022-03-16 02:53] #752 closed, assigned to wjj19950828

[2022-03-18 08:23] BgLoveXixi opened #759 "使用pytorch2paddle接口，转换pytorch的AlexNet模型到paddlelite格式报错"
## 使用pytorch2paddle接口，转换pytorch的AlexNet模型到paddlelite格式报错

- 错误信息
- INFO:root:Now translating model from pytorch to paddle.
INFO:root:Model optimizing ...
trace_fc_fuse_pass done!
INFO:root:Model optimized.
Exporting inference model from python code ('/data/code/PaddleLite/X2Paddle/pd_model_trace/x2paddle_code.py')...

--------------------------------------
C++ Traceback (most recent call last):
--

[2022-03-18 11:12] wjj19950828 commented on #759
@BgLoveXixi 是有生成静态图模型也就是inference model但是转换Lite格式错误吗，如果是的话可以去[Paddle Lite](https://github.com/PaddlePaddle/Paddle-Lite) Issue下反馈相关错误

[2022-03-18 12:05] BgLoveXixi commented on #759
是的，好像有生成inference model，但是转成lite没成功：
![image](https://user-images.githubusercontent.com/37319074/158999890-29954609-4a98-4053-90f4-f0830d0a143f.png)
我已经提交到lite下面，麻烦看下是什么问题

[2022-03-20 01:16] wjj19950828 commented on #759
related to https://github.com/PaddlePaddle/Paddle-Lite/issues/8677

[2022-03-20 05:38] AIHHU opened #760 "tf模型转换成pd模型后，想知道这个语法怎么转换"
model = tf.saved_model.load('./pretrained_model/dtln_saved_model')
infer = model.signatures["serving_default"]
out_block= infer(tf.constant(in_block))['conv1d_1']
不知道这个[conv1d_1]转到paddle以后怎么推理

[2022-03-20 08:06] wjj19950828 commented on #760
@AIHHU 有更具体的错误描述吗，不太理解您说的什么意思，是TF的保存的pb模型转Paddle出现错误了吗？

[2022-03-20 10:15] AIHHU commented on #760
ValueError: Input 1 of node StatefulPartitionedCall was passed float from lstm/Variable:0 incompatible with expected resource.

[2022-03-20 10:16] AIHHU commented on #760
我在x2paddle的时候发生的这个错误

[2022-03-20 11:23] AIHHU opened #762 "用onnx转还是报错"
AssertionError: Couldn't find x2paddle_lstm_4_Y_p0 in previous layers, the layers should be make by topological sort

[2022-03-21 06:53] wjj19950828 commented on #762
@AIHHU 麻烦描述一下业务场景、部署场景，上传一下onnx模型吧

[2022-03-25 03:11] wangboroy opened #765 "pytorch训练工程代码转paddle，如果模型使用mmdetection、torchvision等库，支持转换到paddle工程么"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

- 错误信息
- 错误截图

## 具体信息

- 转换模型后用处
    - [ ] 使用 Paddle 框架/ PaddleInference 推理预测
    - [ ] 使用 Paddle-Lite 做移动端推理
    - [ ] 转换预训练参数，再使用 Paddle 进行模型开发
- 模型来源
YOLOX：https://github.com/Megvii-BaseDetection/YOLOX
- 应用场景
用于移动端业务下的检测业务
- 版本信息
PaddlePaddle => :grey_question:
X2Paddle => :grey_question:
来源框架版本(PyTorch/TF

[2022-03-27 05:30] wjj19950828 commented on #765
@wangboroy 目前训练代码转换支持有限，建议先用mmdetection训练好，再走pytorch->paddle or pytorch->onnx->paddle

[2022-03-30 08:19] tomjeans opened #767 "onnx 转换为paddle失败"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
你好 我通过转换 tf2onnx 转换 movenet tensorflow pb模型到onnx 然后通过x2paddle 转换报错
- 错误信息
===================Error Information===============
/usr/lib/python3/dist-packages/apport/report.py:13: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import

[2022-03-30 08:21] tomjeans commented on #767
这是模型文件 谢谢 链接: https://pan.baidu.com/s/1hIdxm0cHtO-VxUPYJot5Tg 提取码: 6wpm 复制这段内容后打开百度网盘手机App，操作更方便哦
--来自百度网盘超级会员v3的分享

[2022-03-30 09:34] wjj19950828 commented on #767
@tomjeans 关于```num_or_sections=1```的bug已在这个PR修复：https://github.com/PaddlePaddle/X2Paddle/pull/763
git clone develop分支代码，输入下列命令，源码安装即可
[code]
然后看你部署环境是Paddle Lite，目前X2Paddle支持一键转换为Lite支持格式，命令行加入```--to_lite=True```即可，我这边验证是可以成功转换的

更多细节可参考文档：https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/convert2lite_api.md

[2022-03-30 14:20] kouhinn opened #768 "yolox官方coco预训练模型转换失败"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
yolox官方coco预训练模型转换失败。

- 错误信息
========= 1 OPs are not supported yet ===========
========== aten::copy_ ============
Exception: Model is not supported yet.

- 错误截图
![image](https://user-images.githubusercontent.com/42318152/160856182-d9171fa2-b285-465b-b4ae-717e20e8a7cb.png)

## 具体信息

- 转换模型后用处
    - [*] 使用 Padd

[2022-03-31 05:03] wjj19950828 commented on #768
@kouhinn 我这边有验证yolox_s.pth这个模型没有遇到你说的相关问题，最好给我一个最小复现代码包括模型，打包到百度云

另外，这个aten::copy是已知问题，主要是因为forward函数中有inplace操作导致

只要有两个解决方案：
1、去掉或者替换PyTorch中相关inplace相关代码
2、导出ONNX，再从ONNX转到Paddle，这个之前验证是可以走通的

[2022-03-31 05:30] kouhinn commented on #768
这个代码就是官方原来的代码（https://github.com/Megvii-BaseDetection/YOLOX  最新版），这个yolox_s.pth也是官方提供的（https://github.com/Megvii-BaseDetection/YOLOX 里边的yolox_s下载链接）。
同样的内容打包到百度网盘:
链接：https://pan.baidu.com/s/1rvm4uwPLwGps8tt7DHo1bg
提取码：j5uh
--来自百度网盘超级会员V6的分享

好的。谢谢。如下方案我先试试。

2、导出ONNX，再从ONNX转到Paddle，这个之前验证是可以走通的

[2022-04-01 03:23] wjj19950828 commented on #768
@kouhinn 根据你发给我的代码，需要在转换前加上```model.head.decode_in_inference = False```，因为部署时需要将decode去掉，如下图
![image](https://user-images.githubusercontent.com/19977378/161188598-3ded3d4a-1439-440c-86bc-72238cde3fbc.png)

因为decode阶段有[inplace操作](https://github.com/Megvii-BaseDetection/YOLOX/blob/main/yolox/models/yolo_head.py#L249)，导致出现```aten::copy```，这个 tvm 中有相关讨论，不予支持 https://github.com/apache/tvm/pull/7513

[2022-04-01 05:04] tomjeans commented on #767
谢谢 现在能转换成功

[2022-04-01 05:04] #767 closed, assigned to wjj19950828

[2022-04-04 13:22] kouhinn commented on #768
好的，谢谢！

[2022-04-04 13:22] #768 closed, assigned to wjj19950828

[2022-04-12 06:25] seancoding1 opened #770 "torch2Paddle源码拼写出错，导致不能调用"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

 File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/x2paddle/project_convertor/pytorch/torch2paddle/io.py", line 172, in __init__
    seld.batch_sampler.sampler = sampler
NameError: name 'seld' is not defined

源码拼写出错

## 具体信息

- 转换模型后用处
    - [ ] 使用 Paddle 框架/ PaddleInference 推理预测
    - [

[2022-04-12 11:34] wjj19950828 commented on #770
@seancoding1 感谢反馈，您可以提个PR修复一下～

[2022-04-13 05:51] AIHHU opened #771 "x2paddle算子不支持怎么办？"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

![ZVW4Y3NL1SO5~HLL2`$_60C](https://user-images.githubusercontent.com/66868438/163109239-d6c19b14-4485-4656-8f0e-f13e44457396.png)

## 具体信息
请问有办法自定义算子相关的教程吗？

[2022-04-13 07:36] wjj19950828 commented on #771
@AIHHU 目前```aten::linear```已在这个PR实现：https://github.com/PaddlePaddle/X2Paddle/pull/769

关于```aten::atan2```以及```aten::group_norm```我看paddle和torch都是相同功能一一对应的关系，对应[paddle.atan2](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/atan2_cn.html#atan2)以及[paddle.nn.GroupNorm](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/GroupNorm_cn.html#groupnorm)

可以在```x2paddle/op_

[2022-04-14 07:50] seancoding1 opened #773 "pytorch转成paddle后transformers的包调用需要pytorch环境怎么办？"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
pytorch转成paddle后transformers的包调用需要pytorch环境怎么办？

ImportError:
get_linear_schedule_with_warmup requires the PyTorch library but it was not found in your environment. Checkout the instructions on the
installation page: https://pytorch.org/get-started/locally/ and follow the ones that match your environment.
以上是报错

[2022-04-15 09:00] wjj19950828 commented on #773
@seancoding1 目前训练代码转换属于实验性功能，还是建议使用[PaddleNLP](https://github.com/PaddlePaddle/PaddleNLP)进行模型训练～

[2022-04-16 08:11] WithHades opened #774 "利用X2paddle将pytorch迁移到paddle似乎会内存泄漏"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
利用x2paddle将512x512_diffusion.pt转换到paddle模型后，paddle模型似乎在conv2d处内存泄漏。
- 错误信息
Out of memory error on GPU 0. Cannot allocate 30.000244MB memory on GPU 0, 31.714722GB memory has been allocated and available memory is only 4.625000MB.

Please check whether there is any other process using GPU 0.
1. If yes, please sto

[2022-04-17 06:47] wjj19950828 commented on #774
@WithHades 看着像显存不够导致，调小batch、图片大小试试

[2022-04-17 07:13] WithHades commented on #774
十分感谢回复！模型输入大小是[1, 3, 768, 1280]，感觉不太应该是显存不够导致的。我实验环境是至尊版，有32G显存。原版pytorch模型是可在16G内存运行。具体爆显存问题是：x954 = self.conv2d23(x947)这行代码。x947大小也是[1, 3, 768, 1280]。不太清楚问题出哪儿了。我尝试其他模型康康

[2022-04-18 00:34] yizhangliu opened #775 "ValueError: (InvalidArgument) transpose2(): argument 'X' (position 0) must be Tensor, but got Tensor (at ..\paddle/fluid/pybind/op_function.h:816)"
一个transformer（人体动作识别），转 onnx, 再转 paddle 都成功。运行 x2paddle_code.py时，报：
Traceback (most recent call last):
  File "x2paddle_code.py", line 390, in <module>
    out = main(in0)
  File "x2paddle_code.py", line 381, in main
    out = model(x2paddle_0)
  File "C:\Users\ThinkPad\AppData\Local\Programs\Python\Python37\lib\site-packages\paddle\fluid\dygraph\layers.py", line 917, in __call__
    return self._

[2022-04-18 02:17] jiangjiajun commented on #775
传入的这个x2paddle_0 需要是一个tensor， 可以查下你是不是传入了一个numpy进去

[2022-04-18 02:26] yizhangliu commented on #775
感谢你的回复。但我传入的是 tensor,  这样的：
        import numpy as np
        import torch
        input_data = np.random.rand(1,1,30,13,5).astype("float32")
        in0 = torch.tensor(input_data)
        out = main(in0)
        print(out)

后来，我使用 inference_model, 可以了。(一个小模型)
在 transformer (模型结构相对复杂一些) 上，还是 无法 正确加载和推理。

[2022-04-18 02:28] jiangjiajun commented on #775
[code]
确认这里代码`x2paddle_0`是否是一个tensor，你可以使用`out = model(paddle.to_tensor(x2paddle_0)`

[2022-04-18 03:04] yizhangliu commented on #775
@jiangjiajun  Thanks.
paddle.to_tensor 可以。

[2022-04-18 03:04] #775 closed, assigned to wjj19950828

[2022-04-18 11:53] WithHades commented on #774
@wjj19950828 确实是显存不够，将channels/2就可以了。很奇怪，原版torch模型可以在16GB显存跑，但是x2paddle转换的在32G显存都会爆，我手动转换的模型代码也会爆==

[2022-04-19 03:16] #774 closed, assigned to wjj19950828

[2022-04-21 01:09] #594 closed, assigned to SunAhong1993

[2022-04-21 09:30] litao-zhx commented on #678
你好，请问paddle去推理yolov5，实现了吗？我最近也在研究这个，可以交流一下吗？

[2022-04-21 09:31] litao-zhx commented on #640
你好，请问你paddle推理yolov5实现了吗？最近我也在研究这个，可以交流一下吗？

[2022-04-22 08:58] BgLoveXixi opened #776 "转换pytorch的mobilenetv3到lite格式报错不支持"
https://github.com/PaddlePaddle/Paddle-Lite/issues/8908#issue-1210769522

[code]
用上面的代码转换pytorch的mobilenetv3到lite格式，抛错不支持：
![image](https://user-images.githubusercontent.com/37319074/164667824-9ac2b45b-28d2-4df9-9476-4a194aa371f8.png)

已经到paddlelite那边提交issue说，lite已经支持这些算子，让更新X2paddle版本，更新了X2paddle到1.3.6也还是这个抛错。请问X2paddle目前不支持mobilenetV3的转换吗，请问下这是什么原因，有什么解决方法，感谢

[2022-04-24 02:30] wjj19950828 commented on #776
@BgLoveXixi 目前```aten::linear```已经支持，另外两个会排期支持下～

之前有看到您在转AlexNet，都是些分类模型，请描述下业务场景吧～

[2022-04-24 02:39] BgLoveXixi commented on #776
@wjj19950828 好的，能支持了麻烦告知一下，是会在最新版里面支持对吗？

是的，之前转了AlexNet的分类模型，业务场景是想在手机端实现皮肤病的初筛

[2022-04-24 02:50] wjj19950828 commented on #776
@BgLoveXixi 麻烦提供一下组网、模型参数以及转换脚本，打包上传到百度云吧

[2022-04-24 03:30] BgLoveXixi commented on #776
@wjj19950828 相关的文件都传到网盘了：
链接：https://pan.baidu.com/s/1dH4a3myBTqT62EQN-9-NDA?pwd=zlb5
提取码：zlb5

[2022-04-25 03:14] BgLoveXixi commented on #776
@wjj19950828 我尝试转换mobilenetv2的pytorch模型到lite格式，也还是报错有一个算子不支持，是aten::linear，可是这个算子您不是说已经支持了吗
![image](https://user-images.githubusercontent.com/37319074/165014470-8f498295-9304-4402-8746-e77d5e7e32ab.png)

请问这个怎么解决呢？我该更新x2paddl的源码吗。

还有就是mobilenetv3那里面的几个算子什么大概时候能安排支持下呢，感谢！

[2022-04-26 02:23] wjj19950828 commented on #776
@BgLoveXixi ```aten::linear```在这个PR:https://github.com/PaddlePaddle/X2Paddle/pull/769

还没合入，可以先拉去对应分支手动编译一下

另外两个op正在开发当中

[2022-04-26 09:47] MemoryAnt opened #779 "onnx2paddle 模型转换报错"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

   onnx2paddle 模型转换报错，模型可以完成转换，能够生成相应的文件（测试可以正常推理），但是转化函数无法正常运行结束。
（使用x2paddle命令行可以正常转化）

- 错误信息
    --------------------------------------
    C++ Traceback (most recent call last):
    --------------------------------------
    0   paddle::platform::MKLDNNDeviceContextThreadLocals::Body::~Body()
    1   padd

[2022-04-27 02:22] wjj19950828 commented on #779
@MemoryAnt 可能转换的时候有一些环境冲突问题，但转换后模型能正常运行应该就没问题

[2022-04-27 03:24] duorouputao opened #780 "Couldn't find x2paddle_52_p0 in previous layers, the layers should be make by topological sort"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

- [错误信息](url)
-
- 错误截图
![image](https://user-images.githubusercontent.com/62918268/165433082-b357cce8-c649-41b9-89a0-758f7d02183f.png)

## 具体信息

- 转换模型后用处
    - [ ] 使用 Paddle 框架/ PaddleInference 推理预测
    - [√] 使用 Paddle-Lite 做移动端推理
    - [ ] 转换预训练参数，再使用 Paddle 进行模型开发
- 模型来源
lstm
- 应用场景
用于移动端业务下的摔倒检测
- 版本信息
Pad

[2022-04-27 07:31] wjj19950828 commented on #780
@duorouputao 我看你X2Paddle版本信息1.0.1，建议升级到最新版本1.3.6再试试

[2022-04-27 09:04] duorouputao commented on #780
更新了还是不行
C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\urllib3\util\selectors.py:14: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working
  from collections import namedtuple, Mapping
C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\urllib3\_colle

[2022-04-27 09:11] wjj19950828 commented on #780
@duorouputao 麻烦把ONNX模型上传到百度云吧，这边排期看一下

另外这是个什么模型呢，这有一份问卷也麻烦填一下吧：https://iwenjuan.baidu.com/?code=npyd51

[2022-04-27 14:34] kouhinn opened #782 "onnx 转 paddle 出错: NameError: name 'x2paddle_lambda_1' is not defined"
## 问题描述
onnx 转 paddle 出错: NameError: name 'x2paddle_lambda_1' is not defined

- 错误信息
待转换的onnx模型和本地转换不成功结果上传到如下百度网盘：
链接：https://pan.baidu.com/s/1w7xtajs5WWB7oYMF1kLqiA
提取码：6zp2
--来自百度网盘超级会员V6的分享

详细信息如下：
Fail to generate inference model! Problem happend while export inference model from python code 'D:\disk_full_save_workspace\Keras-YOLOv4_helmet_retrain\fa
st_modelonnx2paddle\x2paddle_code.py';

=

[2022-04-28 02:42] wjj19950828 commented on #776
@BgLoveXixi 您好，目前三个op的支持都已经合入，拉取最新的develop分支代码手动安装即可～

另外可以加您一个微信吗，想对您做一下用户访谈，感谢～

[2022-04-28 08:01] duorouputao commented on #780
okok,是个带lstm的
https://pan.baidu.com/s/1igMqqxF5gDWQVFWd3emZfA
提取码：4988
麻烦大佬们看下

[2022-04-28 08:14] wjj19950828 commented on #782
@kouhinn 感谢反馈，可以描述一下具体业务吗，然后方便留一个微信吗，想对您做一下用户调研～

[2022-04-28 09:10] kouhinn commented on #782
具体业务：安防领域
微信号：kouhinn

[2022-04-28 10:31] BgLoveXixi commented on #776
@wjj19950828 好的谢谢，您加我QQ吧，3173105452

[2022-04-29 06:54] BgLoveXixi commented on #776
@wjj19950828 好的收到谢谢，联系方式发您邮箱了

[2022-05-05 06:39] 1chang37 opened #784 "AttributeError: module 'convert' has no attribute '_get_parser'"
parser = convert._get_parser()
AttributeError: module 'convert' has no attribute '_get_parser'

[2022-05-06 02:38] wjj19950828 commented on #784
@1chang37 您好，麻烦根据Issue模版进行填写，目前信息看不出具体问题

[2022-05-06 03:18] MemoryAnt commented on #779
您好，环境冲突主要有哪些可能，是cudnn、cuda版本导致的？
现在是需要把转化过程封装成一个接口，程序直接退出，导致无法处理

[2022-05-06 03:32] 1chang37 opened #785 "TensorFlow转paddle出错：AttributeError: module 'convert' has no attribute '_get_parser'"
在进行TensorFlow 转换paddle时遇到的错误
平台信息：
paddlepaddle: 2.2.0
ubuntu 18.04

代码内容 co.py
import convert as convert
import argparse
#parser = convert._get_parser()
parser = convert._get_parser()
parser.meta_file = "checkpoint/model.meta"
parser.ckpt_dir = "checkpoint"
parser.in_nodes = ["inputs"]
parser.input_shape = ["None,224,224,3"]
parser.output_nodes = ["vgg_16/fc8/squeezed"]
parser.use_cuda = "True"
p

[2022-05-06 03:32] 1chang37 commented on #784
在进行TensorFlow 转换paddle时遇到的错误
平台信息：
paddlepaddle: 2.2.0
ubuntu 18.04

代码内容 co.py
import convert as convert
import argparse
#parser = convert._get_parser()
parser = convert._get_parser()
parser.meta_file = "checkpoint/model.meta"
parser.ckpt_dir = "checkpoint"
parser.in_nodes = ["inputs"]
parser.input_shape = ["None,224,224,3"]
parser.output_nodes = ["vgg_16/fc8/squeezed"]
parser.use_cuda = "True"
p

[2022-05-06 03:32] #784 closed, assigned to wjj19950828

[2022-05-06 16:52] wjj19950828 commented on #785
@1chang37 可以将TF模型先导出成pb模型之后，在用下列命令进行转换

[code]

[2022-05-07 08:34] MemoryAnt commented on #779
@wjj19950828 您好，环境冲突主要有哪些可能，是cudnn、cuda版本导致的？
现在是需要把转化过程封装成一个接口，程序直接退出，导致无法处理

[2022-05-07 09:29] kouhinn opened #788 "简单mobilenet分类模型ONNX转paddle出错"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
简单mobilenet分类模型ONNX转paddle出错。
就是keras自带的mobilenet模型。
代码与onnx模型见如下：
链接：https://pan.baidu.com/s/17EDypFn-UKtLGF-I0EdyGA
提取码：lvjn
--来自百度网盘超级会员V6的分享

- 错误信息
- 错误截图

## 具体信息
===================Error Information===============
Traceback (most recent call last):
  File "C:\Users\admin\anaconda3\envs\py37_tensorflow1_1

[2022-05-07 09:34] kouhinn commented on #788
找到问题了，是paddle不支持中文目录。

[2022-05-07 09:34] #788 closed, assigned to nobody

[2022-05-09 01:59] StrugglingForBetter opened #790 "onnx转paddle 报错导致模型转换不成功"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
使用pip install x2paddle安装成功
然后使用指令  x2paddle --framework=onnx --model=model.onnx -save_dir=pd_model
onnx转paddle不成功，尝试用onnxsim简化，简化过的onnx还是转换paddle模型失败

- 错误信息
ValueError: (InvalidArgument) Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [1, 256, 49, 33] and the shape

[2022-05-09 02:24] wjj19950828 commented on #790
@StrugglingForBetter 麻烦描述一下您的业务场景、部署场景，然后通过百度云提供一下ONNX模型吧～

另外这有一份调查问卷，帮助X2Paddle更好的迭代，感谢～：https://iwenjuan.baidu.com/?code=npyd51

[2022-05-09 03:18] StrugglingForBetter commented on #790
业务场景：计算机视觉领域
部署场景： 部署到X64，Win10

[2022-05-09 07:24] 1chang37 commented on #785
没有GPU的化，如何cpu进行转化？

[2022-05-09 07:25] 1chang37 commented on #785
没有GPU的化，如何cpu进行转化？

[2022-05-09 08:44] wjj19950828 commented on #785
@1chang37 这个与环境无关，cpu、gpu都可以转

[2022-05-11 02:22] wjj19950828 commented on #790
@StrugglingForBetter 您好，目前bug已经修复，拉去develop代码，重新安装X2Paddle即可
[code]

[2022-05-11 14:22] kotori-y opened #795 "linear的bias无法加载"
开发者们，你们好：

我用<code>pytorch</code>开发的一个简单的线性模型来测试<code>X2Paddle</code>（线性方程为：y = 2 * X + 4），建模代码如下：

[code]

用<code>X2Paddle</code>转换后，报了一个警告，显示bias权重无法加载，如下：
![image](https://user-images.githubusercontent.com/41776739/167871560-699d40ca-2310-4e34-af5c-89f7b5159ccb.png)

之后我运行了输出的代码，发现bias果然没有加上
[code]
![image](https://user-images.githubusercontent.com/41776739/167872216-f62deb0e-8bd2-4dcb-9dbb-458

[2022-05-12 12:20] wjj19950828 commented on #795
@kotori-y 您好，可以先更新下X2Paddle最新版本，然后再验证一下相同输入下，pytorch和paddle的结果是否一样~

[2022-05-12 15:10] kotori-y commented on #795
感谢您的回复！

我拉取最新的代码后，分别运行了pytorch和paddle，结果还是和之前一样

## pytorch
[code]

## paddle
[code]

[code]
[code]

正好大概差了4左右，应该是bias丢失了。

请问是我哪里写错了吗，哭哭。

## 版本信息
[code]

[2022-05-13 02:44] wjj19950828 commented on #795
@kotori-y 您好，看x2paddle版本还是没有更新，输入下列命令
[code]
手动安装下最新代码～

[2022-05-13 03:37] kotori-y commented on #795
您好，

不好意思，我又来辣。
更新之后，结果还是和之前一样。（挠头

[code]

[code]

## 版本信息
[code]

[2022-05-18 02:26] 1chang37 opened #798 "TensorFlow转paddle出错：AttributeError: module 'gast' has no attribute 'Constant'"
在进行TensorFlow 转换paddle时遇到的错误
平台信息：
paddlepaddle: 2.1.32
平台：ft2000+     昆仑k200
系统：kylin v10

指令：x2paddle --framework=tensorflow --model=vgg16.pb --save_dir=pd_model

报错:

XPURT /usr/local/lib64/python3.7/site-packages/paddle/fluid/../libs/libxpurt.so loaded

Now translating model from tensorflow to paddle.
Total nodes: 86
Nodes converting ...
Converting node 86 ...
Nodes converted.
dygraph_conv2d_a

[2022-05-18 02:53] #798 closed, assigned to nobody

[2022-05-18 02:53] 1chang37 commented on #798
已解决

[2022-05-18 06:05] kotori-y opened #799 "onnx转paddle报错"
各位开发者们，你们好！

## 问题描述

模型来源： onnx
模型说明： bert预训练模型
模型文件：[bert.onnx](https://github.com/kotori-y/my_data/releases/download/v0.1/bert.onnx)

## 报错内容
[code]

onnx模型是通过pytorch获得，并且结果与pytorch模型一致。
附上pytorch2onnx的代码
[code]
[code]

## 版本信息
[code]

可能是opset_verison的版本不一致造成的？但是我用<code>opset_version=9</code>将pytorch转成onnx时会报如下错误：
[code]

期待各位的回复，谢谢！

[2022-05-20 09:23] wjj19950828 commented on #795
@kotori-y 您好，感谢反馈，目前bug已经修复～

PR链接：https://github.com/PaddlePaddle/X2Paddle/pull/800

[2022-05-20 09:28] wjj19950828 commented on #799
@kotori-y 您好，麻烦提供一下onnx模型吧，这个是HF导出的吗，目前HF的bert onnx模型是支持的

另外请问一下您转换后模型的用处是什么呢，为什么会有转到Paddle的需求呢，麻烦描述一下吧～

[2022-05-20 13:12] kotori-y commented on #799
@wjj19950828 您好，感谢您的回复~

## onnx模型
模型我放在这个repo的[release](https://github.com/kotori-y/my_data/releases/download/v0.1/bert.onnx)上了。

## bert模型
Ber模型我主要是基于这个[repo](https://github.com/codertimo/BERT-pytorch)而修改的。然后通过<code>torch.onnx.export</code>函数将pytorch模型转为onnx模型。并且经验证两个模型结果一致。

## 应用场景
我想转到paddle的原因主要是：我用paddle预训练了一个模型(修改自PaddleHelix下的一个[项目](https://github.com/PaddlePaddle/PaddleHelix/tree/dev/app

[2022-05-20 13:13] kotori-y commented on #795
十分感谢，那我关掉这个issue辣

[2022-05-20 13:13] #795 closed, assigned to wjj19950828

[2022-05-27 06:44] likestudy opened #803 "使用onnx2paddle，转换onnx的BiLSTM模型出错"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

使用onnx2paddle将onnx的BiLSTM模型转换为paddle模型报错，转换失败。

- 错误信息

### 使用onnx2paddle转化模型报错：

原ONNX模型转化时opset_version=11：

[code]

原ONNX模型转化时opset_version=9：

[code]

### 使用pytorch2paddle转化torch模型到paddle模型同样失败

[code]

- 错误截图
![image](https://user-images.githubusercontent.com/30099214/170645593-5104eeb5-cd6d-4530-87a6-68b

[2022-05-29 08:54] wjj19950828 commented on #803
@likestudy 感谢反馈，辛苦把torch转换相关脚本以及模型组网、参数也打包一起上传吧～

另外可以描述一下为什么会有转到Paddle 部署的需求吗，感谢～

[2022-05-29 09:53] likestudy commented on #803
@wjj19950828 torch模型转化ONNX以及转化paddle的脚本等均已上传至：
链接：https://pan.baidu.com/s/1UcdjIwp9OgPoEZtDeeRMqQ
提取码：as63。

您直接运行convert_model.py，便可调用model下的pytorch_model.bin生成bilstm.onnx，以便进一步转化为paddle模型。

因为看到paddle介绍在推理端有很多优化，所以想将模型转化为paddle模型进行推理，十分感谢您的帮助。

[2022-05-31 08:37] kouhinn opened #804 "简单单层lstm onnx模型转paddle失败，用了onnx-simple也不行，使用x2paddle1.3.5"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
lstm onnx 模型转paddle失败，用了onnx-simple也不行，使用x2paddle1.3.5

- 错误信息
- 错误截图
  File "C:\Users\admin\anaconda3\envs\py37_tensorflow1_14\lib\site-packages\x2paddle-1.3.5-py3.7.egg\x2paddle\op_mapper\onnx2paddle\opset9\opset.py", line
107, in run_mapping
    res = func(*args, **kwargs)
  File "C:\Users\admin\anaconda3\en

[2022-06-01 02:23] wjj19950828 commented on #804
@kouhinn 感谢反馈～

这边有两个问题：
- 部署具体业务场景
- 转到Paddle部署的原因

这两点需要您在描述一下～

[2022-06-02 03:08] wjj19950828 commented on #803
@likestudy 您好，目前问题已经修复，拉取此PR代码，源码安装：https://github.com/PaddlePaddle/X2Paddle/pull/805

使用onnxsim简化下onnx模型，再进行转换

[code]

另外，对于这种简单模型，建议使用PaddleNLP直接训练、预测，降低转换带来的性能损失

参考：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/lexical_analysis

[2022-06-02 03:19] wjj19950828 commented on #804
@kouhinn 您好，对于这种简单模型，建议直接paddle组网，然后再动转静

LSTM参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/LSTM_cn.html#lstm

动转静参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/jit/case_analysis_cn.html#inputspec

[code]

[2022-06-02 10:15] kouhinn commented on #804
好的，谢谢。但是这个已经搞好的onnx模型应该也可以转换成paddle的吧，问题出在哪里呢？

[2022-06-07 08:32] PQ-girl opened #807 "转换为paddle模型后导出.nb文件时报错"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
您好！我使用paddlelite将paddle模型转换为.nb文件时报错Error: This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'pad'。然后去paddlelite下提问后说：arm 上目前只支持pad2d 和 pad3d OP，可以将pad OP 转换为pad2d/pad3d 进行推理。
所以我想问一下如何将pad OP转换为pad2d 和 pad3d OP，麻烦你们帮帮我
- 错误信息
- Error: This model is not supported,

[2022-06-07 12:23] wjj19950828 commented on #807
@PQ-girl 您好，麻烦提供一下ONNX模型吧

这种问题大概率跟Paddle版本相关，可以将Paddle和X2Paddle更新到最新版本再试试～

[2022-06-07 13:19] PQ-girl commented on #807
[vgg.zip](https://github.com/PaddlePaddle/X2Paddle/files/8853486/vgg.zip)
这是我的onnx模型，您帮我看一下。
X2Paddle我是用这句代码下载的git clone https://github.com/PaddlePaddle/X2Paddle.git
paddle我是用pip install paddle安装的，版本是2.3.0
谢谢您

[2022-06-08 08:43] Saucup opened #810 "关于三个算子缺少的问题"
========= 3 OPs are not supported yet ===========
========== aten::upsample_nearest1d ============
========== aten::upsample_nearest3d ============
========== aten::reciprocal ============

[2022-06-08 08:58] PQ-girl commented on #807
你好，我该如何解决这个问题呢

[2022-06-08 16:50] wjj19950828 commented on #810
@Saucup 您好，麻烦描述一下相关模型、业务场景以及部署场景，然后提供一下复线脚本～

[2022-06-09 02:28] wjj19950828 commented on #807
@PQ-girl 您好，目前我已经直接反馈给Lite的开发人员，他们现在正在看～

另外想请问下，您是企业用户吗，为什么会有转到Paddle部署的需求呢，可以描述一下吗～

[2022-06-09 04:28] Saucup commented on #810
是对这份代码转换过程中出现的问题
https://github.com/WenmuZhou/DBNet.pytorch

模型导入使用配置文件：
`config/icdar2015_resnet18_FPN_DBhead_polyLR.yaml`
转换过程按照您提供的转换代码
[code]
只是做实验，没有业务场景。
看到文档中有提到如果缺少算子可以提issue，所以我提了这个issue

[2022-06-09 07:44] PQ-girl commented on #807
我是学生，直接部署准确率降低了，然后我想试试用paddlelite部署

[2022-06-11 07:23] txy00001 opened #811 "报错：NameError: name 'x2paddle_output' is not defined"
F:\work\CRE-StereoNet\CREStereo-Pytorch-main\weights>x2paddle --framework=onnx --model=cre_new.onnx --save_dir=pd_model
F:\software\python\lib\site-packages\setuptools\depends.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
INFO:root:paddle.__version__ = 2.3.0
INFO:root:Now translating model from onnx t

[2022-06-12 09:27] wjj19950828 commented on #811
@txy00001 感谢反馈

麻烦描述一下您的业务场景、部署场景，然后通过百度云提供一下ONNX模型吧～

另外，也需要您描述一下为什么会有转到Paddle部署的需求呢？

[2022-06-13 01:15] txy00001 commented on #811
是将训练好的[pytorch](https://so.csdn.net/so/search?q=pytorch&spm=1001.2101.3001.7020)模型转成paddlepaddle的inference_model，然后直接使用paddlepaddle载入使用。官方提供的X2paddle

模型链接：链接：https://pan.baidu.com/s/1FmZfrv9L606xLIzSo8-WCA
提取码：4562

[2022-06-13 06:51] litao-zhx opened #812 "pytorch的模型已成功转换为了paddle格式，但是用tensorrt推理时，初始化时间却很长，这是为什么"

[2022-06-13 06:52] litao-zhx commented on #812
模型初始化部分是参考PaddleOCR去改的，不是用tensorrt的话，初始化速度正常，用了之后初始化却很慢。

[2022-06-13 07:17] Shainingu opened #814 "yolov5-demo提供的yolov5n结构与官方yolov5n不同，导致替换后出现闪退，应该怎样解决？"
主要是输出的数量不同，下图分别是demo和官方提供的yolov5n。
我应该修改后处理过程吗？是否有参考的文档？
demo提供的模型又是怎样生成的？裁剪？
![image](https://user-images.githubusercontent.com/58648412/173299742-a301b0a0-2d45-4ba4-a6e2-31ed41b4ca27.png)
![image](https://user-images.githubusercontent.com/58648412/173299472-93cc0d19-cf18-41d8-b780-380edc3ccbe4.png)

[2022-06-13 07:18] wjj19950828 commented on #811
@txy00001 具体业务场景可以描述一下吗，然后为什么会有转到Paddle的需求呢～

[2022-06-13 07:49] #814 closed, assigned to nobody

[2022-06-13 07:51] txy00001 commented on #811
利用paddle推理模型与pytorch进行对比

[2022-06-13 12:36] kotori-y commented on #799
您好，请问解决了吗？
呜呜呜

[2022-06-14 02:23] wjj19950828 commented on #812
@litao-zhx 您好，可以把相关复现脚本发我一份，这边看一下吧

然后想请问下：
1、您是企业用户还是学生呢，具体业务场景是什么呢？
2、为什么会有转到Paddle的需求呢，麻烦描述一下吧

感谢～

[2022-06-14 07:51] litao-zhx commented on #812
1、企业员工
2、在项目中同时用到了pytorch和paddle框架的网络，但是在开启tensorrt加速时，会显示异常，觉得想框架冲突，就都转换为一致的了

[2022-06-14 07:53] litao-zhx commented on #812
import paddle
import os
from paddle.inference import Config,create_predictor,PrecisionType

def get_infer_gpuid():
    if os.name == 'nt':
        try:
            return int(os.environ['CUDA_VISIBLE_DEVICES'].split(',')[0])
        except KeyError:
            return 0
    if not paddle.fluid.core.is_compiled_with_rocm():
        cmd = "env | grep CUDA_VISIBLE_DEVICES"
    else:
        cmd = "en

[2022-06-14 07:56] litao-zhx commented on #812
初始化部分如下：

import paddle
import os
from paddle.inference import Config,create_predictor,PrecisionType

def get_infer_gpuid():
    if os.name == 'nt':
        try:
            return int(os.environ['CUDA_VISIBLE_DEVICES'].split(',')[0])
        except KeyError:
            return 0
    if not paddle.fluid.core.is_compiled_with_rocm():
        cmd = "env | grep CUDA_VISIBLE_DEVICES"
    else:

[2022-06-14 07:58] litao-zhx commented on #812
我这边测试来看，是开了tensorrt推理时会耗时严重，模型是由pytorch版的yolov5s转化而来

[2022-06-16 01:09] litao-zhx commented on #812
你好，请问您那边测试正常吗？

[2022-06-16 02:28] wjj19950828 commented on #812
@litao-zhx 麻烦把转换后模型，预测脚本一起打包上传到百度云，然后给我个链接吧～

另外再check一下，耗时严重还是指的初始化时间很长？还是预测时间很长？

初始化大概耗时是多少呢，建议测试一下

[2022-06-16 02:53] litao-zhx commented on #812
初始化时间长

[2022-06-16 03:01] litao-zhx commented on #812
初始化时间长，大约在5分钟左右，初始化脚本是我上边发的那个，转换后的模型连接为
链接：https://pan.baidu.com/s/1DqNFsRWWBZgx0gWByBajGQ
提取码：fnsg

[2022-06-16 03:01] litao-zhx commented on #812
推理时间可以，问题出在初始化

[2022-06-16 06:51] wjj19950828 commented on #812
@litao-zhx 我仔细看了下，你上面的脚本有问题哈，初始化不应该包含get_input_handle、get_output_handle这样的方法

建议参考这个，是yolov3的demo，照着改一下即可：https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/python/gpu/yolov3/infer_yolov3.py

[2022-06-16 07:52] litao-zhx commented on #812
好的，我先去试试，但是这是我参考PaddleOCR写的，PaddleOCR里确实是这样写的啊，
![5903BA05](https://user-images.githubusercontent.com/76981650/174020586-018daa6c-7659-4f60-94d5-796b5689603e.png)

[2022-06-16 08:16] litao-zhx commented on #812
已尝试在初始化部分注释掉get_input_handle这些方法，但是用了初始化时间还是很长。您那边是否可以帮忙测试一下，单测试使用tensorrt的初始化时长

[2022-06-16 08:19] litao-zhx commented on #812
已尝试在初始化部分注释掉get_input_handle这些方法，但是初始化时长并未减少，您那边是否可以帮忙测试**单初始化（用tensorrt）**的时长。因为现在的问题是不用tensorrt的情况下，初始化时间正常，但是用了tensorrt的，初始化就很长了。

[2022-06-16 08:21] litao-zhx commented on #812
已尝试在初始化部分去掉get_input_handle这些方法，但是初始化耗时还是很严重，您那边能否帮忙测试下用tensorrt的初始化时长。因为现在的情况是，不用tensorrt的话，初始化时长没问题，用tensorrt，初始化就会很耗时

[2022-06-17 02:30] wjj19950828 commented on #812
@litao-zhx 把最新的python预测脚本以py文件的形式再发我一份吧

[2022-06-17 03:02] litao-zhx commented on #812
[utity.txt](https://github.com/PaddlePaddle/X2Paddle/files/8924218/utity.txt)

初始化脚本如上所示，由于不支持上传py文件，所以以txt格式复制了一份，模型即为百度上方网盘里的那个，然后初始化时长如下：
![image](https://user-images.githubusercontent.com/76981650/174216379-39927942-1e44-43a2-9278-f54f012089c0.png)

[2022-06-17 03:22] wjj19950828 commented on #812
@litao-zhx 帮你咨询了下，调小```min_subgraph_size ```或者```workspace_size ```再试试

min_subgraph_size调到3，workspace_size 1 << 20试试

[2022-06-17 03:29] wjj19950828 commented on #807
@PQ-girl 目前Lite那边因包体积原因不打算支持Pad，你可以这样

首先在x2paddle_code.py中，将self.pad0 = paddle.nn.Pad2D(mode='constant', padding=[0, 0, 0, 0, 0, 0, 0, 0])改成self.pad0 = paddle.nn.Pad2D(mode='constant', padding=[0, 0, 0, 0,])

然后参照[手动动转静文档](https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/pytorch2paddle.md#%E6%96%B9%E5%BC%8F%E4%BA%8C%E6%89%8B%E5%8A%A8%E5%8A%A8%E8%BD%AC%E9%9D%99)

[2022-06-17 03:40] litao-zhx commented on #812
好的

[2022-06-17 05:10] litao-zhx commented on #812
![image](https://user-images.githubusercontent.com/76981650/174229072-e2e7a1ed-0e6e-4556-a103-b94ee40b8fce.png)
尝试了您说的改法，但是报错如上，故尝试将min_subgraph_size从3分别改为了10 ，报错消失，但是初始化仍然耗时

[2022-06-17 05:29] JZZ-NOTE commented on #812
您好，使用 paddle-tensorrt 初始化时间长，是无法避免的。但可以
<img width="719" alt="image" src="https://user-images.githubusercontent.com/75348594/174231334-98ecb540-1aa5-4087-b823-69d46e1bf3be.png">
在该接口中，将 use_static 设置为 true，这样会保存下来序列化文件，再第二次运行时不再初始化。详细的 api 介绍：https://www.paddlepaddle.org.cn/inference/api_reference/python_api_doc/Config/GPUConfig.html#tensorrt

[2022-06-17 05:57] litao-zhx commented on #812
好的，已尝试这种方法， 确实减少了，但是为什么paddle自己提供的模型用tensorrt初始化时间不长，而转换得到的模型用paddle-tensorrt初始化时间却那么长了呢？

[2022-06-17 06:07] JZZ-NOTE commented on #812
目前的理解是 trt 的初始化时间和子图中的算子个数和类型有关。和模型是否是转换得到的无关。是否会有其他因素的影响我再进一步调研后回复您。

[2022-06-17 06:28] litao-zhx commented on #812
好的，麻烦了，感谢解答

[2022-06-19 11:55] llwwrr opened #816 "pb转换成飞桨模型一直在运行就是没结果"
![图片](https://user-images.githubusercontent.com/107793491/174479648-3f0a2d90-0c79-420f-9ad3-9ac8454cb74f.png)

[2022-06-20 02:39] wjj19950828 commented on #816
@llwwrr 目前X2Paddle已经去掉-pt选项，麻烦将X2Paddle以及Paddle版本更新到最新再进行尝试～

另外有两个问题可能需要您描述一下：
1、您具体的业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-06-20 10:51] llwwrr commented on #816
1.学生学习用
2.将TensorFlow模型移植到edgeboard

[2022-06-21 03:26] llwwrr opened #818 "pb文件转Paddlepaddlew文件报错"
ckpt格式转pb格式后，然后用x2paddle转换出现以下问题：

![图片](https://user-images.githubusercontent.com/107793491/174709101-424624cf-21b1-4cad-80fc-affa5f8850c3.png)
询问占位符形状然后自己输入None然后转换第22节点出现以下报错
![图片](https://user-images.githubusercontent.com/107793491/174709356-c6718336-5dd8-4027-83db-316bb4683f24.png)
TypeError: 'NoneType' object is not subscriptable
输入
![图片](https://user-images.githubusercontent.com/107793491/1

[2022-06-21 16:28] wjj19950828 commented on #818
@llwwrr TF模型的Placeholder既然为空的话，是能能在模型中去掉呢？

[2022-06-21 16:28] #816 closed, assigned to wjj19950828

[2022-06-22 01:55] levinzhangyd opened #819 "pytorch转pp模型失败"
pytorch转pp模型，提示算子不支持。是否可以先转onnx,在转pp
pytorch模型来源：https://github.com/cfzd/Ultra-Fast-Lane-Detection

工具：全部为最新版本

报错信息：
INFO 2022-06-22 09:45:43,293 convert.py:333] Now translating model from PyTorch to Paddle.
Traceback (most recent call last):
  File "E:\pythonProject\testLaneDetect\main.py", line 60, in <module>
    pytorch2paddle(module=torch_model,
  File "C:\Users\uidq5147\.conda\envs\paddle_d

[2022-06-22 02:05] levinzhangyd commented on #819
应该是算子不支持，但是有没有其他work around方法？

[2022-06-22 02:50] wjj19950828 commented on #819
@levinzhangyd X2Paddle是1.3.7版本吗，目前```aten::linear```已经支持

另外有两个问题可能需要您描述一下：
1、您具体的业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-06-22 03:51] levinzhangyd commented on #819
1、您具体的业务场景
移动端开发，想把一些成熟的模型用到移动端进行集成
2、为什么有转到Paddle部署的需求呢？
转到paddleLite，是因为目前国内的MNN/NCNN/Paddle_Lite支持比较多一点，并且支持国产嘛。

另外：由于公司网络问题，github不容易登上去，咨询下社区是否有其他路径下的技术支持呢，有的话麻烦帮忙指引下，非常感谢。更新了最新版本的x2paddle,目前来看可以往下走了，谢谢~

[2022-06-22 04:08] levinzhangyd commented on #819
还是无法生成，求指导
Fail to generate inference model! Problem happend while export inference model from python code '***\pytorch_2_pp_out\x2paddle_code.py';

===================Error Information===============
Traceback (most recent call last):
  File "E:\pythonProject\testLaneDetect\main.py", line 62, in <module>
    pytorch2paddle(module=torch_model,
  File "C:\Users\uidq5147\.conda\envs\paddle_dev\lib\s

[2022-06-22 06:06] wjj19950828 commented on #819
@levinzhangyd 麻烦把模型参数、组网、转换脚本整体打包上传到百度云，这边看一下～

[2022-06-23 03:00] levinzhangyd commented on #819
@[wjj19950828](https://github.com/wjj19950828)

链接：https://pan.baidu.com/s/1zmMSJa7TC-Ezg69iC8LOpQ
提取码：1234

链接中的项目代码均来源于https://github.com/cfzd/Ultra-Fast-Lane-Detection
如果任何差异，以git上的版本为准。

转换使用的模型为：culane_18.pth

[2022-06-24 03:50] wjj19950828 commented on #811
@txy00001 您好，问题已经修复，拉取https://github.com/PaddlePaddle/X2Paddle/pull/820

手动安装即可

另外业务场景也需要您描述一下，这边需要记录～

[2022-06-27 08:40] levinzhangyd commented on #819
补充一个点：我看到paddle上有人已经在用这个模型进行预测了。所以大概率是可以转的，但是中间报错，不知道当时社区的那个兄弟怎么处理的。
paddle上对应的Demo:https://aistudio.baidu.com/aistudio/projectdetail/1553836?channelType=0&channel=0

[2022-06-27 10:08] wjj19950828 commented on #819
@levinzhangyd hi，我这边验证了一下，没什么问题

注意版本：torch 1.7.1

然后在[export.py](https://github.com/cfzd/Ultra-Fast-Lane-Detection/blob/master/export.py)加入如下代码

![image](https://user-images.githubusercontent.com/19977378/175917583-593ec526-dfdc-4338-b78e-fe30f7ce3abd.png)

你在试一下～

[2022-06-28 09:50] levinzhangyd commented on #819
重新开了一个虚拟环境：
python=3.8
torch=1.7.1.
转换成paddle成功了，感谢~
但是，这个版本下无法直接pip install paddlelite了······
所以没法一步到位的转换成终端需要的文件，只能在分步骤转了，非常感谢
之前都用的最新版本
python=3.9
torch=1.11

咨询下此类问题的解决思路:
这种这个版本行，最新版本不行的问题，只能每次去试验吗？新手求思路。
是pytorch版本不向下兼容的问题，还是x2paddle无法适配到最新版pytorch的问题，有啥解决这种问题的建议吗？

[2022-06-28 11:25] wjj19950828 commented on #819
@levinzhangyd 不太理解这句话什么意思，为什么这个版本无法安装paddlelite呢

torch版本问题是因为X2Paddle开发都是基于torch 1.6~1.7去开发，所以最新版本的torch可能出现不适配情况～

[2022-06-29 02:07] levinzhangyd commented on #819
大概试验清楚了：
如果使用python=3.9.可以pip直接安装paddlelite,但是无法安装pytorch=1.7.1.版本不兼容
如果使用python=3.8.pip安装paddlelite会提示找不到对应的版本（已经添加清华的源），但是可以安装pytorch=1.7.1.经过测试
1.用之前的转换方法直接pytorch转paddle模型可以
2因为无法安装paddlelite,所以不能一步转换到Lite，必须先转换到paddle模型，加载后使用opt工具在转到paddle-lite需要的nb文件。

x2paddle因为算子支持问题，必须使用代码装最新开发版（1.3.7）

一句话总结：各种版本问题，其实就是兼容性还做的不是很好。非常感谢楼主这一周以来对我的帮助，3q~~~

[2022-06-30 09:02] llwwrr commented on #818
这个占位符，应该不可以删掉，删掉网路就不完整了，我还是怀疑是版本问题，现在还是无法解决。

[2022-06-30 15:09] llwwrr commented on #818
@wjj19950828     TF模型的Placeholder既然为空的话，是能能在模型中去掉呢？

这个占位符，应该不可以删掉，删掉网路就不完整了，因为下面全连接层还有需要一个占位符，我还是怀疑是版本问题，但试过了，现在还是无法解决。

[2022-07-01 12:53] PQ-girl commented on #807
我添加后运行main函数，没有报错，只有警告 DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by
&nbsp;itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review you
r current use, check the release note link for additional information.

[2022-07-08 09:50] xixiaoyao opened #826 "spanBERT onnx转paddle模型报错"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

<img width="1437" alt="image" src="https://user-images.githubusercontent.com/24541791/177965640-7b7c4663-5173-4751-ad33-be8f62677912.png">

首先将pytorch的spanBERT模型转换成onnx模型，这一步没报错，代码如下

[code]

而后用如下命令试图将onnx模型转成paddle格式：
[code]

结果报错：
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/

[2022-07-08 10:30] jiangjiajun commented on #826
Hi, @xixiaoyao 是HuggingFace的模型转换吗，参考下这个文档
https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/toolkits/HuggingFace2paddle.md

需要注意一下版本依赖
- python >= 3.5
- transformers 4.16.0
- PyTorch 1.7.1
- PaddlePaddle 2.3.0
- ONNX 1.9.0

[2022-07-10 09:05] wjj19950828 commented on #826
@xixiaoyao hi，夕小瑶～目前依赖上述版本，Torch2Paddle以及ONNX2Paddle我这边都已走通，这边建议直接从Torch转～

我这边转换代码

[code]

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-07-11 03:14] alexiycv opened #827 "pytorch转模型失败"
The unsupported packages or operators are: [torch.nn.MSELoss].
The unsupported packages or operators are: [torch.nn.Linear_block, torch.nn.functional.normalize].
The unsupported packages or operators are: [torch.is_tensor, torch.ByteStorage.from_buffer].

[2022-07-11 09:36] zhongqinghong opened #828 "caffe模型转paddle"
我是通过pip命令安装的X2paddle转换工具，转换caffe模型遇到以下问题：
1、concat算子转换后维度错误，例如L.Concat(pattern2, pattern2,  concat_param={'concat_dim':3})，转换生成的代码为concat2 = paddle.concat(x=[concat1, concat1], axis=1)，concat维度从3变成了1，导致后续计算错误；
2、返回变量首字母变成大写，导致出现变量未定义的错误，如reshape2 = paddle.reshape(...)  return Reshape2

- 转换模型后用处
使用 Paddle-Lite 做移动端推理
- 应用场景
用于移动端业务下的检测业务
- 版本信息
X2Paddle：1.3.7
来源框架版本caffe:1.0.0
- 您的联系方式(邮箱/微信/电话)
3

[2022-07-12 02:58] wjj19950828 commented on #827
@Bruno-bai 您好，感谢反馈～

看到有相关loss计算，如果是预测的话能否把loss计算去掉呢？

去掉后还有问题的话，麻烦提供一下相关模型以及转换脚本

另外还有两个问题需要描述一下：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-07-12 02:59] wjj19950828 commented on #828
@zhongqinghong 您好，感谢反馈～

麻烦提供一下相关模型以及转换脚本

另外还有个问题需要描述一下：
1、为什么有转到Paddle部署的需求呢？

感谢～

[2022-07-12 03:14] zhongqinghong commented on #828
1.因公司原因，模型不方便提供；
2.转换是直接使用的命令行x2paddle --framework=caffe ......
3.在开展模型部署调研，对比不同的框架，考虑采用paddle_lite的方式，但有两个模型转换都失败。

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年7月12日(周二) 上午10:59
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/X2Paddle] caffe模型转paddle (Issue #828)

@zhongqinghong 您好，感谢反馈～

麻烦提供一下相关模型以及转换脚本

另外还有个问题需要描述一下：
 1、为什么有转到Paddle部署的需求呢？

感谢～

—
Reply to this emai

[2022-07-12 11:12] xixiaoyao commented on #826
非常感谢！我这边也跑通了。不过我发现保存的模型是一个`model.pdparams`文件，这个文件可以拿来热启模型参数，继续训练吗？或者有没有办法改成熟知的参数文件夹的形式，文件夹下面的每个文件是一个tensor，目前我的project里是用这种较老的方式读取模型参数的，而且需要手动编辑一下一些模型参数的参数名。

关于
1. 业务场景：目前为前瞻研究阶段，暂未绑定业务场景
2. 前瞻项目的模型训练框架是paddle写的，目前paddle生态似乎没有spanBERT模型，需要基于paddle复现spanBERT模型热启的效果

[2022-07-12 11:26] xixiaoyao commented on #826
我刚查询了一下API，这样将`model.pdparams`文件转换成静态图的一堆参数小文件，不知是否正确：
[code]

[2022-07-12 11:28] wjj19950828 commented on #826
@xixiaoyao 目前X2Paddle还是以预测模型转换为主，训练还是建议拿Pytorch训练好后，再进行转换，或者使用[PaddleNLP](https://github.com/PaddlePaddle/PaddleNLP)

至于你说的参数文件夹，我理解是Paddle 2.0之前的参数保存形式，这边建议更新到Paddle 2.0以上，会有更多优化策略～

[2022-07-12 11:30] xixiaoyao commented on #826
好的了解，感谢

[2022-07-13 02:24] wjj19950828 commented on #828
@zhongqinghong 建议还是提供一下模型，比如没有训好的checkpoint，这边方便调试

如果实在无法提供模型，建议在生成动态图代码中直接修改，然后参考[文档链接](https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/pytorch2paddle.md#%E6%96%B9%E5%BC%8F%E4%BA%8C%E6%89%8B%E5%8A%A8%E5%8A%A8%E8%BD%AC%E9%9D%99)手动动转静

[2022-07-13 02:58] zhongqinghong commented on #828
我写了一个简化的caffe模型，prototxt文件如下，concat的维度错误和变量返回首字母变大写这两个问题都会出现。
-------------------------------------------------
name:"test_net"

input:"data"
input_dim:1
input_dim:1
input_dim:3
input_dim:3

layer {
  name: "Conv"
  type: "Convolution"
  bottom: "data"
  top: "Convolution1"
  param {
    lr_mult: 1.0
    decay_mult: 1.0
  }
  param {
    lr_mult: 2.0
    decay_mult: 1.0
  }
  convolution_param {

[2022-07-13 03:06] zhongqinghong commented on #828
转换过程中生成的paddle网络结构定义如下：
class test_net(paddle.nn.Layer):
    def __init__(self):
        super(test_net, self).__init__()
        self.conv0 = paddle.nn.Conv2D(in_channels=1, out_channels=64, kernel_size=[3, 3], padding=1)
        self.relu0 = paddle.nn.ReLU()

    def forward(self, data):
        conv = self.conv0(data)
        relu1 = self.relu0(conv)
        concat1 = paddle.concat(x=[relu1, re

[2022-07-13 03:07] zhongqinghong commented on #828
转换过程中自动生成的paddle网络结构如下：
class test_net(paddle.nn.Layer):
    def __init__(self):
        super(test_net, self).__init__()
        self.conv0 = paddle.nn.Conv2D(in_channels=1, out_channels=64, kernel_size=[3, 3], padding=1)
        self.relu0 = paddle.nn.ReLU()

    def forward(self, data):
        conv = self.conv0(data)
        relu1 = self.relu0(conv)
        concat1 = paddle.concat(x=[relu1, re

[2022-07-18 02:31] wjj19950828 commented on #828
@zhongqinghong 仅提供prototxt还是没办法复现错误

有一种解决方案：
1、将caffe concat参数```concat_dim ```改为```axis```

你试试看能否解决

[2022-07-18 07:31] Jialinnnn opened #831 "onnx模型转paddle错误 [operator < conv2d > error]"
## 问题描述

return (isinstance(seq, collections.Sequence) and
In transformed code:

    File "pd_model/x2paddle_code.py", line 441, in forward
        x2paddle_646 = paddle.strided_slice(x=x2paddle_639, axes=[3], starts=x2paddle_1029_cast, ends=x2paddle_643_cast, strides=[1])
        x2paddle_647 = paddle.concat(x=[x2paddle_646, x2paddle_464, x2paddle_604], axis=1)
        x2paddle_1004 = self.conv68

[2022-07-18 13:46] frankxyy opened #832 "onnx 2 paddle 中log"
![image](https://user-images.githubusercontent.com/6971044/179525235-f003cc8f-0851-4560-9f42-d589b3c4d54f.png)
你好，转换过程中出现上面的信息，是否有影响？ 应该怎么选择？

[2022-07-18 13:47] frankxyy commented on #832
![image](https://user-images.githubusercontent.com/6971044/179525418-be98db0f-0e06-4a71-ac15-4d5df53ae832.png)

[2022-07-19 02:32] wjj19950828 commented on #832
@frankxyy 您好，这个代表这个模型的输入是动态shape，在下面输入-1,3,224,224即可

另外还有两个问题需要描述一下：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-07-19 05:10] Jialinnnn commented on #831
你好，请问是由于什么原因报错的呢？

[2022-07-19 05:14] qqj1130247885 commented on #831
你好，具体问题我们正在修改，解决之后会给你答复。
另外，方便问一下你是企业用户吗？具体业务是什么？

[2022-07-19 05:16] Jialinnnn commented on #831
不是的，是要压缩后部署到web端上

[2022-07-19 12:46] frankxyy commented on #832
你好，我是想用paddle serving 部署 pytorch导出的onnx模型哈  请问这样的使用方式是正确的吗？

[2022-07-19 16:15] frankxyy commented on #832
![image](https://user-images.githubusercontent.com/6971044/179798249-12a0d1cb-202f-41bb-925f-7f28f609b452.png)
接上，onnx转pd模型，serving后发现response和request相同，请问什么原因？

serving prototxt如下：
![image](https://user-images.githubusercontent.com/6971044/179799254-79c6dd6c-0453-4b7a-b257-39cc48e33733.png)

[2022-07-19 16:29] wjj19950828 commented on #832
@frankxyy 目前模型是否已经转换成功了呢，上述方式是正确的，输入相关输入的shape即可

建议先验证下paddle和onnx模型在相同输入下结果是否相同

若相同，可去paddle servering issue提问～

[2022-07-20 02:37] zzzzjx opened #834 "X2Paddle通用性"
请问X2Paddle一键转换是只支持文档列出来的预测模型和训练项目吗，如果我要把列表外的模型项目迁移过来，可以吗

[2022-07-20 03:58] wjj19950828 commented on #834
@zzzzjx 您好，X2Paddle支持模型不仅是列表中的项目哈，可以先尝试，然后再进行反馈～

ONNX：
[code]
PyTorch：参考[文档](https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/pytorch2paddle.md)

[2022-07-22 02:10] frankxyy opened #837 "torch转paddle trace模式，只能支持batchsize为1吗"
![image](https://user-images.githubusercontent.com/6971044/180347507-9082e65f-b058-4be4-858a-5c8476cf7045.png)
rt

[2022-07-22 03:46] wjj19950828 commented on #837
@frankxyy 不一定哈，你可以指定一个具体数值，但trace模式仅支持静态shape，动态shape可参考[文档](https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/pytorch2paddle.md#%E5%8A%A8%E6%80%81-shape-%E5%AF%BC%E5%87%BA)

[2022-07-23 01:13] HaoLiuHust opened #839 "onnx转paddle, reshape层维度错误"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

- 错误信息
pytorch转onnx（batchsize=1），然后通过x2paddle转paddle后，使用paddleSlim量化时，出现维度不匹配错误，经定位是由于转paddle后
reshape层的输出维度是[1, -1] ，导致batch>1时就出现了维度不匹配错误。手动改成[-1, channel]后就正常了
- 错误截图

## 具体信息

- 转换模型后用处
    - [ ] 使用 Paddle 框架/ PaddleInference 推理预测
    - [x] 使用 Paddle-Lite 做移动端推理
    - [ ] 转换预训练参数，再使用 Paddle 进行模型开发
- 模型来源
Y

[2022-07-23 03:58] yangshurong opened #840 "ONNX转换到paddle报错"
## 问题描述
![image](https://user-images.githubusercontent.com/73787862/180589601-af90e4b5-a678-4d73-82e9-8d6e16ad4410.png)

## 具体信息

- 转换模型后用处
   - [x] 转换预训练参数，再使用 Paddle 进行模型开发
- 模型来源
YOLOX：https://github.com/Megvii-BaseDetection/YOLOX
- 应用场景
用于移动端业务下的检测业务
- 版本信息
PaddlePaddle =>2.2.2
X2Paddle => 1.3.8
来源框架版本(PyTorch/TF/ONNX/Caffe) => pytorch转onnx后的onnx
- 您的联系方式(邮箱/微信/电话)
15066146083（微信电话同号）

[2022-07-23 12:26] peteli25 opened #841 "NameError: name 'x2paddle_1672' is not defined"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

  File "pd_model\x2paddle_code.py", line 56, in forward
                x2paddle_onnx__Mul_377 = paddle.subtract(x=x2paddle_onnx__Sub_375, y=x2paddle_onnx__Sub_376)
                x2paddle_tensor = paddle.multiply(x=x2paddle_onnx__Mul_377, y=x2paddle_onnx__Mul_378)
                return x2paddle_1672
[code]

[2022-07-23 16:00] wjj19950828 commented on #840
@yangshurong 感谢反馈，麻烦提供一下ONNX模型～

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

[2022-07-23 16:04] wjj19950828 commented on #839
@HaoLiuHust 如果需要动态shape（BS=-1），麻烦在导出ONNX是将BS设置为-1，而非1，动态shape导出ONNX[参考文档](https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/pytorch2paddle.md#%E6%96%B9%E5%BC%8F%E4%B8%80pytorch-onnx-paddle)

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

[2022-07-23 16:05] wjj19950828 commented on #841
@dddlli 感谢反馈，麻烦将X2Paddle更新到最新版本(1.3.8)，若仍有问题，麻烦提供一下ONNX模型

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-07-25 01:19] HaoLiuHust commented on #839
使用Paddle-lite部署，所以需要转到paddle然后使用PaddleSlim量化。首先通过x2paddle转成了paddle。转换出来后再去量化，然后就报了维度不匹配的错误

[2022-07-25 02:26] qqj1130247885 commented on #831
你好，有真实的输入输出吗，可以提供一下吗？我们测试一下精度。

[2022-07-25 02:36] wjj19950828 commented on #839
@HaoLiuHust 因为ONNX和Paddle的输入是对应的，如果ONNX的bs为1，那么对应Paddle的输入必须要求bs为1，可以导出动态shape的ONNX，然后再进行转换～

[2022-07-25 02:38] Jialinnnn commented on #831
链接：https://pan.baidu.com/s/1KAUvLkaaBpt7d9TyvrGPJQ?pwd=asbd&nbsp;
提取码：asbd

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/X2Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年7月25日(星

[2022-07-25 03:07] qqj1130247885 commented on #831
你好，安装一下这个https://github.com/PaddlePaddle/X2Paddle/pull/842，然后你在你那边测试一下看看可不可行。因为我们需要与处理之后的数据，这个MP4文件现在测试不了。另外需要一下你的repo的链接。

[2022-07-25 03:10] qqj1130247885 commented on #831
安装这个[https://github.com/PaddlePaddle/X2Paddle/pull/842](url)，
然后在你那边测试一下看看可不可行。因为我们需要与处理之后的数据，.mp4这个数据用不了。
另外就是需要一下你那边的repo链接。

[2022-07-25 03:52] #839 closed, assigned to wjj19950828

[2022-07-25 03:55] HaoLiuHust commented on #839
明白，问题已经解决了。有个地方会有点误导：
![image](https://user-images.githubusercontent.com/7233091/180695688-b063fada-e713-46ec-94a6-eb7d32fc165a.png)
如果是一个batch=1的这么转，reshape之后的层的batch数是错误的，前面会变成batch=-1. 如果把reshape层改下就好了

[2022-07-25 05:26] Jialinnnn commented on #831
还是不可行，安装不了

[2022-07-25 05:27] qqj1130247885 commented on #831
Repo发我一下。预处理后的输入输出也发一下。

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Jialinnnn ***@***.***&gt;
发送时间: 2022年7月25日 13:26
收件人: PaddlePaddle/X2Paddle ***@***.***&gt;
抄送: qqj1130247885 ***@***.***&gt;, Assign ***@***.***&gt;
主题: Re: [PaddlePaddle/X2Paddle] onnx模型转paddle错误 [operator < conv2d &gt; error] (Issue #831)

还是不可行

—
Reply to this email directly, view it on GitHub, or unsubscribe

[2022-07-25 05:31] Jialinnnn commented on #831
https://github.com/PeterL1n/RobustVideoMatting

这个ONNX模型是我根据这个github里的官方模型转的，只不过转成是静态ONNX了

[2022-07-25 05:48] qqj1130247885 commented on #831
你试一下这个过程，把原模型使用onnxsim转成sim版本，然后再用刚才安装的PR版本的x2paddle转一下。我这边这样操作是没有问题的，你试试

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Jialinnnn ***@***.***&gt;
发送时间: 2022年7月25日 13:32
收件人: PaddlePaddle/X2Paddle ***@***.***&gt;
抄送: qqj1130247885 ***@***.***&gt;, Assign ***@***.***&gt;
主题: Re: [PaddlePaddle/X2Paddle] onnx模型转paddle错误 [operator < conv2d &gt; error] (Issue #831)

https://github.com/Pet

[2022-07-25 05:50] Jialinnnn commented on #831
好的我试试，谢谢

[2022-07-25 13:38] yangshurong opened #845 "ONNX转paddle新的报错"
上次我发的报错是因为参数是cpu模式下的，这次的我在cuda模式下，将pytorch模型转换成了onnx然后再尝试使用x2paddle时产生了新的报错
## 问题描述
![image](https://user-images.githubusercontent.com/73787862/180789844-d026d581-c5de-4b5d-b991-36538f0a74da.png)

- 错误信息
- 错误截图

## TENSOR_TYPE_TO_NP_TYPE[item.type.tensor_type.elem_type],

- 转换模型后用处
    - [x] 转换预训练参数，再使用 Paddle 进行模型开发
- 模型来源
链接：https://pan.baidu.com/s/1YGOvAN89S0nSwSNozGRATg?pwd=ijxt
提取码：ijxt
- 应用场

[2022-07-26 02:20] wjj19950828 commented on #845
@yangshurong  麻烦用netron看一下onnx具体输入的shape，然后输入准确的shape而不是1再试试

另外，X2Paddle还是以推理模型转换为主，预训练模型建议训练好之后再进行转换

若要进行论文复现，需要预训练模型，建议将组网与Torch对齐后，直接将参数映射过来～

[2022-07-27 10:55] DavidQiuChao opened #848 "ONNX 多输出转换失败，其中一个输出正常，其他几个出现问题"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

- 错误信息
- 错误截图

## 具体信息

- 转换模型后用处
    - [ ] 使用 Paddle 框架/ PaddleInference 推理预测
    - [ ] 使用 Paddle-Lite 做移动端推理
    - [ ] 转换预训练参数，再使用 Paddle 进行模型开发
- 模型来源
YOLOX：https://github.com/Megvii-BaseDetection/YOLOX
- 应用场景
用于移动端业务下的检测业务
- 版本信息
PaddlePaddle => :grey_question:
X2Paddle => :grey_question:
来源框架版本(PyTorch/TF

[2022-07-28 03:43] zhly0 opened #849 "关于tensorflow 1.x中双线性插值，中align_mode，及half_pixel_center同时为false的情况，转换是正确的吗"
关于tensorflow 1.x中双线性插值，中align_mode，及half_pixel_center同时为false的情况，能够转换，并且转换是正确的吗，同理，在paddle通过设定upsample的参数，能够实现tensorflow 1.x中align_mode，以及half_pixel_center同时为false的情形吗

[2022-07-28 03:54] BgLoveXixi opened #850 "pytorch的swin模型转paddle出现问题"
在转pytroch训练的swin-tiny模型到paddle时，出现报错：
![QQ图片20220728164154](https://user-images.githubusercontent.com/37319074/181462063-52782959-5f68-489f-b218-550c7aa01f10.png)

所训练的swin模型是：swin_tiny_patch4_window7_224
转模型输入的尺寸是：
[code]
模型训练尺寸和输入尺寸是一致的，请问为什么会报这种错呢？

[2022-07-31 16:23] wjj19950828 commented on #848
@DavidQiuChao 感谢反馈，其他几个出现问题是什么意思呢，是有diff吗，麻烦提供一下ONNX模型

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-07-31 16:26] wjj19950828 commented on #849
@zhly0 您好，可以先尝试下转换是否成功，成功的话用相同输入对比TF以及Paddle结果是否一样

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-07-31 16:28] wjj19950828 commented on #850
@BgLoveXixi 您好，感谢反馈，看样子像是shap没有对上导致，麻烦提供一下组网代码、参数以及转换脚本吧

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-08-01 03:30] BgLoveXixi commented on #850
@wjj19950828
应用需求是想将一个图像分类的模型转到手机端部署，使用paddlelite的框架

以下是转换代码：
[code]

[2022-08-01 07:20] wjj19950828 commented on #850
@BgLoveXixi 麻烦把组网代码、参数以及上面转换脚本一起打包，上传到百度云，发我一份吧

[2022-08-02 03:42] BgLoveXixi commented on #850
@wjj19950828 已经将相关代码发送到您的邮箱了，麻烦帮忙看一下，谢谢！

[2022-08-03 02:53] frobby123 opened #858 "运行示例代码报错"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/pytorch2paddle.md
运行上述链接中，trace模式的示例代码报错，请问是什么原因？
- 错误信息
- TypeError: forward() missing 3 required positional arguments: 'x3', 'x9', and 'x14'
- 错误截图
![GNYP6%@8BW}}1V KXP N)TA](https://user-images.githubusercontent.com/22313742

[2022-08-03 06:58] zhly0 commented on #849
@wjj19950828 你好，因为硬件只支持tflite格式，所以需要将paddle模型转换成tflite，另外，官网中要求tf的版本是1.14，如果使用不同的版本，会导致转换结果不一致吗

[2022-08-04 02:25] ghost opened #861 "tensorflow模型转换错误"
![test](https://user-images.githubusercontent.com/96034515/182749510-c4efd61e-1976-470b-8bd3-f244b7a9b3c9.png)

请问转换tensorflow模型遇到如下错误，是因为x2paddle的模型问题吗？不支持item是什么意思呢？

[2022-08-08 02:22] wjj19950828 commented on #861
@pfqiu9 具体完整报错是什么呢，看截图像是符号问题，并非X2Paddle原因

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-08-08 02:24] wjj19950828 commented on #858
@frobby123 看截图是不是用法问题呢，x2paddle_code.py的动态图代码生成了吗

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-08-08 02:37] ghost commented on #861
@wjj19950828  您好，具体报错如下，麻烦您了
![image](https://user-images.githubusercontent.com/96034515/183326898-ea0c9097-4d7b-4099-b18a-08f9d5d82629.png)
1、没有具体业务场景，学生阶段学习中，想尝试用paddle serving去部署模型。
2、一直学的paddle去构建模型，最近查论文，论文中用的tensorflow，想转换成paddle去部署尝试一下

[2022-08-08 02:50] wjj19950828 commented on #861
具体paddle是什么版本呢，看起来像是protobuf冲突问题

[2022-08-08 02:56] ghost commented on #861
@wjj19950828 paddle是1.8.0版本，tensorflow是1.14版本，x2paddle是22.1.2，整个流程跟aistudio公开项目“手把手教你将Tensorflow模型转换为PaddlePaddle模型”一致

[2022-08-08 02:59] pfqiu9 commented on #861
@wjj19950828 paddle是1.8.0版本，tensorflow是1.14版本，x2paddle是22.1.2，整个流程跟aistudio公开项目“手把手教你将Tensorflow模型转换为PaddlePaddle模型”一致

[2022-08-09 07:57] alexiycv opened #866 "caffe模型转paddle失败"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
caffe模型，想要转成paddle模型，然后部署到移动端或国产服务器上，但是用x2paddle转模型失败了
 -错误信息
UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 9: invalid start byte

- 错误截图
![image](https://user-images.githubusercontent.com/20271020/183595534-ec89d690-21d4-492f-abfa-43a5eab209e2.png)

## 具体信息

- 转换模型后用处
    - [√ ] 使用 Paddl

[2022-08-10 11:47] wjj19950828 commented on #866
@Bruno-bai 看起来像是protobuf版本问题，建议先尝试下更新到X2Paddle最新版本

[2022-08-12 08:35] sherwin-silin-chen opened #874 "tensor flow 转paddle 缺少ResizeBicubic op"
## 问题描述

- Exception: Model is not supported yet
-
![image](https://user-images.githubusercontent.com/30338877/184316255-8cfe2007-ac54-4fc5-997a-839e49fe6d55.png)

## 具体信息

- 转换模型后用处
    转换预训练参数，再使用 Paddle 进行模型开发
- 模型来源
BigEarthNet ：https://git.tu-berlin.de/rsim/BigEarthNet-S2_43-classes_models
- 应用场景
PaddleRS-PaddleSeg
- 版本信息
PaddlePaddle => :2.3.1
X2Paddle => : 1.3.8
Tensorflow 1.14.0
- 您的联系方式(邮

[2022-08-16 09:51] MrDong415 commented on #807
您好，请问您这个问题解决了吗？如果解决的话是怎么解决的？我按照上述方法尝试，还是报相同的错误，非常期待您的回复，谢谢

[2022-08-17 02:34] wjj19950828 commented on #874
@sherwincn 感谢反馈，如果想转换用于训练，建议先用TF训练，在用X2Paddle转

[2022-08-17 09:49] wj920291253 opened #877 "yolov7 onnx2paddle :convert failed node:onnx__Concat_396, op_type is Resize"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
使用pt转onnx后，onnx2paddle出错，x2paddle不支持Resize算子吗？
- 错误信息
- 错误截图

![image](https://user-images.githubusercontent.com/49974432/185089161-201d88d2-e4cc-4044-bc31-610615afe2eb.png)

## 具体信息

- 转换模型后用处
    -使用 Paddle 框架/ PaddleInference 推理预测

- 模型来源
YOLO7：

[2022-08-18 02:26] wjj19950828 commented on #877
@wj920291253 麻烦提供一下ONNX模型吧

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-08-18 09:06] wj920291253 commented on #877
@wjj19950828 已经解决了，从.pt转换为.onnx时 optset version设为9 就能完成转换了

[2022-08-18 10:48] #877 closed, assigned to wjj19950828

[2022-08-21 13:42] AndSonder opened #878 "1 OPs are not supported yet : If"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

- 错误信息

INFO:root:paddle.__version__ = 2.2.2t.
/Users/keter/opt/anaconda3/lib/python3.8/site-packages/onnx/mapping.py:27: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Depreca

[2022-08-22 02:28] wjj19950828 commented on #878
@AndSonder ```If```这种控制流OP目前并不支持，再check一下是否后处理之类的逻辑放到了forward函数里面

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-08-22 11:09] Genlk opened #881 "onnx 转换成paddle，生成的x2paddle_code.py 文件里面缺少对一个参数的定义"
在shell里面调用x2paddle从onnx 生产paddle模型，报错 ，提示x2paddle_code.py当中的一个参数，没有定义

怎么手动给这个参数赋值？
![image](https://user-images.githubusercontent.com/24912927/185907247-45ee2d35-11cd-4fb1-a5e3-83287c21b949.png)

[2022-08-22 11:11] Genlk commented on #881
手动更新x2paddle_code.py 文件，修改里面的 x2paddle_onnx__Expand_347。再次调用X2Paddle时会初始化x2paddle_code.py 文件

[2022-08-22 11:36] Genlk commented on #881
使用pytorch2paddle 也有类似的情况， 代码如下
model = torchvision.models.resnet50()
model.cuda()
model.eval()
dummy_input = torch.randn(1,3,916, 916, requires_grad=False,device="cuda")
pytorch2paddle(
            module=model,
            save_dir='./paddle_model/1',
            input_examples=[dummy_input]
        )

[2022-08-23 02:24] wjj19950828 commented on #881
@Genlk 麻烦提供一下onnx模型

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-08-23 02:30] wjj19950828 commented on #881
@Genlk torch2paddle，关于上面脚本我这边验证没有问题，你那边是什么环境呢，torch、paddle版本以及具体报错是什么呢

[2022-08-23 02:39] Genlk commented on #881
--------------------------
1.onnx模型文件如下，简化版本
[test_onnx.zip](https://github.com/PaddlePaddle/X2Paddle/files/9398858/test_onnx.zip)

--------------------------
2.业务场景与需求
通过转换成paddle之后，部署到芯原的板子上

--------------------------
3.torch == 1.12.1+cu116
  paddlepaddle == 2.3.1
  x2paddle == 1.3.8

--------------------------
4.具体报错就是问题描述里面的那一张贴图

[2022-08-23 05:40] Genlk commented on #881
FYI @wjj19950828

[2022-08-23 06:44] gyb4git opened #882 "转换conformer模型识别"
## 问题描述
- 错误信息

D:\project2022\paddle_server\conformer_paddle>x2paddle --framework=onnx --model=model.average.finetune.3.ep.onnx --save_dir=conformer_pd_model
C:\Users\user\AppData\Roaming\Python\Python39\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp, sys, os
INFO 20

[2022-08-23 08:03] shihuiyu opened #883 "Fail to generate inference model！No Error Information show"
Nodes converted.
onnx_layernorm_fuse_pass done!
onnx_gelu_fuse_pass done!
replace_div_to_scale_pass done!
Exporting inference model from python code ('/home/shihuiyu/yolov7-main/yolov7-tiny_infer/onnx2paddle_0/x2paddle_code.py')...

Fail to generate inference model! Problem happend while export inference model from python code '/home/shihuiyu/yolov7-main/yolov7-tiny_infer/onnx2paddle_0/x2paddle_co

[2022-08-23 08:10] shihuiyu commented on #883
为了排除是我使用的onnx模型的问题，使用了你们提供的yolov7-tiny.onnx也是显示上面的报错

[2022-08-24 11:04] wjj19950828 commented on #882
@gyb4git 麻烦提供一下onnx模型吧

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-08-24 11:05] wjj19950828 commented on #883
@shihuiyu 麻烦提供一下onnx模型以及具体报错

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-08-24 12:14] shihuiyu commented on #883
就是在你们yolo自动压缩工程里下载的yolov7-tiny.onnx模型啊，具体报错就是一楼写的那样。
业务场景就是做目标识别，但是模型太大了想压缩一下

[2022-08-29 02:42] wjj19950828 commented on #883
@shihuiyu 是这个页面[PaddleSlim](https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/post_training_quantization/pytorch_yolo_series)下载的ONNX模型吗，我这边验证没什么问题

具体版本：
ONNX:1.10.0
X2Paddle:1.3.8
Paddle:develop

麻烦对齐版本后再试一下

[2022-08-29 03:29] wjj19950828 commented on #881
@Genlk 麻烦确认下提供ONNX模型的正确性

我拿ONNXRuntime跑ONNX模型会报如下错误
![image](https://user-images.githubusercontent.com/19977378/187117303-def6c6c5-c7ab-453f-a01c-4bba788d78e9.png)

ONNX模型来源是哪个repo呢，在转换前先确认下模型导出ONNX模型能否用ORT跑通

[2022-08-30 02:02] shihuiyu commented on #883
在这个页面下载的模型https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression/pytorch_yolo_series

我的版本：
onnx：1.10.2
x2paddle：1.3.8
paddle一开始是develop版本，后来出现上面说的错误，改为了2.3.2，仍旧出现上面说的错误，所以才来留言

[2022-08-30 08:55] gyb4git commented on #882
1、具体业务场景
进行语音识别
2、为什么有转到Paddle部署的需求呢？
有客户合作项目用到kunlun XPU，需要将onnx模型转换到paddle下推理，因为目前训练环境是pytorch
conformer模型地址
链接: https://pan.baidu.com/s/189UjlUTtGi_JWkmGx5YP3A 提取码: iztu

[2022-08-31 02:05] nissansz opened #884 "onnx ocr 推理怎么显示多个备选结果？微信nlanguage"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:
onnx ocr 推理怎么显示多个备选结果？微信nlanguage
## 问题描述

- 错误信息
- 错误截图

## 具体信息

- 转换模型后用处
    - [ ] 使用 Paddle 框架/ PaddleInference 推理预测
    - [ ] 使用 Paddle-Lite 做移动端推理
    - [ ] 转换预训练参数，再使用 Paddle 进行模型开发
- 模型来源
YOLOX：https://github.com/Megvii-BaseDetection/YOLOX
- 应用场景
用于移动端业务下的检测业务
- 版本信息
PaddlePaddle => :grey_question:
X2Paddle =>

[2022-08-31 08:32] fengyanWang opened #885 "onnx如何导出fp16的lite模型？"
如题：如何通过x2paddle工具一键式导出fp16格式的paddle lite模型，如果不行，怎么分布导出呢？

[2022-08-31 10:06] #885 closed, assigned to nobody

[2022-09-01 02:11] SJJ-dot opened #886 "yolo模型转onnx转paddle，模型转换成功预测失败：ValueError: (InvalidArgument) Python object is not type of St10shared_ptrIN6paddle10imperative7VarBaseEE"
## yolo模型转onnx转paddle，模型转换成功预测失败：ValueError: (InvalidArgument) Python object is not type of St10shared_ptrIN6paddle10imperative7VarBaseEE

[code]

## 具体信息

- 转换模型后用处
    - [ ] 使用 Paddle 框架/ PaddleInference 推理预测
    - [ ] 使用 Paddle-Lite 做移动端推理
- 模型来源
[YOLOX：https://github.com/Megvii-BaseDetection/YOLOX](https://github.com/bubbliiiing/yolox-pytorch)
- 应用场景
服务端国产芯片操作系统
- 版本信息
PaddlePaddle => 2.2.2 gp

[2022-09-01 02:34] wjj19950828 commented on #884
@nissansz 是ocr的onnx模型转paddle出现问题了吗，具体报错是什么呢

[2022-09-01 02:39] wjj19950828 commented on #886
@SJJ-dot 麻烦提供一下onnx模型吧，这边看一下

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-09-01 02:42] nissansz commented on #884
不是。我想同时展示多个可能的推理结果

[2022-09-02 02:00] shituo123456 opened #887 "ImportError: cannot import name 'ConverterCheck' from 'x2paddle.utils'"
ImportError: cannot import name 'ConverterCheck' from 'x2paddle.utils'

[2022-09-02 02:21] #887 closed, assigned to nobody

[2022-09-02 03:11] shituo123456 opened #888 "auto_compression/pytorch_yolo_series 中 对yolov5s.onnx进行蒸馏错误"
按照官方配置好环境后，运行报错：
![image](https://user-images.githubusercontent.com/64970397/188051340-35e051fb-207a-4640-b584-5b56b0465066.png)
按照https://github.com/PaddlePaddle/X2Paddle/issues/494 的方法 更新x2paddle后，又报下面的错：
![image](https://user-images.githubusercontent.com/64970397/188051444-07c1121b-793b-4244-b33c-a05ca73c7049.png)

PaddlePaddle = 2.3.2
x2paddle 是develop分支代码git后安装

更新onnx 版本和 x2paddle后又报这个错
![im

[2022-09-06 02:38] wjj19950828 commented on #888
@shituo123456  麻烦提供一下ONNX模型，看起来像是python路径问题

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-09-06 02:46] wjj19950828 commented on #883
@shihuiyu 我在你上面页面下载的[yolov7.onnx](https://paddle-slim-models.bj.bcebos.com/act/yolov7-tiny.onnx)验证没什么问题，把你出问题的onnx模型上传一下

[2022-09-08 01:17] shituo123456 commented on #888
1、onnx就是官方的yolov5s导出的。我是先进行实验。
2、具体业务场景：要在边缘端进行部署
3、看官方文档  使用paddle作蒸馏和剪枝较为方便，所以尝试。

[2022-09-09 02:35] gyr-kdgc opened #890 "torch转paddle时报错：'PaddleGraph' object has no attribute 'script'"
## 问题描述
运行的代码如下（注释部分为torch.save(model.state_dict(), "model_torch16.pt")格式保存的模型，可以转换成功，但是现在想转换torch的script model，转换失败了）：

import torch
from x2paddle.convert import pytorch2paddle
from model import resnet

#trained_model = resnet.resnet50(num_classes=2, include_top=True)
#trained_model.load_state_dict(torch.load("model_torch16.pt"))
trained_model=torch.jit.load("model_script_torch16.pt")
tensor_shap

[2022-09-13 06:07] wjj19950828 commented on #890
@gyr-kdgc 麻烦更新到最新版本X2Paddle试试(1.3.8)

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-09-13 06:09] wjj19950828 commented on #888
@shituo123456 看上面报错，使用的X2Paddle还是1.2.3版本，在安装最新版本前记得pip uninstall x2paddle一下

[2022-09-13 08:17] Sweet-BeanOnE opened #891 "prim::PythonOp不支持"
- 问题描述
prim::PythonOp不支持

- 错误信息
========= 1 OPs are not supported yet ===========
========== prim::PythonOp ============
Traceback (most recent call last):
  File "online_model.py", line 169, in <module>
    pytorch2paddle(module=model,
  File "/root/miniconda3/lib/python3.8/site-packages/x2paddle/convert.py", line 366, in pytorch2paddle
    mapper = PyTorchOpMapper(model)
  File "/root/miniconda

[2022-09-14 04:59] dldragonking opened #892 "【不支持的操作】Pytorch项目用X2Paddle转换出错"
我使用X2Paddle转换Pytorch项目，出现下面错误提示：
![1663131449797](https://user-images.githubusercontent.com/106940935/190063159-b7203c74-68e9-4600-8953-d00fe1e6233d.png)
torch.cuda.manual_seed_all, torch.where, torch.utils.data.TensorDataset这几个操作不支持转换
但我查过API，支持torch.where，那为什么我的项目会出错呢？

[2022-09-14 07:22] huyuanchao opened #893 "x2paddle threw an exception"
用自己的数据集进行了训练，然后导出onnx ，用导出的onnx生成calibrate_table和 quant_model时，报下面的问题。（但是用示例onnx就不报错。）

--------------------------------
/opt/conda/lib/python3.8/site-packages/onnx/mapping.py:27: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more det

[2022-09-14 14:39] chqf518 opened #894 "pytorch训练的模型转为onnx，再转为paddle，都转成功了，但测试出问题了。"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
pytorch训练的模型转为onnx，再转为paddle，都转成功了。
![image](https://user-images.githubusercontent.com/113532454/190183783-8412d070-9dfc-4586-83dd-0dd35d8f1bd6.png)

但在测试时，报错了。
用paddle2.3.1+yolov3训练的模型，用同样的方法测试是成功的。

转换模型的命令用的：x2paddle --framework=onnx --model=yolov7_v1.onnx --save_dir=model_yolov7
测试用的命令是（main方法是c++写的工控机上发布的测

[2022-09-16 06:33] sunchaohhh opened #895 "第三方模型转paddle，只生成了.pdiparams文件，没有.pdmodel文件"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

- 错误信息
- 错误截图

## 具体信息

- 转换模型后用处
    - [ ] 使用 Paddle 框架/ PaddleInference 推理预测
    - [ ] 使用 Paddle-Lite 做移动端推理
    - [ ] 转换预训练参数，再使用 Paddle 进行模型开发
- 模型来源
YOLOX：https://github.com/Megvii-BaseDetection/YOLOX
- 应用场景
用于移动端业务下的检测业务
- 版本信息
PaddlePaddle => :grey_question:
X2Paddle => :grey_question:
来源框架版本(PyTorch/TF

[2022-09-16 06:56] wjj19950828 commented on #895
@sunchaohhh 如果是torch预测模型转Paddle，参考这个文档哈：https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/pytorch2paddle.md

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-09-16 07:31] sunchaohhh commented on #895
不好意思，第一次提交时卡了没有编辑上
1.模型来源：hugging face:https://huggingface.co/Helsinki-NLP/opus-mt-en-zh
2.使用场景：机器翻译
3. 需求背景：因为部署这个模型后预测很慢，所以就想将他转换成paddle模型，然后可以用一些优化加速的手段
-- 我属于还没入门的那种，走一步都很艰难
4.执行的命令：x2paddle --convert_torch_project   --project_dir=modelDir  --save_dir=test   --pretrain_model=pytorch_model.pth
这个.pth文件，是从上面的hugging face 链接中下载的.bin文件重命名得到的
5.执行结果：如标题所述，没有报错

[2022-09-17 08:06] wjj19950828 opened #896 "最新yolov5转换缺少aten::clone算子"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

- 错误信息
- 错误截图

## 具体信息

- 转换模型后用处
    - [x] 使用 Paddle 框架/ PaddleInference 推理预测
    - [ ] 使用 Paddle-Lite 做移动端推理
    - [ ] 转换预训练参数，再使用 Paddle 进行模型开发
- 模型来源
YOLOv5：https://github.com/ultralytics/yolov5

same as https://github.com/PaddlePaddle/Paddle/issues/46146

[2022-09-17 10:03] glenn-jocher commented on #896
YOLOv5 export fails due to unsupported torch Tensor `.clone()` operation. Error first reported in https://github.com/ultralytics/yolov5/issues/9439

[code]

<img width="1154" alt="Screenshot 2022-09-16 at 13 36 39" src="https://user-images.githubusercontent.com/26833433/190630368-5a3723ed-74cf-4483-ac12-15a632ae25e3.png">

### Code to reproduce
[code]

[2022-09-20 02:41] Genlk opened #897 "模型转换结果x2paddle_code.py 算子定义命名重复，导致模型无法正常加载"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
卷积与反卷积都命名为self.conv0,导致后续加载出错。
- 错误信息
![image](https://user-images.githubusercontent.com/24912927/191155145-9e5a65ec-2323-4e68-a6fd-338f70fb6eb5.png)
因为命名重复，导致算子的权重加载与算子的维度不一致，有报错
- 错误截图
![image](https://user-images.githubusercontent.com/24912927/191154961-ee030b71-9227-488c-a013-9d36c89e133e.png)

## 具体信息

- 转

[2022-09-20 06:09] wjj19950828 commented on #897
@Genlk 麻烦提供一下模型参数，这边看一下问题能否复现

[2022-09-20 06:13] wjj19950828 commented on #891
@Sweet-BeanOnE 麻烦提供一下转换脚本以及模型参数，这边复现一下，也可以尝试一下先导出ONNX，再从ONNX转Paddle

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-09-20 06:15] wjj19950828 commented on #892
@dldragonking 建议先拿Torch训，训完之后再通过X2Paddle转训练好的pth模型

[2022-09-20 06:17] wjj19950828 commented on #893
@huyuanchao 目前X2Paddle还不支持量化ONNX模型转换，建议可以先转ONNX模型，再用[PaddleSlim](https://github.com/PaddlePaddle/PaddleSlim)进行量化

[2022-09-20 06:22] wjj19950828 commented on #894
@chqf518 可以先验证下相同输入下，ONNX以及转换后Paddle模型输出是否一致，Paddle可以先用paddle.jit.load(inference_model_path)加载，随机输入一个Tensor，看看是否报错

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-09-20 06:25] wjj19950828 commented on #895
@sunchaohhh HF模型参考下这个文档，看能否转换～：https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/toolkits/HuggingFace2paddle.md

[2022-09-20 06:30] Genlk commented on #897
trans_to_paddle()
这个方法当中不给参数，直接调用，可以生成初始换参数

![image](https://user-images.githubusercontent.com/24912927/191183620-0bd81f73-1996-4349-8f0d-12097a5940e4.png)
@wjj19950828

[2022-09-20 06:58] Genlk commented on #897
https://github.com/PaddlePaddle/X2Paddle/blob/develop/x2paddle/core/program.py

这个文件里面 263行，生成x2paddle_code.py
@wjj19950828

[2022-09-22 13:05] yinwangsong opened #898 "tensorflow模型转换为paddlepaddle，发生读取错误"
## 问题描述

- 错误信息
使用命令
[code]
进行转换时，发生了以下错误
[code]

- 错误截图
<img width="1680" alt="Screen Shot 2022-09-22 at 8 51 31 PM" src="https://user-images.githubusercontent.com/48912667/191751763-dd07efe0-d945-4839-a7a5-4070070a7dfa.png">

## 具体信息

- 转换模型后用处
    使用 Paddle-Lite 做移动端推理
- 模型来源
    BERT：https://tfhub.dev/tensorflow/small_bert/bert_en_uncased_L-2_H-128_A-2
- 应用场景
    用于移动端业务下的检测业务
- 版本信息
    Paddl

[2022-09-26 05:59] Ma-Liang-hub opened #900 "ONNX2paddle"
目前转换还不支持ONNX的RandomNormalLike算子，可以考虑增加一下。该算子我是在转换腾讯开源的GFPGAN上遇到的，其模型GFPGANv1.3.onnx[可通过运行该地址下的程序获得：https://github.com/axinc-ai/ailia-models/tree/master/generative_adversarial_networks/gfpgan]，模型其中有几层是RandomNormalLike算子

[2022-09-27 03:17] wjj19950828 commented on #896
fixed in https://github.com/ultralytics/yolov5/pull/9458

[2022-09-27 03:17] #896 closed, assigned to wjj19950828

[2022-09-27 03:56] wjj19950828 commented on #898
@yinwangsong 可以尝试下先导出ONNX，再从ONNX2Paddle

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-09-27 03:59] wjj19950828 commented on #900
@Ma-Liang-hub 麻烦直接提供一下ONNX模型吧

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-10-04 06:21] Afaliya0-0Liong opened #901 "x2paddle threw an exception"
按照步骤把我自己训练的yolov7的onnx模型转为paddle时报的错

- 错误信息
- ------------------------------------------
loading annotations into memory...
Done (t=0.30s)
creating index...
index created!
loading annotations into memory...
Done (t=0.06s)
creating index...
index created!
2022-10-04 14:12:02,429-INFO: Now translating model from onnx to paddle.
2022-10-04 14:12:02,429-WARNING: __init__() missing 1 required position

[2022-10-04 06:24] Afaliya0-0Liong commented on #901
使用说明里面给的onnx一样会报错

[2022-10-04 08:08] Afaliya0-0Liong commented on #901
换成x2paddle版本到1.3.8解决了，不知道是什么问题，另外
    if 'caption' in anns[0]:
IndexError: list index out of range
这个问题怎么解决，我训练的是专门应对几种类别的模型，网上说原因是没有识别出类别导致的，难道只能关闭实时map只能结束之后检查吗

[2022-10-04 08:26] #901 closed, assigned to nobody

[2022-10-08 11:03] bright1109 opened #902 "ONNX 转 PaddlePaddle 报错 incomplete shape inference"
## 问题描述

### 错误
`Stopping at incomplete shape inference at Add: x2paddle_992`
`RuntimeError: Inferred shape and existing shape differ in dimension 0: (0) vs (3)`

### 完整错误输出
[code]

## 具体信息

- 转换模型后用处
    - [x] 使用 Paddle 框架/ PaddleInference 推理预测
    - [ ] 使用 Paddle-Lite 做移动端推理
    - [ ] 转换预训练参数，再使用 Paddle 进行模型开发

- 模型来源
Detectron2: https://github.com/facebookresearch/detectron2/tree/main/projects/

[2022-10-19 03:18] Genlk commented on #834
@wjj19950828 你好，我转换了自己的模型，模型输出为160*320的矩阵。转换前后的推理结果，欧氏距离3000+，余弦距离0.98~0.997，这种结果正常么？

[2022-10-25 09:24] ChuxiJ opened #904 "Fail to convert Onnx into Paddle model: The padding value is wrong!"
I want to convert the [PyTorch model ](https://github.com/zhaojw1998/Beat-Transformer') into paddle model, but I get the error

firstly, I convert the pytorch model into onnx

[code]

then, I use the command to convert onnx model into paddle model.

`x2paddle --framework=onnx --model=model.onnx --save_dir=pd_model_dynamic`

However, I get

x2paddle/op_mapper/onnx2paddle/opset_legacy.py", line 749,

[2022-10-27 01:58] chereyk opened #905 "tensorflow与x2paddle版本对应问题"
## 问题描述
tensorflow1.14所需要的cuda版本是10.0，而paddlepaddle2.2.2所需要的cuda版本最低也是10.1，请问这个问题该如何解决
- 您的联系方式(邮箱/微信/电话)
- 邮箱 2640441668@qq.com

[2022-10-27 02:05] chereyk commented on #905
是可以安装paddlepaddle cpu的版本吗

[2022-10-27 05:42] #905 closed, assigned to nobody

[2022-10-27 06:10] wjj19950828 commented on #904
@ChuxiJ 您好，麻烦提供一下ONNX模型吧

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-11-02 08:41] cainiaoPCW opened #907 "PointPillars的ONNX模型，使用X2paddle工具转换，转换失败"
## 问题描述

-基于Pytorch训练的PointPillars模型，转换成ONNX模型后，将onnx模型使用X2paddle工具转换时，转换失败。
- 错误信息

  import imp
INFO:root:paddle.__version__ = 2.3.2
/usr/local/python3.7.5/lib/python3.7/site-packages/onnx/mapping.py:25: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated i

[2022-11-02 08:57] cainiaoPCW opened #908 "OPs are not supported yet"
## 问题描述
基于pytorch模型直接使用PyTorch2Paddle转换工具将pytorch模型转换成Paddle的模型，转换时，出现以下报错：
- 错误信息

  import imp
load dataset...
/usr/local/python3.7.5/lib/python3.7/site-packages/torch/functional.py:478: UserWarning: torch.meshgrid: in an upcoming release, it will be required to pass the indexing argument. (Triggered internally at  ../aten/src/ATen/native/TensorShape.cpp:2895.)
  return _VF.meshgrid(tensors, **k

[2022-11-04 09:40] wjj19950828 commented on #907
@cainiaoPCW 您好，麻烦提供一下ONNX模型吧

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-11-07 06:23] #907 closed, assigned to wjj19950828

[2022-11-07 15:12] cainiaoPCW opened #909 "Inferred shape and existing shape differ in dimension 2: (4) vs (3)"
## 问题描述

- 错误信息
model ir_version: 6, op version: 11
shape inferencing ...
Stopping at incomplete shape inference at Div: x2paddle_onnx__Sub_156
node inputs:
name: "x2paddle_onnx__Div_152"
type {
  tensor_type {
    elem_type: 1
    shape {
      dim {
        dim_param: "NonZero3_o0__d1"
      }
      dim {
        dim_value: 1
      }
      dim {
        dim_value: 3
      }
    }
  }
}

name: "x

[2022-11-09 07:57] Hap-Zhang commented on #877
@wj920291253
您好，请问您将optset version设为9时再进行转onnx不会报错吗？
ONNX: export failure ❌ 1.6s: step!=1 is currently not supported

[2022-11-09 08:10] Hap-Zhang opened #910 "yolov5x使用PaddleSlim过程中调用X2Paddle转换onnx模型为paddle模型时报错：convert failed node:onnx__Concat_649, op_type is Resize"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述

- 错误信息
Converting node 666 ...     2022-11-09 06:28:18,955-WARNING: convert failed node:onnx__Concat_649, op_type is Resize
2022-11-09 06:28:18,956-ERROR: x2paddle threw an exception, you can ask for help at: https://github.com/PaddlePaddle/X2Paddle/issues

- 错误截图
![image](https://user-images.githubusercontent

[2022-11-09 11:23] wjj19950828 commented on #910
@Hap-Zhang 您好，麻烦提供一下ONNX模型吧

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-11-09 11:27] wjj19950828 commented on #909
@cainiaoPCW 确保一下这个ONNX模型能否用onnxruntime运行，看报错像是onnx包infer_shape报错

另外可以试下develop的X2Paddle，onnx的infer_shape报错规避掉了

git clone develop的X2Paddle代码

[code]

[2022-11-09 12:02] Hap-Zhang commented on #910
@wjj19950828
您好，非常感谢您的回复，由于公司上传文件限制，模型还没办法传出来，这里面的ONNX模型是使用yolov5官方提供的export.py文件导出的，不知道您是否方便导出尝试下呢：
pytorch模型位置：https://github.com/ultralytics/yolov5/releases/tag/v6.2（yolov5x.pt）
![image](https://user-images.githubusercontent.com/32810063/200824386-6737b498-5a6d-496c-8765-eec2f438b038.png)
导出onnx模型脚本及命令：
直接拉取官方镜像（docker pull ultralytics/yolov5:latest），在镜像中路径/usr/src/app下执行下述命令：
python export.py

[2022-11-10 03:23] cainiaoPCW commented on #909
ONNX模型可以用onnxruntime运行。
按指导安装develop的X2Paddle，出现如下报错：
(op_type:Slice, name:x2paddle_onnx__Sub_146): Inferred shape and existing shape differ in dimension 2: (4) vs (3)
[WARNING] Incomplete symbolic shape inference
(op_type:Slice, name:x2paddle_onnx__Sub_146): Inferred shape and existing shape differ in dimension 2: (4) vs (3)
[WARNING] Shape inference by ONNX offical interface.
Shape inferenced.
N

[2022-11-11 05:03] Hap-Zhang commented on #910
@wjj19950828 您好，使用https://github.com/ultralytics/yolov5/releases/tag/v6.0这个下面的yolov5s.onnx文件运行也会有同样的报错，请问可以帮忙看下吗？谢谢了

[2022-11-15 08:23] deepmirror-wujixiu opened #912 "支持opset version 16"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
由于业务需求用到了GridSample的算子，但X2Paddle不支持onnx opset version 16，请问后续多久会release？
- 错误信息
- 错误截图

## 具体信息

- 转换模型后用处
    - [ ] 使用 Paddle 框架/ PaddleInference 推理预测
    - [x] 使用 Paddle-Lite 做移动端推理
    - [ ] 转换预训练参数，再使用 Paddle 进行模型开发
- 模型来源
YOLOX：https://github.com/Megvii-BaseDetection/YOLOX
- 应用场景
用于移动端业务下的检测业务
- 版本信息
Paddl

[2022-11-19 07:43] hhxdestiny opened #913 "onnx转paddle报错"
## 问题描述
onnx转paddle报错
[code]
## 具体信息

- 转换模型后用处
  自动压缩
- 模型来源
YOLOV5：https://github.com/ultralytics/yolov5/tree/v6.1
- 应用场景
目标检测
- 版本信息
PaddlePaddle => :2.4.0
X2Paddle => :1.3.9
来源框架版本(PyTorch/TF/ONNX/Caffe) => PyTorch/ONNX
- 联系方式
1170513392@qq.com

[2022-11-19 07:47] hhxdestiny commented on #913
和[issues910](https://github.com/PaddlePaddle/X2Paddle/issues/910)类似

[2022-11-22 06:15] futureflsl opened #914 "yolov5s-6.1版本成功将pt->onnx->paddle模型怎么调用这个paddle模型进行推理？"
我转换完了但是拿到paddle模型怎么用python调用哦。

[2022-11-22 08:52] #739 closed, assigned to wjj19950828

[2022-11-22 08:53] #736 closed, assigned to wjj19950828

[2022-11-22 08:53] #734 closed, assigned to wjj19950828

[2022-11-23 01:12] hhxdestiny commented on #914
请问你转换报错如何解决的？如[issues 913](https://github.com/PaddlePaddle/X2Paddle/issues/913)

[2022-11-23 11:30] futureflsl commented on #914
我用的x2paddle==1.3.8没有任何报错

[2022-11-23 11:37] wjj19950828 commented on #913
@hhxdestiny 麻烦提供一下ONNX模型吧，我来看下具体原因

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-11-23 11:38] wjj19950828 commented on #912
@deepmirror-wujixiu 具体是什么模型呢？可以提供一下ONNX模型吗

另外，可以描述一下以下两个问题吗：
1、具体业务场景
2、为什么有转到Paddle部署的需求呢？

感谢～

[2022-11-23 11:40] wjj19950828 commented on #914
@futureflsl 可以参考这个文档：https://www.paddlepaddle.org.cn/inference/v2.4/guides/quick_start/python_demo.html

转出静态图模型可直接使用Paddle Inference进行推理

[2022-11-24 01:49] hhxdestiny commented on #913
幸苦了，麻烦调查一下

* 业务场景：目标检测
* 转到Paddle的原因：PaddleSlim提供自动压缩功能，调用到了X2Paddle
* ONNX模型：[yolov5s.onnx](https://github.com/hhxdestiny/image/blob/master/yolov5s.rar)

[2022-11-24 08:28] wjj19950828 commented on #913
@hhxdestiny 直接给我个ONNX模型吧，直接百度云就行～

[2022-11-24 10:41] hhxdestiny commented on #913
[yolov5s.zip](https://github.com/PaddlePaddle/X2Paddle/files/10083618/yolov5s.zip)

[2022-11-26 05:05] zhao-sy opened #915 "ONNX模型转为paddle模型报错"
感谢您参与 X2Paddle 社区！ 问题模版为了 X2Paddle 能更好的迭代，例如新功能发布、 RoadMaps 和错误跟踪. :smile_cat:

## 问题描述
看到报错显示conv必须是2d或3d格式，想问一下使用了conv1d的模型可以怎么转换为paddle模型

- 错误信息
- (x2paddle) C:\Users\11832\Downloads\Shift-SACN-master\Shift-SACN-master\X2Paddle>x2paddle --framework=onnx --model=FB15k-237_None_0.0_0.2.onnx --save_dir=pd_model
INFO 2022-11-26 12:57:55,384 convert.py:445] paddle.__version__ = 2.3.2
INFO 2022-11-2