[2019-05-07 13:20] wc8287194 opened #23 "pb模型无法读取input tensor name"
已训练好的pb模型可以在tensorflow的sess.run中正常调用，在feed_dict字典中的input为
self.graph.get_tensor_by_name('prefix/input_1:0')
在convert.py中设置in_nodes为"prefix/input_1:0"，报错如下
![wrong1](https://user-images.githubusercontent.com/46018261/57302425-bc596700-710d-11e9-8e50-87493e912c98.jpg)
修改in_nodes为‘input_1’，报错相同。

[2019-05-07 13:42] jiangjiajun commented on #23
[code]
参考上面转换darknet_yolov3的示例，指定输入时，仅指定tensor的name即可，不需在后面加":0"

[2019-05-08 01:13] wc8287194 commented on #23
感谢回复。尝试过只键入tensor的name，报错完全一样。

[2019-05-08 01:31] wc8287194 commented on #23
注意到在60行读取input_node_names时把字符串全部拆分为单个字符了，这样在64行想要从从单个字符串set中删除图中读到的tensorname“input_1”，即会报错。
![wrong2](https://user-images.githubusercontent.com/46018261/57342998-07a66080-7174-11e9-922b-be526a7c408e.png)

[2019-05-08 01:56] wc8287194 commented on #23
非常感谢，已经解决。

[2019-05-08 02:17] wc8287194 opened #24 "加载转换好的模型时报错Enforce failed. Expected version == 0U, but received version:5 != 0U:0."
完整报错如下：
![wrong3](https://user-images.githubusercontent.com/46018261/57344591-6242bb00-717a-11e9-908c-fbd23079ab62.png)
Traceback (most recent call last):
  File "E:/CNNNET/paddle/tensorflow2fluid/tf2fluid/predict.py", line 6, in <module>
    model = ml.ModelLoader("translated_paddle_model", use_cuda=True)
  File "E:\CNNNET\paddle\tensorflow2fluid\tf2fluid\model_loader.py", line 42, in __init__

[2019-05-08 03:05] jiangjiajun commented on #24
方便将模型转换后的my_model.py贴出来看下吗？

[2019-05-08 03:36] wc8287194 commented on #24
原模型为InceptionResnetV2，my_model.py见下，谢谢。

import paddle.fluid.layers as layers
import paddle.fluid as fluid
import numpy

class Model(object):
    def build(self):
        Placeholder = layers.data(name='Placeholder', shape=[-1, 3, 200, 600], dtype='float32', append_batch_size=False)
        #block35_1_conv/bias const_111 (320,)
        const_111 = layers.create_parameter(shape=[320], name='const_1

[2019-05-08 03:43] jiangjiajun commented on #24
原模型的inceptionresnetv2有github链接吗

[2019-05-08 07:13] wc8287194 commented on #24
你好，原模型基于Keras训练，生成HDF5格式的模型，后转换为tensorflow的pb模型，皆可以正常使用。模型直接从from keras.applications.inception_resnet_v2 中导入。见https://github.com/keras-team/keras/blob/master/keras/applications/inception_resnet_v2.py

后转换为pb文件使用的是https://github.com/amir-abdi/keras_to_tensorflow/blob/master/keras_to_tensorflow.py

[2019-05-09 03:57] wc8287194 commented on #24
你好，我更换了不同的计算机，使用了CPU/GPU版和不同版本的paddle（1.3、1.4.1），换用了不同模型（inceptionv3）都未能正常加载模型model = ml.ModelLoader。
我已经将该inceptionresnetv2模型上传（输入图片尺寸为200,600,3），如果方便的话可以帮助我测试一下吗？
链接：https://pan.baidu.com/s/1kRdGrfBQysoITB46OjhryQ
提取码：0seb

[2019-05-09 08:41] jiangjiajun commented on #24
测试可以复现你上面的问题。
1. 网络结构无问题，可以稳定构建并运行
2. 加载转换后的参数会出现上述问题

我这边用自己之前转换的参数替换你模型里的参数，运行不会出问题。可以的话，麻烦将你输入到x2paddle的pb模型一并上传，我这边重新转换下试试

[2019-05-10 10:34] wc8287194 commented on #24
你好，尝试在Ubuntu下完成了模型转换，但转换好的模型在Ubuntu和Windows下都无法正常加载。
Ubuntu报错如下：
Traceback (most recent call last):
  File "/home/rango/paddle/tensorflow2fluid/tf2fluid/predict.py", line 15, in <module>
    results = model.inference(feed_dict={model.inputs[0]:image})
  File "/home/rango/paddle/tensorflow2fluid/tf2fluid/model_loader.py", line 51, in inference
    self.program, feed=feed_dict, fetch_list=self.model

[2019-05-10 14:14] jiangjiajun commented on #24
Enforce failed. Expected input_data_type == filter_data_type, but received input_data_type:6 != filter_data_type:5.
看提示是输入的数据格式与网络结构定义时格式不同，输入的数据务必保持格式一致，如Placeholder指明是float32，则输入也需要一致，如下代码
[code]
需要调用后面的astype函数转换数据格式

我这边暂时根据你上述的错误提示推测如上问题，如若没解决，麻烦将你的pb模型上传给我这边定位问题

[2019-05-11 02:32] wc8287194 commented on #24
非常感谢，已经解决！

[2019-05-29 03:20] liushanshan07 opened #25 "加载tf的meta文件，输出是个tensor的列表，转换失败"
5     --ckpt_dir=./textnet-part-vgg-synth-8gpu-tf-base/ \
  6     --in_nodes=input_images,input_proposals,input_decoders,input_target_weights \
  7     --input_shape=None,512,512,3 \
  8     --input_format=NHWC \
  9     --output_nodes=model_wo_buckets/embedding_attention_decoder/attention_decoder/AttnOutputProjection/AttnOutputProjection/BiasAdd,model_wo_buckets/embedd    ing_attention_decoder/at

[2019-05-29 07:26] yanhn opened #26 "ValueError: Object arrays cannot be loaded when allow_pickle=False"
我是要做caffe2paddle，
使用convert.py转换那一步成功，想把npy参数和py网络转成paddle可读取的模型文件时出错，
我看问题是出在
`data_dict = np.load(data_path).item()`
因为这是生成的net.py里的，所以哪一行可能不确定，错误内容基本上是说np.load的时候设置了allow_pickle=False，这可能是默认参数。修改为
`data_dict = np.load(data_path, allow_pickle=True).item()`之后就可以成功导出模型了。
导出的只有两个文件，一个叫model，一个叫params。

[2019-05-29 07:50] yanhn commented on #26
接着往下做，想跑一下`tools/diff.sh`
先是diff.sh的第52行少了`--def_path `，报convert.py的用法错了。
接着往下做，要执行`./infer.py dump XXXX`的时候，提示找不到我的paddle导出模型的路径，这里好像是通过fluid加载转换出的fulid的那个模型，而不是npy的权值，这里的sh我就不会改了。

[2019-05-29 08:03] yanhn commented on #26
就直接跑infer.py脚本，用之前导出的model和params所在的路径，
跑的时候报错，应该是解析fluid模型然后找input shape的时候，名字不匹配。
我把infer.py的175行`if var.name == 'data':`改成了`if var.name == name:`，能跑出个结果了。

[2019-05-30 01:58] jiangjiajun commented on #25
当指定多个输入或输出时，参数之间有空格分开；此外在指定多个输入的同时，也需要指定每个输入的input_shape,如下面的示例，指定的输入tensor包括`x`和`dropout_probability`，对应的input_shape分别为`[None, 572, 572, 3]`和`[1]`
[code]

[2019-05-30 03:12] SunAhong1993 commented on #26
1.这里是我们代码的一个bug，我们后期会修复。
2.执行../infer.py dump XXXX是使用.npy权值，同时只fetch网络的输出，不会fetch中间值；值得注意的是，在运行diff.sh的时候会使用到run.sh，run.sh会根据.prototxt的name来获取.py中的类名，所以要保证二者一致。我们后期会修改此部分代码，使易用性增强。

[2019-05-30 03:15] SunAhong1993 commented on #26
var.name必须等于.prototxt中type为Input的layer的name，所以此处需要用户的手动修改，我们后期也会对这一问题进行修复。

[2019-05-30 03:58] yanhn commented on #26
infer.py的时候会调用到`load_inference_model`方法，这个方法根据`dirname`拼接出`model`和`params`的路径然后用`fluid.io.load_inference_model`加载，所以我才怀疑他没有用到weights.npy。
现在我已经跑通了，验证了caffe转paddle的数据基本一致，在小数点后5位左右，满足我的应用了。

[2019-06-17 12:15] yangninghua opened #28 "error"
(pytorch1_1_0) boyun@boyun:~/software/ubuntu-wine/BaiduYunDownload/X2Paddle-master/onnx2fluid$ onnx2fluid resnet18.onnx -t sample_1.npz
[    INFO]convert::convert:0051: loading model: resnet18.onnx ...
[    INFO]convert::convert:0054: checking model ...
[    INFO]convert::convert:0072: model has 296 ops
[    INFO]convert::convert:0073: optimizing model ...
[    INFO]convert::convert:0082: folder r

[2019-06-17 15:09] #28 closed

[2019-06-18 02:02] #23 closed

[2019-06-18 02:02] #24 closed

[2019-06-18 02:04] jiangjiajun commented on #25
因长时间没有回复，issue将会被close，若有问题，之后可以重新打开，谢谢

[2019-06-18 02:04] #25 closed

[2019-06-18 13:04] #26 closed

[2019-06-26 04:41] jinxing94 opened #30 "pytorch GRU转paddle 报错"
先用pytorch写了一个gru,  转成onnx,  再使用X2Paddle/onnx2fluid转的时候，报错onnx2fluid/writer.py", line 247, in Op ValueError: conversion for ::ConstantFill not supported

[2019-06-26 06:01] jiangjiajun commented on #30
目前X2Paddle主要支持CV模型，NLP类模型暂未支持

[2019-06-26 06:03] jinxing94 commented on #30
多谢，期待尽快更新支持。

[2019-06-26 06:03] #30 closed

[2019-06-26 13:14] wzzju opened #31 "ConstantFill op的转换失败"
使用X2Paddle/onnx2fluid转一个gru的时候，报错onnx2fluid/writer.py", line 247, in Op
ValueError: conversion for ::ConstantFill not supported。希望能够支持对ConstantFill op的转换。

[2019-06-27 02:16] jiangjiajun commented on #31
该问题，在类似的issue下已作回复，https://github.com/PaddlePaddle/X2Paddle/issues/30

目前X2Paddle主要支持的是CV模型，NLP模型暂未支持。

[2019-06-27 08:33] #31 closed

[2019-07-05 13:15] MacroBull commented on #31
你好，可以告诉我转换所使用的参数和模型算子集版本吗？
X2Paddle目前支持ONNX算子集第9版，ConstantFill不是该稳定版本下的算子，如果没有显式版本转换，程序应当会抛出一个错误。
另外，PyTorch目前对RNN类模型的导出不完备，如果不是手工搭建的干净的ONNX模型是无法进行有效的转换的，可以参考[PyTorch symbolic.py](https://github.com/pytorch/pytorch/blob/45c6fa0007cc3eda6fa187c1c2a587eba5b0008d/torch/onnx/symbolic_opset9.py#L1282)。

[2019-07-05 13:17] MacroBull commented on #30
你好，可以告诉我转换所使用的参数和模型算子集版本吗？
X2Paddle目前支持ONNX算子集第9版，ConstantFill不是该稳定版本下的算子，如果没有显式版本转换，程序应当会抛出一个错误。
另外，PyTorch目前对RNN类模型的导出不完备，如果不是手工搭建的干净的ONNX模型是无法进行有效的转换的，可以参考[PyTorch symbolic.py](https://github.com/pytorch/pytorch/blob/45c6fa0007cc3eda6fa187c1c2a587eba5b0008d/torch/onnx/symbolic_opset9.py#L1282)。

[2019-07-07 10:00] MacroBull commented on #31
@wzzju

推荐的可转换的模型构建方式：

https://github.com/MacroBull/X2Paddle/blob/986457338460dfb5d917eb67298734cf00a3d98d/onnx2fluid/examples/gen_some_samples.py#L25

不推荐的方式：

https://github.com/MacroBull/X2Paddle/blob/986457338460dfb5d917eb67298734cf00a3d98d/onnx2fluid/examples/gen_some_samples.py#L54

[2019-07-07 10:00] MacroBull commented on #30
@jinxing94

推荐的可转换的模型构建方式：

https://github.com/MacroBull/X2Paddle/blob/986457338460dfb5d917eb67298734cf00a3d98d/onnx2fluid/examples/gen_some_samples.py#L25

不推荐的方式：

https://github.com/MacroBull/X2Paddle/blob/986457338460dfb5d917eb67298734cf00a3d98d/onnx2fluid/examples/gen_some_samples.py#L54

[2019-07-18 03:31] liutinglt opened #38 "onnx模型转paddle，batch normalization为啥没了"
转出来的模型，BN没了。。。。 而且使用X2Paddle的时候，报segment fault，卸载掉paddle就好了~~

[2019-07-18 04:42] MacroBull commented on #38
* onnx2paddle目前支持 **预测模型转换** ，一些训练用的算子会被优化掉，其中包括BN嵌入Conv
* 用于训练的模型转换，目前还不支持精度验证
* 出现segment fault清贴出完整输出信息以反馈

[2019-07-18 12:50] MacroBull commented on #38
有需求的话，可以试试 #40

[2019-07-22 03:47] A1exy opened #43 "加载转换好的模型时报错Enforce failed. Expected version == 0U, but received version:5 != 0U:0."
已有issue，https://github.com/PaddlePaddle/X2Paddle/issues/24 ，但未给出Windows下的解决方案，请教下。

[2019-07-22 03:50] A1exy commented on #43
在Window下进行Tensorflow转Paddle，使用官方提供的Demo VGG16转换例子报错。
![image](https://user-images.githubusercontent.com/7035538/61605156-c99ae200-ac76-11e9-953a-26ba143e7356.png)

请问Windows下的问题修复了没有，或者怎么规避掉它，谢谢

[2019-07-22 08:44] A1exy commented on #43
@jiangjiajun ,@SunAhong1993,@MacroBull

[2019-07-22 15:58] jiangjiajun commented on #43
Hi，你好，可以尝试下这个PR https://github.com/PaddlePaddle/X2Paddle/pull/44

[2019-07-23 00:34] A1exy commented on #43
@jiangjiajun  好的  我马上试一下

[2019-07-23 00:48] A1exy commented on #43
@jiangjiajun   解决了 多谢  🐮🍺
![image](https://user-images.githubusercontent.com/7035538/61674470-91eb7300-ad26-11e9-8f75-5a2221b882a1.png)

[2019-07-23 00:57] #43 closed

[2019-07-23 01:40] A1exy opened #45 "caffe2fluid模型加载与预测代码问题"
将Caffe模型转成Paddle模型，参考https://github.com/PaddlePaddle/X2Paddle/tree/master/caffe2fluid，执行完第一步和第二步后，生成的文件如下：
![image](https://user-images.githubusercontent.com/7035538/61676092-4ee0ce00-ad2d-11e9-956b-4fddae1d1bc8.png)
文档上写模型的加载及预测可参考PaddlePaddle官方文档： https://www.paddlepaddle.org.cn/documentation/docs/zh/1.3/api_guides/low_level/inference.html#id4
但你们参考的文档上模型目录下需要包含 ./infer_model/ __ model __  文件，Ca

[2019-07-23 01:51] A1exy commented on #45
Windows下Inference代码可能存在问题，https://github.com/PaddlePaddle/book/tree/develop/03.image_classification下进行分类训练后的模型如下：
![image](https://user-images.githubusercontent.com/7035538/61676611-3bcefd80-ad2f-11e9-80b8-f01952d287f1.png)

Inference代码如下：
![image](https://user-images.githubusercontent.com/7035538/61676654-64ef8e00-ad2f-11e9-86d8-82e6f72c601e.png)

报错信息如下：
![image](https://user-images.githubuserco

[2019-07-23 02:56] A1exy commented on #45
参考以下链接，按照ImageNet数据集的AlexNet操作，都不行。。
https://github.com/PaddlePaddle/X2Paddle/tree/master/caffe2fluid/examples/imagenet
![image](https://user-images.githubusercontent.com/7035538/61679329-77ba9080-ad38-11e9-89d5-0ca136eb2167.png)

[2019-07-23 03:00] A1exy commented on #45
自带的例子都跑不通。。。

[2019-07-23 07:47] SunAhong1993 commented on #45
Hi，你好。针对你在issue中提到的问题，我这边归纳存在如下三个问题，
1. Caffe模型转Paddle模型的文件夹中没有"__model__"文件

![image](https://user-images.githubusercontent.com/48579383/61680916-f108b200-ad3d-11e9-8399-7d130b5bcfd1.png)
具体可以参考[API](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/io_cn.html#load-inference-model)。至于如何inference，你可以使用caffe2fluid/examples/imagenet/infer.py，或者使用下述代码进行inference：
[code]
2. https://gith

[2019-07-23 07:50] A1exy commented on #45
@SunAhong1993 好的，多谢，我去试一下

[2019-07-23 07:56] jiangjiajun commented on #45
@A1exy 非常欢迎对X2Paddle提出建议，我们现在正在继续开发X2Paddle，解决之前遗留的问题，同时提升整体的易用性和OP及模型的覆盖率。有需求可以关注我们的repo，以收到最新的进展：)

[2019-07-23 08:14] A1exy commented on #45
@SunAhong1993   问题已解决，多谢
@jiangjiajun   已经Watch项目最新进展：)

[2019-07-23 08:14] #45 closed

[2019-07-23 12:38] jiangjiajun commented on #38
因为问题长时间未回复，此issue将被close，如此issue后续仍有问题，可重新再打开。

[2019-07-23 12:38] #38 closed

[2019-07-26 06:04] A1exy opened #53 "tensorflow2fluid转出的模型Inference时间不正常"
tensorflow2fluid将VGG16转成paddle格式，如实例代码。
转出的模型如下：
![image](https://user-images.githubusercontent.com/7035538/61929302-94abc980-afad-11e9-8d4e-1b8f8a357217.png)

按照示例的Inference代码进行ml.ModelLoader后，分别进行100次Inference。
GPU：
![image](https://user-images.githubusercontent.com/7035538/61929626-008e3200-afae-11e9-9dc6-1ce42f0584fd.png)

CPU：
![image](https://user-images.githubusercontent.com/7035538/6192959

[2019-07-27 03:42] jiangjiajun commented on #53
Inference时间不正常具体是指什么问题呢，是说与其它框架的inference时间对比？

此外可以尝试将模型进行序列化保存（在tensorflow2fluid的ReadMe中有提到），会对图进行裁剪，仅保存需要的子图，之后再使用相应接口加载预测，参考[load_infenrece_model](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_guides/low_level/inference.html#api-guide-inference)的使用

[2019-07-29 12:27] A1exy commented on #53
@jiangjiajun   嗯嗯，我的意思是和我在Tensorflow下做的模型直接调用Inference的时间差太多，caffe2paddle转出的模型与直接调用caffe模型的inference时间差距不太大，还正常。tensorflow2paddle转出的模型GPU下300ms一张224*224*3的图片，应该有问题，Inference的代码是基于官方提供的代码修改的，我先再看看。

[2019-07-30 02:02] jiangjiajun commented on #53
由于TensorFlow模型中的OP粒度较细，且与PaddleOP对应关系并不像Caffe那么直接，所以转换至Paddle是会有性能的损失，我们也正在尝试解决这个问题

[2019-07-30 02:03] A1exy commented on #53
@jiangjiajun    好的，了解

[2019-07-30 02:03] #53 closed

[2019-07-30 02:20] jiangjiajun commented on #53
此外在CPU上预测时，tensorflow默认是多线程模式，我这边测试在预测时，CPU利用率会达到1500%更多，而Paddle默认是单线程，所以差异会很大。

[2019-07-31 09:30] loveJasmine opened #56 "能不能把paddle的模型转换为tf呢"

[2019-07-31 12:55] jiangjiajun commented on #56
目前暂无计划支持Paddle模型转tensorflow。
其它相关项目可以关注[Paddle-ONNX项目](https://github.com/PaddlePaddle/paddle-onnx)，支持部分Paddle模型转为ONNX模型。

[2019-08-05 02:38] #56 closed

[2019-08-22 03:54] Alan-Turing-Ko opened #89 "Is caffe slice layer supported?"
When trying to convert caffe to paddle, I got following error.

`squeeze idx:1, with kind:Convolution,name:conv1
Traceback (most recent call last):
  File "/home/turing/anaconda3/bin/x2paddle", line 10, in <module>
    sys.exit(main())
  File "/home/turing/anaconda3/lib/python3.6/site-packages/x2paddle/convert.py", line 163, in main
    args.caffe_proto)
  File "/home/turing/anaconda3/lib/python3.

[2019-08-22 06:26] aa12356jm opened #90 "tf model convert error"
tf model  convert error:    Exception: OP: [ResizeBilinear] not support yet

[2019-08-22 07:59] jiangjiajun commented on #89
Hi，parameter `slice_dim` was not supported in x2paddle, because we have checked the parameter `slice_dim` is officially deprecated in caffe, see [Slice Layer of Caffe](https://caffe.berkeleyvision.org/tutorial/layers/slice.html)

But for your situation, we just updated x2paddle code(https://github.com/PaddlePaddle/X2Paddle/pull/92) to support your model conversion, use commands below :)
[code]

[2019-08-22 17:26] jiangjiajun commented on #90
Hi，你好，ResizeBillinear我会尽快添加上去。这个OP主要用在检测模型中，但目前x2paddle还并未在TensorFlow模型上测试检测模型，我目前在尝试支持YOLO-V3，如果方便的话可以告知我你需要转换的模型，以及相应的代码实现参考，谢谢~

[2019-08-23 14:25] aa12356jm commented on #90
我转换的这个模型是人脸检测的模型，网络结构和[这个](https://github.com/deepinsight/insightface/tree/master/RetinaFace)基本一致，我用tf重写了一遍。模型和代码都在公司内部，不方便拿出来分享，您可以参考[这个](https://github.com/deepinsight/insightface/issues/669)开源模型，结构基本一样哈，

[2019-08-26 08:45] jiangjiajun commented on #90
在转换TensorFlow模型时，X2Paddle是根据模型的计算图来进行转换的，所以我暂时无法通过别的框架模型代码来分析。
我已经把ResizeBilinear添加上去，你可以试用下，有问题的话可以继续在此Issue下交流：）

[2019-08-26 10:17] wanjinchang commented on #90
@aa12356jm 你好!我也尝试用tf写了这个(https://github.com/deepinsight/insightface/issues/669)网络结构,然后把mxnet模型转为tf模型,但是一直得不出正确的结果,检测不出人脸,检查了转换过程,没发现问题,请问你用tf重写的时候需要注意什么问题吗？

[2019-08-26 10:18] wanjinchang commented on #90
@aa12356jm 你好!我也尝试用tf写了这个(https://github.com/deepinsight/insightface/issues/669)  网络结构,然后把mxnet模型转为tf模型,但是一直得不出正确的结果,检测不出人脸,检查了转换过程,没发现问题,请问你用tf重写的时候需要注意什么问题吗？

[2019-08-26 10:18] wanjinchang commented on #90
@aa12356jm 你好!我也尝试用tf写了[这个](deepinsight/insightface#669) 网络结构,然后把mxnet模型转为tf模型,但是一直得不出正确的结果,检测不出人脸,检查了转换过程,没发现问题,请问你用tf重写的时候需要注意什么问题吗？

[2019-08-26 10:54] 312shan opened #93 "Did you have support for Paddle2X ?"
Did you have support  for Paddle2X ?

[2019-08-26 11:48] jiangjiajun commented on #93
You may want to take a look at this project. ：）
[Paddle-ONNX](https://github.com/PaddlePaddle/paddle-onnx)

[2019-08-27 02:12] aa12356jm commented on #90
@jiangjiajun 刚使用最新的代码进行了转换，错误信息如下：

`WARNING:tensorflow:From /home/trainer/anaconda3/envs/tf19_py36/lib/python3.6/site-packages/x2paddle-0.4.3-py3.6.egg/x2paddle/decoder/tf_decoder.py:204: FastGFile.__init__ (from tensorflow.python.platform.gfile) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.gfile.GFile.
Total nodes: 455
========== Use infer_shape_tensor

[2019-08-27 02:14] aa12356jm commented on #90
@wanjinchang 为什么要转换mxnet模型？我们这边是全部重新写的，重新训练，也是很多坑，现在效果还不错

[2019-08-27 02:30] wanjinchang commented on #90
作者开源那个模型效果可以,然后我也在一边训练一边转模型,看哪个方法快就用哪个,但是训练出来效果不好,你的数据是用RetinaFace公开的数据么?

[2019-08-27 02:56] aa12356jm commented on #90
是的，我们就是用的他们公开的数据，不过他们的训练数据标注了很多小人脸，对hard face的检测比较好，但是在实际使用中也会导致误检比较高，如果你使用的场景不需要检测小人脸，可以做一下数据处理，将标注的小人脸去掉

[2019-08-27 03:35] jiangjiajun commented on #90
jiangjiajun#baidu.com

[2019-08-27 12:06] jiangjiajun commented on #90
由于TensorFlow和Paddle中部分OP机制不同，而且此外TF模型都默认为NHWC输入，而Paddle为NCHW输入，所以在转换过程中，存在部分`axis`参数的转换计算，根据你的模型，我fix了一些问题，你可以重新安装尝试转换
[code]

自行转换后，可以测试下两个模型的diff，需要注意的是在paddle中输入的格式为NCHW，输出也是NCHW（TensorFlow为NHWC）

如若仍存在其它问题，可继续提新的Issue反馈 ：）

[2019-08-27 13:15] jiangjiajun commented on #90
尝试一下新的代码
[code]
自行转换后，可以测试下两个模型的diff，需要注意的是在paddle中输入的格式为NCHW，输出也是NCHW（TensorFlow为NHWC）

[2019-08-28 06:29] aa12356jm commented on #90
@jiangjiajun 你好，我这边可以转换成功，但是转换出来的为什么是很多个文件？在部署的时候不方便吧？不能合并为一个模型文件吗？

[2019-08-28 06:42] jiangjiajun commented on #90
X2Paddle模型转换后，会有两个目录
`model_with_code`: 生成参数文件和模型代码文件
`inference_model`: 生成的参数文件和序列化的模型结构文件

一般用`inference_model`进行部署，目前里面的参数是分开保存的，主要是为了适应PaddleLite目前的模型加载形式，如果你要将所有的参数文件合为一个文件，有如下两个方法，
1. 使用Paddle加载inference_model，并重新调用save_inference_model方法保存模型，调用时，指定模型文件名和参数文件名即可；
2. 修改`X2Paddle/core/op_mapper.py`
原代码
[code]
修改为
[code]

[2019-08-28 08:13] aa12356jm commented on #90
ok

[2019-08-28 08:13] #90 closed

[2019-08-28 14:23] #93 closed

[2019-08-30 09:05] imistyrain opened #102 "The op DepthwiseConvolution in model is not supported yet"
[code]
看到注册的layer里有ConvolutionDepthwise，能直接映射过去吗？

[2019-08-30 10:14] SunAhong1993 commented on #102
你好，DepthwiseConvolution是属于一个新的op，如若其实现功能与ConvolutionDepthwise一致，可在[代码](https://github.com/PaddlePaddle/X2Paddle/blob/develop/x2paddle/op_mapper/caffe_op_mapper.py#L47)中对node的名字直接映射过去；若功能不一致可参考[如何转换Caffe自定义Layer](https://github.com/PaddlePaddle/X2Paddle/blob/develop/add_caffe_custom_layer.md)来实现ConvolutionDepthwise的转换。

[2019-09-02 02:39] imistyrain commented on #102
是一样的，ncnn的转换工具[caffe2ncnn](https://github.com/Tencent/ncnn/blob/46e7ac76abad0b3d8649b97c37a4d0e0dc565f9a/tools/caffe/caffe2ncnn.cpp#L467)都提供原生的支持，这个能对齐吗？

[2019-09-02 03:02] wanjinchang commented on #90
@aa12356jm 谢谢!你们tensorflow复现出来的mnet.25推断时间和论文的差不多吗?

[2019-09-02 07:30] jiangjiajun commented on #102
谢谢反馈，我们会验证后，将『ConvolutionDepthwise』加进x2paddle。如果方便的话，也可以告诉我们你所转换的模型对应或参考的github repo。

当前可以先按照上面的回复方式，修改`x2paddle/op_mapper/caffe_op_mapper.py`中代码，然后按如下方式重新安装后，再转换模型
[code]

[2019-09-02 07:49] chenjun2hao opened #103 "Exception: input[_394] of node[_413] does not exist in node_map"
I have successfully transferred the pytorch model to onnx and the report for onnx transfer paddle is as follows
`Exception: input[_394] of node[_413] does not exist in node_map`

[2019-09-02 08:08] chenjun2hao commented on #103
the whole error:
`
rmer.onnx --save_dir=./
Now translating model from onnx to paddle.
model ir_version: 4, op version: 9
your model have dynamic graph, torch==1.1.0 is required
Traceback (most recent call last):
  File "/home/yangna/yangna/tool/anaconda2/envs/open-mmlab/bin/x2paddle", line 10, in <module>
    sys.exit(main())
  File "/home/yangna/yangna/tool/anaconda2/envs/open-mmlab/lib/python3.7

[2019-09-02 08:33] jiangjiajun commented on #103
Hello, could you provide us your onnx model or pytorch code for analysis?

[2019-09-02 08:47] Channingss commented on #103
收到

| |
chen_lingchi
|
|
邮箱：chen_lingchi@163.com
|

Signature is customized by Netease Mail Master

On 09/02/2019 16:33, Jason wrote:

Hello, could you provide us your onnx model or pytorch code for analysis?

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-02 09:07] chenjun2hao commented on #103
this is my pytorch code. i use pytorch=1.2.0.
[code]
the onnx model which i push [there](https://pan.baidu.com/s/1odL16-XCPexHo6X5DK_buw) 提取码: qvf5
thanks for your reply!

[2019-09-02 10:22] pkuyym opened #106 "minor problems"
1. function name:
https://github.com/PaddlePaddle/X2Paddle/blob/develop/x2paddle/core/graph.py#L102
Seems conflict with built-in 'print'.
2. function definition:
https://github.com/PaddlePaddle/X2Paddle/blob/develop/x2paddle/op_mapper/onnx_op_mapper.py#L97
should be
[code]
3. need to handle Unicode string
https://github.com/PaddlePaddle/X2Paddle/blob/develop/x2paddle/core/fluid_code.py#L31
https:/

[2019-09-02 11:48] jiangjiajun commented on #106
Thanks， We will fix these problem soon.

[2019-09-03 03:27] MacroBull commented on #106
Currently X2Paddle requires python >= 3.5, these are all python 3 features.

[2019-09-03 03:44] imistyrain opened #109 "AssertionError: The parameter of my_classifier (type is InnerProduct) is not set. You need to use python package of caffe to set the default value."
转换resnet50模型(来自[caffe-model-zoo](https://github.com/SnailTyan/caffe-model-zoo))，报错
[code]
转换用的命令为:
[code]
0.3之前用的caffe2fluid还好好的呢，怎么升级了就不兼容了？

[2019-09-03 03:47] pkuyym commented on #106
@MacroBull OK, however, even for python3, it is better to fix.

[2019-09-03 04:03] MacroBull commented on #106
1. `print` can be renamed, it's ok.
2. Python 2 do not support positional / keyword splitting and bypass in arguments, using `kwargs.pop(key)` makes code untidy.
3. Python 3 has the only string type `str`, no unicode-type handling needed, superfluous codes like `isinstance(s, typing.Text)` is quite a paranoid.

[2019-09-03 04:33] MacroBull commented on #103
@chenjun2hao You should constify these dims in PyTorch when exporting to ONNX:
![image](https://user-images.githubusercontent.com/2204917/64144283-5b853580-ce46-11e9-8bc3-875b0aa9787a.png)

do use:

instead of:

[2019-09-03 04:34] jiangjiajun commented on #109
收到，我们马上定位一下问题。

[2019-09-03 12:40] imistyrain opened #110 "AssertionError: The version of protobuf must be larger than 3.6.0!"
pip3 list显示python3.5对应的protobuf版本是3.6.0了已经，但是protoc --version的版本是3.4.0.所以那个assert过不去，但是不影响使用。
还有就是python2.7版本的啥时候放出来？

[2019-09-03 15:00] jiangjiajun commented on #102
已经添加代码中，可更新最新代码使用
https://github.com/PaddlePaddle/X2Paddle/pull/108

[2019-09-04 02:33] SunAhong1993 commented on #109
你好，目前该问题已经解决，您可按如下方式重新安装后，再转换模型
[code]
该问题出现的原因主要是由于prototxt和caffemodel中最后一层的命名不一致，转换工具找不到对应参数而出错，当前更新版本对找不到的参数进行0初始化处理；0.3版本由于对未赋值的参数也进行了0初始化，所以也不会出现相应错误。针对这一问题的处理，当前版本已于0.3版本对齐。

[2019-09-04 02:50] imistyrain commented on #109
好的，已给原仓库提issue [6](https://github.com/SnailTyan/caffe-model-zoo/issues/6)

[2019-09-04 02:50] #109 closed

[2019-09-04 03:40] jiangjiajun commented on #110
这个地方的版本检测之前确实是依赖protoc的版本，目前已经修改成protobuf的版本了。

python2由于即将不被官方支持，因此在项目开发过程中的开发环境都为python3.5，并没有考虑python2的支持。
但同时也考虑到部分用户仍然还在使用python2的环境，因此现在也已经有同学在帮忙解决python2兼容性的问题，相信在本周内就会解决这个问题。

[2019-09-05 12:43] jiangjiajun commented on #110
我们更新了代码，并成功在Python2下测试了X2Paddle的转换。这里是代码的PR https://github.com/PaddlePaddle/X2Paddle/pull/122

[2019-09-05 13:39] jiangjiajun commented on #106
Thanks for your advices! @pkuyym @MacroBull
We just updated the code to make X2Paddle compatible with the python2, some of the problems have been fixed. :)
https://github.com/PaddlePaddle/X2Paddle/pull/122 & https://github.com/PaddlePaddle/X2Paddle/pull/120

[2019-09-06 03:09] #102 closed

[2019-09-07 14:05] #110 closed

[2019-09-09 03:08] #106 closed

[2019-09-09 09:06] chenjun2hao commented on #103
i have changed the code like this:
original:
[code]
changed:
[code]
but still have the similar error.
error:
[code]

[2019-09-09 09:42] Channingss commented on #103
Hello,  I try to x2paddle with your old model ,  it report dimension mismatch Error. could you provide us latest  onnx model for analysis?

[2019-09-09 10:16] chenjun2hao commented on #103
this the link for latest model:[link](https://pan.baidu.com/s/1Of-v0T8ZOlVyYG7w8qkkMA) 提取码: mam8
the error:
[code]
besides, when I converted to onnx, it looked like there was 24 missing. I don't know if that was the problem here.
the part detail printed when converted to onnx.
[code]

[2019-09-10 09:48] richlaji opened #128 "TypeError: OpDesc() missing 1 required positional argument: 'attrs'"
[    INFO]onnx2fluid::convert:0071: loading model: baidu_903_ep39.onnx ...
[    INFO]onnx2fluid::convert:0075: checking model ...
[    INFO]onnx2fluid::convert:0082: using opset version: 9
[    INFO]onnx2fluid::convert:0093: model has 588 ops
[    INFO]onnx2fluid::convert:0098: optimizing model ...
[   DEBUG]onnx2fluid.onnx_utils::polish_model:0342: builtin optimizations to perform in ONNX:
	['eli

[2019-09-10 09:59] #128 closed

[2019-09-10 14:40] lgone2000 opened #129 "master caffe2fluid net_template.py有问题"
应修改如下
diff --git a/caffe2fluid/kaffe/net_template.py b/caffe2fluid/kaffe/net_template.py
index f9387c9..c6810c6 100644
--- a/caffe2fluid/kaffe/net_template.py
+++ b/caffe2fluid/kaffe/net_template.py
@@ -100,7 +100,7 @@ def main():
     npy_weight = args.npy_path
     fluid_model = args.model_param_path
     outputs = None
-    if len(sys.argv) >= 6:
+    if args.need_layers_name:
         outputs

[2019-09-10 15:12] jiangjiajun commented on #129
谢谢反馈，收到，我们会尽快确认。

[2019-09-11 03:05] richlaji opened #131 "模型的双向GRU怎么转比较好"
复现的pytorch代码：
import torch
import torch.nn as nn
rnn = nn.GRU(10,20, bidirectional=True)
input = torch.randn(5, 3, 10)
h0 = torch.randn(2, 3, 20)
output, hn = rnn(input,h0)
torch.onnx.export(rnn, input, 'test.onnx', verbose=True)

转onnx出的结果：
graph(%input : Float(5, 3, 10),
      %weight_ih_l0 : Float(60, 10),
      %weight_hh_l0 : Float(60, 20),
      %bias_ih_l0 : Float(60),
      %bias_hh_l0 : F

[2019-09-11 03:39] richlaji commented on #131
使用from onnx2fluid.torch_export_helper import export_onnx_with_validation转的onnx模型，pytorch代码如下：
rnn = nn.GRU(10,20, bidirectional=True)
input = torch.randn(5, 3, 10)
h0 = torch.randn(2, 3, 20)
output, hn = rnn(input)
#torch.onnx.export(rnn, input, 'test.onnx', verbose=True)
export_onnx_with_validation(rnn, [input], 'test.onnx', ['x'], ['y'],verbose=True, training=False)
也是会遇到相同的问题~

[2019-09-11 06:45] mathfinder opened #133 "不支持instance normalization吗"
![image](https://user-images.githubusercontent.com/23050243/64674201-bcde8180-d4a2-11e9-9562-d5c214368cf4.png)

[2019-09-11 06:55] jiangjiajun commented on #133
Hi，你好，你用的x2paddle是什么版本呢，目前onnx已经支持instance normalization，可以拉取最新代码重新安装使用

[2019-09-11 07:53] mathfinder commented on #133
就刚刚拉取的版本，
![image](https://user-images.githubusercontent.com/23050243/64678367-fbc50500-d4ab-11e9-89a8-c55dcfa479f5.png)

这是版本号吗？

[2019-09-11 08:13] jiangjiajun commented on #133
使用develop分支 https://github.com/PaddlePaddle/X2Paddle/tree/develop

[2019-09-11 08:19] xixiaoyao opened #134 "tf.tensordot和tf.einsum有没有相应的paddle实现方案？"
paddle中如何实现tensor乘？

[2019-09-11 09:33] richlaji opened #135 "'TENSOR_TYPE_TO_NP_TYPE'"
x2paddle/op_mapper/onnx_op_mapper.py line511
NameError: name 'TENSOR_TYPE_TO_NP_TYPE' is not defined

[2019-09-11 09:43] richlaji commented on #135
from onnx.mapping import TENSOR_TYPE_TO_NP_TYPE 可以解决

[2019-09-11 09:43] #135 closed

[2019-09-11 10:58] Channingss commented on #103
we update onnx2paddle,  you can try the latest code

[2019-09-11 11:09] jiangjiajun commented on #134
目前X2Paddle并没有提供其对应的组合实现方案。如果这两个OP的使用需求较多的话，建议在PaddlePaddle官方repo下提需求。

[2019-09-11 11:10] jiangjiajun commented on #129
已更新代码https://github.com/PaddlePaddle/X2Paddle/pull/132/files

[2019-09-12 01:17] chenjun2hao commented on #103
@Channingss , thanks, i will have a try.

[2019-09-12 02:47] jiangjiajun commented on #135
多谢反馈，我们会尽快修复这个问题

[2019-09-15 15:24] chenjun2hao commented on #103
@Channingss , May I ask if you have updated the PIP source? It passed the test two days ago and failed today.

[2019-09-15 16:19] chenjun2hao opened #140 "can not support get_dynamic_shape"
i use dynamic shape in onnx model. and i have successfully convert to onnx model. when convert to paddle, the error is:
[code]
the model i used is:链接: https://pan.baidu.com/s/1WrTbTyVmBBJrT6ZVffx_3g 提取码: y9hb

[2019-09-16 02:08] jiangjiajun commented on #103
pip source will be updated in this week.

[2019-09-16 02:08] #129 closed

[2019-09-16 02:10] jiangjiajun commented on #131
目前我们基本已经把之前分支涉及到CV相关的算子都Merge到develop版本，NLP的算子目前已经在排期测试哈

[2019-09-16 02:10] #134 closed

[2019-09-16 02:29] Channingss commented on #140
@chenjun2hao hello, we support  onnx model with fixed shape of input .Your previous onnx model's input_shape is fixed, but this one is not fixed.

[2019-09-16 02:51] richlaji commented on #131
@jiangjiajun 好的感谢~想问一下GRU或者LSTM像MacroBull提到的linear_before_reset的实现不同的问题是不是比较难解决~

[2019-09-16 03:47] MacroBull commented on #131
@richlaji 不好意思，我这边刚才确认了下，对LSTM和GRU的bidirectional=True的支持还是有问题的，目前双向算子还是没法正确转换的，耽误你的时间了，有后续进展我们会在这个issue下同步的，谢谢你的关注

[2019-09-16 06:53] richlaji opened #142 "onnx转paddle，Upsample动态shape"
模型转换Pytorch->onnx->paddle。
1. Pytorch代码中对应部分代码：
[code]

2. 转onnx时候，Upsample对应层是：
%827 : Float(1, 576, 4, 35) = onnx::Upsample[mode="linear"](%808, %826)，其中%826是计算动态shape

3. 使用develop分支的X2Paddle转，在model = ONNXDecoder(model_path)这步里有一个model = onnx.shape_inference.infer_shapes(model)，onnx貌似不支持动态的shape推断，打印出来Upsample的四个dim都是空

4. 由于3中所述，在onnx转paddle的时，Upsample转成paddle的out_shape=[0,0]，转出来的model.py对应层是

[2019-09-16 07:01] Channingss commented on #142
@richlaji  方便提供一下onnx的模型吗？

[2019-09-16 07:13] richlaji commented on #142
@Channingss 抱歉，刚刚在修改问题描述~

[2019-09-16 07:41] richlaji commented on #131
@MacroBull 好的感谢告知~期待后续的更新

[2019-09-16 08:20] Channingss commented on #142
方便提供一下onnx的模型，我们需要分析一下。

[2019-09-16 08:35] richlaji commented on #142
@Channingss 好的，层可能和描述有点变化
链接：https://pan.baidu.com/s/1_l_MpZGoBXOzpNX5B7xoMw
提取码：dnxh

[2019-09-16 17:26] chenjun2hao opened #143 "don't support torch.tensor.expand?"
when i use pytorch torch.tensor.expand, the error
[code]
it seems don't support expand?

[2019-09-17 01:08] chenjun2hao opened #144 "don't support onnx::gather?"
the onnx model used onnx::gather, detail:
[code]
but it report an error:
[code]
the pytorch code is:
[code]

[2019-09-17 01:46] Channingss commented on #144
paddle::Gather just support  dim of indice==1, so onnx2paddle not yet supported,  please focus on our follow-up update.

[2019-09-17 06:46] Channingss commented on #142
@richlaji   我在本地做了测试，支持了动态的scale和out_shape后，但是无法支持线性插值，paddle现在只支持双线性插值

[2019-09-17 07:01] richlaji commented on #142
@Channingss pytorch也是bilinear，不过转成onnx显示是linear而已，这部分我已经手动改了。可以说一下怎么转动态的interpolate嘛

[2019-09-17 09:50] Channingss commented on #142
@richlaji 新的代码已经上传，你可以试试

[2019-09-17 12:22] Channingss commented on #143
Currently we don't support Expand related operators,  Can you provide code or onnx model?

[2019-09-17 14:50] chenjun2hao commented on #144
@Channingss ，could you give some advice for solving this problem。

[2019-09-18 01:42] richlaji commented on #142
@Channingss 非常感谢，我现在用昨天更新后的X2Paddle可以直接转成功。但是也inference的时候也遇到一个问题，我看到在Upsample前的MaxPool层转的时候会多一个reshape层，同时提供了一个固定参数的shape，由于我的是不定长输入，所以inference的时候会报错~这个在我上周clone的X2Paddle版本中没有出现~

[2019-09-18 02:11] Channingss commented on #144
@chenjun2hao we tried to convert onnx:Gather(dim of indice<=2), you can try the latest code.

[2019-09-18 03:58] Channingss commented on #142
你换了新的不定长输入的model吗？我这边测试之前你上传的model：https://pan.baidu.com/s/1_l_MpZGoBXOzpNX5B7xoMw，是能够inference的。

[2019-09-18 05:05] richlaji commented on #142
@Channingss 我原来的模型也是可以不定长的，只是onnx在trace的时候需要一个任意输入，所以会保留形状。如果是和trace时相同长度的输入应该是可以执行的~

[2019-09-18 05:14] Channingss commented on #142
你能把报错信息贴出来，同时把新的model分享出来吗？另外，原来的model你转换过吗?

[2019-09-18 05:22] richlaji commented on #142
@Channingss 所谓的新旧模型是一样的。但是新的X2Paddle在转MaxPool后多了一个reshape层，reshape层固定了shape的大小，所以不能接受不定长度的图片~

[2019-09-18 07:07] Channingss commented on #142
@richlaji 不仅仅是reshape，由于paddle目前存在一些op不支持动态的shape输入，同时在转换某些op的过程中还要利用shape信息，所以大部分情况下，onnx2paddle转换后的model不支持不定长的输入。另外我尝试用onnxruntime推理你的onnx model的时候，也无法支持不定长的输入。

[2019-09-18 08:42] richlaji commented on #142
@Channingss 好的非常感谢~应该把reshape去掉就可以使用不定长输入了。在使用你的版本前，我尝试手动设置scale=2做双线性插值，同时保证输入图片宽度能够被16整除（这样降采样再上采样后能相等，即width//16*16 = width），是可以在paddle下跑不定长输入的，且结果正常。

[2019-09-18 13:31] #131 closed

[2019-09-18 13:32] #133 closed

[2019-09-18 13:32] #103 closed

[2019-09-18 13:34] chenjun2hao commented on #144
@Channingss , use the latest paddle or x2paddle?

[2019-09-18 13:35] Channingss commented on #144
@chenjun2hao x2paddle

[2019-09-18 14:07] chenjun2hao commented on #144
@Channingss ,  for torch.expand, can give some advice ?

[2019-09-19 02:32] Channingss commented on #143
I think you can try like this:
`_X = fluid.layers.data(shape=[3, 1], name='_X', dtype='float32', append_batch_size=False)
_Z_ones = fluid.layers.ones(shape=[3, 6], dtype='float32')
_Z = fluid.layers.elementwise_mul(x=_Z_ones, y=_X, name='_Z')`

[2019-09-19 09:08] richlaji opened #151 "develop分支能否支持单向GRU呢"
我看到paddle实现双向GRU的方式是：
[code]

那对于单向的Pytorch上的代码是：
[code]

转后的onnx模型是
链接：https://pan.baidu.com/s/1NtYNN5DSALo-tLrGFDlGxA
提取码：897a

想问一下目前develop分支能否支持单向GRU

[2019-09-19 11:57] Channingss commented on #151
develop分支的ONNX:GRU目前在尝试开发中，目前发现如下参数可能难以对齐：
arr: clip
arr: linear_before_reset
arr: direction: bidirectional
请关注更新。

[2019-09-19 15:07] chenjun2hao commented on #143
@Channingss , now i have successfully conveted to onnx, when convert to paddle it seems the dims is not  right. and i don't have the broadcast operater.could give some advice?
the error:
[code]
my onnx model:链接: https://pan.baidu.com/s/1nr9dS1sJNa_9PagX1n3v6g 提取码: hy8x

[2019-09-23 08:21] chenjun2hao opened #154 "don't support onnx::equal and onnx::where?"
it seems don't support equal and where operater
the error:
[code]

[2019-09-23 08:40] chenjun2hao commented on #144
@Channingss , don't support onnx::equal and onnx::where?

[2019-09-25 12:57] Channingss commented on #154
onnx::equal and onnx::where  is under development, we will tell you the first time.

[2019-09-26 01:05] chenjun2hao commented on #154
@Channingss ,For a more complete project, you can also add the following actions：
[code]

[2019-09-26 03:01] didikee opened #156 "Ops are not supported yet:Sqrt,MirrorPad,Square"
(paddle) bash-3.2$ x2paddle --framework=tensorflow --model=/Users/dev01/下载目录/测试model.pb/Angel_a025_c256_s512_a0.25_b2_sn16-32000_frozen.pb --save_dir=/Users/dev01/下载目录/paddle
Now translating model from tensorflow to paddle.
Total nodes: 468
Converting node 468 ...    ==========3 Ops are not supported yet======
========== Sqrt ==========
========== MirrorPad ==========
========== Square ==========

[2019-09-26 10:50] jiangjiajun commented on #156
Hello， Could your provide your tensorflow model for us to analysis?

[2019-09-26 10:51] #140 closed

[2019-09-29 06:43] #142 closed

[2019-09-29 06:59] Channingss commented on #144
@chenjun2hao onnx::gather and onnx::expand is supported,  onnx::equal and onnx::where is under development, we can discuss in  issue#154, If onnx::gather has no problem, we will close the issue. If there are any other questions, we can open later.

[2019-09-29 07:01] Channingss commented on #143
@chenjun2hao  onnx::expand is supported, If you has no problem, we will close the issue. If there are any other questions, we can open later.

[2019-09-29 07:04] Channingss commented on #154
@chenjun2hao thanks for your feedback, we will  add these OP to our development task.

[2019-09-29 07:05] #143 closed

[2019-09-29 07:05] #144 closed

[2019-10-08 07:31] KeyKy opened #157 "Multiple top nodes are not supported."
I am converting caffe slice layer to paddle. Slice layer has Multiple top nodes but X2Paddle does not support it.

[2019-10-08 08:04] KeyKy commented on #157
checkout to the develop.

[2019-10-08 08:04] #157 closed

[2019-10-11 18:14] siyiding1216 commented on #90
你们有做mobilenet加上quantization的训练吗

[2019-10-12 02:23] jiangjiajun commented on #156
Hello, this issue will be closed since there is no update information for 15 days.
If you need, you can reopen this issue anytime. :)

[2019-10-12 02:23] #156 closed

[2019-10-12 02:23] #151 closed

[2019-10-12 02:24] #154 closed

[2019-10-22 01:48] CerrieJ opened #178 "version must be larger than 3.6.0!"
这代码是谁写的???
![image](https://user-images.githubusercontent.com/15920960/67254674-f4344b00-f4b0-11e9-9e87-27c50d926b65.png)
![image](https://user-images.githubusercontent.com/15920960/67254685-feeee000-f4b0-11e9-96fe-d91bf8af1398.png)
![image](https://user-images.githubusercontent.com/15920960/67254690-04e4c100-f4b1-11e9-85d1-6429fb50fe87.png)

[2019-10-22 03:06] SunAhong1993 commented on #178
您好~在最新版的代码中已修复此问题了，您可clone最新版的代码，来进行转换。

[2019-10-23 08:24] dehuy69 opened #183 "Can X2Paddle convert SSD_mobileNet_V1 model zoo pretrained in tensorflow?"
I download SSD_Mobilenet Tensorflow detection model zoo from https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md and use X2Paddle convert to Paddle-lite model and use it run on an Neural Network Inference Engine supported by huawei chip. BUT none of them success. Could you please do a try and give me some suggest?

[2019-10-23 09:15] jiangjiajun commented on #183
Hi, SSD(tf version) is not supported and the mainly problem is the control flow in this model.   SSD in caffe version is supported. [SSD-MobileNet](https://github.com/chuanqi305/MobileNet-SSD)

[2019-10-29 02:00] #178 closed, assigned to nobody

[2019-10-29 02:01] #183 closed, assigned to nobody

[2019-11-13 08:32] liuhong-lh opened #201 "x2paddle transfer model of tensorflow, report error."
(venv-python36) PS D:\tensorflow-learning\venv-python36\Scripts> x2paddle -m D:\work\AI\model\mobilenet_v1_1.0_224_frozen\mobilenet_v1_1.0_224_frozen.pb -s D:\work\AI\PaddlePaddleLite -f tensorflow -f tensorflow

### paddlepaddle not installed, use "pip install paddlepaddle"
1.0.0<=tensorflow<2.0.0 is required, and v1.14.0 is recommended

but paddlepaddle installed . And use "pip list" can see : "

[2019-11-14 06:17] jiangjiajun commented on #201
『paddlepaddle not installed, use "pip install paddlepaddle"』 this will happen under the following codes,

https://github.com/PaddlePaddle/X2Paddle/blob/develop/x2paddle/convert.py#L205
[code]

you may need to check your python environment, try to  reinstall x2paddle and paddlepaddle to solve this problem.

[code]

[2019-11-17 06:09] 914295860 opened #202 "GPT-2模型转换时出错。"
在我使用onnx转paddle时候，报错：
There are 1 ops not supported yet, list as below
NonZero

希望能尽快支持

模型位置：https://github.com/onnx/models/tree/master/text/machine_comprehension/gpt-2/model

[2019-11-18 08:03] Channingss commented on #202
感谢您的关注和反馈，NonZero已经在我们的开发计划中，开发好第一时间告知您。

[2019-11-22 03:24] Channingss commented on #202
@914295860 #205 更新了对NonZero的支持

[2019-11-22 03:38] Channingss commented on #202
@914295860 #206支持了NonZero

[2019-11-22 07:45] Channingss commented on #202
@914295860 请问是不是用的这个[model](https://github.com/onnx/models/tree/master/text/machine_comprehension/gpt-2/model)，这个model暂时还不支持。

[2019-11-22 07:48] 914295860 commented on #202
没错，就是这个。希望能尽快提供支持吧。

[2019-11-25 03:29] #201 closed, assigned to nobody

[2019-11-27 02:11] #202 closed, assigned to Channingss

[2019-11-27 05:16] zhhezhhe opened #207 "AttributeError: module 'model' has no attribute 'x2paddle_net'"
[code]

[2019-11-27 13:33] Anikily opened #208 "onnx转paddle失败"
Now translating model from onnx to paddle.
model ir_version: 4, op version: 9
W1127 21:32:25.501857 54097 init.cc:125] Compiled with WITH_GPU, but no GPU found in runtime.
Traceback (most recent call last):
  File "/home/yulu/anaconda3/envs/paddle/bin/onnx_infer", line 11, in <module>
    load_entry_point('x2paddle==0.6.0', 'console_scripts', 'onnx_infer')()
  File "/home/yulu/anaconda3/envs/paddl

[2019-11-28 06:27] Channingss commented on #208
麻烦提供一下onnx的model

[2019-11-28 06:42] Anikily commented on #208
@Channingss 我怎么提供呢？

[2019-11-28 06:50] Channingss commented on #208
模型不大的话用百度云吧

[2019-11-28 06:51] Anikily commented on #208
@Channingss Hi上可以给吗？

[2019-11-28 06:55] Channingss commented on #208
可以，hi：chenlingchi

[2019-11-28 22:26] billmguo opened #210 "google.protobuf.message.DecodeError: Error parsing message"
Traceback (most recent call last):
  File "/usr/local/bin/x2paddle", line 11, in <module>
    load_entry_point('x2paddle==0.6.0', 'console_scripts', 'x2paddle')()
  File "/usr/local/lib/python3.5/dist-packages/x2paddle-0.6.0-py3.5.egg/x2paddle/convert.py", line 227, in main
    args.caffe_proto, params_merge)
  File "/usr/local/lib/python3.5/dist-packages/x2paddle-0.6.0-py3.5.egg/x2paddle/convert.

[2019-11-29 02:25] jiangjiajun commented on #210
google.protobuf >= 3.6.0 is required, but it seems that there's problem exists in your model file, you may need to  check your "prototxt" file.

[2019-11-29 02:25] #208 closed, assigned to Channingss

[2019-11-29 06:10] #207 closed, assigned to nobody

[2019-12-03 06:52] ghimiredhikura opened #213 "IndexError: list index out of range?"
Hi,

x2paddle conversion gives this error. I used Ubuntu18.04 in VitrualBox.

Model: [ssd_mobilenet_custom.zip](https://github.com/PaddlePaddle/X2Paddle/files/3915001/ssd_mobilenet_custom.zip)

[code]
Please help.

Best,
Deepak

[2019-12-03 13:15] SunAhong1993 commented on #213
This problem is because that we forget to deal with "Sigmoid" op before DetectionOutput model.  We have fix this problem. Thanks!

[2019-12-03 15:49] ghimiredhikura commented on #213
Thanks for your quick response

Is this also fixed in `pip install x2paddle --index https://pypi.Python.org/simple/` ?

Thanks.

[2019-12-04 02:07] jiangjiajun commented on #213
yes, pip source is updated, the newest version is x2paddle v0.7

[2019-12-04 04:00] aksenventwo opened #216 "X2Paddle 支持 tensorflow 2.0 的模型转换吗？"

[2019-12-04 06:05] jiangjiajun commented on #216
X2Paddle只支持TensorFlow在1.x自动本训练保存的模型。目前并未在TensorFlow2.0上进行过测试

[2019-12-04 07:56] zzchust opened #217 "使用x2paddle转换之后的模型进行预测，是否必须要求预测库paddle>1.6.0"
如题

使用x2paddle对caffe转模型后，利用paddle预测库进行预测，是否要求预测库paddle>1.6.0

[2019-12-04 09:26] aksenventwo commented on #216
有这个计划支持吗？

[2019-12-04 12:42] luoduo21 opened #218 "pytorch ssd模型导出onnx 转paddle出错"
Now translating model from onnx to paddle.
model ir_version: 4, op version: 9
Total nodes: 98
Traceback (most recent call last):
  File "/home/zt/androidprojects/X2Paddle-develop/x2paddle/core/op_mapper.py", line 122, in save_inference_model
    inputs, outputs = model.x2paddle_net()
  File "pd_model/model_with_code/model.py", line 7, in x2paddle_net
    _107 = fluid.layers.create_parameter(dtype=

[2019-12-05 02:14] jiangjiajun commented on #216
目前暂无此计划

[2019-12-05 02:20] Channingss commented on #218
有尝试过转换未经过onnx-simplifier-master的模型吗？

[2019-12-05 02:25] jiangjiajun commented on #217
X2Paddle中的代码随Paddle版本会进行一些功能的更新，所以最新版本的X2Paddle转换后的模型也是要求在最新版本的Paddle上使用。
如果有需求要使用低版本的Paddle，目前只能尝试使用更早版本的X2Paddle（目前最新为v0.7）。
由于新版本的x2paddle中会修复之前存在的代码bug，支持更多OP，所以仍然建议使用最新版本的x2paddle
[code]

[2019-12-05 03:28] fangwudi opened #219 "使用paddle训练后的paddle模型可以转caffe模型吗？"
使用paddle训练后的paddle模型可以转caffe模型吗？

[2019-12-05 04:33] ghimiredhikura commented on #213
Thanks.

[2019-12-05 05:29] luoduo21 commented on #218
用onnx=1.6.0一直提示 onnx==1.5.0 is required
所以环境用的pytorch1.3,onnx=1.5.0,onnxruntime=1.0.0,使用未经过onnx-simplifier-master转换的SSD模型,错误如下:
(pytorch1.3) zt@zt:~/androidprojects/X2Paddle-develop$ x2paddle --framework=onnx --model=test.onnx --save_dir=pd_model
Now translating model from onnx to paddle.
model ir_version: 4, op version: 9
onnxruntime==0.4.0 is required
Total nodes: 206
in (Constant -> _107): attr

[2019-12-05 05:38] luoduo21 commented on #218
已解决x2paddle更新到0.7.0就没问题了

[2019-12-05 05:38] #218 closed, assigned to Channingss

[2019-12-05 08:32] jiangjiajun commented on #219
目前没有提供此转换工具。但可以关注一下[Paddle2ONNX](https://github.com/PaddlePaddle/paddle2onnx)，支持部分模型从Paddle转至ONNX

[2019-12-05 08:34] jiangjiajun commented on #210
The issue is closed now, but you can reopen it if you need.

[2019-12-05 08:34] #210 closed, assigned to nobody

[2019-12-05 08:36] fangwudi commented on #219
好的，多谢

[2019-12-05 08:36] #219 closed, assigned to nobody

[2019-12-05 12:42] zzchust opened #220 "使用x2paddle转caffe模型后，paddle1.6.1的C++ inference速度慢了20%以上"
caffe模型选用[x2paddle_model_zoo](https://github.com/PaddlePaddle/X2Paddle/blob/develop/x2paddle_model_zoo.md)
中的[shufflenetv2](https://github.com/miaow1988/ShuffleNet_V2_pytorch_caffe/releases/tag/v0.1.0)

转模型后，使用paddle1.6.1的 cpu-mkl版本进行预测，比caffe的模型（cpu端）慢20%以上。

[2019-12-06 04:42] #213 closed, assigned to SunAhong1993

[2019-12-06 05:28] jiangjiajun commented on #220
X2Paddle并未具体测试过模型转换前后的性能对比。
预测性能上，不同框架OP并不是完全一致的，所以可能会在转换过程中，使用Paddle OP去组合实现Caffe的OP，OP数量的增加，可能会带来一定的性能损失。
预测时间的测试中，也可能会受到一些环境设置的影响，例如是否预测时使用多线程之类的。如果需要优化Paddle的预测速度，可以根据官方网站查阅下相关的文档。

[2019-12-09 01:54] jiangjiajun commented on #216
由于没有最新的回复，此issue将会被关闭，但也可随时根据需求再重新打开，谢谢

[2019-12-09 01:54] #216 closed, assigned to nobody

[2019-12-09 17:00] zuoyekun opened #221 "在含有paddle的docker中安装tensor1.14.0后，使用x2paddle工具还是提示未安装tensorflow"
![image](https://user-images.githubusercontent.com/38059903/70456108-77087800-1ae8-11ea-9145-2b9ae2226f79.png)

[2019-12-10 02:24] jiangjiajun commented on #221
可以尝试在命令行，直接输入 python， 然后执行以下代码，看是否会有问题
[code]

[2019-12-10 02:24] jiangjiajun commented on #221
可以尝试在命令行，直接输入 python， 然后执行以下代码，看是否会有问题
[code]

[2019-12-13 04:26] #217 closed, assigned to nobody

[2019-12-13 04:26] #220 closed, assigned to nobody

[2019-12-15 05:00] #221 closed, assigned to nobody

[2019-12-17 04:41] DJinsis opened #222 "为什么onnx转paddle需要是1.6版本的，有没有支持1.4版本的"
版本太高，有些不支持

[2019-12-18 09:06] jiangjiajun commented on #222
如果有需求要支持以前版本的Paddle，建议你可以尝试使用更低版本的X2Paddle，可以参考这个Issue https://github.com/PaddlePaddle/X2Paddle/issues/217

[2019-12-23 02:39] jiangjiajun commented on #222
由于较长时间没有回复，此issue将会被关闭，若后续有需要跟进的问题，可以随时重新打开，谢谢。

[2019-12-23 02:39] #222 closed, assigned to nobody

[2019-12-24 07:46] lantuxin opened #224 "使用x2paddle转换mobilenet(tensorflow),报错"
转换命令：x2paddle -f tensorflow -m frozen_inference_graph.pb -s pd_model/ --without_data_format_optimization --define_input_shape
报错情况：
Now translating model from tensorflow to paddle.
Define shape[now is [-1L, -1L, -1L, 3L]] for input tensor[tensor name: "image_tensor']
Use your keyboard type the shape of input tensor below :)
Shape of Input(e.g. None,224,224,3): None,224,224,3
Traceback (most recent

[2019-12-24 09:25] jiangjiajun commented on #224
你好，请问模型的来源是TensorFlow/models中的MobileNet实现吗，查看到这个模型的结构较为复杂，且分析到模型共涉及到62个TensorFlow的OP算子，并包括控制流算子，目前X2Paddle不支持该类模型的转换。 目前已经测试可以转换的MobileNet模型可以见X2Paddle 的[模型测试列表](https://github.com/PaddlePaddle/X2Paddle/blob/develop/x2paddle_model_zoo.md)
涉及到的OP算子列表如下
[code]

[2019-12-26 03:45] lantuxin commented on #224
模型是我们使用TensorFlow训练的Mobilenet_SSD。模型测试列表中的确没有支持，但caffe下的Mobilenet_SSD已支持，所以还是希望贵团队早日支持。

[2019-12-27 03:39] jiangjiajun commented on #224
TensorFlow中的检测模型多涉及到控制流，目前都无法支持。PaddlePaddle/models中已经有SSD的实现。另外现在有基于Paddle的统一检测模型库PaddleDetection（ https://github.com/PaddlePaddle/PaddleDetection )，里面已经包含了大量常用和最新的检测模型，包括SSD，建议可以尝试使用：）

[2020-01-02 03:49] jiangjiajun commented on #224
此issue已被关闭，若仍有需求，可随时再打开。:)

[2020-01-02 03:49] #224 closed, assigned to nobody

[2020-01-06 07:54] Xshelton opened #225 "HI,if I want to transfer tensorflow code into paddle ,how do I change the session part?"
with tf.Session() as sess:
  sess.run(init)
  sess.run([train_op], feed_dict={
            x: batch_xs,
            y: batch_ys,
        })
something like that,? thanks

[2020-01-07 04:34] jiangjiajun commented on #225
This document shows how to export tensorflow model with ".pb" format

https://github.com/PaddlePaddle/X2Paddle/blob/develop/export_tf_model.md

[2020-01-07 05:23] Xshelton commented on #225
I mean I want to retrain my model in paddlepaddle as it does not support tensorflow-gpu. But, In my program, there are some sentence like "sess", Is there anything in pdpd that may be in correspondence to the sentence like "sess"? thanks.

[2020-01-07 08:29] jiangjiajun commented on #225
Simple Code for Linear Regression

for your case, 'sess' seems like 'exe' in paddlepaddle
[code]

[2020-01-07 08:51] Xshelton commented on #225
okay, that's it. thanks a lot. I will try to transfer my tf version into pd version . Thx

[2020-01-07 08:51] #225 closed, assigned to nobody

[2020-02-07 14:11] nizihan opened #227 "caffe-SSD转fluid预测Normalize层出错"
环境：paddle 1.6.3
使用工具将caffe模型转换为fluid模型，验证模型的预测：
1、用model_with_code/中生成转换好的参数和model.py进行网络做预测，用load_vars方式加载参数，预测时报错，排查到Normalize层报错。
2、再使用inference_model/中的模型，不定义网络结构，直接load_inference_model加载prog，报相同错误。
报错截图为：
`F0207 22:01:00.297178 116936 device_context.cc:328] cudaStreamSynchronize an illegal memory access was encountered errno: 77
*** Check failure stack trace: ***
    @     0x7f34711e72dd  goo

[2020-02-12 01:28] SunAhong1993 commented on #227
由于Normalize的参数shape为对应上而导致bug，目前已修复，详见PR： https://github.com/PaddlePaddle/X2Paddle/pull/228。

[2020-02-17 06:07] #227 closed, assigned to nobody

[2020-02-25 02:28] phamkhactu opened #229 "Convert paddle model to tensorflow"
### I am not good at paddlehub. I am usually use tensorflow python. Therefore, I need convert __model__ __param__ in paddlehub to  model tensorflow. How can I do it, or load __moddel__ __param__ by tensorflow? Thank in advance.

[code]

[2020-02-25 02:46] jiangjiajun commented on #229
Hi， Which model in PaddleHub you want to convert? And is there any problem while you use PaddleHub?

[2020-02-25 02:51] phamkhactu commented on #229
Thank for responding. I want convert face_detection model.nb to model.pb or model.h5. Can you tutorial me step by step to convert.

[2020-02-25 02:55] phamkhactu commented on #229
if not converted to tensorflow. Can you give me some code to load model.nb and param.nb ?
I am a newbie, but i love it so much. I want to dig it more and more.

[2020-02-25 03:58] jiangjiajun commented on #229
"face_detection model.nb" I'm not sure which model in PaddleHub you are referencing.
This document shows how to use pyramidbox_lite_server to detect human face
https://www.paddlepaddle.org.cn/hubdetail?name=pyramidbox_lite_server&en_category=ObjectDetection

[2020-02-25 04:04] phamkhactu commented on #229
I get it in a wget https://paddle-inference-dist.bj.bcebos.com/mask_detection.tar.gz. I think it i paddle model. It is saved binary weight. I try out read with https://blog.csdn.net/ymznice/article/details/88826328. but this show error: google.protobuf.message.DecodeError: Error parsing message. I think it caused by not model  tensorflow can be read.

[2020-02-25 05:18] jiangjiajun commented on #229
Mask Detection in PaddleHub: https://www.paddlepaddle.org.cn/hub/scene/maskdetect

[2020-02-25 07:22] phamkhactu commented on #229
but, in my purpose, i want to convert model.nb (binary model) to keras model.

[2020-02-26 09:24] hdulbj opened #230 "请问支持NLP中的ALBERT的模型转换吗"

[2020-02-26 13:30] Eric-Zhang1990 opened #231 "pytorch->onnx->paddle, paddle中的_interpolate函数(paddle not support op:resize wiht mode: linear)"
pytorch->onnx->paddle:
pytorch中调用了F.interpolate(x, scale_factor=[0.5, 0.75], mode="bilinear", align_corners=False), 但是onnx转paddle报错:
![WXWorkCapture_15827237397369](https://user-images.githubusercontent.com/24602893/75349109-131f6f80-58df-11ea-8415-792ab7c74dcb.png)
和issue #142类似, 但是不知道具体怎么解决, 请各位帮忙看看, 谢了

[2020-02-26 13:56] jiangjiajun commented on #230
目前未在NLP模型上测试过模型的转换，可以自行测试一下

[2020-02-26 14:02] Eric-Zhang1990 commented on #142
@richlaji   你这个问题是怎么解决的呢? 我也遇到差不多的问题了, 请说下解决方案吧, 谢谢

[2020-02-26 14:32] Channingss commented on #231
@Eric-Zhang1990 可以先尝试用github源码安装，如果还有问题的话，可以把模型用百度云或者其他方式分享给我。

[2020-02-27 01:59] Eric-Zhang1990 commented on #231
@Channingss  我用源码编译的, 运行出现下面的错误, 这个怎么解决呢? 谢谢
![WXWorkCapture_15827687087651](https://user-images.githubusercontent.com/24602893/75405148-ba37f180-5947-11ea-9bdf-50316969f3fe.png)

[2020-02-27 02:00] jiangjiajun commented on #229
It's not supported yet, but you can load this model, and export weight by your self.

[2020-02-27 02:12] Eric-Zhang1990 commented on #231
@Channingss  onnx的opset_version不同错误也不一样, 下面是opset_version=11的错误:
![3](https://user-images.githubusercontent.com/24602893/75405793-a2fa0380-5949-11ea-9826-afe807f1626b.png)

[2020-02-27 02:16] Eric-Zhang1990 commented on #231
@Channingss  我把onnx模型发到你163邮箱了, 谢谢

[2020-02-27 02:49] Eric-Zhang1990 commented on #231
@Channingss   我刚试了另外一个方法，就是把后面用到interpolate的网络先不加载，只转换前面一部分，这样onnx转paddle没有报错.
所以是不是还是interpolate的bug呢?谢谢

[2020-02-27 06:39] Channingss commented on #231
@Eric-Zhang1990 收到，我看下模型。

[2020-02-27 09:47] Eric-Zhang1990 commented on #231
@Channingss  请问问题找到了吗？是interpolate的原因吗？tkx

[2020-02-27 11:22] Channingss commented on #231
@Eric-Zhang1990 是interpolate的问题，需要花点时间定位下具体问题，尽快回复

[2020-02-27 13:06] Channingss commented on #231
@Eric-Zhang1990 #232 ，亲测使用opset_version==10可以转换。

[2020-02-27 13:41] Eric-Zhang1990 commented on #231
@Channingss  请问你是把我给你的onnx模型（opset_version=10）转paddle转成功了是吗？ tkx

[2020-02-28 08:20] Eric-Zhang1990 commented on #231
@Channingss  你这边是转换成功了是吗?  能怎么验证转换后的模型是不是正确呢? 谢谢

[2020-02-28 08:42] Channingss commented on #231
@Eric-Zhang1990 我这边是转换成功了，但代码还没有合入，可以先到我提交PR的repo下面去clone。你可以对比一张图片看原来的模型和转换模型的输出。

[2020-02-29 13:33] Eric-Zhang1990 commented on #231
@Channingss  我测试过, 转换后的模型用生成的model.py能输出结果, 输入矩阵ones(1,3,513,513), 不过原模型和转换后的模型结果不一致.

[2020-02-29 13:38] Eric-Zhang1990 commented on #231
@Channingss  我转换后的模型有200多M (原项目地址: https://github.com/kazuto1011/deeplab-pytorch), 我把转换后的模型移植到安卓端, 但是移动加载模型时就报了个错:
A/libc: /Volumes/Android/buildbot/src/android/ndk-release-r17/external/libcxx/../../external/libcxxabi/src/abort_message.cpp:73: abort_message: assertion "terminating with uncaught exception of type std::bad_alloc: std::bad_alloc" failed
还没找到解决方法, 是不是模型太大的原因呢? 你有遇到过这个错误吗? 谢谢

(我用的是我发给

[2020-03-01 13:24] czczup opened #233 "X2Paddle支持任意大小的输入吗？"
我想用Paddle-Lite在移动端部署快速风格迁移模型，模型的输入shape是(1, None, None, 3)，输出的shape和输入的shape相同。我从tensorflow的pb格式转换为paddle的格式会报错：
[code]
我看[FAQ](https://github.com/PaddlePaddle/X2Paddle/blob/develop/FAQ.md)中说**需要用户手动在提示后输入详细的shape信息，如None,224,224,3**。

我希望我的模型支持任意大小的输入，请问该怎么操作才能实现？

[2020-03-01 14:03] #229 closed, assigned to nobody

[2020-03-02 07:17] Channingss commented on #231
@Eric-Zhang1990 1.原模型和转换后的模型结果不一致的问题，我刚刚查了一下是因为paddle目前只支持bilinear：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/nn_cn.html#resize-bilinear
，你那边onnx的模型的resize使用的是linear模式

[2020-03-02 07:21] Channingss commented on #231
@Eric-Zhang1990 2.如果你使用Lite的model_optimize_tool能转换过去没报错，说明Lite对这个模型的OP支持是没问题的。另外，Lite那边两百兆的模型部署到安卓端，看报错像是模型太大了的问题。这么大的模型到安卓端跑起来性能跟不上的，其实是不合理的哈。分割的demo配置的时候，HW是反的，你注意一下。

[2020-03-02 11:17] jiangjiajun commented on #233
你好，PaddleLite目前除batch维可以为None外，其余维度要求是固定的输入

[2020-03-02 13:08] JINGTING92 commented on #233
请问要在the shape of input tensor below: 后面输入怎样的形式呢？我尝试输入None, 513, 513, 3和1, 513, 513, 3都不对

[2020-03-03 03:08] jiangjiajun commented on #233
不需要空格，输入1,513,513,3

[2020-03-03 14:11] #233 closed, assigned to nobody

[2020-03-06 02:37] Eric-Zhang1990 commented on #231
我在pytorch中用的是bilinear (F.interpolate(x, scale_factor=[0.5, 0.75], mode="bilinear", align_corners=False)), 转onnx后再转paddle后x2paddle显示的是linear, 和issue#142一样, 不过不知道他是怎么修改的.

[2020-03-06 02:39] Eric-Zhang1990 commented on #231
我也在找小一点的deeplab的模型, 不过还没找到, 不知道你有没有小一点的deeplab模型(onnx和tensorflow都可以) 呢? 谢谢

[2020-03-06 02:42] Eric-Zhang1990 opened #237 "tensorflow转paddle模型报错"
1.Deeplabv3_mobilenetv2模型
(1)模型地址
(a)http://download.tensorflow.org/models/deeplabv3_mnv2_pascal_train_aug_2018_01_29.tar.gz
(b)http://download.tensorflow.org/models/deeplabv3_mnv2_pascal_trainval_2018_01_29.tar.gz
(2) (错误) tensorflow转paddle失败: 用官网的x2paddle转换工具;
(a) 用命令x2paddle --framework=tensorflow --model=frozen_inference_graph.pb --save_dir=pd_model, 出现如下错误:
![1583393488(1)](https://user-image

[2020-03-06 05:17] Channingss commented on #231
@Eric-Zhang1990 如果pytorch中用的是bilinear，那理论上Paddle这边应该没有diff才对，我再确认下吧

[2020-03-06 06:24] Channingss commented on #231
@Eric-Zhang1990 咱们自己的model库里面有deeplab:
https://github.com/PaddlePaddle/PaddleSeg

[2020-03-07 07:02] jiangjiajun commented on #237
目前TensorFlow的DeepLab还存在OP转换过程中未与Paddle对齐，暂时不支持。但PaddlePaddle已经提供了官方的语义分割模型库，也提供了相应的预训练模型，建议直接使用PaddleSeg  https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.3.0

[2020-03-11 12:09] #237 closed, assigned to nobody

[2020-03-16 02:13] jiangjiajun commented on #231
由于长久时间没更新，此issue目前被关闭，如若有需求，可随时再重新打开。

[2020-03-16 02:13] #231 closed, assigned to Channingss

[2020-03-18 15:15] loretoparisi opened #238 "PaddlePaddle 2 Tensorflow/ONNX"
Is it possibile to do the opposite? I would like to convert a pretrained PaddlePaddle model to Tensorflow (or Pytorch) by example

Thanks

[2020-03-19 02:20] jiangjiajun commented on #238
We have provided Paddle2ONNX which supports parts of paddle model converting to ONNX。
https://github.com/PaddlePaddle/paddle2onnx

[2020-03-19 08:55] loretoparisi commented on #238
@jiangjiajun awesome thank you!

[2020-03-19 08:55] #238 closed, assigned to nobody

[2020-03-21 15:37] roreagan opened #239 "Tensorflow Bert模型转换"
下载 https://storage.googleapis.com/albert_zh/albert_xlarge_zh_183k.zip 后在`TensorFlow 1.14.0`下使用如下脚本转为pb：
[code]

[2020-03-25 02:49] jiangjiajun commented on #239
# 转换方法
[code]
然后使用如下命令进行转换
[code]
其中参数`--without_data_format_optimization`是表示不对输入格式做优化，此前默认会针对CV模型的NHWC格式优化为NCHW，非CV模型一定要指定`--without_data_format_optimization`

在这个分支里面，新增了部分bert的OP，在后续验证无误后，会合入到develop分支，并更新到pip源

[2020-03-25 02:50] #239 closed, assigned to nobody

[2020-03-25 02:52] jiangjiajun commented on #230
Hi，你好，最近我们新更新了代码，对Bert模型进行了支持，可以尝试使用一下，可以参考这个ISSUE
https://github.com/PaddlePaddle/X2Paddle/issues/239

[2020-03-25 09:55] #230 closed, assigned to nobody

[2020-03-27 09:23] matfeb opened #242 "IndexError: list index out of range"
Hi,

Model = MobileNet_v2_1.0 224 from TensorFlow hub models

MobileNet_v1_1.0 and SqueezeNet 1.1 have been converted without any issue.

`x2paddle --framework=tensorflow --model=mobilenet_v2_1.0_224_frozen.pb --save_dir=pd_model` gave me

[code]

Related to #213 ?

Thanks.

[2020-03-28 03:27] jiangjiajun commented on #242
Hi , Could you provide your model `mobilenet_v2_1.0_224_frozen.pb` for us to debug code?

[2020-03-28 06:09] jiangjiajun commented on #242
Thanks for reporting this problem, I just found a bug in my code, which is caused by code upgrade recently. I have fix the bug, please try to pull the latest code of X2Paddle :)
[code]

[2020-03-28 12:20] matfeb commented on #242
Hello,

thanks for your fix.
It's working now, not with pip install be with git clone it's allright.

The model is from TFLite hub [https://www.tensorflow.org/lite/guide/hosted_models](url)

Regards,

[2020-03-28 12:20] #242 closed, assigned to nobody

[2020-04-02 10:32] qhpeklh5959 opened #243 "用x2paddle转pytorch模型报错"

[2020-04-02 10:34] qhpeklh5959 commented on #243
![image](https://user-images.githubusercontent.com/5755812/78239553-6a34e780-7510-11ea-9f93-5cfe2a516908.png)
报错显示有一个操作不支持

[2020-04-03 07:19] Channingss commented on #243
@qhpeklh5959 hi，我们刚刚新增了OP:Erf的转换，可以clone最新的代码，然后手动安装x2paddle。

[2020-04-03 07:29] qhpeklh5959 commented on #243
赞效率，感谢~
pytorch模型参数的话是不是不能是None啊，我看中间还报了一个错
![image](https://user-images.githubusercontent.com/5755812/78335249-d91d4980-75bf-11ea-980a-520c9dffd031.png)

[2020-04-05 00:54] Channingss commented on #243
麻烦提供一下ONNX的模型文件

[2020-04-08 11:23] czczup opened #245 "不支持tensorflow的tf.Sqrt"
Converting node 321 ...
==========1 Ops are not supported yet======
========== Sqrt ==========

谢谢！

[2020-04-08 11:25] czczup commented on #245
这样好像可以，就是会重复计算：1/tf.rsqrt

[2020-04-08 11:31] czczup commented on #245
改成了rsqrt，已解决

[2020-04-08 11:31] #245 closed, assigned to nobody

[2020-04-09 12:06] guoqiang0148666 opened #246 "Support Caffe FasteRCNN to paddle model?"
Thanks your excellent work!

Could X2Paddle convert Caffe FasteRCNN to paddle model?

Thanks

(l see that custom caffe layer of X2Paddle have't proposal layer)

[2020-04-10 03:03] TreeDiagram-1 opened #247 "x2paddle支持动态shape吗?"
在进行LSTM和GRU的模型转换时遇到了下面的问题：
 File "./onnx_decoder.py", line 498, in check_model_running_state
    ipt.shape).astype(datatype)
  File "mtrand.pyx", line 430, in numpy.random.mtrand.RandomState.random
  File "mtrand.pyx", line 421, in numpy.random.mtrand.RandomState.random_sample
  File "_common.pyx", line 256, in numpy.random._common.double_fill
TypeError: 'str' object cannot be interpreted as an in

[2020-04-10 03:10] SunAhong1993 commented on #246
Sorry, we don't support the FasterRCNN conversion from caffe to paddle. Because the Python layer and proposal layer can't align to paddle op.

[2020-04-11 09:47] taoja12 opened #248 "Paddle lite模型可以转成Tensorflow lite吗"
目前有一个Paddle Lite的VGG16模型，可以将这个模型转换成Tensorflow Lite模型，然后再去使用吗？

或者，Paddle Lite的模型，可以在TVM上面调用吗？

[2020-04-13 03:08] jiangjiajun commented on #248
目前有Paddle2ONNX，可以支持大部分Paddle的分类模型转成onnx格式，可以尝试使用一下。 https://github.com/PaddlePaddle/paddle2onnx

[2020-04-14 08:49] Eric-Zhang1990 opened #249 "onnx转paddle时报concat的错误"
@Channingss   我用x2paddle(0.7.3)工具将onnx (mobilenet_v2_ssd)转paddle模型时报如下错误, 根据提示信息应该是concat的错误, 但是不清楚具体原因, 请问如何解决呢? 谢谢
![WXWorkCapture_15868540459715](https://user-images.githubusercontent.com/24602893/79204776-a8ff6180-7e6f-11ea-8851-1cf7c2a9f932.png)
onnx模型百度网盘地址: 链接: https://pan.baidu.com/s/1ljmlOWyCkThK9xJYPyoZVw 提取码: s65z

[2020-04-14 12:39] guoqiang0148666 commented on #246
@SunAhong1993
Thanks.

[2020-04-14 12:39] #246 closed, assigned to SunAhong1993

[2020-04-15 08:45] Eric-Zhang1990 commented on #249
@jiangjiajun  @Channingss  你那边能否转换一下我提供的onnx模型, 是不是和我这边的错误一样呢? 谢谢

[2020-04-16 01:52] TreeDiagram-1 opened #250 "x2paddle现在可以支持nn.GRU了吗"

[2020-04-16 01:55] TreeDiagram-1 commented on #250
模型如下：
class Model(nn.Module):
    def __init__(self):
        super(Model, self).__init__()
        self.gru = nn.GRU(6, 5, 3)
        #self.lstm = nn.LSTM(5, 4, 2)
    def forward(self, x, h1, h2, c2):
        y, h1 = self.gru(x, h1)
        #y, (h2, c2) = self.lstm(y, (h2, c2))
        return y
model = Model()
model.eval()
xb = torch.rand((8, 1, 6))
h1 = torch.zeros((3, 1, 5))
h2 = torch.zeros((

[2020-04-16 01:56] #247 closed, assigned to Channingss

[2020-04-16 01:56] Channingss commented on #249
@Eric-Zhang1990 好的

[2020-04-16 02:22] Channingss commented on #249
@Eric-Zhang1990 问题是由于concat的输入中dtype存在int32和int64，在做dtype检查的时候报错。我查看了下该concat的输入，发现其中一个input(768)的前置输入是OP：shape经过一些处理，然而shape的输出是int32，shape的API：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/shape_cn.html#paddle.fluid.layers.shape
你那边能否将其他两个输入存储为int32？
![image](https://user-images.githubusercontent.com/12471701/79407528-f8f33b00-7fcb-11ea-927a-08a715ddcf6b.png)

[2020-04-16 03:09] Eric-Zhang1990 commented on #249
@Channingss  好的, 我今天尝试一下

[2020-04-16 06:16] Eric-Zhang1990 commented on #249
@Channingss  我看了代码, 不清楚怎么将其他2个输入存储为int32呢? 代码如下:
    def forward(self, features):
        cls_logits = []
        bbox_pred = []
        for feature, cls_header, reg_header in zip(features, self.cls_headers, self.reg_headers):
            cls_logits.append(cls_header(feature).permute(0, 2, 3, 1).contiguous())
            bbox_pred.append(reg_header(feature).permute(0, 2, 3, 1).contiguous())

[2020-04-16 09:41] qhpeklh5959 commented on #243
https://ecloud.baidu.com?t=b5f081b34b2497c1d4272a79d9bbd411

[2020-04-17 07:32] Channingss commented on #249
@Eric-Zhang1990  self.cls_headers, self.reg_headers，cast一下？参考：https://pytorch.org/docs/stable/tensors.html#torch.Tensor.type

[2020-04-17 12:51] Channingss commented on #243
@qhpeklh5959 分享的地址好像不对
![image](https://user-images.githubusercontent.com/12471701/79571109-356a8800-80ed-11ea-950e-5f42145ab105.png)

[2020-04-17 12:54] qhpeklh5959 commented on #243
不好意思，点错了，这个应该对了
https://ecloud.baidu.com?t=4d15161690fd04a15934d0e55b028441

[2020-04-20 03:29] Channingss commented on #243
@qhpeklh5959  我们在转换的过程中，有些op需要用到输出的shape。目前对onnx做shape inference，有些情况下shape推理不出来，可以参看onnx官方给出的说明：https://github.com/onnx/onnx/blob/master/docs/ShapeInference.md#limitations
未来我们会考虑解决这个问题。

[2020-04-20 07:30] #248 closed, assigned to nobody

[2020-04-22 02:05] Channingss commented on #250
@TreeDiagram-1  @你好，目前x2paddle支持torch的GRU转换成：[paddle.fluid.layers.dynamic_gru](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/dynamic_gru_cn.html#dynamic-gru)，但两个OP的参数存在差别，目前只支持部分参数的转换，可以参考 #131。
这段代码，我在pytorch1.4.0上跑不起来，能提供转换后的onnx文件吗？

[2020-04-30 12:58] lwbmowgli opened #251 "X2Paddle tensorflow报错"
![%4(V9S)}IL RS97V0P1A )V](https://user-images.githubusercontent.com/32731935/80712654-d7926300-8b24-11ea-9485-2f2730d5d34d.png)
报错信息如上，代码以及我生成的pb文件都在分享链接里。对于这个错误没有任何解决头绪，希望您解答一下，非常感谢。
链接：https://pan.baidu.com/s/1qaAfsb0PbvOE8NJMrAmfhg
提取码：kpkk

[2020-05-07 05:58] jiangjiajun commented on #251
Hi，请问你这里用的tensorflow版本是多少呢

[2020-05-07 07:12] CoderAnn opened #252 "onnx转paddle中遇到问题"
我在onnx转paddle时候遇到了一个问题想请教一下。最开始torch版本是1.1.0转onnx时会报错，之后torch修改为1.0.1后pytorch转onnx没问题了，但是在onnx转paddle时遇到了如下问题，请问该如何解决呢？麻烦了！感谢！（ps：我的网络结构中用到了上采样层）
`Now translating model from onnx to paddle.
model ir_version: 3, op version: 9
[libprotobuf WARNING google/protobuf/io/coded_stream.cc:537] Reading dangerously large protocol message.  If the message turns out to be larger than 2147483647 bytes, parsing

[2020-05-07 07:15] lwbmowgli commented on #251
十分抱歉，我有点记不太清了，电脑在老家那边了，看不到具体的信息了，可能是tf1.13或者tf2.0.。

[2020-05-07 07:58] jiangjiajun commented on #251
我试着用tf 1.14跑会出错，不过目前tf2.0的模型暂不支持转到Paddle

[2020-05-07 08:00] jiangjiajun commented on #243
此issue长时间未更新，将被关闭，若有需求可随时再打开

[2020-05-07 08:00] #243 closed, assigned to Channingss

[2020-05-07 08:00] jiangjiajun commented on #249
此issue长时间未更新，如有需求，可随时重新打开。

[2020-05-07 08:00] #249 closed, assigned to Channingss

[2020-05-07 08:01] jiangjiajun commented on #250
此issue长时间未更新，如有需求，可随时重新打开。

[2020-05-07 08:01] #250 closed, assigned to Channingss

[2020-05-07 08:04] Channingss commented on #252
@CoderAnn 您好，从报错信息来看，您导出的模型用onnxruntime跑不起来，我们需要onnxruntime来推理模型里面各个node的shape。如果torch版本可以run的话，很有可能是从torch转到onnx的时，保存的onnx存在问题。
onnxruntime如何运行模型，可参考下面的API：
https://microsoft.github.io/onnxruntime/python/tutorial.html#step-3-load-and-run-the-model-using-onnx-runtime

[2020-05-07 08:36] CoderAnn commented on #252
那您的意思是版本没什么问题哈？那我可以在torch为1.0.1转的onnx模型上去做op的推理？关于使用onnxruntime去推理的问题也可以请教您吗？

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: channings <notifications@github.com&gt;
发送时间: 2020年5月7日 16:05
收件人: PaddlePaddle/X2Paddle <X2Paddle@noreply.github.com&gt;
抄送: CodingAnn <272597709@qq.com&gt;, Mention <mention@noreply.github.com&gt;
主题: 回复：[PaddlePaddle/X2Paddle] onnx转paddle中遇到问题 (#252)

@Coder

[2020-05-07 08:38] Channingss commented on #252
@CoderAnn 我看您在1.0.1的版本在onnx对模型做shape_inference也出现了问题，onnxruntime使用的问题首先可以考虑到onnxruntime的github主页寻找解决方案，也可以在这个issues下面提问哈。

[2020-05-07 08:42] CoderAnn commented on #252
好的，麻烦了！

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: channings <notifications@github.com&gt;
发送时间: 2020年5月7日 16:39
收件人: PaddlePaddle/X2Paddle <X2Paddle@noreply.github.com&gt;
抄送: CodingAnn <272597709@qq.com&gt;, Mention <mention@noreply.github.com&gt;
主题: 回复：[PaddlePaddle/X2Paddle] onnx转paddle中遇到问题 (#252)

@CoderAnn 我看您在1.0.1的版本在onnx对模型做shape_inference也出现了问题，onnxruntime使用的问题首先可以考虑到

[2020-05-07 14:16] jiangjiajun commented on #251
Hello，我刚测试了你的代码，我是在tf 1.14.0版本下进行的训练，可以正常训练（先前由于数据路径被编码成Windows上绝对路径导致加载出错）

Tensorflow模型在导出时，注意只需要导出前向计算部分（即模型预测部分，不需要训练部分回传的网络结构），因此我在你在train.py中定义了如下函数
[code]
同时将你原代码中如下导出代码
[code]
替换为
[code]

按如上操作后的代码即可导出tensorflow模型，并使用X2Paddle进行转换。

[2020-05-08 06:58] BeyondYourself opened #253 "caffe转换paddle异常"
![123](https://user-images.githubusercontent.com/12640462/81379613-ffdd1b80-913b-11ea-98bf-72dbd6c16f3b.png)
在执行caffee转换的时候出现这个错误，大家有明白的吗，求解释
我的操作命令为：
`x2paddle --framework=caffe --prototxt=XXX.prototxt  --weight=XXX.caffemodel --save_dir=XX`

[2020-05-08 08:20] SunAhong1993 commented on #253
你好~这个错误是由于ContinuationIndicator是自定义的Caffe OP（在使用Caffe时也需要重新编译带有该OP的Caffe才可以使用），所以目前X2Paddle暂不支持该OP的转换。

[2020-05-09 02:38] BeyondYourself commented on #253
OK,get it, thanks

[2020-05-09 06:51] CoderAnn commented on #252
您好，我在torch=1.0.1版本下的upsample模块修改为指定size的情况下，模型可以转到onnx但是在onnx转paddle时会遇到这种问题，我是将两个pytorch模型转到一起（因为其中一个会调用另一个），和这个有关系吗？还是说这个问题属于上采样模块的问题呢？

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: channings <notifications@github.com&gt;
发送时间: 2020年5月7日 16:39
收件人: PaddlePaddle/X2Paddle <X2Paddle@noreply.github.com&gt;
抄送: CodingAnn <272597709@qq.com&gt;, Mention <mention@noreply.github.com&gt;
主题

[2020-05-09 14:18] 60999 commented on #253
我这边也是遇到这种非标的，不知道如何处理。

[2020-05-09 14:23] 60999 opened #254 "有没有办法转torch的state_dict模型"
有没有办法转torch模型，而且代码中是encoder.state_dict()
倒是代码和数据集都有，是否有转换的方法？得改代码吗？

[2020-05-10 06:16] jiangjiajun commented on #254
只是转换参数，就直接把里面的参数提取出来就行了，Paddle可以有方法加载numpy参数初始化

[2020-05-11 05:43] AnShengqiang commented on #202
请问现在支持了吗？

[2020-05-11 08:57] CoderAnn commented on #252
您好，我现在遇到了另一个问题不知道您之前遇到过吗？我的模型里使用了torch.nn.PRelU函数，这个函数在onnxruntime上推理会有问题，但是我不清楚该如何修改，如果您也遇到过类似问题，麻烦告知我该如何解决。感谢！
我的代码
`self.input_layer = Sequential(Conv2d(3, 64, (3, 3), 1, 1 ,bias=False),
                                       BatchNorm2d(64),
                                       PReLU(64))`
报错信息：
`2020-05-11 16:35:26.845232609 [E:onnxruntime:, sequential_executor.cc:165 Execute] Non-zero stat

[2020-05-12 08:35] CoderAnn commented on #252
您好，我现在转到paddle已经转成功了，但是在测试时会报错，测试代码如下，我的pytorch模型是需要加载另一个预训练好的模型，也就是说我是将两个模型转在一起的。
`     exe = fluid.Executor(fluid.CPUPlace())
     path = "wasserstein_gan_arch/inference_model"
     [inference_program, feed_target_names, fetch_targets] = fluid.io.load_inference_model(dirname=path, executor=exe)`
错误信息：
`------------------------------------------
Python Call Stacks (More useful to users):
--------

[2020-05-14 02:39] Eric-Zhang1990 opened #255 "x2paddle: onnx转paddle报错: 1 ops not supported yet: ReduceL2"
@Channingss  用x2paddle将onnx模型转paddle模型时出现1个ops不支持的问题, 调试发现是torch.norm操作这一步 (torch.norm(o, p=2, dim=1, keepdim=True) + 0.000001).expand_as(o)), torch.norm转为onnx是onnx::ReduceL2[axes=[1], keepdims=1], x2paddle转onnx模型出现如下错误:
![error](https://user-images.githubusercontent.com/24602893/81889796-0a356480-95d7-11ea-9f8e-a5124581a00d.png)

请问是不是x2paddle工具确实还不支持ReduceL2呢? 谢谢

[2020-05-14 05:42] jiangjiajun commented on #251
因issue长时间未更新，将被关闭，如有需求可随时重新打开。

[2020-05-14 05:42] #251 closed, assigned to jiangjiajun

[2020-05-14 05:44] jiangjiajun commented on #253
因issue长时间未更新，将被关闭，如有需要可随时再打开。

[2020-05-14 05:44] #253 closed, assigned to SunAhong1993

[2020-05-14 06:01] Channingss commented on #255
@Eric-Zhang1990 目前还不支持

[2020-05-14 06:23] Eric-Zhang1990 commented on #255
@Channingss  Ok.  我把这操作放在模型转换之外了, 其他都能正常转换, 最后再自己对输出实现这个操作吧, 谢谢

[2020-05-14 06:35] Channingss commented on #255
@Eric-Zhang1990 可以的，感谢反馈，我们把这个op加入到开发需求列表。

[2020-05-14 06:43] Channingss commented on #252
@CoderAnn 看上去是某个op的参数load出现了问题，问题解决了吗

[2020-05-14 07:57] CoderAnn commented on #252
问题解决了！感谢，麻烦您了！顺便还有个小问题想问问您，我的网络里使用了bilinear做上采样，但是转换到onnx后效果有较大diff，但是用nearest做上采样就没问题，这个有没有好的解决方案呢？

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: channings <notifications@github.com&gt;
发送时间: 2020年5月14日 14:43
收件人: PaddlePaddle/X2Paddle <X2Paddle@noreply.github.com&gt;
抄送: CodingAnn <272597709@qq.com&gt;, Mention <mention@noreply.github.com&gt;
主题: 回复：[PaddlePaddle/X2Paddle] onnx转pa

[2020-05-14 08:15] Channingss commented on #252
@CoderAnn 是不是反了，paddle目前只有bilinear

[2020-05-14 08:22] CoderAnn commented on #252
啊，我网络里用的是bilinear但是转到onnx上后效果就有diff，从onnx转到paddle的效果和onnx是一致的。感觉是onnx对bilinear的支持有点问题吧，就是想问问您从pytorch转到onnx时，针对bilinear后结果不一致的问题有没有好的解决方案呢～

[2020-05-14 12:18] Channingss commented on #252
@CoderAnn
https://github.com/onnx/onnx/blob/master/docs/Changelog.md#attributes-131，

onnx这边用linear表征了好几个插值方式：linear (including bilinear, trilinear, etc)，不过感觉bilinear 不会呀，你是对比onnxruntime的输出吗？我这边现在强制是bilinear:https://github.com/PaddlePaddle/X2Paddle/blob/5480c7dc24344ff5eea17b8e764c9d2f5011ac2d/x2paddle/op_mapper/onnx_op_mapper.py#L410

[2020-05-14 12:28] CoderAnn commented on #252
是的我对比的是onnx和pytorch的效果，确实很奇怪，如果将插值方式更换为nearest两个模型的输出就无diff了。我目前已经使用finetune了pytorch模型。

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: channings <notifications@github.com&gt;
发送时间: 2020年5月14日 20:18
收件人: PaddlePaddle/X2Paddle <X2Paddle@noreply.github.com&gt;
抄送: CodingAnn <272597709@qq.com&gt;, Mention <mention@noreply.github.com&gt;
主题: 回复：[PaddlePaddle/X2Paddle] onnx转paddle中遇到问题 (#2

[2020-05-15 02:02] Channingss commented on #252
@CoderAnn 如果paddle这边对的齐pytorch就ok呀

[2020-05-19 07:30] wuyanhong3019 opened #256 "Converting node 894 ... ==========6 Ops are not supported yet======"
您好，我在使用x2paddle转换pb文件至paddlepaddle的时候，遇到以下几个Op不支持的情况，请问能近期能开发支持吗？
Converting node 894 ...    ==========6 Ops are not supported yet======
========== Sqrt ==========
========== ExpandDims ==========
========== EncodeJpeg ==========
========== ClipByValue ==========
========== Ceil ==========
========== ResizeBicubic ==========
它们对应的tensorflow函数分别是
tf.sqrt
tf.expand_dims
tf.image.encode_jpeg
tf.clip_

[2020-05-20 03:35] jiangjiajun commented on #256
这个模型目前转换的话，需要改一下你的网络模型, 删除或修改以下几个OP
1. EncodeJpeg（删除)
2. ResizeBicubic(改成ResizeNearest或ResizeBilinear)

[2020-05-22 07:52] zhjikoshlizhzc opened #257 "tf.initializers.variables()以及with tf.variable_scope()应当如何转换到paddle呢"
请问，如下部分代码中：
**accumulator = tf.Variable(tf.zeros_like(mask_tf))
   self.accumulators.append(accumulator)
   self.init_accumulators = tf.initializers.variables(self.accumulators)**

其中，tf.Variable可以替换，而 tf.initializers.variables则找不到相应的替换函数。

同理：如下代码中
**with tf.variable_scope("prepare_img"):
……
**
with tf.variable_scope()：应当如何替换呢。

十分感谢。

[2020-05-23 08:30] jessionlin opened #258 "Op registered"
when I run x2paddle , I got the following error:
Traceback (most recent call last):
  File "/home/jxlin/anaconda3/envs/onnx2paddle/bin/x2paddle", line 11, in <module>
    load_entry_point('x2paddle==0.7.1', 'console_scripts', 'x2paddle')()
  File "/home/jxlin/anaconda3/envs/onnx2paddle/lib/python3.6/site-packages/x2paddle-0.7.1-py3.6.egg/x2paddle/convert.py", line 251, in main
    onnx2paddle(args

[2020-05-25 02:50] jiangjiajun commented on #257
initialize在paddlepaddle中可以使用exe.run(fluid.default_startup_program())即可初始化所有的参数。

with tf.variable_scope('prepare_img') 在paddlepaddle则有相应的name_scope，参考此文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/name_scope_cn.html#name-scope

[2020-05-25 02:51] jiangjiajun commented on #252
此issue由于长期未更新，将被关闭，如有需求可随时再打开。

[2020-05-25 02:51] #252 closed, assigned to Channingss

[2020-05-25 02:51] jiangjiajun commented on #254
此issue由于长期未更新，将被关闭，如有需求可随时再打开。

[2020-05-25 02:51] #254 closed, assigned to nobody

[2020-05-25 02:52] jiangjiajun commented on #255
此issue由于长期未更新，将被关闭，如有需求可随时再打开。

[2020-05-25 02:52] #255 closed, assigned to Channingss

[2020-05-25 02:52] jiangjiajun commented on #256
此issue由于长期未更新，将被关闭，如有需求可随时再打开。

[2020-05-25 02:52] #256 closed, assigned to nobody

[2020-05-25 03:06] #257 closed, assigned to nobody

[2020-05-25 04:12] zhjikoshlizhzc opened #259 "tf.contrib.image与tf.where(input, a,b)等相关API接口问题"
我在进行API转换的过程中仍有一些问题希望请问大佬：
1   tf.contrib.image的相关子模块，例如**tf.contrib.image.transform(patch_batched, Mb,interpolation="NEAREST",name="perspective")**应当如何转换。
2   tf.image的相关子模块，例如tf.image.total_variation（）以及tf.image.grayscale_to_rgb应当如何转换。
3   tf.math的相关子模块，例如tf.math.maximum（）应当如何转换。
4   我在查阅doc文档时，是否可以使用fluid.layers.where，因为似乎不再具备tf.where(input, a,b)的特性。我想知道fluid.layers.where是否还具有这一应用呢。
5   tf.summ

[2020-05-25 08:05] taoja12 opened #260 "使用X2Paddle工具将vgg16转换成paddle模型后inference_model文件读取"
使用X2Paddle工具将vgg16转换成paddle模型后，生成的两个文件夹inference_model和model_with_code，对于inference_model里面的文件，可以怎么样读取出来吗，得到生成paddle模型后网络每一层的特征值。

[2020-05-25 08:29] Channingss commented on #258
@jessionlin x2paddle目前支持onnx的模型opset_version==9，如果是从torch导出来的onnx，可以指定一下opset_version

[2020-05-25 08:45] jiangjiajun commented on #260
使用paddlepaddle加载模型即可，如要获取每一层的特征值，也可以运行model_with_code的代码来做更灵活的debug

[2020-05-25 11:54] taoja12 commented on #260
那我该如何去调用inference_model 里面的内容检测一张图片？
并且提取每一层的输入输出特征值具体应该怎么做？

这是我的网络模型的链接
链接: https://pan.baidu.com/s/1LMsIETIcqlh6pedRFQG74Q 提取码: 9mf8

[2020-05-26 03:17] jiangjiajun commented on #260
检测图片涉及到图像的预处理，你需要自己将原来模型的图像预处理代码集成进来，然后处理好后再将数据输入给paddle模型。

至于如何获取每一层的输入输出特征值，可以直接修改model_with_code里面的model.py，将每一层的tensor返回即可, 你可以看到x2paddle_net函数中目前只返回了最后一层的结果

[2020-05-26 06:15] taoja12 commented on #260
我是将tensorflow vgg16模型通过X2Paddle转换成paddle模型，产生了inference_model和model_with_code两个文件夹，之后使用无校准数据量化对inference_model里的参数进行量化，成功后生成的模型参数体积减小了，想问量化的原理可以从哪里看到？量化后的模型每一层tensor值如何返回？

[2020-05-26 11:37] jiangjiajun commented on #260
PaddleLite的原理可以参考 https://github.com/PaddlePaddle/Paddle-Lite 中的文档，量化后暂不支持取每一层的特征值

[2020-05-27 14:54] daiwk opened #261 "finetune后的albert转换失败"
参考https://github.com/PaddlePaddle/X2Paddle/issues/239的方法，

![image](https://user-images.githubusercontent.com/4243530/83036283-fd9c1c00-a06c-11ea-9139-930d9ec7aecf.png)

使用原始albert的checkpoint是正常的（如上图），但使用finetune的checkpoint就会报错
![image](https://user-images.githubusercontent.com/4243530/83036048-c7f73300-a06c-11ea-9dcb-cc27ca3f8158.png)

[2020-05-28 08:26] imistyrain opened #262 "AssertionError: directly_map error with multi inputs"
When I try to convert a ssd-like net, got this error:
[code]

[2020-05-28 11:26] imistyrain opened #263 "The count of Concat node\'s input is not more than 1."
用最新版转换遇到一个问题，请问怎么调试？
[code]

[2020-05-28 12:22] SunAhong1993 commented on #263
你好，这边可以确认下caffe中的Concat是否有2个或以上的输入（bottom），当输入只有一个是无法转换的。

[2020-05-28 12:51] imistyrain commented on #263
the assert in [caffe_op_mapper.py](https://github.com/PaddlePaddle/X2Paddle/blob/5480c7dc24344ff5eea17b8e764c9d2f5011ac2d/x2paddle/op_mapper/caffe_op_mapper.py#L470) should be changed to :
\>=1

[2020-05-28 13:14] #263 closed, assigned to SunAhong1993

[2020-05-29 01:31] Channingss commented on #262
请问onnx模型的op版本是多少？x2paddle现在支持的op版本是9

[2020-05-29 02:39] imistyrain commented on #262
op版本是11导出的.
用版本9导出时提示
[code]

[2020-05-29 06:30] Channingss commented on #262
@imistyrain 看能不能想办法用其他的op换掉upsample_bilinear2d，然后导出来为版本9

[2020-05-29 06:46] imistyrain commented on #262
上采样在分割中是很常见的操作，多个concat起来按理说应该支持才对

[2020-05-29 06:52] Channingss commented on #262
@imistyrain 现在有Upsample和Resize，只是op_set是9。报错信息来看我不明确是哪个OP的版本不一致导致的，如果方便的话，可以把模型发给我们

[2020-05-31 07:39] jiangjiajun commented on #261
已更新代码，继续参考此Issue中方法即可完成bert模型的转换  https://github.com/PaddlePaddle/X2Paddle/issues/239

[2020-05-31 07:40] jiangjiajun commented on #258
此issue长时间未更新，将被关闭，如有需求，可随时再重新打开。

[2020-05-31 07:40] #258 closed, assigned to Channingss

[2020-05-31 07:40] jiangjiajun commented on #259
此issue长时间未更新，将被关闭，如有需求，可随时再重新打开。

[2020-05-31 07:40] #259 closed, assigned to nobody

[2020-05-31 07:41] jiangjiajun commented on #260
此issue长时间未更新，将被关闭，如有需求，可随时再重新打开。

[2020-05-31 07:41] #260 closed, assigned to nobody

[2020-06-03 02:03] #261 closed, assigned to ZeyuChen, jiangjiajun

[2020-06-04 07:29] mensaochun opened #266 "instance normalization转换出错"
错误日志：
Traceback (most recent call last):
  File "/home/yourenchun/.conda/envs/torch10py36/lib/python3.6/site-packages/x2paddle/core/op_mapper.py", line 123, in save_inference_model
    inputs, outputs = model.x2paddle_net()
  File "/data/projects/iqy_cartoon/reid-strong-baseline-data/trans_models/reid-strong-baseline-data/trans_models/resnet50_ibn_a/model_with_code/model.py", line 72, in x2paddle_

[2020-06-05 03:38] Akeepers opened #267 "Spanbert pytorch模型转换失败"
* 目标是将[spanbert](https://github.com/facebookresearch/SpanBERT) 转化为paddle模型
* x2paddle采用的是第一种安装方式

pytorch转onnx的时候没有出错，onnx转paddle的时候报错, 以下是转换脚本和报错信息：

[code]

pytorch转nnox的代码如下：

[code]

[2020-06-08 06:22] Akeepers commented on #267
利用最新版的X2paddle，可解决

[2020-06-08 06:22] #267 closed, assigned to Channingss

[2020-06-10 02:30] Channingss commented on #266
@mensaochun
https://github.com/PaddlePaddle/X2Paddle/blob/57c4e41d73f52febb9db9c01a80b0f4995a04e46/x2paddle/op_mapper/onnx_custom_layer/InstanceNormalization.py#L25
change this line  to : input_ = inputs[0][0] will fix this bug, we will fix this bug of InstanceNormalization after we upgrade onnx2paddle support paddle1.8.

[2020-06-10 02:50] Channingss commented on #262
we found when ONNX:Clip's op_set>=9，which attribute `min` and `max` support Tensor, https://github.com/onnx/onnx/blob/master/docs/Operators.md#clip，
but onnx2paddle decode attribute as Scalar, we will fix this bug when upgrade onnx2paddle support paddle1.8.

[2020-06-11 08:12] cdyangzhenyu opened #272 "yolov3模型无法转换，缺少算子"
paddle.__version__ = 1.8.1
Now translating model from tensorflow to paddle.
Total nodes: 814
Converting node 814 ...    ==========2 Ops are not supported yet======
========== Fill ==========
========== AddV2 ==========

[2020-06-11 12:22] cdyangzhenyu commented on #272
使用tensorflow1.14版本，使用tensorflow-yolov3可以成功转换。但是darknet应该无法支持

[2020-06-11 12:22] #272 closed, assigned to nobody

[2020-06-16 07:28] #266 closed, assigned to Channingss

[2020-06-16 08:00] won-bae opened #275 "Exception: Model are not supported yet."
Hi,

I got

There are 2 ops not supported yet, list as below
Greater
ReduceMax

Does it mean onnx model with those two operations cannot be convert to Paddlepaddle model?

Thanks

[2020-06-17 07:33] Channingss commented on #275
@won-bae onnx2paddle didn't add that Ops into convert List:
https://github.com/PaddlePaddle/X2Paddle/blob/develop/op_list.md
i will add Greater, ReduceMax,  and reply you as soon as possible

[2020-06-17 12:59] EwardJohn opened #277 "模型转换后再次训练的问题"
请问模型从onnx格式转换成paddle格式的模型，能够进行迁移学习吗？能够使用paddledetection上面的文件再次进行训练吗？
onnx格式转换过来后生成inference_model ， model_with_code这两个文件，这里边的模型能够进行再次训练吗？

除此之外，还有一个错误，在使用inference_model时出现错误：
InvalidArgumentError: tensor version 1120706826 is not supported, Only version 0 is supported
请问这个问题如何解决？

[2020-06-18 02:17] Channingss commented on #277
@EwardJohn 可以把转换后生成的inference model发给我们验证一下吗？

[2020-06-18 02:19] Channingss commented on #275
#278

[2020-06-18 02:41] Paradox-GG opened #279 "Some ops are not supported yet in tensorflow"
I try to convert a tf_model.pb,  but the terminal shows these below at last:
Converting node 858 ...    ==========12 Ops are not supported yet======
========== BatchMatMulV2 ==========
========== Unpack ==========
========== Square ==========
========== Fill ==========
========== GatherV2 ==========
========== MatrixDiagPart ==========
========== ResizeArea ==========
========== ExpandDims =======

[2020-06-18 02:45] EwardJohn commented on #277
可以的，以什么方式发给你们？ @Channingss

[2020-06-18 05:21] jiangjiajun commented on #279
Hi， Could you provide your tensorflow pb model for us to analysis?

[2020-06-18 09:37] Paradox-GG commented on #279
Thanks for your reply!
I am sorry that i don’t have the permission to share the pb file, but I make a rudimentary scan on the pb file and codes, found that the ops below may cause the issue:

from tensorflow.python.ops import array_ops
1,array_ops.zeros([b, num_b_cols, num_b_cols], train_points.dtype)
2, array_ops.ones([b, n, 1], train_points.dtype)
3,array_ops.unstack(query_points, axis=2)
4,arra

[2020-06-19 15:34] libingbingdev opened #281 "Paddle模型转Onnx模型时显示 no support"
环境：paddlepaddle==1.8.0
           onnx == 1.6.0
           onnxruntime == 1.0.0
应用场景：paddlehub的shufflenet_v2_imagenet，finetune后，使用命令：
python tools/merge_params.py paddle_model/inference_model  new_model_dir
将best_model目录下的参数文件转化为__model__和__params__两个文件，然后使用命令：
x2paddle --framework=paddle2onnx --model=paddle_infer_model_dir --save_dir=onnx_model
时出现：
paddle.__version__ = 1.8.0
Translating PaddlePa

[2020-06-20 16:34] liangruofei opened #282 "Paddle模型转Onnx模型时错误"
环境：paddlepaddle==1.8.0   tensorflow==1.15.0
onnx == 1.6.0
onnxruntime == 1.0.0

aistudio@jupyter-282556-554530:~$ x2paddle --framework=paddle2onnx --model=paddle2oxnn --save_dir=onnx_model
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/sklearn/externals/joblib/externals/cloudpickle/cloudpickle.py:47: DeprecationWarning: the imp module is deprecated in favour of importlib; see t

[2020-06-22 06:31] Channingss commented on #277
@EwardJohn 我的个人主页上有邮箱

[2020-06-22 07:11] jiangjiajun commented on #279
Thanks for sharing these details, these will related to a lots of work, we are going to update X2Paddle in next month, more operators would be supported.

[2020-06-22 11:33] EwardJohn commented on #277
好的，模型已经发送到您邮箱了，谢谢!

[2020-06-23 02:01] Channingss commented on #282
模型是在paddle1.8的基础上开发的吗？麻烦列一下Paddle网络结构里面，使用到resize_bilinear这个op的代码部分，以及相关的输入参数是tensor还是常量

[2020-06-23 05:59] Channingss commented on #281
@libingbingdev swish这个激活函数目前我们还没有实现转换的支持，我们评估和测试一下，没问题的话近期加上去

[2020-06-23 06:26] amandazw opened #283 "PaddleOCR文字检测模型转onnx后输入图像参数问题"
请问各位有没有遇到这样的问题，原来的paddleOCR的模型支持不定长输入，为32的倍数即可。转为onnx后输入固化了：如下onnxruntime.capi.onnxruntime_pybind11_state.InvalidArgument: [ONNXRuntimeError] : 2 : INVALID_ARGUMENT : Got invalid dimensions for input: image for the following indices
 index: 2 Got: 960 Expected: 640
 index: 3 Got: 480 Expected: 640
 Please fix either the inputs or the model.
必须要640*640
请教一下如何修改能让模型预测接受可变长度序列呢

[2020-06-23 06:43] jiangjiajun commented on #283
原因在于PaddleOCR在训练模型时，将输入图片大小参数设定为[640, 640]， 因此X2Paddle在解析模型时即会将输入固定为[640, 640]， 详见PaddleOCR的训练配置文件 https://github.com/PaddlePaddle/PaddleOCR/blob/bb1a54ef97100db185cfea0b893b89597c9848f5/configs/det/det_r50_vd_db.yml#L12  如若需要其它大小，可修改配置文件重新训练导出。如若需要支持不定长输入，则需将输入大小设定为[-1, -1]

[2020-06-23 09:09] amandazw commented on #283
了解了，感谢~

[2020-06-23 09:18] x423xu opened #284 "警告paddle not support op:resize wiht mode: linear, we use bilinear replace linear，请问怎么解决"
paddle not support op:resize wiht mode: linear, we use bilinear replace linear

[2020-06-23 09:36] libingbingdev opened #285 "paddle模型转换为onnx模型后，再将onnx模型转换回paddle模型报错"
使用x2paddle命令将paddle模型(mobilenet_v2_imagenet)转换为onnx模型，然后再使用命令转化回来时会报错：

D:\Git>x2paddle --framework=onnx --model=test_onnx/mobilenet_v2/x2paddle_model.onnx --save_dir=test
paddle.__version__ = 1.8.0
Now translating model from onnx to paddle.
model ir_version: 6, op version: 11
Traceback (most recent call last):
  File "D:\Anaconda3\anaconda3\lib\site-packages\x2paddle-0.7.2-py3.7.egg\x2paddle\deco

[2020-06-25 09:39] Channingss commented on #285
看报错信息是onnx模型使用onnxruntime运行时出错，可以先验证下onnx模型的正确性。

[2020-06-25 09:43] Channingss commented on #284
这个是因为paddle的resize目前没有linear插值方式。

[2020-06-28 09:44] bywang opened #286 "ops are not supported"
paddle.__version__ = 1.8.1
Translating PaddlePaddle to ONNX...

Total:167, Current:167 : fetch
There's 2 ops are not supported yet
=========== prior_box ===========
=========== box_coder ===========

prior_box和box_coder这两个op有支持的计划吗？

[2020-06-29 02:30] jiangjiajun commented on #286
目前正在开发中，预计会在7月份完成

[2020-06-29 09:45] dubhex opened #287 "ValueError: Data Type mismatch: 2 to 3"
paddlepaddle==1.8.2
x2paddle==0.7.4

错误信息：
paddle.__version__ = 1.8.2
Now translating model from onnx to paddle.
model ir_version: 6, op version: 9
2020-06-29 17:41:53,907-WARNING: During conversion of your  model, some operators will be assignd node.out_shape==None, refer to https://github.com/onnx/onnx/blob/master/docs/ShapeInference.md
Total nodes: 158
Traceback (most recent call last):
  File

[2020-06-30 02:07] Mylszd opened #288 "请问Paddle是否会支持Paddle模型转换为Caffe模型。"

[2020-06-30 02:58] woshizhangcheng opened #289 "centernet not supported op"
Shape of Input(e.g. None,224,224,3): None,512,512,3
Total nodes: 718
Converting node 718 ...
==========6 Ops are not supported yet======
========== Prod ==========
========== Equal ==========
========== FloorMod ==========
========== TopKV2 ========
========== ExpandDims ==========
========== GatherV2 ==========

https://github.com/MioChiu/TF_CenterNet

[2020-06-30 03:36] woshizhangcheng commented on #289
https://github.com/YunYang1994/tensorflow-yolov3
pb转paddle提示如下问题
![bug](https://user-images.githubusercontent.com/34908468/86080610-e31eed80-bac5-11ea-9b0b-42c69c78298c.jpg)

[2020-06-30 06:14] jiangjiajun commented on #289
方便将pb模型提供一下吗

第二个yolov3模型转换，请使用如下命令
[code]

[2020-06-30 06:40] jiangjiajun commented on #288
目前暂无此计划，X2Paddle现支持部分Paddle模型转为ONNX模型

[2020-06-30 07:51] Mylszd commented on #288
OK

[2020-06-30 07:51] #288 closed, assigned to nobody

[2020-06-30 08:10] Septend-fun opened #293 "PaddlePaddle to ONNX yolov3转换失败"
x2paddle --framework=paddle2onnx --model=export --save_dir=onnx_model
paddle.__version__ = 1.8.1
Translating PaddlePaddle to ONNX...

Total:262, Current:260 : multiclass_nms                 lib/python3.6/site-packages/x2paddle/op_mapper/paddle_custom_layer/multiclass_nms.py:47: UserWarning: The parameter normalized of multiclass_nms OP of Paddle is False, which has diff with ONNX.

[2020-07-01 02:19] jiangjiajun commented on #293
YOLOv3目前支持仍存在问题，涉及的相关OP还在开发中，预计在本月内完成

[2020-07-01 02:40] Septend-fun commented on #293
好的，多谢！

[2020-07-01 03:50] empty-id commented on #202
求支持+1

[2020-07-02 08:40] amandazw opened #296 "onnx转pb"
paddle转onnx成功，模型推理正常，各位有没有尝试过将该onnx模型转为h5或者pb？

[2020-07-02 08:58] woshizhangcheng commented on #289
非常感谢你们的工作，下面这个是centernet  pb模型的链接，yolov3已经解决了
链接：https://pan.baidu.com/s/1cJBlus0LZ4pHbQud3pBsnQ
提取码：18km

[2020-07-02 10:32] #296 closed, assigned to nobody

[2020-07-02 10:36] YuzaChongyi commented on #283
测试ocr文字识别模型转onnx时发现好像还不支持lstm层。

[2020-07-02 10:42] amandazw commented on #283
是的，文字检测模型可以转成功推理也没有问题。你有尝试过这个paddle模型的onnx转别的模型（h5、pb）或者opencv加载onnx成功吗？

[2020-07-03 06:12] ArtyZe opened #297 "paddle转onnx efficientnet结果有误差"
efficientnet转换过程中，可能是因为conv的output_w不能整除的原因，所以后面跟了一个slice将第一列数据去掉。但是在转onnx时，转换没有报错，转换之后测试时候误差较大。如下：
![image](https://user-images.githubusercontent.com/32027268/86437339-f4226580-bd36-11ea-87b6-795ee4a78438.png)
之前已经测试过其他的模型，都是可以对得上的，除了efficientnet系列。
[code]

请问是否有啥建议呀？

[2020-07-03 09:50] Channingss commented on #297
@ArtyZe 我们这边尝试复现一下，请问paddle的版本是？

[2020-07-03 09:57] ArtyZe commented on #297
[code]
同时因为onnx不支持swish，我使用mul及sigmoid替代了，如下图
![image](https://user-images.githubusercontent.com/32027268/86457427-3b6c1e80-bd56-11ea-91fe-1121698bc1b4.png)
同时，我觉得padding后不能整除可能是造成现在这样的原因
![image](https://user-images.githubusercontent.com/32027268/86457519-60609180-bd56-11ea-91b4-224d7c3ee372.png)

[2020-07-06 07:37] Y-Rony opened #298 "转换带有prelu的模型会失败"
onnx版本： 1.6.0
onnxruntime版本： 1.0.0
python： 3.6
OS：win10
命令:
x2paddle --framework=onnx --model=E:/project/pytorch/onnx/my_checkpoint.onnx --save_dir=E:/project/paddle/models/

error如下：

initializer 'layer4.2.bn1.num_batches_tracked'. It is not used by any node and should be removed from the model.
Total nodes: 149
Traceback (most recent call last):
  File "c:\programdata\anaconda3\lib\runpy.py", li

[2020-07-06 09:00] Channingss commented on #298
请问使用的是pip install，还是：https://github.com/PaddlePaddle/X2Paddle#%E5%AE%89%E8%A3%85%E6%96%B9%E5%BC%8F%E4%B8%80%E6%8E%A8%E8%8D%90
如果是pip install，请使用链接里面提到的安装方式尝试一下。
[code]

[2020-07-07 08:10] Channingss commented on #297
@ArtyZe 请问使用的是哪一个模型呢，我这边刚刚测试了EfficientNetB0，有部分op转换还没实现。
![image](https://user-images.githubusercontent.com/12471701/86744624-53041980-c06c-11ea-8b21-11be2afc88f1.png)

[2020-07-07 08:12] Channingss commented on #287
@dubhex 目前最新的develop版本已解决该问题。

[2020-07-07 08:13] ArtyZe commented on #297
B0到B7我都可以的，你那边是哪个算子不支持？swish可以用simoid和mul替换，其他的应该都支持吧

swish算子如下：
[code]

[2020-07-07 08:21] Channingss commented on #297
@ArtyZe 你那边是自己写了这三个算子的转换吗？
There's 3 ops are not supported yet
=========== swish ===========
=========== uniform_random ===========
=========== floor ===========

[2020-07-07 08:27] ArtyZe commented on #297
咦，我使用save_model_infer保存的__model__文件没有你后面这两个算子，只有不支持的swish，那难道我精度下降就是我在save时候丢了这俩算子吗？
我只是自己实现了swish，因为本身也比较简单，就加上去了

[2020-07-07 08:38] Channingss commented on #297
丢了算子不太可能，应该是我这边使用的X2paddle现在整合进来的paddle2onnx。https://github.com/PaddlePaddle/X2Paddle/#paddle2onnx

[2020-07-07 08:45] ArtyZe commented on #297
我使用x2paddle测试了下efficientnetb0
[code]
结果如下：
![image](https://user-images.githubusercontent.com/32027268/86750869-d9baf580-c070-11ea-954f-ba7f7b2e0808.png)
为了您那边debug方便，我将model和param上传到百度网盘，您看一下
https://pan.baidu.com/s/14LPwtuWyXCt9v6S9PfmQ2Q
passwd：q9ok

[2020-07-07 09:29] Channingss commented on #297
我在X2Paddle新增了Swish op，这里是PR:  #300, 我这边测试随机数据，onnx和paddle误差在10的-7次方

[2020-07-07 09:33] Channingss commented on #281
@libingbingdev 您好，这是新增swish op的PR：#300

[2020-07-07 09:47] Channingss commented on #275
Hi, this pull add Greater, ReduceMax, #301

[2020-07-07 09:57] Channingss commented on #277
@EwardJohn 您好，您是想在PaddleDetetion里面再训练转出来的模型吗

[2020-07-07 10:40] ArtyZe commented on #297
@Channingss hello，问题找到了，不是swish也不是pad的问题，是这里
![image](https://user-images.githubusercontent.com/32027268/86769041-11ca3480-c081-11ea-96de-2545504eaea2.png)
这里在dropout后面加了一个mul
![image](https://user-images.githubusercontent.com/32027268/86769081-28708b80-c081-11ea-91b2-1134ece79d50.png)
 node，
改正之后就全部正确了
![image](https://user-images.githubusercontent.com/32027268/86769118-39210180-c081-11ea-9e63-d8

[2020-07-07 10:40] #297 closed, assigned to Channingss

[2020-07-09 03:20] Amore-HDU opened #302 "paddle模型转onnx"
paddle模型转onnx模型的时候全连接层被转成MatMul Reshape 等层，请问可以直接转成FC层吗

[2020-07-10 01:44] DYJNG opened #303 "paddle模型转onnx模型报错"
您好，我在将paddle yolov3模型转onnx模型时报错如下：
$x2paddle --framework=paddle2onnx --model=paddle_model/yolov3_tf2paddle/ --save_dir=paddle_onnx_model
paddle.__version__ = 1.8.2
Translating PaddlePaddle to ONNX...

Total:333, Current:333 : fetch
There's 2 ops are not supported yet
=========== elementwise_max ===========
=========== pad2d ===========

在转换paddleslim quant_post量化后的模型时报错如下：
$x2paddle --framework=pa

[2020-07-10 04:47] Channingss commented on #303
Paddle2onnx 目前还不完全支持Yolov3的转换，我们还在开发中，
另外Paddle预测库支持直接TRT部署运行：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/native_infer.html#gpu

[2020-07-10 11:08] Daniel-Kelvich commented on #231
I have the same problem. @Channingss have you manage to resolve this issue somehow?

[2020-07-13 01:59] mjj1094 commented on #279
@jiangjiajun 您好，我在转换指代消解模型（ckpt格式转成的pd格式，又转化的paddle）的时候，有22个算子不被支持，如果需要pd文件，能否提供一下邮箱呢？
Converting node 2879 ...    ==========22 Ops are not supported yet======
========== Minimum ==========
========== OneHot ==========
========== Prod ==========
========== BatchMatMulV2 ==========
========== PaddingFIFOQueueV2 ==========
========== Erf ==========
========== GatherV2 ==========
========== All =====

[2020-07-13 02:11] #287 closed, assigned to nobody

[2020-07-13 02:42] Channingss commented on #302
@Amore-HDU 请问是有什么特别的需求吗

[2020-07-13 04:00] DYJNG commented on #303
@Channingss 感谢回复！

[2020-07-13 04:00] #303 closed, assigned to Channingss

[2020-07-13 10:58] #293 closed, assigned to nobody

[2020-07-14 06:52] jiangjiajun commented on #285
这个是由于paddle转onnx时，使用了更高版本的ONNX OP，而在将ONNX模型转换至Paddle时，适配的是低版本的ONNX模型原因。目前正在开发升级中

[2020-07-14 06:59] jiangjiajun commented on #302
ONNX的Operators中目前没有FC层，可参考ONNX的OP集合，https://github.com/onnx/onnx/blob/master/docs/Operators.md

[2020-07-14 10:23] amandazw opened #305 "onnx模型opencv4.3.0加载报错"
paddleOCR模型转onnx后用opencv4.3.0加载报错，
cv2.error: OpenCV(4.3.0) C:\projects\opencv-python\opencv\modules\dnn\src\layers\reshape_layer.cpp:149: error: (-215:Assertion failed) dstTotal != 0 in function 'cv::dnn::computeShapeByReshapeMask'

请问模型要怎么修改呢？

[2020-07-14 11:02] jiangjiajun commented on #305
目前转换采用的是ONNX的最新OP标准11， 建议使用onnxruntime进行加载预测

[2020-07-14 11:07] amandazw commented on #305
好的~

[2020-07-15 01:46] sunshine411 commented on #289
你好，我在转换yolov3时使用以下命令
               “x2paddle -f tensorflow -m yolov3_coco.pb -s pd_model --without_data_format_optimization”
也遇到了"1 Ops are not supported yet"问题，提示“Reshape”不支持。想问下你使用的tensorflow\paddle\x2paddle的版本是多少。

[2020-07-15 07:00] Channingss commented on #202
@AnShengqiang @null-id @914295860 可以试试https://github.com/PaddlePaddle/X2Paddle/blob/develop/x2paddle_model_zoo.md#onnx 列表来自于huggingface的GPT2

[2020-07-15 12:29] Amore-HDU commented on #302
paddle分类模型转caffe完全不掉精度，但是caffe转到海思3559A的wk模型，精度掉的一塌糊涂  @Channingss

[2020-07-16 01:13] woshizhangcheng commented on #289
@sunshine411
paddle.__version__
'1.8.2'
x2paddle.__version__
'0.7.4'
tf.__version__
'1.14.0'

[2020-07-16 07:22] dubhex opened #306 "0.7.1升级到0.7.4后原来可转换的模型转换为paddle后运行报错"
回退至0.7.1后无该问题。

运行报错信息
Traceback (most recent call last):
  File "tools/dbEvals.py", line 270, in <module>
    calTorchPaddleMDiff(model_pytorch, exe_paddle, device, res)
  File "tools/dbEvals.py", line 200, in calTorchPaddleMDiff
    paddle_out = model_infer_Paddle(ins, paddle_exe)
  File "tools/dbEvals.py", line 100, in model_infer_Paddle
    feed={feed_target_names[0]: images}, fetch_list=fetch

[2020-07-16 09:05] amandazw commented on #305
C++配置onnxruntime加载成功，但是不知道怎么处理输出值，有人可以指点一下吗？

[2020-07-16 11:25] CYang0515 opened #307 "支持训练模型的转换吗"
比如将ONNX模型转为paddle模型，可以在paddle slim里面进行量化训练吗？

[2020-07-17 02:20] baigang666 opened #308 "onnx模型转换为paddle模型，报错，请求看一下"
Traceback (most recent call last):
  File "d:\anaconda3\envs\baidupaddle_env\lib\site-packages\x2paddle\core\op_mapper.py", line 123, in save_inference_model
    inputs, outputs = model.x2paddle_net()
  File "output\model_with_code\model.py", line 706, in x2paddle_net
    x2paddle_774 = InstanceNormalization_layer([x2paddle_772, x2paddle_backbone_4_0_bn1_IN_weight, x2paddle_backbone_4_0_bn1_IN_bia

[2020-07-17 05:25] jiangjiajun commented on #307
ONNX模型仅支持前向推理，不包含训练部分网络，如果作为训练，需要继续自行组网。PaddleSlim支持离线量化，前向推理的模型直接用PaddleSlim进行离线量化即可

[2020-07-17 05:27] jiangjiajun commented on #262
此issue常期未更新，将被关闭，如有需求，可随时再打开。

[2020-07-17 05:27] #262 closed, assigned to Channingss

[2020-07-17 05:27] jiangjiajun commented on #275
此issue常期未更新，将被关闭，如有需求，可随时再打开。

[2020-07-17 05:27] #275 closed, assigned to Channingss

[2020-07-17 05:27] jiangjiajun commented on #277
此issue常期未更新，将被关闭，如有需求，可随时再打开。

[2020-07-17 05:27] #277 closed, assigned to nobody

[2020-07-17 05:28] jiangjiajun commented on #279
jiangjiajun@baidu.com

[2020-07-17 05:28] jiangjiajun commented on #281
此issue常期未更新，将被关闭，如有需求，可随时再打开。

[2020-07-17 05:28] #281 closed, assigned to nobody

[2020-07-17 05:28] jiangjiajun commented on #282
此issue常期未更新，将被关闭，如有需求，可随时再打开。

[2020-07-17 05:28] #282 closed, assigned to nobody

[2020-07-17 05:29] jiangjiajun commented on #284
此issue常期未更新，将被关闭，如有需求，可随时再打开。

[2020-07-17 05:29] #284 closed, assigned to nobody

[2020-07-17 06:09] Channingss commented on #308
@baigang666 请问是pip install的吗？麻烦尝试下github develop最新分支代码
[code]

[2020-07-17 06:20] Channingss commented on #306
@dubhex Paddle有升级到1.8.0以上吗？develop分支现在需要的环境依赖参考一下这边：https://github.com/PaddlePaddle/X2Paddle#%E7%8E%AF%E5%A2%83%E4%BE%9D%E8%B5%96

[2020-07-17 07:21] EwardJohn commented on #277
你好，我想在这个PaddleDetection中再训练转出来的模型，谢谢！

channings <notifications@github.com> 于2020年7月7日周二 下午5:57写道：

[2020-07-17 09:10] Channingss commented on #302
@Amore-HDU 关于Caffe模型转到海思上精度问题，应该是由于海思提供的转换工具问题，建议联系一下海思的开发工程人员，定位一下转换的问题原因。

[2020-07-17 09:22] Amore-HDU commented on #302
我用caffe训练的模型转到海思平台，不掉精度，pytorch训练的模型也不掉精度；唯独用飞桨训出来的模型转到3559A上掉精度掉的厉害

[2020-07-17 09:26] jiuzhuanzhuan opened #310 "AttributeError: 'str' object has no attribute 'outputs' and dont support deconv"
python：3.5
tensorflow: 1.14.0
paddlepaddle: 1.18.5
x2paddle: 0.7.4

请问一下 我正常存了个只有四层卷积的tensorflow pb 转化的过程中报错
AttributeError: 'str' object has no attribute  [#'outputs']
 下面是我的测试pb 只有四层卷积
 [test.pb](https://drive.google.com/file/d/1dwJE14SiwdqkArie-C-ETkgq7e83mJM3/view?usp=sharing)

转化pb代码与x2paddle官方示例完全一样

[2020-07-17 09:57] mamingjie-China commented on #310
您好，非常感谢您的使用！我们目前正在进行版本迭代工作，目前，您可以使用x2paddle --framework=tensorflow --model=test.pb --save_dir=pd_model --without_data_format_optimization进行转换，迭代后，计划将--without_data_format_optimization设置为默认形式，欢迎您继续关注

[2020-07-17 09:59] Channingss commented on #302
@Amore-HDU 如果paddle分类模型转caffe完全不掉精度，说明X2Paddle这边导出的模型是没有问题的。应该是ONNX转成cafe后的模型里边有Operator海思那边支持不完善，建议找海思的开发人员定位下问题先。

[2020-07-17 10:27] jiuzhuanzhuan commented on #310
非常感谢 解决了

[2020-07-17 13:17] jiuzhuanzhuan commented on #310
同样的环境搭了一层反卷积 为什么会显示不支持Conv2DBackpropInput 。 官方支持op是有这个算子的。找不出来什么原因。
[deconv.pb](https://drive.google.com/file/d/1nwc4yI7-YSR9H4roOYj2M_03N1WeNHa1/view?usp=sharing)
Converting node 24 ...     ========= 1 OPs are not supported yet ===========
========== Conv2DBackpropInput ============

[2020-07-17 13:53] mamingjie-China commented on #310
提供的模型我这边暂时没法下载，提示没有权限，待您那边申请通过后，我们这边复现一下看是什么原因

[2020-07-17 14:08] jiuzhuanzhuan commented on #310
您看一下 这个
[newpb](https://drive.google.com/file/d/1NAytWkIDNsOZHrIa3okM08Lz1DlS2Q_z/view?usp=sharing)

[2020-07-17 14:20] jiuzhuanzhuan commented on #310
链接: [baiduwangpan](https://pan.baidu.com/s/1tkWx42q36OaTLUcewtL7pA) 提取码: gftc 复制这段内容后打开百度网盘手机App，操作更方便哦

[2020-07-18 02:57] lewhy2004 opened #312 "ValueError: Input 0 of node conv1/bn/cond/ExponentialMovingAverage/AssignMovingAvg/Switch was passed float from conv1/bn/conv1/bn/moments/Squeeze/ExponentialMovingAverage:0 incompatible with expected float_ref."
ValueError: Input 0 of node conv1/bn/cond/ExponentialMovingAverage/AssignMovingAvg/Switch was passed float from conv1/bn/conv1/bn/moments/Squeeze/ExponentialMovingAverage:0 incompatible with expected float_ref.

`
batch_mean, batch_var = tf.nn.moments(inputs, moments_dims, name='moments')
decay = bn_decay if bn_decay is not None else 0.9
ema=tf.train.ExponentialMovingAverage(decay=decay)

ema_appl

[2020-07-19 10:12] mamingjie-China commented on #312
Could you please provide your PB file or more detailed error information?

[2020-07-19 10:15] mamingjie-China commented on #310
代码已经合入，欢迎使用，有什么问题可以后续沟通。

[2020-07-20 07:01] #307 closed, assigned to nobody

[2020-07-20 08:15] MichaelZhero opened #314 "Caffe 模型转换"
Looking in indexes: https://pypi.Python.org/simple/
Collecting x2paddle
  Downloading https://files.pythonhosted.org/packages/8a/44/d76e2ac34efcc849389c70b2136e871ec2f78da04dbf8eb12e9620cfb6e3/x2paddle-0.7.4-py3-none-any.whl (132kB)
     |████████████████████████████████| 133kB 36kB/s eta 0:00:01
Installing collected packages: x2paddle
Successfully installed x2paddle-0.7.4

x2paddle --framework=ca

[2020-07-20 08:46] SunAhong1993 commented on #314
你好~你可以先确认下文件中是否存在不符合命名规则的名字。同时请问下是在什么系统上运行的？

[2020-07-20 08:57] MichaelZhero commented on #314
你好，是在aistudio上面直接运行。然后命令是直接从x2paddle的readme.md的使用方法下面caffe这一条命令直接拷贝过来的，改了下模型文件路径

[2020-07-20 09:02] SunAhong1993 commented on #314
aisudio上运行该命令行需在改行最前面加一个！，确认是否添加

[2020-07-20 09:21] MichaelZhero commented on #314
!mkdir /home/aistudio/external-libraries
!mkdir /home/aistudio/pd_model
!pip install x2paddle --index https://pypi.Python.org/simple/ -t /home/aistudio/external-libraries
![image](https://user-images.githubusercontent.com/16940225/87921356-05949d00-caad-11ea-8e96-e6d2a4d2b369.png)
1、!x2paddle --framework=caffe --prototxt=work/landmark_deploy.prototxt --weight=work/VanFace.caffemodel  --saved_ir=pd

[2020-07-20 09:32] SunAhong1993 commented on #314
![image](https://user-images.githubusercontent.com/48579383/87922658-ded76600-caae-11ea-878a-64c1ceb48ad6.png)
使用正常方式安装（不需要-t），即可使用

[2020-07-20 10:32] MichaelZhero commented on #314
成功了。谢谢你。

[2020-07-20 10:32] #314 closed, assigned to nobody

[2020-07-21 02:16] mamingjie-China commented on #289
这边进行了复现，部分OP转换正在开发中，如果后续有进展，会及时通知您的

[2020-07-21 07:50] jiuzhuanzhuan commented on #310
请问我重新下载了最新的X2paddle源码安装了 为何还是显示不支持Conv2DBackpropInput

[2020-07-21 07:52] mamingjie-China commented on #310
是通过git clone下载的代码，还是直接pip安装的啊，pip的话可能暂时还没有同步，建议通过develop分支的代码安装

[2020-07-21 08:03] jiuzhuanzhuan commented on #310
是git clone 下的最新的 。然后也是在develop分支下 重新装了一下。 paddlepaddle是pip装的

[2020-07-21 08:07] mamingjie-China commented on #310
我这边重新试了一下，develop分支是可以进行转换的，可以再检查一下安装的环境，或者重新卸载安装，跟Paddle应该没关系的，详细的情况，可添加QQ363377396进行沟通。

[2020-07-21 09:19] jiuzhuanzhuan commented on #310
感谢大佬。 确实可以了。

[2020-07-21 09:19] #310 closed, assigned to nobody

[2020-07-21 09:26] Zhaoyilunnn opened #316 "tf_to_paddle"
![image](https://user-images.githubusercontent.com/40353317/88037220-317c5500-cb77-11ea-8177-e3fb3f98bc80.png)
请问一下tf1.8的这两个Ops近期有支持的计划吗

[2020-07-21 11:05] mamingjie-China commented on #316
请在转换时使用--without_data_format_optimization参数，即x2paddle --framework=tensorflow --model=tf_model.pb --save_dir=pd_model --without_data_format_optimization

[2020-07-21 15:34] Zhaoyilunnn commented on #316
感谢及时回复

[2020-07-22 01:59] lewhy2004 commented on #312
thank you
the pb file is here
[model.zip](https://github.com/PaddlePaddle/X2Paddle/files/4957409/model.zip)

[2020-07-22 02:42] mamingjie-China commented on #312
I am sorry to tell you that there may be some problems with the pb file. It may be generated when freezing to the pb file, causing the pb model to fail to load normally. It is recommended to check the freezing process or raise an issue to the tensorflow repo.

[2020-07-22 02:47] #285 closed, assigned to nobody

[2020-07-22 03:41] Lbo18 opened #319 "paddle to onnx：There's 3 ops are not supported yet"
There's 3 ops are not supported yet
=========== clip ===========
=========== tanh ===========
=========== log ===========
麻烦问一下，这些ops有支持的计划嘛

[2020-07-22 06:24] Channingss commented on #319
@Lbo18 这边评估一下后，尽快给您回复

[2020-07-22 06:26] Lbo18 commented on #319
这个是yolov4权重转onnx出现的问题，感谢~

[2020-07-22 07:10] Channingss commented on #319
@Lbo18  把模型发给我们方便吗？我们这边还没有尝试转换过yolov4

[2020-07-22 07:27] Lbo18 commented on #319
只需要__model__和__params__是嘛，邮箱可以发一下嘛

[2020-07-22 07:43] Channingss commented on #319
@Lbo18 chen_lingchi@163.com

[2020-07-22 08:48] ccoocode opened #320 "安装x2paddle后，运行命令报错"
通过下面命令安装x2paddle出错：

git clone https://github.com/PaddlePaddle/X2Paddle.git
git checkout bert

cd X2Paddle
python setup.py install

**运行 x2paddle 命令提示：
importlib_metadata.api.PackageNotFoundError: x2paddle**

如果直接通过 pip install x2paddle 安装则不会有问题

x2paddle==1.8.0
python==3.6.8

[2020-07-22 09:13] mamingjie-China commented on #320
这边暂时无法复现出这个问题，建议使用develop版本，目前也是支持bert模型的转换的，转换时，请添加--without_data_format_optimization参数，有什么问题可以进一步沟通

[2020-07-22 11:45] Tinagao222 opened #321 "cascade mask rcnn模型由paddle转onnx时有些op不支持"
使用paddleDetection中的cascade_mask_rcnn_r50_fpn_1x模型训练的，转成onnx时出现如下提示

Total:350, Current:1 : feed im_shape
Total:350, Current:2 : feed im_info
Total:350, Current:3 : feed image
Total:32, Current:32 : assign et e_add  posals ls
There's 18 ops are not supported yet
=========== logical_not ===========
=========== roi_align ===========
=========== assign ===========
=========== sequence_expand =========

[2020-07-23 01:36] MichaelZhero opened #322 "目的：caffe模型转成paddle模型，再导出模型供其他sdk调用。"
模型链接：https://github.com/lsy17096535/face-landmark/tree/master/model

!x2paddle --framework=caffe --prototxt=work/landmark_deploy.prototxt --weight=work/VanFace.caffemodel  --save_dir=work/pd_model
可以生成两个文件：inference_model和model_with_code
![image](https://user-images.githubusercontent.com/16940225/88244584-d194c400-ccc6-11ea-8a31-5aed42359e4e.png)

#命令行#
!paddlex --export_inference --model_dir=work

[2020-07-23 01:39] MichaelZhero opened #323 "从paddlex训练得到骨干网络为Resnet18的FasterRCNN，想转成onnx模型报错"
!x2paddle --framework=paddle2onnx --model=work/ --save_dir=work/onnx_model

/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/sklearn/externals/joblib/externals/cloudpickle/cloudpickle.py:47: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
paddle.__version__ = 1.8.0
Translating PaddlePaddle t

[2020-07-23 02:05] ccoocode commented on #320
importlib_metadata 版本问题，更新到最新版本后解决

[2020-07-23 02:06] #320 closed, assigned to nobody

[2020-07-23 02:06] ccoocode commented on #320
importlib_metadata 版本问题，更新到最新版本后解决

[2020-07-23 02:08] Channingss commented on #321
@Tinagao222 有计划支持更多PaddleOP抓换，但是短期内还无法满足RCNN的转换需求

[2020-07-23 02:08] Channingss commented on #323
@MichaelZhero 有计划支持更多PaddleOP抓换，但是短期内还无法满足RCNN的转换需求

[2020-07-23 02:16] jiangjiajun commented on #322
使用X2Paddle转换完后的模型中的inference_model即部署用的模型，PaddleX是另外一个视觉模型工具库，这个转换与它无关。

[2020-07-27 01:50] #283 closed, assigned to nobody

[2020-07-27 01:51] jiangjiajun commented on #298
由于长时间未更新，此issue将被关闭，如有需求，可随时再打开

[2020-07-27 01:51] #298 closed, assigned to Channingss

[2020-07-27 01:52] jiangjiajun commented on #306
由于长时间未更新，此issue将被关闭，如有需求，可随时再打开

[2020-07-27 01:52] #306 closed, assigned to Channingss

[2020-07-27 01:52] jiangjiajun commented on #308
由于长时间未更新，此issue将被关闭，如有需求，可随时再打开

[2020-07-27 01:52] #308 closed, assigned to Channingss

[2020-07-27 01:53] jiangjiajun commented on #321
由于长时间未更新，此issue将被关闭，如有需求，可随时再打开

[2020-07-27 01:53] #321 closed, assigned to nobody

[2020-07-27 09:03] jiangjiajun commented on #316
由于此issue长时间未更新，将被关闭，如有需求，可随时再打开。

[2020-07-27 09:03] #316 closed, assigned to nobody

[2020-07-27 09:31] baigang666 opened #325 "最近再加一个人脸识别得功能，转换facenet的tf模型到paddle，报错，请指教"
我的tf模型来自https://github.com/davidsandberg/facenet.git
此模型再tf==1.7.0上可以正常运行
使用x2paddle转换到paddle模型时
按照提示，输入
Unknown shape for input tensor[tensor name: "batch_size"]
Use your keyboard type the shape of input tensor below :)
Shape of Input(e.g. None,224,224,3): 1，160，160，3
Unknown shape for input tensor[tensor name: "phase_train"]
Use your keyboard type the shape of input tensor below :)
Shape of Inpu

[2020-07-27 12:04] mamingjie-China commented on #325
好的，我来看一下

[2020-07-28 03:27] mamingjie-China commented on #325
感谢您的使用，看了一下发现，在处理tf的输入的时候，存在一些问题，经过修改之后，该模型暂时仍无法转换，原因是部分OP的输入类型为float_ref，该类型暂时没有支持，请关注后续的版本更新。

[2020-07-28 07:17] zeze1111 opened #326 "请问paddle2onnx支持动态输入吗？"
我用x2paddle将PaddleOCR的DB文字检测算法转化到onnx，使用的指令是
`x2paddle -f paddle2onnx -m paddle_infer_model_dir -s save_onnx_dir`
推理时会报错
`[ONNXRuntimeError] : 2 : INVALID_ARGUMENT : Got invalid dimensions for input: image for the following indices
 index: 2 Got: 256 Expected: 640
 index: 3 Got: 448 Expected: 640`
这个错误的原因应该就是因为我转化后的模型不支持动态输入。
所以x2paddle转化到onnx模型支持动态输入吗？

[2020-07-28 09:57] jiangjiajun commented on #326
参考此issue #283

[2020-07-29 07:43] Lbo18 commented on #319
请问这个有进一步解决嘛

[2020-07-29 07:59] zhulingling1995 opened #329 "Pytroch模型转为paddle"
先将pytorch训练的人脸检测模型（https://github.com/biubug6/Pytorch_Retinaface）转换为onnx模型后，通过代码“x2paddle --framework=onnx --model=FaceDetector.onnx --save_dir=pd_model”将onnx模型转换为PaddlePaddle时，出现以下错误，其中安装的版本信息onnx==1.6.0,onnxruntime==1.0.0,paddlepaddle==1.8.3,x2paddle==0.7.4,想请教大家如何解决这个问题？非常感谢

Now translating model from onnx to paddle.
model ir_version: 4, op version: 9
2020-07-29 15:56:19,665-WARNING: During co

[2020-07-29 11:36] Channingss commented on #329
@zhulingling1995 看上去使用了老版本的x2paddle，使用第一种安装方式develop分支的代码试试：https://github.com/PaddlePaddle/X2Paddle#%E5%AE%89%E8%A3%85

[2020-07-29 11:37] Channingss commented on #319
@Lbo18 尽可能在这周完成

[2020-07-29 11:53] zhulingling1995 commented on #329
你好，按照第一种方法尝试后，错误变成这样的，不知道如何修改：
paddle.__version__ = 1.8.3
Now translating model from onnx to paddle.
model ir_version: 4, op version: 9
shape inferencing ...
Stopping at incomplete shape inference
shape inferenced.
Now, onnx2paddle support convert onnx model opset_verison [9],opset_verison of your onnx model is 9, automatically trea

[2020-07-30 02:09] Channingss commented on #329
@zhulingling1995 方便把模型发到我的邮箱或者百度云吗？chen_lingchi@163.com

[2020-07-30 03:07] Channingss commented on #329
@zhulingling1995 如果想使用轻量级的人脸检测模型也可以试试PaddleHub里面的：

https://www.paddlepaddle.org.cn/hubdetail?name=ultra_light_fast_generic_face_detector_1mb_640&en_category=FaceDetection

https://www.paddlepaddle.org.cn/hubdetail?name=ultra_light_fast_generic_face_detector_1mb_320&en_category=FaceDetection

[2020-07-30 05:58] #305 closed, assigned to nobody

[2020-07-30 05:58] amandazw commented on #305
onnxruntime加载成功

[2020-07-30 09:34] Channingss commented on #319
@Lbo18 新增三个op的pr: #330 ，这边测试可以转换成功，并使用onnxruntime跑通转换后的onnx模型。

[2020-07-31 02:28] zeze1111 commented on #326
issue #283 里给出的方法将image_shape:[3, 640, 640]改为[3, -1, ,1]之后会在创建网络结构的时候出现错误，不论是resnet还是movilenetv3都会有这个错误，应该是必须指定图像大小的意思。
` Traceback (most recent call last):
  File "tools/train.py", line 121, in <module>
    main()
  File "tools/train.py", line 50, in main
    config, train_program, startup_program, mode='train')
  File "tools/../tools/program.py", line 175, in build
    dataloader, outputs = mode

[2020-07-31 06:04] Channingss commented on #286
@bywang Pr: #331 增加了prior_box和box_coder

[2020-07-31 11:00] ZhaoFour opened #333 "paddle中手写的mobilenetV2模型转onnx : There's 13 ops are not supported yet"
There's 13 ops are not supported yet
=========== mul_grad ===========
=========== cross_entropy_grad2 ===========
=========== sum ===========
=========== cross_entropy2 ===========
=========== relu6_grad ===========
=========== adam ===========
=========== mean_grad ===========
=========== elementwise_add_grad ===========
=========== conv2d_grad ===========
=========== depthwise_conv2d_grad ======

[2020-08-01 06:38] Lbo18 commented on #319
感谢，已更新相关代码，但运行后还是出现
Total:738, Current:1 : feed im_size
Total:738, Current:2 : feed image
Total:738, Current:738 : fetch lass_nms
There's 3 ops are not supported yet
=========== tanh ===========
=========== clip ===========
=========== log ===========

[2020-08-01 07:54] Lbo18 commented on #319
是否需要重新用最新的PaddleDetection训练模型呢？

[2020-08-03 01:23] jiangjiajun commented on #333
目前转ONNX只支持前向推理计算部分的网络进行转换，上面列出来的OP都是优化器及梯度相关OP，请使用fluid.io.save_inference_model将训练好的模型保存下来后再进行转换。

[2020-08-03 02:05] Channingss commented on #329
@zhulingling1995 针对您提出来的问题，提交的代码已经合入，请拉取最新的develop分支代码。

[2020-08-03 02:17] Channingss commented on #319
@Lbo18 代码刚刚已经合入了，你可以重新拉取最新的develop分支

[2020-08-03 02:43] MaYiLong1998 opened #334 "darknet2onnx成功后，使用onnx2paddle报错"
darknet模型：yolov3-darknet

darknet2onnx环境：
onnx==1.2.1
python==2.7

darknet2onnx的过程:
(darknet2onnx) qian@qian:~/mayilong3/模型转换/darknet2onnx$ python2 yolov3_to_onnx.py
Layer of type yolo not supported, skipping ONNX node generation.
Layer of type yolo not supported, skipping ONNX node generation.
Layer of type yolo not supported, skipping ONNX node generation.
graph YOLOv3-608 (
  %000_net[FLOAT, 1x

[2020-08-03 02:50] jiangjiajun commented on #326
这可能跟PaddleOCR的代码实现相关，建议此问题咨询一下PaddleOCR团队。

目前Paddle在转ONNX模型时，是根据源模型中的信息进行转换，在PaddleOCR的组网中，将输入设置成了640*640，因此转成ONNX模型后，输入大小也是640*640。如需转换后的ONNX模型支持不定长大小输入，则源模型中的输入需要定义成-1*-1

[2020-08-03 03:18] superdu12138 opened #335 "paddle not support op"
ONNX模型是我用pytorch训练的文字检测模型转换的，之前也有转到ncnn框架中，可以确保ONNX模型是没有问题的，用x2paddle转换后出现如下输出：
![image](https://user-images.githubusercontent.com/20619835/89142436-fff18980-d579-11ea-979c-feb3bb4901b7.png)
在后期要继续转换成paddlelite模型时报错，
![image](https://user-images.githubusercontent.com/20619835/89142488-27485680-d57a-11ea-8370-6346d3df6e2d.png)
麻烦大佬们帮忙看一下，谢谢

[2020-08-03 03:46] jiangjiajun commented on #335
这里已经成功转成Paddle模型，但是Paddle模型转成Lite模型的时候出现在图二的错误吗？

[2020-08-03 03:52] Channingss commented on #334
@MaYiLong1998 麻烦把ONNX模型发到邮箱chen_lingchi@163.com，或者以网盘的方式给出来。

[2020-08-03 04:03] MaYiLong1998 commented on #334
@Channingss  权重已发送过去了，麻烦您了。

[2020-08-03 05:04] superdu12138 commented on #335
是的
![image](https://user-images.githubusercontent.com/20619835/89147587-a7c28380-d589-11ea-84bd-f9e9a3b3cbcb.png)
biliner_interp 的 scale 输入没有数据，应该是x2paddle转的过程出了问题

[2020-08-03 05:52] jiangjiajun commented on #335
方便的话分享一下你的onnx模型，我们查下

[2020-08-03 06:08] Channingss commented on #334
@MaYiLong1998 可以直接发onnx的模型吗？

[2020-08-03 06:23] MaYiLong1998 commented on #334
@Channingss  已发，第一次发的压缩包里面是有onnx的模型的。

[2020-08-03 07:07] zhulingling1995 commented on #329
非常感谢！谢谢

[2020-08-03 07:28] XiuweiHe opened #338 "paddle2onnx 图像分类问题，abs, tanh, instance_norm 不支持的op"
https://github.com/VIS-VAR/LGSC-for-FAS

There's 3 ops are not supported yet
=========== tanh ===========
=========== abs ===========
=========== instance_norm ===========

[2020-08-03 08:22] Lbo18 commented on #319
感谢~已解决

[2020-08-03 08:23] Channingss commented on #338
@XiuweiHe 这边会评估转换的难度，有进展会及时反馈

[2020-08-03 11:14] Channingss commented on #335
@superdu12138 您的ONNX模型opset为11，针对该版本的onnx模型，这边新增了Resize的支持，功能已合入，可拉取最新的develop分支重新安装X2Paddle

[2020-08-03 12:02] zhengkai15 commented on #319
您好可以微信交流一下嘛 zhengkai156252108 我也遇到了同样的问题

[2020-08-04 02:16] Channingss commented on #338
新增op已合入develop分支，请参照文档中第一种安装方式，手动重新安装X2Paddle：https://github.com/PaddlePaddle/X2Paddle#%E5%AE%89%E8%A3%85%E6%96%B9%E5%BC%8F%E4%B8%80%E6%8E%A8%E8%8D%90，

[2020-08-04 05:38] superdu12138 commented on #335
我重新拉取了最新的代码并重新安装X2Paddle，还是打印跟原来一样的信息
![image](https://user-images.githubusercontent.com/20619835/89256740-60a2c400-d657-11ea-93a4-2a2601982fbf.png)
但在转成PaddleLite模型是出现了新的报错信息，Check failed: is_found: Can't find a Cast kernel for Cast op: Tensor<arm,int64_t,NCHW,0>:cast_12.tmp_0->Tensor<arm,float,NCHW,0>:slice
![image](https://user-images.githubusercontent.com/20619835/89256838-90ea6280-d657-11ea-8

[2020-08-04 06:17] Channingss commented on #334
合入了对应修复的代码，可以重新拉一下develop然后手动安装。https://github.com/PaddlePaddle/X2Paddle#%E5%AE%89%E8%A3%85%E6%96%B9%E5%BC%8F%E4%B8%80%E6%8E%A8%E8%8D%90

[2020-08-04 06:31] MaYiLong1998 commented on #334
@Channingss  十分感谢

[2020-08-04 13:27] ZhaoFour commented on #333
谢谢

[2020-08-04 13:52] #333 closed, assigned to nobody

[2020-08-05 01:27] zhupengyang commented on #335
修复PR https://github.com/PaddlePaddle/Paddle-Lite/pull/4048

[2020-08-05 06:53] Tim4AI opened #348 "matrix_nms not supported"
1.想使用x2paddle转换一下，ppyolo试一下，说不支持matrix_nms
x2paddle --framework=paddle2onnx --model=output/ppyolo_tiny/ --save_dir=output/ppyolo_tiny

paddle.__version__ = 0.0.0
[WARNING] You are use develop version of paddlepaddle
Translating PaddlePaddle to ONNX...

Total:109, Current:109 : fetch
There's 1 ops are not supported yet
=========== matrix_nms ===========
2.对于以上类似的不支持的层，我有没有办法去除这个层，然后让转换通过，我自己去实现不支持的

[2020-08-05 07:10] Channingss commented on #348
@Tim5Tang
1. 这边目前还不支持matrix_nms，我们评估一下后会及时反馈
2. 第二个问题可以到PaddleDetection那边提一下Issue，在导出模型的时候应该可以改下代码来实现。

[2020-08-05 07:29] Tim5Tang commented on #348
好的谢谢

[2020-08-05 07:30] Tim5Tang commented on #348
我删了paddledetection中的部分代码

[2020-08-05 07:31] Tim4AI commented on #348
好的谢谢，我删了paddledetection 中的部分代码，然后没有报错matrix_nms了，但是说我们onnx版本不对，这个版本我可以怎么控制，还是与我安装的onnx有关系
paddle.__version__ = 0.0.0
[WARNING] You are use develop version of paddlepaddle
Now, onnx2paddle support convert onnx model opset_verison [9, 10, 11],opset_verison of your onnx model is 10, automatically treated as op_set: 10.
Translating PaddlePaddle to ONNX...

Total:110, Current:1 : feed im_size
Total:110

[2020-08-05 07:41] Channingss commented on #348
x2paddle 转换的时候 指定： --onnx_opest 11

[2020-08-05 07:51] Tim4AI commented on #348
嗯解决了谢谢，这个命令参数要放前面，尴尬我放后面说不能识别

[2020-08-05 07:51] #348 closed, assigned to nobody

[2020-08-06 03:40] zhupengyang commented on #335
修复PR已经merge了，拉paddle-lite的develop分支编译opt和预测库试下吧

[2020-08-06 04:45] xilinniao123 opened #350 "onnx转paddle tensor类型转换错误"
x2paddle版本是  0.8.1
paddle 版本是 1.7.2
在文本关系抽取中，将pytorch转化的onnx转为paddle的时候报错，如图所示：
![image](https://user-images.githubusercontent.com/11830865/89491770-91633480-d7e2-11ea-864e-703494fa115c.png)
跟进代码查看发现是dict tensor_type_to_np_type的问题，这个dict的key中没有0出现，但是数据类型转化的时候是0

[2020-08-06 04:58] jiangjiajun commented on #350
您好，已经在QQ上跟您沟通哈

[2020-08-06 05:54] xilinniao123 commented on #350
在另一个模型中发现有一个操作符号不支持
Now, onnx2paddle support convert onnx model opset_verison [9],opset_verison of your onnx model is 9, automatically treated as op_set: 9.
There are 1 ops not supported yet, list as below
Not

[2020-08-06 06:10] jiangjiajun commented on #350
方便的话发一下模型给我们

[2020-08-08 09:33] lushizijizoude opened #356 "SparseToDense is not support which is an important operation when lookup word embedding"
========= 1 OPs are not supported yet ===========
========== SparseToDense ============

[2020-08-08 09:52] lushizijizoude commented on #356
the pb file can be download  from [http://yuruizdj.oss-cn-beijing.aliyuncs.com/tensorflow.pb.zip](url)
here is codes to run the model: (url)
[code]

[2020-08-10 06:22] mamingjie-China commented on #356
Sorry, I got a mistake("google.protobuf.message.DecodeError: Error parsing message") when I try read the pb file. Please check your pb file or zip file.

[2020-08-11 05:54] yangfei963158659 opened #360 "paddleocr模型转onnx出错"
paddleocr转onnx出错，报错信息如下:
----------------------
Error Message Summary:
----------------------
InvalidArgumentError: tensor version 1904018048 is not supported, Only version 0 is supported
  [Hint: Expected version == 0U, but received version:1904018048 != 0U:0.] at (/paddle/paddle/fluid/framework/lod_tensor.cc:287)
  [operator < load_combine > error]

[2020-08-11 06:04] Channingss commented on #360
@yangfei963158659 需要在模型保存的时候，指定参数：params_filename='\_\_params\_\_'
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_inference_model_cn.html#save-inference-model

[2020-08-11 06:55] iceriver97 opened #361 "Total nodes: 0 ;ValueError: 'target_vars' should be a list of Variable."
自己训练的模型，图像分割，deeplabv3；
以下是转换信息：
paddle.__version__ = 1.8.3
Now translating model from tensorflow to paddle.
Total nodes: 0

Done!
d:\anaconda\envs\py35-pp\lib\site-packages\paddle\fluid\executor.py:1093: UserWarning: There are no operators in the program to be executed. If you pass Program manually, please use fluid.program_guard to ensure the current Program is being used.
  warnings.warn(error_

[2020-08-11 09:41] mamingjie-China commented on #361
感谢你的使用，是否可以提供一下你的模型我们这边复现一下问题？

[2020-08-11 09:56] phoenares opened #365 "不支持tensorflow BatchToSpaceND，SpaceToBatchND"
你好，在tensorflow转 paddle模型的时候，这两个op不支持，应该是用在dilated conv里面的,请问有什么办法吗

[2020-08-11 10:01] jiangjiajun commented on #286
此issue长期未更新，将被关闭，如有需求，可随时再打开。

[2020-08-11 10:01] #286 closed, assigned to Channingss

[2020-08-11 10:02] jiangjiajun commented on #302
此issue长期未更新，将被关闭，如有需求，可随时再打开。

[2020-08-11 10:02] #302 closed, assigned to Channingss

[2020-08-11 10:02] jiangjiajun commented on #326
此issue长期未更新，将被关闭，如有需求，可随时再打开。

[2020-08-11 10:02] #326 closed, assigned to nobody

[2020-08-11 10:03] jiangjiajun commented on #323
此issue长期未更新，将被关闭，如有需求，可随时再打开。

[2020-08-11 10:03] #323 closed, assigned to nobody

[2020-08-11 10:03] jiangjiajun commented on #322
此issue长期未更新，将被关闭，如有需求，可随时再打开。

[2020-08-11 10:03] #322 closed, assigned to nobody

[2020-08-11 10:03] jiangjiajun commented on #325
此issue长期未更新，将被关闭，如有需求，可随时再打开。

[2020-08-11 10:05] jiangjiajun commented on #365
你好，目前确实不支持这两个OP算子，但如果方便的话，麻烦发一下你的模型，我们评估下是否能够支持。 jiangjiajun#baidu.com (#替换为@)

[2020-08-11 10:10] iceriver97 commented on #361
怎样给你文件呢？这个模型有149M

[2020-08-11 10:13] iceriver97 commented on #361
@mamingjie-China 我放在百度云了，谢谢你能帮我
链接：https://pan.baidu.com/s/11GGAYdGg8ofIKHOSuxvDpA
提取码：j3j8

[2020-08-11 10:58] phoenares commented on #365
好的，我在如流上发给你，谢谢

[2020-08-11 10:59] onmywei opened #366 "paddleocr中paddle_rec文字识别模型的转换"
paddleocr模型只有paddle_det检测模型能转成onnx，paddle_rec没法转换，搭配使用不了，不知道有没有支持计划。

[2020-08-11 12:33] mamingjie-China commented on #361
模型我看了一下，感觉是在pb保存的时候有问题，我用netron打开后，结构如图，请检查一下保存的过程，确定是在参数固化后，生成的pb文件。
![image](https://user-images.githubusercontent.com/52770436/89897614-e1daf780-dc11-11ea-84fb-b44bf1cb83da.png)

[2020-08-11 12:43] iceriver97 commented on #361
@mamingjie-China
非常感谢！
以下是固化模型的操作：

[code]
[deeplab_saved_model.zip](https://github.com/PaddlePaddle/X2Paddle/files/5056995/deeplab_saved_model.zip

[code]

[2020-08-11 13:27] iceriver97 opened #368 "pytorch -> onnx ->paddle 在AIStudio中无法运行报错 Error: op conv2d does not have kernel for data_type"
我想知道是哪一步出了问题，万分感谢你们能帮助我！
导出模型：
[code]
**# 我不太确定这里dummy_input 是否设置正确：训练的图片为1024*1024的彩色图**
[code]
这里是权重文件：
链接：https://pan.baidu.com/s/1f5w0Av27603KyjJ7g7ga5A
提取码：f4nv
这里是模型文件：
链接：https://pan.baidu.com/s/1afHPHTAn5l5o_rj7PhS6zw
提取码：f52u

AIStudio中的代码为：
[code]
运行信息如下：
Traceback (most recent call last):
  File "infer.py", line 17, in <module>
    fetch_list=fetch_targets)
  File "/opt/conda/envs/pytho

[2020-08-12 01:55] jiangjiajun commented on #366
目前还不支持，后续的支持仍在评估中。

[2020-08-12 02:06] xilinniao123 commented on #350
X2paddle 已经更新

[2020-08-12 02:06] #350 closed, assigned to nobody

[2020-08-12 03:03] Channingss commented on #368
@iceriver97 请问这个是量化模型吗？

[2020-08-12 03:23] iceriver97 commented on #368
@Channingss  谢谢！额，我不太懂量化模型，是这个做道路提取的项目得到的模型，项目地址：https://github.com/zlkanata/DeepGlobe-Road-Extraction-Challenge
看报错信息像是这里的问题：
`x2paddle_629 = fluid.layers.conv2d(x2paddle_0, num_filters=64, padding=[3, 3], dilation=[1, 1], bias_attr=False, param_attr='x2paddle_firstconv_weight', name='x2paddle_629', groups=1, filter_size=[7, 7], stride=[2, 2])`
是这里的输入格式有问题吗？谢谢

[2020-08-12 03:24] iceriver97 commented on #361
@mamingjie-China 这里生成pb文件的操作有错误吗？谢谢

[2020-08-12 11:35] mamingjie-China commented on #361
pb模型的保存，可以参考网上的示例，如果遇到问题，可以向Tensorflow的repo提出issue解决

[2020-08-12 13:04] Channingss commented on #368
@iceriver 看报错信息应该是conv2d的参数'x2paddle_firstconv_weight'是uint8，也就是属于量化模型。X2Paddle不支持直接转换一个量化模型。

[2020-08-12 13:07] iceriver97 commented on #361
@mamingjie-China  好的谢谢

[2020-08-12 13:09] iceriver97 commented on #368
@Channingss  好的，谢谢！那我应该怎么做呢？

[2020-08-12 13:10] Channingss commented on #368
@iceriver97 明天我check下你的模型

[2020-08-12 13:28] iceriver97 commented on #368
@Channingss  好的，真是辛苦您了，万分感谢!

[2020-08-13 08:54] Channingss commented on #368
@iceriver97 可以直接把ONNX的模型直接发到我的邮箱吗? chen_lingchi@163.com

[2020-08-13 10:35] iceriver97 commented on #368
@Channingss  已经发送，非常感谢！

[2020-08-14 07:53] Channingss commented on #368
@iceriver97 我发现是你的代码里面，feed给模型的数据没有转换成float32，cv2.imread读取的图片默认数据类型是uint8。下面的代码是可以run的：
[code]

[2020-08-14 08:15] iceriver97 commented on #368
@Channingss  非常感谢，但是我在将图片保存为float32格式后重新执行又遇到了新的问题。
更改后的代码：
`img = cv2.imread("/home/aistudio/dataset/test/666005_sat.jpg")`
`img = np.float32(img)`
问题：
**Error Message Summary:**
InvalidArgumentError: The input of Op(Conv) should be a 4-D or 5-D Tensor. But received: input's dimension is 3, input's shape is [1024, 1024, 3].
  [Hint: Expected in_dims.size() == 4 || in_dims.size() == 5 == true, but

[2020-08-14 08:58] AlphaLFC opened #372 "Caffe proto Upsample层没有更新，导致Upsample不能直接转"
Caffe proto Upsample层没有更新，导致Upsample不能直接转
能不能把调试upsample的层的caffe.proto文件里加上upsample这一层，方便大家使用，省得重新生成caffe_pb2.py文件了

[2020-08-14 09:15] iceriver97 commented on #368
@Channingss  我将代码修改为`img = np.array(img).reshape(1,3,1024,1024).astype('float32')` 之后，进行预测的结果是全黑的图片，是转换后的模型出了问题吗？转换之前的模型是可以正常预测的，不是全黑的图片。

[2020-08-14 10:17] iceriver97 opened #374 "转换后的模型不能正常使用"
ONNX模型转换至PaddlePaddle，请说明ONNX模型的来源，模型类型（例如图像分类、目标检测等）
属于道路提取的模型；
如有原模型文件或github链接，如方便可一并附上，方便开发人员分析。
转换后的模型预测结果为全黑；转换之前是可以正常使用的；
这里是权重文件：
链接：https://pan.baidu.com/s/1f5w0Av27603KyjJ7g7ga5A
提取码：f4nv
这里是模型文件：
链接：https://pan.baidu.com/s/1afHPHTAn5l5o_rj7PhS6zw
提取码：f52u
测试图片：
![6390_sat](https://user-images.githubusercontent.com/24710426/90239624-6b7d0600-de5a-11ea-9890-350cd3a9180d.jpg)

[2020-08-14 16:25] thunder95 opened #375 "转eco的onnx报错"
ONNX模型： ECO 视频分类
报错信息：
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/sklearn/externals/joblib/externals/cloudpickle/cloudpickle.py:47: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
paddle.__version__ = 1.8.0
Now translating model from onnx to paddle.
model ir_version: 4, op version: 9
s

[2020-08-17 01:58] jiangjiajun commented on #375
方便的话分享一下你的模型文件，以便于我们进行debug。

[2020-08-17 02:05] jiangjiajun commented on #374
请问测试过ONNX模型是否正常可用吗？这里模型在预测前应该都是需要进行预处理的，方便的话分享一下你预处理后输入到模型里面的数据

[2020-08-17 02:16] Channingss commented on #368
@iceriver97 图片一般会经过一个resize和normalize然后再给模型进行预测，请确保转换前和转换后模型的输入是一致的。

[2020-08-17 03:37] Channingss commented on #375
@thunder95 试试拉取最新的develop分支代码，然后重新安装一下。

[2020-08-17 07:51] iceriver97 commented on #368
@Channingss  pytorch模型的预处理 使用到了torch.nn.parallel.data_parallel的forward() 方法，具体代码如下：
[code]
我该如何将其中用到 forward() 进行预测计算的代码改成PaddlePaddle可用的代码？

[2020-08-17 07:58] iceriver97 commented on #374
@jiangjiajun 我不知道ONNX模型该如何使用，这里是转换后的ONNX模型：
链接：https://pan.baidu.com/s/1TTF9gTCgWvgh93WlnzIJUw
提取码：skag
pytorch模型的预处理 使用到了torch.nn.parallel.data_parallel的forward() 方法，具体代码如下：
[code]
我该如何将其中用到 forward() 进行预测计算的代码改成PaddlePaddle可用的代码？

[2020-08-17 08:39] jiangjiajun commented on #374
建议先自行测试一下onnx模型是否可用，onnx的加载和推理可以使用onnxruntime

[2020-08-17 08:48] Channingss commented on #368
@iceriver97 这个部分使用Numpy和OpenCV可以完成，可以不依赖Paddle

[2020-08-17 08:54] iceriver97 commented on #368
@Channingss
[code]
前半部分不需要转化为 PaddlePaddle 的Tensor形式吗？
后半部分是否应该转化为 exe.run()的形式执行预测？

[2020-08-17 09:08] Channingss commented on #368
@iceriver97 exe.run的时候输入指定可以这样：feed={'input_name':  numpy.ndarray}。https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Executor_cn.html#run-program-none-feed-none-fetch-list-none-feed-var-name-feed-fetch-var-name-fetch-scope-none-return-numpy-true-use-program-cache-false-return-merged-true

[2020-08-17 09:22] SunAhong1993 commented on #372
这边针对该问题已经提了PR  https://github.com/PaddlePaddle/X2Paddle/pull/377 ，您可
[code]
安装新的X2Paddle包，即有Upsample层。

[2020-08-17 09:25] iceriver97 commented on #368
@Channingss 按照您的建议修改后，我遇到了下面的问题，我无法在网络上找到相关问题的解决方案，希望您能帮我，谢谢！
[code]
下面是相关的代码：
[code]
若将代码改为：
[code]
会出现下面的错误：
[code]

[2020-08-17 10:17] iceriver97 commented on #368
@Channingss 在我调整代码之后可以运行程序了，但是会出现问题：
[code]
这是属于图片格式的问题还是预处理的问题？

[2020-08-17 14:34] iceriver97 commented on #374
@jiangjiajun  您好，非常感谢您的建议，我进行了尝试，结果如下，模型有问题吗？
这是我的测试代码：
[code]
这是我的测试结果的一部分（上）：
[code]

[2020-08-17 14:35] iceriver97 commented on #374
@jiangjiajun  这是下半部分结果：
[code]

[2020-08-18 01:58] AlphaLFC commented on #372
感谢！提供了caffe.proto也可以更方便地加其他层

[2020-08-18 01:58] #372 closed, assigned to nobody

[2020-08-18 02:33] Channingss commented on #368
可以贴一下代码吗？

[2020-08-18 03:43] iceriver97 commented on #368
@Channingss 上面的问题应该是图片维度的问题，我想已经解决了。
现在的问题就是预测图片为全白，我已经按照原来pytorch模型的预处理过程进行了同样的改写；
下面是推理的代码：
[code]
我想向您请教一下：
1.我的模型文件  model_with_code/model.py 在哪个阶段会被调用？为什么我在该脚本中定义的输出不会被显示。
2.在model.py中我是否应该将网络改为：
[code]
3.我在运行推理脚本之后得到输出，其中每张图片的结果都一样，这与原来的pytorch模型不同，这是为什么呢？是否模型未被正常加载？
[code]
非常感谢您！ @Channingss

[2020-08-18 04:13] thunder95 commented on #375
已试过最新的develop代码，也不行,

Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/bin/x2paddle", line 11, in <module>
    load_entry_point('x2paddle', 'console_scripts', 'x2paddle')()
  File "/home/aistudio/work/ECO-paddle/onnx/X2Paddle/x2paddle/convert.py", line 269, in main
    onnx2paddle(args.model, args.save_dir, params_merge)
  File "/home/aistudio/work/ECO-paddle/onnx/

[2020-08-18 04:14] thunder95 commented on #375
@jiangjiajun @Channingss  不清楚onnx文件怎么传  有点大 100多mb

目前直接手动搭好了网络，还是无法通过x2paddle直接转。

[2020-08-18 04:14] #375 closed, assigned to nobody

[2020-08-18 11:00] XiuweiHe commented on #338
There's 1 ops are not supported yet
=========== square ===========

[2020-08-19 02:40] jiangjiajun commented on #374
有验证转换后的paddle模型输出结果与ONNX一致吗

[2020-08-19 04:20] Lggggggx opened #378 "ONNX模型转换至PaddlePaddle，op不支持onehot和LSTM"
您好，请问现在X2Paddle是暂时不支持onehot和LSTM操作吗？
例如torch中的gather用到了onehot操作
[code]

[2020-08-19 07:15] xilinniao123 opened #379 "batch大小不固定"
文本分类；
我的 输入纬度是2纬的，但是大小不固定（batch_size,seq_len）
这里的 seq_len 是不定长度的

pytorch 转成onnx的时候是可以的

但是 利用 X2paddle 转换的时候报错

model ir_version: 6, op version: 11
Unknown shape for input tensor[tensor name: 'x2paddle_inputs'] -> shape: [64, 'seqLen'], Please define shape of input here,
Note:you can use visualization tools like Netron to check input shape.
Shape of Input(e.g. -1,3,224,224), enter 'N' to skip: 64

[2020-08-19 09:32] #378 closed, assigned to nobody

[2020-08-20 02:50] Alex-1997-Wzx opened #381 "ultralytics的pytorch版本的yolov5项目的yolov5s.pt--onnx--paddle，在onnx2paddle时出现Inferred shape and existing shape differ in dimension 2: (416) vs (208)的错误"
我的模型源文件是yolov5s.pt，使用的是github上的pytorch版本的yolov5的项目，链接附上：https://github.com/ultralytics/yolov5

我在进行pytorch转onnx的时候，是没有问题的，onnx使用的1.6.0，opset版本是11，最终成功生成onnx。使用的转换程序，是该项目提供的export.py，在models文件夹下。

但是在我使用x2paddle转换onnx 的时候，出现了错误，我的paddle版本是1.8，采用github上推荐的第一种方式安装的x2paddle。报错如下：初步看，好像是和shape相关的错误，我设置的模型输入是1*3*416*416，但是我不明白错误中提到的208是什么意思。而且当我在将pytorch转换成onnx的时候，如果将输入尺寸设置成1*3*640*640，那么错误中就会出现320，都刚好是

[2020-08-20 07:12] Channingss commented on #381
@Alex-1997-Wzx 这个报错是提示关于ONNX模型本身的问题，看上去是torch2onnx时shape指定不对。你需要在torch2onnx之前，确认下这个模型的输入shape是多少。导出后也可以用onnxruntime推理下该模型看是否可以成功run，来check下模型时候正确。

[2020-08-20 07:56] yajiezhu opened #382 "黄埔学院 x2paddle"
textCNN模型 tf2pd 转换的pd模型应该有两个文件夹 但是 我只有1个model_with_code 没有inference_model 还报错了x2paddle: error: unrecognized arguments: --framework=tensorflow --model=./resource/model.pb --save_dir=./paddle_model

[2020-08-20 07:59] yajiezhu opened #383 "黄埔学院 x2paddle"
x2paddle 支持textCNN、bi-lstm-crf模型tf2pd吗

[2020-08-20 07:59] yajiezhu commented on #383
x2paddle 支持textCNN、bi-lstm-crf模型tf2pd吗

[2020-08-20 09:28] jiangjiajun commented on #382
这个命令行报错，是说明x2paddle没有安装成功的原因。

TextCNN模型是可以支持转换的，下载最新X2Paddle代码安装即可
[code]

[2020-08-20 09:29] jiangjiajun commented on #383
textCNN支持，序列类暂不支持
Duplicate of https://github.com/PaddlePaddle/X2Paddle/issues/382

[2020-08-20 11:00] Alex-1997-Wzx commented on #381
我在onnxruntime上运行是没有问题的，而且该项目官方给的torch2onnx使用的shape也是1x3x416x416，所以我也不知道哪出了问题.

[2020-08-20 13:52] Alex-1997-Wzx commented on #381
我在torch2onnx时，可能由于某些算子的原因，必须得使用onnx-optset=11才能完全没有警告的通过，所以我选择的是11。但是在onnx2paddle的时候，x2paddle显示的是目前支持onnx-optset=9，并且报了错，所以是不是和支持的版本有关系，就不能用了。于是我在torch2onnx时，选择optset=9，在有警告的情况下生成onnx，此时进行onnx2paddle就不会报错。也就是我在torch2onnx的时候必须选择optset=9。。

E:\Python37\Scripts>x2paddle --framework=onnx --model=C:\Users\Alex\Desktop\ultralytics_yolov3_pytorch\yolov3-tiny.onnx --save_dir=C:\Users\Alex\Desktop\ultralyt

[2020-08-21 01:31] yajiezhu commented on #382
我按照你说的 做了一遍 发现 效果一样 只有1个model_with_code 没有inference_model 还报错了x2paddle: error: unrecognized arguments: --framework=tensorflow --model=./resource/model.pb --save_dir=./paddle_model

[2020-08-21 01:39] jiangjiajun commented on #382
麻烦再检查查您的环境哈，如果会报命令行出错 error: unrecognized arguments: --framework=tensorflow ，为什么还会有model_with_code这个目录生成呢

[2020-08-21 01:51] yajiezhu commented on #382
卸载x2paddle的确成功了 安装也成功了

[2020-08-21 01:55] jiangjiajun commented on #382
删掉之前转换生成的文件，重新转换试下。另外你是Windows还是Linux呢

[2020-08-21 01:58] yajiezhu commented on #382
之前转换生成的文件删掉了 重新转换了 linux
(base) zyj@ubuntu18:~/pythonProgram/receiveVisitorRobot$ x2paddle --framework=tensorflow --model=./resource/model.pb --save_dir=./paddle_model
paddle.__version__ = 1.8.2
/home/zyj/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treate

[2020-08-21 02:02] jiangjiajun commented on #382
这里看转换时，输入的shape应该不是None,384, 而应该是1   因为这里要输入的是tensor: dropout_keep_prob的shape

[2020-08-21 02:50] yajiezhu commented on #382
还是报一样的错误
(base) zyj@ubuntu18:~/pythonProgram/receiveVisitorRobot$ x2paddle --framework=tensorflow --model=./resource/model.pb --save_dir=./paddle_model
paddle.__version__ = 1.8.2
/home/zyj/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64

[2020-08-21 02:51] jiangjiajun commented on #382
usage: x2paddle [-h] [--train_data TRAIN_DATA] [--train_file TRAIN_FILE]
[--test_data TEST_DATA] [--test_file TEST_FILE]
[--batch_size BATCH_SIZE] [--epoch EPOCH]
[--hidden_dim HIDDEN_DIM] [--optimizer OPTIMIZER] [--CRF CRF]
[--lr LR] [--clip CLIP] [--dropout DROPOUT]
[--update_embedding UPDATE_EMBEDDING]
[--pretrain_embedding PRETRAIN_EMBEDDING]
[--embedding_dim EMBEDDING_DIM] [--shuffle SHUFFLE]

[2020-08-21 02:52] #383 closed, assigned to nobody

[2020-08-21 02:52] #334 closed, assigned to Channingss

[2020-08-21 02:52] #329 closed, assigned to nobody

[2020-08-21 02:56] #360 closed, assigned to Channingss

[2020-08-21 02:56] #366 closed, assigned to nobody

[2020-08-21 02:58] #379 closed, assigned to jiangjiajun

[2020-08-21 03:06] yajiezhu commented on #382
python环境里有很多安装包 都要重新安装  有点搞大了 x2paddle 卸载再安装 也没有搞定 没有别的办法了吗

[2020-08-21 03:22] yajiezhu commented on #382
我换了python环境 也不行 一样的错误

[2020-08-21 03:26] jiangjiajun commented on #382
由于我不了解您的环境具体情况，但当前出现的问题肯定是由于您的Python环境问题导致，在上面的提示中，出现的unrec等提示均与X2Paddle是无关的。我这边已经试过您之前发给我们的模型，参考如下截图，是可以正常转换完成的，建议检查自己的Python环境 ：）

![image](https://user-images.githubusercontent.com/19339784/90849131-26e4f380-e3a1-11ea-874c-32220bb5ea15.png)

[2020-08-21 03:32] yajiezhu commented on #382
python环境 我的确换了 一样的报错 你的paddle版本是1.8.4 我的是1.8.2呢  这个有影响吗

[2020-08-21 03:40] iceriver97 commented on #368
@jiangjiajun 为什么关闭这个问题？

[2020-08-21 04:46] jiangjiajun commented on #382
跟paddle版本没关系，主要是由于你的出错提示出现了与X2Paddle无关的日志，所以环境上应该有问题。

你可以通过Anaconda创建一个新的Python环境安装paddlepaddle, tensorflow 和 x2paddle，然后再进行转换

[2020-08-21 05:47] yajiezhu commented on #382
不是环境的问题 我已经换环境了 报同样的错误 现在搞好了 可以了 不过 我发给你的textCNN模型可以tf2pd 但是其他的textCNN模型是转换不行的 会报我现在遇到的问题

[2020-08-21 05:54] jiangjiajun commented on #382
如果方便的话，你可以发一个你那边转换出错的模型给我，我来试下

[2020-08-21 06:17] yajiezhu commented on #382
转换错的textCNN模型在附件里 请查收~

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/X2Paddle"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年8月21日(星期五) 中午1:54
收件人:&nbsp;"PaddlePaddle/X2P

[2020-08-21 06:18] yajiezhu commented on #382
textCNN模型 邮件发给你了 你试一下

[2020-08-21 06:23] jiangjiajun commented on #382
麻烦直接发送至jiangjiajun@baidu.com

[2020-08-21 06:24] yajiezhu commented on #382
textCNN模型 tf2pd 后 我想pd2lite  结果也报错了 你试一下
paddle_lite_opt --model_dir=./inference_model --valid_targets=arm --optimize_out_type=naive_buffer --optimize_out=./textCNN_model

[2020-08-21 06:26] jiangjiajun commented on #382
paddleLite相关问题可在PaddleLite的github repo提issue哈

[2020-08-21 06:27] yajiezhu commented on #382
ok 我转错的textCNN模型 你收到了吗

[2020-08-21 06:34] jiangjiajun commented on #382
我这边仍然可以正常转换，还是建议你重新搭建一个python环境，X2Paddle不会有你先前粘贴的那些日志提示

![image](https://user-images.githubusercontent.com/19339784/90859792-6fa9a600-e3bb-11ea-80e6-62997652c3c5.png)

[2020-08-21 06:50] jiangjiajun commented on #368
不好意思，操作时出错，我已经重新打开。

[2020-08-21 06:52] yajiezhu commented on #382
我把转错的textCNN模型 放在了另外一个项目里 重新转换了一下 发现能转换成功 python环境并没有变

[2020-08-21 07:01] jiangjiajun commented on #368
根据上面的回复，目前看是可以成功将ONNX模型转成Paddle模型，目前您的问题还主要存在哪几点呢？

[2020-08-21 07:09] iceriver97 commented on #368
@jiangjiajun  转换之后模型预测结果为全白，每张图片的预测结果都一样，我怀疑是不是模型未正常加载，具体信息您可以查看一下您关闭之前我最后的提问，谢谢

[2020-08-21 07:35] jiangjiajun commented on #368
那您是否已经验证完ONNX模型结果出来是正常的呢，如果ONNX模型没问题，麻烦您发一下ONNX模型的预测代码和测试数据，我们查下为什么Paddle模型预测会出错

[2020-08-21 08:32] iceriver97 commented on #368
#374 你可以参考这个issue，我不太清楚使用onnx模型测试是否需要做相同的预处理；我之前并未接触过onnx，我是按照你们官方的示例从 pytorch转化为onnx再转化为pp 对中间模型 onnx 未做任何修改 @jiangjiajun

[2020-08-21 09:56] jiangjiajun commented on #368
不管是对于python或tensorflow、onnx、Paddle模型，都只接收输入，并给出一个输出。因此用户需要自行确保给一个正确的预处理后的输入数据。

我这边已经再次测试过您的onnx模型，在转换前后，给定同样的随机输入数据，paddle模型与onnx模型的输出结果diff在10-8次数量级，转换后模型结果基本没有差异，转换正确。

如对模型转换还有其它问题，可继续通过issue反馈给我们。
![image](https://user-images.githubusercontent.com/19339784/90878015-9249b800-e3d7-11ea-9e2f-2bdbf2710681.png)

[2020-08-21 12:55] iceriver97 commented on #368
@jiangjiajun  非常感谢您的测试；我想知道model.py是不是在我执行 `maska = exe.run(inference_program,feed={feed_target_names[0]: img1},fetch_list=fetch_targets)`的时候会被调用？为什么我在model.py->网络定义部分的print()语句不会被执行？

[2020-08-23 13:30] xttian opened #386 "3 OPs are not supported yet when translating model from tensorflow to paddle"
Notes:
Now translating model from tensorflow to paddle.
Total nodes: 4129
Converting node 4129 ...     ========= 3 OPs are not supported yet ===========
========== NotEqual ============
========== Unpack ============
========== Square ============

The tf model is trained for text classification, where there is a pretrained bert layer and some CNN layers.

[2020-08-24 02:16] jiangjiajun commented on #386
Could you provide your tensorflow model for us to debug? Please send to jiangjiajun@baidu.com, thks

[2020-08-24 02:23] Channingss commented on #381
@Alex-1997-Wzx 您好，这边Slice的转换目前只支持steps为1，方便的话麻烦可以提供ONNX模型

[2020-08-24 02:24] xttian commented on #386
Of course, I have accomplished it. Please check it.  E-mail: 188xxxx7285@163.com

[2020-08-24 02:33] jiangjiajun commented on #368
不会调用model.py，只会加载inference model，然后执行。

x2paddle目前转换产出两种格式模型
- 1.inference_model: 此目录下`__model__`为模型结构文件，其余为模型参数文件，使用fluid.io.load_inference_model即可加载预测
- 2.model_with_code: 此目录下`model.py`为生成的python组网代码，其余为模型参数文件，在`model.py`中`run_net`函数会加载当前目录下的参数，提供`model_with_code`便于开发者自行debug

[2020-08-24 02:34] Channingss commented on #338
@XiuweiHe https://github.com/PaddlePaddle/X2Paddle/pull/387，这个pull request新增了square的转换，目前还没有合入，请拉取对应提交的分支进行测试。

[2020-08-24 02:55] iceriver97 commented on #368
@jiangjiajun 谢谢！当我将对图片的预处理与原pytorch模型保持一致时，模型对5张测试图片的预测结果图片是一样的大小,并且预测结果相当接近
[code]
；是不是我需要做与pytorch不同的预处理？或者说是 张量的格式是不一致的，类似这样的区别：`NHWC->NCHW`？

[2020-08-24 03:09] iceriver97 commented on #368
@jiangjiajun 还有一点就是为什么转换后的 model_with_code/model.py 中存在大量使用 fluid.layers.create_parameter 创建的参数，但是并未被使用（AIStudio 中是黄线提示）？
![warning](https://user-images.githubusercontent.com/24710426/90999813-4165d980-e5fa-11ea-8992-9a6910e313db.png)

[2020-08-24 03:18] jiangjiajun commented on #368
这个不影响使用，我们会在接下来的升级中，去掉这些无用的代码

[2020-08-24 03:45] iceriver97 commented on #368
@jiangjiajun  在 pytorch 预处理的部分，有 forward 函数：
[code]
其中调用的方法都是 pytorch torchvision.model.resnet34 中的：
[code]
我在转换的过程中：直接将 `maska = self.net.forward(img1)` 改成了` exe.run()` 这样转换是不是错误的？

[2020-08-24 05:07] Alex-1997-Wzx commented on #381
好的，我把onnx模型发给你。我刚才发附件的时候，发送失败，说您那边有文件大小限制，我的onnx模型是28.5M，所以我应该通过什么方式发给你。

------------------ 原始邮件 ------------------
发件人:                                                                                                                        "PaddlePaddle/X2Paddle"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年8月24日

[2020-08-24 06:40] iceriver97 commented on #368
@jiangjiajun 我在对比原先 pytorch 的 forward() 中的函数与 model_with_code/model.py 中的组网代码后，发现这两部分好像是一致的，是不是将 forward 前向计算的部分直接改为 exe.run() 就可以?

[2020-08-24 08:01] Channingss commented on #381
@Alex-1997-Wzx 发我的个人邮箱：chen_lingchi@163.com不可以吗？或者百度网盘吧

[2020-08-24 08:01] bittergourd1224 opened #388 "OCR paddle2onnx failed."
Hi, there. I'd like to transfer a PaddleOCR model to onnx, the procedure I followed is from https://github.com/PaddlePaddle/PaddleOCR/issues/213 . According to the issue, the author succeeded, but I failed during my trial.

### Model:
I downloaded the PaddleOCR model from:
https://paddleocr.bj.bcebos.com/ch_models/ch_det_mv3_db_infer.tar
And I renamed them to__model__ and__params__, according to i

[2020-08-25 09:29] korlankil opened #389 "将keras(包含bert)模型转化为pb模型后，使用x2paddle再次转化时为paddle失败，另外对于用户输入Input size的几点疑问"
问题1：
#出现的问题如下所示
![image](https://user-images.githubusercontent.com/30521052/91156179-63dd1d00-e6f6-11ea-9d87-dc01245d1787.png)

#该tensorflow模型是由keras模型转化而来，原模型中包含keras-bert预训练模型，在keras中模型各层结构如下图所示
![image](https://user-images.githubusercontent.com/30521052/91155679-be29ae00-e6f5-11ea-88cb-50c059c54577.png)

#keras模型转化为pb模型时中使用了以下函数
def h5_to_pb(h5_model,output_dir,model_name,out_prefix = "output_"

[2020-08-25 09:33] yuhangT opened #390 "tensorflow转化为paddlepaddle时出现错误"
![image](https://user-images.githubusercontent.com/49428064/91157545-0b0e8400-e6f8-11ea-9c13-0c64dfb6fc66.png)

模型位置：https://pan.baidu.com/s/1pkm4S8lTkeV3UXeOMvzDIw

提取码：c7ye

[2020-08-25 09:35] yuhangT commented on #390
谢谢

[2020-08-25 09:48] jiangjiajun commented on #389
对的，你可以先尝试不加--define_input_shape进行转换。如果还提示你要输入，你可以输入具体的输入大小，如None,50

[2020-08-25 09:51] Channingss commented on #388
@bittergourd1224 please try to use x2paddle command with: --onnx_opset 11

[2020-08-26 02:59] jiangjiajun commented on #386
你好，请先卸载现在的x2paddle，按照如下方式安装x2paddle后进行转换
[code]
目前并未验证转换的正确性，如有问题请在此issue下继续反馈

[2020-08-26 03:04] jiangjiajun commented on #390
看了你的模型，输入的大小是[-1, -1]，即表示当前是要两维都不定长，但目前tf模型转换时最多只能支持到一维是不定长的，所以还请确定一下你的模型大小输入是多少

[2020-08-26 06:06] iceriver97 commented on #361
@mamingjie-China  我在保存模型时只用指定与原来模型输入相同形状的张量还是说必须是原模型的输入

`logits, endpoint = vgg.vgg_16(inputs, num_classes=1000, is_training=False)` 就是说官方示例代码的 inputs 是不是只需要与原模型输入张量维度保持一致就可以? 谢谢

[2020-08-26 06:57] jiangjiajun commented on #361
需要与原模型shape维度一致

[2020-08-26 07:03] iceriver97 commented on #361
@jiangjiajun  谢谢，比如我原来模型的输入是 从TFRecord读入的，维度为 (?, 512, 512, 3)，是不是这样指定inputs:
`inputs = tf.placeholder(dtype=tf.float32,shape=[None, 512, 512, 3],name="inputs")`

[2020-08-26 11:57] jiangjiajun commented on #361
这里得看模型经过预处理后，输给模型的数据大小是多大

[2020-08-26 12:30] Channingss commented on #381
@Alex-1997-Wzx 我这边报错了好像是模型有点问题，请问模型md5是这个吗？
![image](https://user-images.githubusercontent.com/12471701/91303676-ed661b00-e7da-11ea-8bff-5e61c4f3a595.png)

[2020-08-27 00:47] iceriver97 commented on #361
@jiangjiajun  谢谢，这是调用模型的语句：（network.deeplab_v3是网络名称）
`logits_tf =  network.deeplab_v3(batch_images_tf, args, is_training=False, reuse=False)`
我是不是应该 使inputs = batch_images_tf,并且在导出模型时保存logits_tf?

[2020-08-27 06:45] xttian commented on #386
问题没有解决，报错信息和原来一样
Converting node 4129 ...     ========= 3 OPs are not supported yet ===========
========== Unpack ============
========== Square ============
========== NotEqual ============

[2020-08-27 08:27] jiangjiajun commented on #386
不好意思，发现代码并未更新上去，请再重新拉代码安装，进行转换

[2020-08-27 08:39] jiangjiajun commented on #368
Paddle的模型运行是用exe.run， 这部分可以看下Paddle官网的基础教程

[2020-08-27 08:41] iceriver97 commented on #368
@jiangjiajun 谢谢，我对比了原来pytorch 模型的输出 与 exe.run 之后的输出，这两个输出是不一致的！？为什么？对输入图片的预处理是完全一致的;我验证了输入网络的数组内容是一致的；

[2020-08-27 12:50] iceriver97 commented on #368
@jiangjiajun  是不是X2Paddle的问题？导出onnx模型都是参照官方操作进行的？如果你们愿意测试的话我可以提供所有的数据；谢谢

[2020-08-27 13:06] iceriver97 opened #394 "Ops are not supported yet"
报错信息：
[code]
模型名称：deeplabv3；
模型检查点文件（百度网盘）：
链接：https://pan.baidu.com/s/1y98nWK6ZgbM-rv0f1Rc6OQ
提取码：jig8
需要转换的pb文件（百度网盘）：
链接：https://pan.baidu.com/s/1CqoXEpS7P-9JWrm2-6K2Yg
提取码：noba

[2020-08-28 02:01] jiangjiajun commented on #368
X2Paddle目前提供将ONNX转至Paddle模型，在上面的回复中，已经对比了ONNX模型和Paddle模型，两者的结果diff是没有差异的。建议先在onnx模型上跑出符合你预期的结果（即ONNX结果与PyTorch一致）

[2020-08-28 02:11] iceriver97 commented on #368
@jiangjiajun 谢谢，您的意思是 pytorch模型转换为 onnx 模型的过程中出了问题是吗？
[code]
这里完全参照你们官方的例子做的，有错误吗？谢谢

[2020-08-28 02:51] xttian commented on #386
～$ git clone https://github.com/PaddlePaddle/X2Paddle.git
Cloning into 'X2Paddle'...
remote: Enumerating objects: 226, done.
remote: Counting objects: 100% (226/226), done.
remote: Compressing objects: 100% (152/152), done.
error: RPC failed; curl 18 transfer closed with outstanding read data remaining
fatal: the remote end hung up unexpectedly
fatal: early EOF
fatal: index-pack failed
一直clone不下来，

[2020-08-28 03:16] iceriver97 commented on #368
@jiangjiajun  我测试了onnx模型的输出，结果与PaddlePaddle的结果是一致的；问题就出在了上面导出模型的那几句？我实在不理解那几句哪里出了问题？谢谢您

[2020-08-28 04:47] xttian commented on #386
我重新更新之后，问题没有解决，还是一样的报错

[2020-08-28 05:52] jiangjiajun commented on #386
先卸载现有的x2paddle，再拉最新的代码，checkout至develop_for_issue_386，安装即可。我这边已经测试过可以了，建议您再检查下操作步骤。

[2020-08-28 06:00] xttian commented on #386
好的，我新建一个环境试一下

[2020-08-28 14:43] Alex-1997-Wzx commented on #381
![image](https://user-images.githubusercontent.com/54297321/91580511-ceed5480-e97f-11ea-838f-abc6f8e85dbf.png)
是的，md5就是这个

[2020-08-28 14:45] Alex-1997-Wzx commented on #381
我已经对比过了，6449dee1537c2c0851316541f533ed74   md5就是这个

[2020-08-31 01:33] #374 closed, assigned to nobody

[2020-08-31 02:04] jiangjiajun commented on #368
有可能，建议查阅一下PyTorch的模型导出接口，你这里只提供了一个dummy_input，而实际上模型有多个输入

[2020-08-31 06:35] iceriver97 commented on #368
@jiangjiajun  谢谢。我查阅了导出接口，发现参数设置应该没问题。您这里指的模型的多个输入是指什么呢？原模型的输入就是一张图片。

[2020-09-01 06:53] Tinagao222 opened #395 "【黄埔学院】 paddle训练的yolov4，成功转成onnx模型，但用onnxruntime运行时报错"
**问题：**Yolov3可以转onnx并允许成功，但yolov4转成功后，运行失败了。
**报错信息如下：**
Exception has occurred: Fail
[ONNXRuntimeError] : 1 : FAIL : Non-zero status code returned while running TopK node. Name:'' Status Message: value of k must not be negative

**python程序如下：**
import numpy
import onnxruntime as rt
import cv2
import numpy as np

def drawbbox(img, results, score_thr=0):
    color = [(255,0,0),(0,255,0)]
    a = le

[2020-09-01 07:04] Channingss commented on #395
@Tinagao222 转换的时候指定参数onnx_opset=11试一下

[2020-09-01 07:12] jiangjiajun commented on #394
目前还不支持deeplabv3,  不过Paddle目前有语义分割模型，建议试用下PaddleSeg https://github.com/PaddlePaddle/PaddleSeg

[2020-09-01 07:23] iceriver97 commented on #394
@jiangjiajun 谢谢，意思是关于deeplabv3 的模型我无法从其他平台直接转换过来用是吗？包括TF，Pytorch这些。

[2020-09-01 07:32] Tinagao222 commented on #395
您好，已经指定了，转换的时候也没有报错，就是运行时候出错了。

[2020-09-01 08:28] Channingss commented on #395
@Tinagao222 修复了该bug，可以拉取最新的develop分支重新安装X2Paddle。

[2020-09-01 09:40] Tinagao222 commented on #395
您好，我试过了，还是一样的报错，是否需要把模型提供给你们测试？

[2020-09-01 09:41] Channingss commented on #395
@Tinagao222 我这边测试PaddleDetection导出来的YOLOv4没有报错呀，您可以把模型发到chen_lingchi@163.com

[2020-09-01 09:50] Tinagao222 commented on #395
模型已经发您邮箱咯，paddle转onnx的时候是没问题的，是在运行上述python程序做检测的时候，报错了。

[2020-09-01 09:52] Channingss commented on #395
@Tinagao222 我指的是onnxruntime运行也没有问题，我试试你的模型

[2020-09-01 10:05] Channingss commented on #395
@Tinagao222 我这边使用如下代码，是可以运行的：
[code]
我们刚刚更新了github上面的代码，请参考[安装方式一](https://github.com/PaddlePaddle/X2Paddle#%E5%AE%89%E8%A3%85%E6%96%B9%E5%BC%8F%E4%B8%80%E6%8E%A8%E8%8D%90)，手动进行安装。
pip install x2paddle还没有更新的。

[2020-09-01 13:17] jiangjiajun commented on #394
目前还无法支持，我们仍然在更新迭代中，语义分割的模型也在计划中，包括TF, PyTorch和ONNX等

[2020-09-02 04:39] jiangjiajun commented on #368
刚看了你上面的代码，确实只有一个输出，那说明导出时设置一个输出即可。关于模型导出的onnx与PyTorch模型不一致的问题，这个更建议在PyTorch的Repo下咨询下哈

[2020-09-03 06:41] passenger20 opened #397 "torch转onnx转paddle中 ，输入 尺寸问题"
ONNX由torch模型export获得，面向任务为信息抽取。在转成paddle文件后使用方法如下：
[code]
其中text的尺寸为201，报错如下：

C++ Call Stacks (More useful to developers):

0   std::string paddle::platform::GetTraceBackString<std::string const&>(std::string const&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(std::string const&, char const*, int)
2   paddle::operators::GetBroadcastDimsArrays(paddle::framework::DDim const

[2020-09-04 10:00] jiangjiajun commented on #397
目前x2paddle转换出来的Paddle代码是静态图组网代码，非动态图代码，建议按照静态图方式使用

[2020-09-07 00:31] #361 closed, assigned to nobody

[2020-09-07 00:33] #368 closed, assigned to Channingss

[2020-09-08 09:22] bittergourd1224 commented on #388
部署onnx模型花了些时间，已经确认转换成功且可以使用，感谢！

[2020-09-08 09:22] #388 closed, assigned to Channingss

[2020-09-09 09:56] yangyangHu opened #398 "deepspeech2-paddle模型转onnx：不支持算子gru"
deepspeech2训练的paddlepaddle模型使用X2Paddle转成onnx时报错：
Paddle2ONNX: x2paddle --framework=paddle2onnx --model=paddle_infer_model_dir --save_dir=onnx_model

报错详情：
Now, onnx2paddle support convert onnx model opset_verison [9, 10, 11],opset_verison of your onnx model is 11, automatically treated as op_set: 11.
Translating PaddlePaddle to ONNX...

Total:48, Current:1 : feed masks
Total:48, Current:2 : feed s

[2020-09-10 03:14] RichardYang88 opened #399 "YOLOV5不支持转换"
onnx转换paddle时候报错  KeyError: 0

[2020-09-10 08:40] jiangjiajun commented on #398
你好，目前还不支持GRU等序列类算子模型转ONNX

[2020-09-10 08:41] jiangjiajun commented on #399
你好，是从什么框架转至Paddle呢？

[2020-09-10 09:49] RichardYang88 commented on #399
从pytorch转onnx,没问题。在转为paddle模型的时候报错
RuntimeError: Inferred shape and existing shape differ in dimension 2: (640) vs (320)
貌似尺寸问题，但我在pytorch上没有错，在测试onnx模型也通过的。

---原始邮件---
发件人: "Jason"<notifications@github.com&gt;
发送时间: 2020年9月10日(周四) 下午4:41
收件人: "PaddlePaddle/X2Paddle"<X2Paddle@noreply.github.com&gt;;
抄送: "RichardYang88"<1024005573@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddleP

[2020-09-10 11:53] jiangjiajun commented on #399
方便的话，麻烦将你的ONNX模型分享一下，以便于我们定位分析

[2020-09-11 02:13] shikeno opened #400 "vgg19 to paddle, 1 OPs are not supported yet"
TensorFlow模型转换至PaddlePaddle，请说明TensorFlow模型的来源，模型类型（例如图像分类、目标检测等）

如有原模型文件或github链接，可以一并附上，方便开发人员分析。

paddle.__version__ = 1.8.2
Now translating model from tensorflow to paddle.
Total nodes: 101
Converting node 1 ...     Unknown shape of input nodes[InputImage].
Converting node 101 ...     ========= 1 OPs are not supported yet ===========
========== Placeholder ============

[2020-09-11 02:33] RichardYang88 commented on #399
hi,

这个yolov5s.onnx模型，转换命令是x2paddle --framework=onnx --model=yolov5s.onnx --save_dir=pd_model_yolov5s

弹出以下打印信息：
Unknown shape for input tensor[tensor name: 'x2paddle_input'] -&gt; shape: ['batch_size', 3, 640, 640], Please define shape of input here,
Note:you can use visualization tools like Netron to check input shape.
Shape of Input(e.g2. -1,3,224,224), enter 'N' to skip:

这里无论输入1,3,640,640。或者N

[2020-09-11 06:23] jiangjiajun commented on #400
在模型转换时，添加参数--define_input_shape试下

[2020-09-14 05:48] Jeremiahxx opened #401 "keras保存的h5模型转换成pb，再转成paddle的时候出错：11 OPs are not supported yet"
========= 11 OPs are not supported yet ===========
========== Round ============
========== Unpack ============
========== Less ============
========== TensorArrayScatterV3 ============
========== ZerosLike ============
========== Enter ============
========== GatherNd ============
========== ReverseV2 ============
========== TensorArrayV3 ============
========== FloorMod ============
========== G

[2020-09-14 11:40] Channingss commented on #399
@RichardYang88 你好，能不能提供一下模型的组网代码？这边想导出成ONNX低一点的版本进行测试。

[2020-09-14 11:54] RichardYang88 commented on #399
可以在github下载yolov5代码和模型，我就是用这个转的

---原始邮件---
发件人: "channings"<notifications@github.com&gt;
发送时间: 2020年9月14日(周一) 晚上7:40
收件人: "PaddlePaddle/X2Paddle"<X2Paddle@noreply.github.com&gt;;
抄送: "RichardYang88"<1024005573@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/X2Paddle] YOLOV5不支持转换 (#399)

@RichardYang88 你好，能不能提供一下模型的组网代码？这边想导出成ONNX低一点的版本进行测试。

—
You are receiving this bec

[2020-09-15 00:32] iceriver97 commented on #394
@jiangjiajun  deeplabv3+的模型也不可以是吗？

[2020-09-15 02:20] superdu12138 opened #402 "ONNX模型转换至PaddlePaddle，op不支持LSTM"
请问大佬们，现在X2Paddle还不支持和LSTM操作吗

[2020-09-15 06:10] Channingss commented on #399
@RichardYang88 Pytorch的组网代码有吗？

[2020-09-15 06:11] Channingss commented on #402
目前还不支持转换LSTM，Paddle 升级到2.0的时候应该会支持

[2020-09-15 06:24] jiangjiajun commented on #401
这里面确实存在部分OP不支持，方便的话可以将你的模型上传一下，我们分析下转换的可行性

[2020-09-15 06:30] Jeremiahxx commented on #401
感谢回复，我之前给您发了邮件不知道您看到了没有，里面有需要转换的pb文件，如果还需要其他文件可以再回复我一下，谢谢

[2020-09-15 07:19] RichardYang88 commented on #399
https://github.com/ultralytics/yolov5

调试出来告诉我呀，这个问题也不是我第一次遇到，网上有人采用其它模型也遇见过也没有解决

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/X2Paddle"                                                                                    <notifications@github.com&gt;;
发送

[2020-09-15 07:24] Channingss commented on #399
@RichardYang88 好的，这个问题指的是X2Paddle，
报这个错误？
[code]
还是报这个错误？
[code]

[2020-09-15 08:18] RichardYang88 commented on #399
这是同一个问题，只是先后顺序

---原始邮件---
发件人: "channings"<notifications@github.com&gt;
发送时间: 2020年9月15日(周二) 下午3:24
收件人: "PaddlePaddle/X2Paddle"<X2Paddle@noreply.github.com&gt;;
抄送: "RichardYang88"<1024005573@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/X2Paddle] YOLOV5不支持转换 (#399)

@RichardYang88 好的，这个问题指的是X2Paddle，
 报这个错误？
  KeyError: 0
还是报这个错误？
 File "/home/richard/.local/lib/pyt

[2020-09-15 11:24] jiangjiajun commented on #401
请问你是什么时候发送的邮件呢，发送到了哪个邮箱？

[2020-09-15 11:49] RichardYang88 commented on #399
Paddle-Lite-Demo运行demo跑在安卓设备可行，但是其它paddle模型编译成.nb运行，执行到paddlePredictor.run() 崩溃，A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 28359 (Predictor Worke), pid 28247 (bject_detection)。。可以定位下吗？

搜到其他人遇到同样问题但没解决： &nbsp; https://github.com/PaddlePaddle/Paddle-Lite/issues/2138

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-09-15 14:07] Jeremiahxx commented on #401
昨天下午2 : 45 发到了这个邮箱：jiangjiajun@baidu.com
不知道您有没有收到，我过一会再发一遍。

[2020-09-16 08:00] jiangjiajun commented on #401
在邮箱中找到了，收到，我看下哈

[2020-09-16 11:36] Channingss commented on #399
@RichardYang88
这个PR解决了你的问题，提示输入shape的时候，输入N跳过即可:
https://github.com/PaddlePaddle/X2Paddle/pull/403

[2020-09-17 07:49] Channingss commented on #381
@Alex-1997-Wzx 不好意思，问题解决有点晚了，这个提交https://github.com/PaddlePaddle/X2Paddle/pull/403 ，应该能解决您的需求，提示输入shape的时候，输入N跳过，

[2020-09-18 06:22] RichardYang88 commented on #399
谢谢，这个果然可以转换了。 但是转为paddle-lite上的.nb文件报OP不支持，应该只有修改模型的层去适配paddle-lite吧？
Error: This model is not supported, because 5 ops are not supported on 'arm'. These unsupported ops are: 'elementwise_pow, fill_any_like, fill_zeros_like, scatter_nd_add, strided_slice'.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-09-21 12:05] FitzShen666 opened #407 "There's 1 ops are not supported yet"
paddleslim中提供的预训练模型SlimFaceNet_A_x0_60

There's 1 ops are not supported yet
=========== prelu ===========

请问近期会支持这个op吗？

[2020-09-22 08:45] Channingss commented on #407
@FitzShen666
已经新增了prelu的转换，请手动安装develop分支，最新的代码：[安装方式](https://github.com/PaddlePaddle/X2Paddle#%E5%AE%89%E8%A3%85%E6%96%B9%E5%BC%8F%E4%B8%80%E6%8E%A8%E8%8D%90)

[2020-09-22 13:14] Channingss commented on #399
@RichardYang88 这个问题可以到Paddle-Lite的github下面提Issue进行咨询。

[2020-09-23 08:35] wxd-520 opened #409 "ALBERT+BILSTM+CRF训练后的ckpt模型转成pb后，用x2paddle工具转换失败"
只生成了model_with_code目录，未生成inference_model目录，这要怎么解决？转pb用的freeze_graph那个脚本

[2020-09-23 08:38] jiangjiajun commented on #409
你好，lstm等序列OP暂不支持转换

[2020-09-23 11:59] wxd-520 commented on #409
你好，那把BILSTM去掉，改成ALBERT+CRF，这样能支持吗？------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;Jason&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年9月23日(星期三) 下午4:38
收件人:&nbsp;&quot;PaddlePaddle/X2Paddle&quot;<X2Paddle@noreply.github.com&gt;;
抄送:&nbsp;&quot;wxd-520&quot;<767070425@qq.com&gt;;&quot;Author&quot;<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/X2Paddle] ALBERT+B

[2020-09-24 03:31] jiangjiajun commented on #409
CRF暂也不支持，目前单纯ALBert是可以支持转换的

[2020-09-25 02:07] vForce825 opened #410 "tensorflow BERT分类模型转换报3 OPs are not supported yet"
使用bert4keras训练的BERT分类模型经过转换后报错提示有3个OP不支持转换：
paddle.__version__ = 1.7.2
Now translating model from tensorflow to paddle.

Shape[now is [-1, -1]] for input tensor[tensor name: "Input-Token"] not support yet
Use your keyboard type the shape of input tensor below :)
Shape of Input(e.g. None,224,224,3): None,256

Shape[now is [-1, -1]] for input tensor[tensor name: "Input-Segment"] not support yet
Use

[2020-09-25 06:16] jiangjiajun commented on #410
方便的分享一下你的模型，便于我们debug

[2020-09-25 06:28] vForce825 commented on #410
import tensorflow as tf
import os
from keras.backend.tensorflow_backend import set_session
import numpy as np
from bert4keras.backend import keras, K
from bert4keras.models import build_transformer_model
from bert4keras.tokenizers import Tokenizer, load_vocab
from bert4keras.optimizers import Adam
from bert4keras.snippets import sequence_padding, DataGenerator
from keras.layers import *
from keras

[2020-09-25 07:33] jiangjiajun commented on #410
麻烦直接上传一下你给X2Paddle转换的pb模型文件

[2020-09-25 08:57] duongvvuet opened #415 "Paddle to Tensorflow"
Does PaddleOCR support model conversion to tensorflow and how do I do it?

[2020-09-27 02:05] jiangjiajun commented on #415
PaddlePaddle to TensorFlow is not supported by X2Paddle. But you can use X2Paddle to convert PaddleOCR(only detect model ,not recgnition model) to ONNX.

[2020-09-28 06:36] vForce825 commented on #410
链接: https://pan.baidu.com/s/1o59yb5d8NYn4cn3A9DVF6Q  密码: cwr0

[2020-09-29 07:31] leozicai opened #416 "PP-YOLO to onnx"
我使用了paddle的PP-YOLO训练了一个模型，但是发现paddle2onnx不支持PP-YOLO转成onnx，原因是暂不支持可变卷积层和一些矩阵的变换。想问下什么时候能支持PP-YOLO转onnx？

[2020-09-29 07:34] jiangjiajun commented on #410
你好，我已经提了新的PR，修复了Concat OP的问题，目前可以支持你上面的模型，请从github下载最新的x2paddle代码进行安装后，再行转换

[2020-09-29 07:43] vForce825 commented on #410
更新后尝试转换发生了新的错误：
Error: ShapeError: broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [-1, 256, 768] and the shape of Y = [-1, 254, 768]. Received [256] in X is not equal to [254] in Y at (/paddle/paddle/fluid/operators/elementwise/elementwise_op_function.h:145)
  [operator < elementwise_add > error]
给定的输入tensor shape为：None,256

[2020-09-29 08:17] jiangjiajun commented on #410
![image](https://user-images.githubusercontent.com/19339784/94531494-3a705d80-026f-11eb-85a0-8fc18f2e03ab.png)
我这边测试可正常转换

[2020-09-29 09:26] leozicai commented on #416
实际运行PP-YOLO转换到onnx发现除了上面提到的还缺了几个支持。
![捕获](https://user-images.githubusercontent.com/53112849/94539784-46ace880-0278-11eb-9637-d4b662bfc15b.PNG)

我使用PP-YOLO与yolov5对同一个数据集进行训练比较，PP-YOLO的mAP略高于yolov5，性能很好，Paddleslim的剪枝等压缩模型的工具很好用，希望大佬们加油开发出缺少的支持，帮助PP-YOLO落地到不同的平台~

[2020-09-29 09:38] jiangjiajun commented on #416
目前还没有支持PP-YOLO，涉及到较多OP的开发，目前检测支持的模型包括YOLOv3和SSD

[2020-09-29 09:43] leozicai commented on #416
好的，谢谢大佬，你们辛苦了~

[2020-10-09 08:16] mcl-stone opened #417 "detectron2模型转化成paddle模型问题"
使用detectron2自带转化脚本转化模型成caffe2模型，然后尝试caffe2模型转成onnx，再由onnx转成paddle模型，但caffe2模型转成onnx模型需要shape和type，请问这个从哪获取

请问detectron2模型转化成paddle模型有脚本吗？

[2020-10-13 12:58] Channingss commented on #417
@mcl-stone 这个可以使用名为Netron的可视化软件查看到。

[2020-10-14 11:56] mcl-stone commented on #417
好的，感谢！

[2020-10-15 02:19] mcl-stone opened #419 "请问caffe2paddle转后的模型，如何预测，有没有预测脚本"
模型是关键点检测，转换成功了，转换后如何预测，文档内的地址不知如何使用

[2020-10-15 02:41] mcl-stone commented on #419
![image](https://user-images.githubusercontent.com/62418900/96070432-cc64a100-0ed2-11eb-956c-b597b9168644.png)
根据咱提供的文档写了这个脚本，但报错了
root@mcl-virtual-machine:/home/mcl/Desktop/body_25/123# python3 test.py
/usr/local/lib/python3.8/dist-packages/paddle/fluid/executor.py:1069: UserWarning: The following exception is not an EOF exception.
  warnings.warn(
Traceback (most recent call last):
  File "test.

[2020-10-15 02:59] jiangjiajun commented on #419
X2Paddle只负责转换模型，而一个任务的运行是包括了数据的预处理、模型预测、模型预测结果后处理等步骤的，建议参阅一下原caffe模型的预测代码，然后对应到转换后的模型进行相应处理并预测

[2020-10-15 08:01] mcl-stone commented on #419
明白！感谢！

[2020-10-16 01:38] #419 closed, assigned to nobody

[2020-10-30 01:29] tx1103mark opened #422 "mobilenet_v1_0.25_128_quant_frozen.pb tflite官网 量化模型 1ops are not supported"
TensorFlow模型转换至PaddlePaddle，请说明TensorFlow模型的来源，模型类型（例如图像分类、目标检测等）

如有原模型文件或github链接，可以一并附上，方便开发人员分析。

[2020-10-30 02:20] jiangjiajun commented on #422
请问具体提示信息是什么呢

[2020-11-05 12:13] xingjing1 opened #423 "转换tf模型发生TypeError: pad() got an unexpected keyword argument 'input' 错误"
tensorflow模型：检测手的一个模型，
转换paddle模型时候发生如下错误：

![image](https://user-images.githubusercontent.com/33440396/98239143-77ccb700-1fa2-11eb-93e1-0d9f18d9bec3.png)

模型如下：
[palm_detection.zip](https://github.com/PaddlePaddle/X2Paddle/files/5494242/palm_detection.zip)

使用的方法是官方文档所介绍的方法：
https://github.com/PaddlePaddle/X2Paddle

paddlepaddle版本：paddlepaddle-1.8.5-cp36-cp36m-win_amd64.whl
paddlelite版本：paddlelit

[2020-11-05 12:22] jiangjiajun commented on #423
你好，请获取最新的github代码，重新安装x2paddle即可
[code]

[2020-11-05 13:52] xingjing1 commented on #423
您好，按照您的方式输出如下信息：
![image](https://user-images.githubusercontent.com/33440396/98249379-22e46d00-1fb1-11eb-9cec-ad7e4a11849a.png)

当我跑benchmark时候出现了如下问题：
![image](https://user-images.githubusercontent.com/33440396/98248889-87eb9300-1fb0-11eb-8f96-caaabd9d783f.png)
我是在树莓派上编译的paddle-lite，命令是：
`./benchmark_bin` --optimized_model_path=./benchmark_models/hand --warmup=10 --repeats=10 --threads=4 --result

[2020-11-06 01:44] zhuguiqian opened #424 "caffe->paddle报错"
自己训练的两个网络转paddle报错，转onnx都是正常的。
下面是两个报错的信息
 error 信息1：
(paddle) zgq@ubuntu:~/paddle$ sh x2paddle.sh
paddle.__version__ = 1.8.5
Now translating model from caffe to paddle.
Ignoring parameters for non-existent layer: snpc_conv
Total nodes: 66
Traceback (most recent call last):
  File "/home/zgq/anaconda3/envs/paddle/lib/python3.7/site-packages/x2paddle/core/op_mapper.py", line 142, in save_inference_

[2020-11-06 02:20] jiangjiajun commented on #423
因为tf的模型输入格式是nhwc， 而paddlelite的benchmark工具可能是针对nchw的输入的，因此会有如上的错误提示

[2020-11-06 02:22] xingjing1 commented on #423
好的，，那我自己写一个demo吧

[2020-11-06 02:23] xingjing1 commented on #423
您知道有什么简便的方法可以benchmark这个模型吗？

[2020-11-06 02:32] jiangjiajun commented on #423
在X2Paddle转换后的生成目录，包含了两个文件夹  `inference_model`和`model_with_code`，其中在`model_with_code`目录中，`x2paddle_model.py`是模型的组网代码， 另外还有模型的权重目录，你可以修改`x2paddle_model.py`，

例如当前是
[code]

将其修改，把输入改成NCHW格式，这样可以去掉第二行的transpose, 注意修改第三行的输入变量名，改成如下代码
[code]

通过修改后的组网代码，加载权重，重新调用`fluid.io.save_inference_model`即可导出新的部署模型，接着再转成paddlelite的格式，即可使用benchmark工具

[2020-11-06 02:34] xingjing1 commented on #423
👍，多谢，我试试

[2020-11-06 03:26] SunAhong1993 commented on #424
你好，方便提供2个模型到545510262@qq.com吗？我这边进行测试

[2020-11-06 04:00] xingjing1 commented on #423
您好，我刚接触paddle，麻烦啦
我用如下代码，生成新的inference_model：
`
import paddle.fluid as fluid
import model_with_code.x2paddle_model as model

[input], [classificators, regressors] = model.x2paddle_net()

exe = fluid.Executor(fluid.CPUPlace())
fluid.io.load_persistables(exe, './model_with_code/weights')
path = "./inference_model"

fluid.io.save_inference_model(dirname=path, feeded_var_names=['input'],main_program =

[2020-11-06 09:29] hongzhiyang0804 opened #427 "onnx转paddle模型报错"
在转模型过程中，出现转换Upsample有问题，scale的值不对
x2paddle --framework=onnx --model=detectDB/DB_sim.onnx --save_dir=pd_model --params_merge

[2020-11-06 09:31] hongzhiyang0804 commented on #427
出现如下错误
node inputs:
name: "x2paddle_509"
type {
  tensor_type {
    elem_type: 1
    shape {
      dim {
        dim_param: "Upsample130_o0__d0"
      }
      dim {
        dim_param: "Upsample130_o0__d1"
      }
      dim {
        dim_param: "Upsample130_o0__d2"
      }
      dim {
        dim_param: "Upsample130_o0__d3"
      }
    }
  }
}

name: "x2paddle_537"
type {
  tensor_type {
    elem_t

[2020-11-06 09:54] Channingss commented on #427
@hongzhiyang0804 有错误的信息或者截图吗？方便的话麻烦把模型传到我们的邮箱:chen_lingchi@163.com，有利于我们定位问题。

[2020-11-06 10:11] hongzhiyang0804 commented on #427
好的，模型已发送

[2020-11-06 10:11] hongzhiyang0804 commented on #427
好的，已发

[2020-11-06 10:16] hongzhiyang0804 commented on #427
你好，已经发邮件了

---原始邮件---
发件人: "channings"<notifications@github.com&gt;
发送时间: 2020年11月6日(周五) 下午5:54
收件人: "PaddlePaddle/X2Paddle"<X2Paddle@noreply.github.com&gt;;
抄送: "hongzhiyang0804"<1293340610@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/X2Paddle] onnx转paddle模型报错 (#427)

@hongzhiyang0804 有错误的信息或者截图吗？方便的话麻烦把模型传到我们的邮箱:chen_lingchi@163.com，有利于我们定位问题。

—
You are receiving t

[2020-11-06 10:45] Channingss commented on #427
@hongzhiyang0804 建议在生成onnx模型的时候，把opset version设置成10试一下先。

[2020-11-07 02:47] hongzhiyang0804 commented on #427
你好，根据你的建议我在生成onnx模型的时候把opset version设置成10了，转换过程虽然没有报错了，但是在验证这个模型是否转换正确的时候，报了如下错误：
InvalidArgumentError: Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [1, 48, 4, 4] and the shape of Y = [1, 48, 8, 8]. Received [4] in X is not equal to [8] in Y at i:2.
&nbsp; [Hint: Expected x_dims_array[i] == y_dims_array[i] || x_dims_array[i] <= 1 || y_dims_array[i] <

[2020-11-07 04:33] hongzhiyang0804 commented on #427
你好，我重新将opset version设置成11以后，再转paddle就没问题，模型转换成功，验证也没问题。但是将inference_model中的每个参数独立保存在不同的文件，使用merge_params.py将参数文件合并成一个文件后，在进行验证，结果就报了如下错误：
Python Call Stacks (More useful to users):
------------------------------------------
&nbsp; File "/home/hongzhiyang/anaconda3/lib/python3.7/site-packages/paddle/fluid/framework.py", line 2610, in append_op
&nbsp; &nbsp; attrs=kwargs.get("attrs", None))
&nbsp; F

[2020-11-07 06:56] hongzhiyang0804 commented on #427
你好，不好意思，我已经解决问题了，不好意思一直发邮件给你。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/X2Paddle"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年11月6日(星期五) 晚上6:45
收件人:&nbsp;"PaddlePad

[2020-11-09 02:14] Channingss commented on #427
@hongzhiyang0804 如果是参数合并的话，需要在load_inference_model时，指定`model_filename`和`params_filename`。

[2020-11-09 06:38] jiangjiajun commented on #423
这个建议在PaddleLite的Repo下提个issue咨询下 https://github.com/PaddlePaddle/Paddle-Lite
`check_for_lite`的原理是查找`Paddle-Lite/develop/lite/api/_paddle_use_ops.h`代码下是否有相应OP实现，具体是否支持，还以PaddleLite的文档为准

[2020-11-09 07:42] zhuguiqian commented on #424
大佬，模型已经发给您，麻烦帮忙看下，多谢

[2020-11-11 07:58] SunAhong1993 commented on #424
你好，请先卸载现在的x2paddle，按照如下方式安装x2paddle后进行转换
[code]
针对第一个模型：
![image](https://user-images.githubusercontent.com/48579383/98784605-56524c00-2436-11eb-92b7-7191ac09d169.png)
prototxt中Input的第二个dim应为3，否则caffe无法跑前向。
针对第二个模型：
![image](https://user-images.githubusercontent.com/48579383/98784768-90235280-2436-11eb-99d4-e4e3d431f198.png)
prototxt中的该layer应去除，由于输入pts已经被注释，否则caffe无法跑前向。

如有其他问题，后续可在该issue中继续反馈。

[2020-11-11 09:20] iamxinxin commented on #360
遇到同样的问题

[2020-11-12 05:41] zhuguiqian commented on #424
输入必须是3通道的吗?
但是,我有用单通道的caffe模型转onnx后再转paddle,是可以转成功的.

[2020-11-12 05:45] zhuguiqian commented on #424
抱歉,重新train的网络忘记删loss了
但是我将loss层删掉后,还是会报这个错.

[2020-11-12 07:38] SunAhong1993 commented on #424
这边测试过是没问题的，有使用
[code]
有重新安装x2paddle吗？

[2020-11-12 07:52] SunAhong1993 commented on #424
这参数的c_in是3通道的，caffe模型跑前向也需要改为3才跑的通。跑若不修改为3，跑caffe前向会报如下错误：
![image](https://user-images.githubusercontent.com/48579383/98911043-f2478a80-24fe-11eb-8325-598df3d39ba3.png)
caffe跑前向测试代码：
[code]

[2020-11-12 07:55] SunAhong1993 commented on #424
你可以查看下转换后的模型的输入是否为3通道，caffe转paddle时会多判断模型是否跑的了前向。

[2020-11-12 09:57] zhuguiqian commented on #424
之前没有uninstall, 现在重装后, 可以转了

[2020-11-12 10:01] zhuguiqian commented on #424
![image](https://user-images.githubusercontent.com/7693110/98925483-00060b80-2511-11eb-9ac5-da7252e0df58.png)
转成就是单通道的,有用单通道输入跑过推理. 转成paddle后也用单通道输入跑过推理

[2020-11-12 10:10] zhuguiqian commented on #424
邮箱给您发了一个只有一层卷积的单通道输入caffe模型,我这边可以转成功,您那边可以试一下

[2020-11-12 11:34] SunAhong1993 commented on #424
已尝试过，后面提供的模型第一层卷积weight的shape是(1,1,1,1)（所以可以转换），quantes_new模型的第一层卷积的shape是(16, 3, 3, 3)（卷积weight的in_channel和输入的Channel不一致，所以无法跑前向）。你可以尝试跑caffe前向，是跑不通的，你可以查看下caffe2onnx是否对第一层卷积的weight进行了处理。

[2020-11-16 01:38] zhuguiqian commented on #424
好的，多谢

[2020-11-16 01:38] #424 closed, assigned to SunAhong1993

[2020-11-16 02:13] Jorsen0 opened #433 "检查OP是否在PaddleLite支持报错"
Traceback (most recent call last):
  File "/paddle/X2Paddle/tools/check_for_lite.py", line 7, in <module>
    fetch = urllib.urlretrieve(ops_h, "./_paddle_use_ops.h")
AttributeError: module 'six.moves.urllib' has no attribute 'urlretrieve'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/root/anaconda3/lib/python3.6/urllib/request.py

[2020-11-16 03:13] jiangjiajun commented on #433
请问是反复执行都会出现上述错误吗？

当前你可以手动下载此文件 https://raw.githubusercontent.com/PaddlePaddle/Paddle-Lite/develop/lite/api/_paddle_use_ops.h
将其放至在执行check_for_lite.py的同级目录，再将check_for_lite.py改为如下代码即可

[code]

[2020-11-16 09:52] Jorsen0 commented on #433
你好，您所给的链接无法打开呢

[2020-11-16 11:00] jiangjiajun commented on #433
https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/api/_paddle_use_ops.h 那下载此链接文件文件

[2020-11-18 16:11] merlinarer opened #436 "onnx2paddle报错TypeError: object of type 'NoneType' has no len() `"
想把resnest的deepv3转成paddle的，op9的时候上采样层会报错，所以用了op11,但是onnx转paddle的时候就报错了
`TensorRT dynamic library (libnvinfer.so) that Paddle depends on is not configured correctly. (error code is libnvinfer.so: cannot open shared object file: No such file or directory)
  Suggestions:
  1. Check if TensorRT is installed correctly and its version is matched with paddlepaddle you installed.
  2. Configure TensorRT dy

[2020-11-19 06:04] Channingss commented on #436
@merlinarer 麻烦把模型发给我们分析一下，chen_lingchi@163.com

[2020-11-23 03:46] ZhangXinNan opened #439 "openpose的caffe模型转换时报错"
参考链接：https://cloud.tencent.com/developer/article/1748267

报错信息：
(py36_pose) zhangxin@zx:~/github/X2Paddle$ x2paddle --framework=caffe \

TensorRT dynamic library (libnvinfer.so) that Paddle depends on is not configured correctly. (error code is libnvinfer.so: cannot open shared object file: No such file or directory)
  Suggestions:
  1. Check if TensorRT is installed correctly and its version is m

[2020-11-23 06:34] SunAhong1993 commented on #439
可以使用`pip list`查看下protobuf的版本，如果protobuf版本低于3.6.0，请重新安装protobuf，安装命令：
[code]

[2020-12-01 03:31] lizhaohu opened #444 "是否支持tensorflow中的tf.layers.conv3d op"
是否支持tensorflow中的tf.layers.conv3d op

[2020-12-03 07:29] daiyuanm opened #447 "onnx模型转换到paddle时发生错误。"
ONNX模型的来源：由pytorch转换而来，自己设计的算法模型（基于centernet），在pytorch中跑没有问题。
模型类型：目标检测

具体问题：使用v0.8.9的x2paddle转换发生错误
转换命令：x2paddle --framework=onnx --model=circledet.onnx --save_dir=circledet_model
错误：
[code]

[2020-12-07 06:41] SunAhong1993 commented on #447
这边方便提供下pytorch或者onnx模型吗？()

[2020-12-07 06:43] SunAhong1993 commented on #444
paddle-2.0分支已提[PR](https://github.com/PaddlePaddle/X2Paddle/pull/449)，稍后合入。

[2020-12-07 06:43] #444 closed, assigned to nobody

[2020-12-07 06:46] Channingss commented on #447
@daiyuanm 方便的话请把onnx的模型发到我的邮箱：chen_lingchi@163.com ，发送了之后请在issue里面留言一下。

[2020-12-08 01:34] daiyuanm commented on #447
你好，发给你了，发件人：ctdaiyuan@mail.scut.edu.cn

[2020-12-08 06:46] Channingss commented on #447
@daiyuanm 收到，有结论会尽快回复

[2020-12-09 02:30] Xsx93 opened #450 "Caffe模型转换至PaddlePaddle失败"
Caffe模型转换至PaddlePaddle，Caffe模型是于仕琪的SSD模型，模型人脸检测

![IMG2020129-102549](https://user-images.githubusercontent.com/32325982/101566262-a9a1c500-3a09-11eb-8638-fcd81fa1fa0c.jpg)

[2020-12-09 02:45] SunAhong1993 commented on #450
你好，方便提供下模型（.prototxt和.caffemodel）发邮件到sunyanfang01@baidu.com吗

[2020-12-09 03:06] SunAhong1993 commented on #450
刚又仔细看了下报错信息，发现你的X2Paddle版本比较老，这个bug目前已经解决，您可以重装下X2Paddle，重装方式：
[code]

[2020-12-09 03:23] daiyuanm commented on #447
好的，可以随时沟通

[2020-12-09 06:42] #450 closed, assigned to nobody

[2020-12-10 04:52] zhangqizky opened #452 "pytorch2paddle,pixelshuffle op is not supported."
您好，我在pytorch转paddle的过程中，出现了下面这个问题：
![image](https://user-images.githubusercontent.com/23207132/101723027-679a8100-3ae6-11eb-83a8-37a16ac93d7b.png)

我想请问pixelshuffle，paddle中不是有吗？为什么会不支持转呢？我需要怎么做才能转成功呢？

[2020-12-11 07:51] Channingss commented on #447
@daiyuanm 定位到原因是模型中过conv2d_transpose后，shape inference的时候出来channel变成-1了，导致后面conv做shape inference报错，PS: conv的输入channel必须是固定的。
解决办法还在寻找中.....

[2020-12-11 08:01] SunAhong1993 commented on #452
已添加，可按照如下方式重装使用：
[code]

[2020-12-14 13:40] zhangjf2018 opened #456 "module 'paddle' has no attribute 'save'"
['1', '6', '0']
Now translating model from pytorch to paddle.
Model optimizing ...
trace_fc_fuse_pass done!
Model optimized.
Traceback (most recent call last):
  File "test.py", line 18, in <module>
    input_examples=[torch.tensor(input_data)])
  File "/home/ai/anaconda3/envs/paddletest/lib/python3.7/site-packages/x2paddle-1.0.0rc0-py3.7.egg/x2paddle/convert.py", line 231, in pytorch2paddle
    m

[2020-12-15 02:10] SunAhong1993 commented on #456
Your PaddlePaddle version is 1.6.0. The PaddlePaddle version must be 2.0-rc or develop when converting the PyTorch to PaddlePaddle. You can get the corresponding version in https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/install/Tables.html#ciwhls .

[2020-12-15 05:54] daiyuanm commented on #447
多谢了，我们也不是cs专业的...希望能够尽快解决，麻烦了！

[2020-12-15 06:36] zhangjf2018 commented on #456
pytorch -> onnx -> paddlepaddle ? 这样操作也没问题吧？
paddlle version is 1.8.5

onxx -> paddlepaddle 也是要2.0.0以上

[2020-12-15 06:44] #456 closed, assigned to nobody

[2020-12-15 06:58] SunAhong1993 commented on #456
没问题的

[2020-12-15 07:00] SunAhong1993 commented on #456
目前的develop版本需要 2.0rc，你使用release-0.9则1.8.5即可

[2020-12-15 07:10] zhangjf2018 opened #459 "onnx to paddlepaddle operator < nearest_interp_v2 > error"
paddle.__version__ = 2.0.0-rc0
Now translating model from onnx to paddle.
model ir_version: 6, op version: 12
shape inferencing ...
shape inferenced.
Now, onnx2paddle support convert onnx model opset_verison [9],opset_verison of your onnx model is 12, automatically treated as op_set: 9.
Total nodes: 360
Nodes converting ...
Converting node 772 ...
Nodes converted.
Exporting inference model from py

[2020-12-15 07:22] SunAhong1993 commented on #459
当前已经转换成动态图代码和对应参数，但是动转静过程中可能由于有shape为-1的情况无法动转静（保存成inference model），所以您有以下2种选择：
1. 使用代码+模型即可进行预测。
2. 转换时设置--paddle_type static直接转换静态图形式。

[2020-12-15 08:40] #459 closed, assigned to nobody

[2020-12-17 03:18] Channingss commented on #447
@daiyuanm
问题已经修复，可按下面步骤安装新的代码：

[code]

[2020-12-17 06:34] daiyuanm commented on #447
多谢，已成功转换！

[2020-12-18 01:06] gejianhui1 opened #463 "torch.erf 和 torch.bmm 和 sub_算子报错"

[2020-12-18 02:08] SunAhong1993 commented on #463
你好，方便提供下PyTorch模型和代码吗？发送到sunyanfang01@baidu.com，这边帮忙查看原因。

[2020-12-21 15:22] arogowie-intel opened #464 "Missing ONNX ArgMax support"
Hi,

Thank you for this great tool!

I tried to convert [MLPerf ResNet50 model](https://zenodo.org/record/2592612/files/resnet50_v1.onnx) (listed [here](https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection#supported-models)) and get an error saying that there is missing `ArgMax` op support.

Commandline I used:
[code]

Could you please add support for this op?

[2020-12-22 02:07] SunAhong1993 commented on #464
We will support this op in this week. We will contact you after supporting.

[2020-12-22 08:23] SunAhong1993 commented on #463
这边在新的PR中添加了这3个op的实现，您可以重新安装X2Paddle进行转换：
[code]

[2020-12-22 09:23] SunAhong1993 commented on #464
We have supported the op ArgMax. You can reinstall the X2Paddle by follow:
[code]

[2020-12-22 10:39] gejianhui1 commented on #463
你好，这个关键性算子torch.erf还是不可以，其他两个算子可以通过别的方式代替，但这个算子还是之前那个不支持

| |
mrjhge
|
|
邮箱：mrjhge@163.com
|

Signature is customized by Netease Mail Master

在2020年12月22日 16:23，SunAhong1993 写道：

这边在新的PR中添加了这3个op的实现，您可以重新安装X2Paddle进行转换：

pip  uninstall x2paddle

git clone https://github.com/SunAhong1993/X2Paddle.git -b code_optimizer

cd X2Paddle

python setup.py install

—
You are receiving this because you autho

[2020-12-22 12:18] arogowie-intel commented on #464
Hi @SunAhong1993 thank you very much for your quick response! I've already added support for this op by myself here: #467

[2020-12-23 07:27] gejianhui1 opened #468 "matmul_v2 不支持"
部署时，出现Erro：this model is not  supported,because 1 ops are not supported on 'arm'. these unsupported ops are :'matmul_v2'

[2020-12-23 09:17] SunAhong1993 commented on #468
你好，PaddleLite部署问题请移步https://github.com/PaddlePaddle/Paddle-Lite

[2020-12-23 11:31] #464 closed, assigned to nobody

[2020-12-25 08:04] youngstu opened #469 "Argmax op not support"
onnx来源：pytorch 导出
模型类型：目标检测
![image](https://user-images.githubusercontent.com/26452514/103126943-e12b9500-46ca-11eb-8626-2338f27ed217.png)

[2020-12-25 08:35] SunAhong1993 commented on #469
目前，ArgMax已经支持，您可以重装下X2Paddle，具体如下：
[code]

[2020-12-25 12:12] youngstu commented on #459
File "best_pd_model/model_with_code/x2paddle_model.py", line 489, in x2paddle_net
    x2paddle_811 = paddle.nn.functional.interpolate(x=x2paddle_806, scale_factor=x2paddle_1361, align_corners=False, mode='nearest', align_mode=1)
  File "/home/ar/shaoxiong/envs/anaconda3/envs/py38_pytorch1.7/lib/python3.8/site-packages/paddle/nn/functional/common.py", line 481, in interpolate
    helper.append_op(

[2020-12-25 12:14] youngstu opened #470 "onnx to paddlepaddle operator < nearest_interp_v2 > error"
File "best_pd_model/model_with_code/x2paddle_model.py", line 489, in x2paddle_net
    x2paddle_811 = paddle.nn.functional.interpolate(x=x2paddle_806, scale_factor=x2paddle_1361, align_corners=False, mode='nearest', align_mode=1)
  File "/home/ar/shaoxiong/envs/anaconda3/envs/py38_pytorch1.7/lib/python3.8/site-packages/paddle/nn/functional/common.py", line 481, in interpolate
    helper.append_op(

[2020-12-25 12:15] youngstu commented on #469
已解决

[2020-12-26 08:45] SunAhong1993 commented on #470
这边问题已经修复，可按照如下方式重新安装下X2Paddle：
[code]

[2020-12-26 08:46] #469 closed, assigned to nobody

[2020-12-28 03:21] #470 closed, assigned to nobody

[2020-12-30 03:32] David20160511 opened #473 "你好，一个pytorch模型转paddle的过程中， 1 OPs are not supported yet"
你好，我在使用x2paddle把dbface的模型dbface.pth转成paddle的过程中报错，报错信息如下：

load model: ../../model/dbface.pth
['1', '7', '0']
Now translating model from pytorch to paddle.
Traceback (most recent call last):
  File "E:/github_cv/DBFace-master/mycode/pytorch2paddle/convert_code_dbface.py", line 31, in <module>
    input_examples=[torch.tensor(input_data)])
  File "D:\Anaconda3\envs\pytorch_env\lib\site-packages\x2p

[2020-12-30 03:44] SunAhong1993 commented on #473
近期将支持这个op，请问您需要转换的是 https://github.com/dlunion/DBFace 这个repo吗？这边支持后会回复您。

[2020-12-31 08:49] SunAhong1993 commented on #473
这边已经支持aten::upsample_nearest2d，你可以拉取分支代码，重新安装X2Paddle并进行转换，重装方式为：
[code]

[2021-01-03 04:52] czy1747 opened #475 "onnx2paddle算子不支持"
ONNX模型转换至PaddlePaddle，x2paddle==1.0.0rc0

模型来源：tensorflow pb文件转onnx而来

详细情况见模型链接：
链接：https://pan.baidu.com/s/14Dp95xtUWdqrVDoHPndbCw
提取码：zcan

想把模型转换成paddle格式使用相关的推理功能，十分感谢！

![2021-01-01 22-29-44 的屏幕截图](https://user-images.githubusercontent.com/37530610/103471935-df945800-4dc1-11eb-9baf-87486e5a20ed.png)

[2021-01-05 03:07] Huihuihh opened #476 "2 OPs are not supported yet"
使用车牌识别训练的tensorflow模型，转化为paddle模型出错。下载的最新的X2Paddle代码安装的x2paddle转化

paddle.__version__ = 2.0.0-alpha0
Now translating model from tensorflow to paddle.

========= 2 OPs are not supported yet ===========
========== SparseToDense ============
========== CTCGreedyDecoder ============
Traceback (most recent call last):
  File "/usr/local/bin/x2paddle", line 11, in <module>
    load_entry_point('x2paddle

[2021-01-05 07:05] Huihuihh commented on #325
现在支持没，我看还是这个报错

[2021-01-05 07:25] Huihuihh opened #477 "利用最新的develop版本安装x2paddle，转化tf模型有误"
root@NUC8i5BEH:/home/Desktop# x2paddle --framework=tensorflow --model=tangyan.pb --save_dir=model
paddle.__version__ = 2.0.0-alpha0
Now translating model from tensorflow to paddle.
Total nodes: 316
Nodes converting ...
Converting node 132 ...     Traceback (most recent call last):
  File "/usr/local/bin/x2paddle", line 11, in <module>
    load_entry_point('x2paddle==1.0.0rc1', 'console_scripts', '

[2021-01-05 10:56] SunAhong1993 commented on #475
当前动态图中刚已经新增这几个op的支持，稍后测试后会提PR，但是Pad的pad参数是一个tensor，paddle暂不支持，可否降低onnx协议进行转换（opset<11），同时将新的onnx模型提供给我们进行测试。

[2021-01-05 11:37] SunAhong1993 commented on #476
SparseToDense 这个op可否规避掉，目前Paddle没有与SparseToDense对应的op。

[2021-01-05 11:50] SunAhong1993 commented on #475
尝试了下tf2onnx的转换，由于pad的原因只能使用opset11；之后又尝试使用了tf直接转换，但是BatchToSpaceND和SpaceToBatchND在Paddle中无对应实现，可否在代码中规避掉这2个op的使用（可能出现在tf.image.extract_pathches）

[2021-01-05 12:19] SunAhong1993 commented on #477
该问题已在PR：https://github.com/PaddlePaddle/X2Paddle/pull/478/files 中修复，您可重新安装下X2Paddle进项转换，重装方式如下：
[code]

[2021-01-06 01:35] Huihuihh commented on #477
paddle.__version__ = 2.0.0-alpha0
Now translating model from tensorflow to paddle.
Total nodes: 316
Nodes converting ...
Converting node 132 ...     Traceback (most recent call last):
  File "/usr/local/bin/x2paddle", line 11, in <module>
    load_entry_point('x2paddle==1.0.0rc1', 'console_scripts', 'x2paddle')()
  File "/usr/local/lib/python3.6/dist-packages/x2paddle-1.0.0rc1-py3.6.egg/x2paddle/c

[2021-01-06 01:51] SunAhong1993 commented on #477
已经修复，按照上述方式重装下，有问题随时联系

[2021-01-06 01:54] Huihuihh commented on #477
paddle.__version__ = 2.0.0-alpha0
Now translating model from tensorflow to paddle.
Total nodes: 316
Nodes converting ...
Converting node 316 ...
Nodes converted.
dygraph_conv2d_add_fuse_pass done!
dygraph_tf_batchnorm_fuse_pass done!
dygraph_prelu_fuse_pass done!
Optimize Transpose Layers...99.66%
Transpose layers optimized, before: transpose_num=34, after: transpose_num=32
transpose_eliminate_pas

[2021-01-06 01:59] SunAhong1993 commented on #477
请将PaddlePaddle更新至2.0.0-rc1，即可完成转换。

[2021-01-06 02:04] Huihuihh commented on #477
paddle.__version__ = 2.0.0-rc1
/usr/local/lib/python3.6/dist-packages/tensorflow/python/pywrap_tensorflow_internal.py:15: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
Now translating model from tensorflow to paddle.
Total nodes: 316
Nodes converting ...
Converting node 316 ...
Nodes converted.
dygraph_conv

[2021-01-06 02:24] Huihuihh commented on #476
这个op需要怎么规避掉，没处理过

[2021-01-06 02:31] czy1747 commented on #475
（1）十分感谢您的回复和尝试
（2）这些转换方式，包括onnx opset以及pb转换之前也都试过了，最终不能转换，结论和您说的一样
（3）BatchToSpaceND和SpaceToBatchND 是由于使用了tf.nn.atrous_conv2d的api导致，onnx的PAD也是因为用了tf.nn.atrous_conv2d。可以将tf.nn.atrous_conv2d对应的组合算子，一起替换成paddle支持的算子吗？不然的话tf网络里面有空洞卷积不就转不了了
（4）新增的算子合并后请告知一下，我再试试，谢谢啦

[2021-01-06 03:56] Huihuihh opened #480 "转换tensorflow模型报错Wrong wire type in tag"
paddle.__version__ = 2.0.0-rc1
/usr/local/lib/python3.6/dist-packages/tensorflow/python/pywrap_tensorflow_internal.py:15: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
Now translating model from tensorflow to paddle.
Traceback (most recent call last):
  File "/usr/local/bin/x2paddle", line 11, in <module>

[2021-01-06 08:13] Huihuihh opened #481 "onnx模型转paddle失败"
paddle.__version__ = 2.0.0-rc1
Now translating model from onnx to paddle.
model ir_version: 6, op version: 9
shape inferencing ...
shape inferenced.
Now, onnx2paddle support convert onnx model opset_verison [9],opset_verison of your onnx model is 9, automatically treated as op_set: 9.

========= 2 OPs are not supported yet ===========
========== LogSoftmax ============
========== LSTM ============

[2021-01-07 03:22] SunAhong1993 commented on #480
这个可能是环境问题造成的，您可尝试下环境是否可以跑通tensorflow的前向。

[2021-01-07 03:25] SunAhong1993 commented on #481
这两个op目前暂不支持，近期内支持后与您联系。

[2021-01-07 07:11] WeipengChan opened #482 "导入pytorch2paddle报错 ，from x2paddle.convert import pytorch2paddle报错"
paddlepaddle 1.8.5
然后x2paddle是1.0.0rc。
报错。

Traceback (most recent call last):
  File "test/paddle_serveing/test_conver.py", line 69, in <module>
    from x2paddle.convert import pytorch2paddle
  File "/usr/local/lib/python3.6/site-packages/x2paddle/__init__.py", line 3, in <module>
    from .core.program import PaddleGraph
  File "/usr/local/lib/python3.6/site-packages/x2paddle/core/program.py",

[2021-01-07 07:21] WeipengChan commented on #482
python3.6.8
paddlepaddle 2.0.0rc
然后x2paddle是1.0.0rc。
还是报错。错误名字不一样。。。。。。

Traceback (most recent call last):
  File "test/paddle_serveing/test_conver.py", line 69, in <module>
    from x2paddle.convert import pytorch2paddle
  File "/usr/local/lib/python3.6/site-packages/x2paddle/__init__.py", line 3, in <module>
    from .core.program import PaddleGraph
  File "/usr/local/lib/python3.6/site-package

[2021-01-07 07:28] SunAhong1993 commented on #482
您这边先看下paddle是否安装成功，执行下述python脚本如报错则表示安装失败：
[code]
安装成功会有如下提示：
![image](https://user-images.githubusercontent.com/48579383/103864071-ee01ad00-50fc-11eb-9f8c-f90db25ac818.png)

[2021-01-07 11:04] WeipengChan opened #483 "Message type "caffe.PoolingParameter" has no field named "ceil_mode"."
Caffe模型转换至PaddlePaddle，Caffe模型的来源是自研模型  ，模型任务是属于关键点

paddle.__version__ = 2.0.0-rc1
Now translating model from caffe to paddle.
Traceback (most recent call last):
  File "/root/miniconda3/bin/x2paddle", line 8, in <module>
    sys.exit(main())
  File "/root/miniconda3/lib/python3.6/site-packages/x2paddle/convert.py", line 298, in main
    args.caffe_proto, args.paddle_type, params_merge)
  File "/

[2021-01-07 11:07] #483 closed, assigned to nobody

[2021-01-07 11:12] SunAhong1993 commented on #483
您的Pooling添加了自定义的属性ceil_mode，可参照https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/user_guides/add_caffe_custom_layer.md进行使用，
![image](https://user-images.githubusercontent.com/48579383/103886240-2cf32b00-511c-11eb-8263-35e15478d624.png)，之后实现对应代码。

[2021-01-07 11:13] WeipengChan commented on #483
谢谢。

[2021-01-07 12:19] SunAhong1993 commented on #475
目前该模型已经支持，可重装下X2Paddle进行转换，重装方式为：
[code]
修改的PR详见https://github.com/PaddlePaddle/X2Paddle/pull/479

[2021-01-07 12:27] SunAhong1993 commented on #476
这边近期加入SparseToDense这个op的转换，支持后将回复您。

[2021-01-08 02:58] czy1747 commented on #475
十分感谢，安装了您提供的x2paddle后，似乎还有点问题
(onnx) root@5ff032f73f34f2d4a631ca71:/data-output/ner# x2paddle --framework=onnx --model=bert6.onnx --save_dir=./bert6_paddle --paddle_type dygraph
paddle.__version__ = 2.0.0-rc1
Now translating model from onnx to paddle.
model ir_version: 6, op version: 11
skip op 101: embedding/bert/encoder/layer_0/attention/self/Softmax:0 -> Dropout -> Dropout__34:0
skip op 129: em

[2021-01-08 03:08] SunAhong1993 commented on #475
这边paddle有个bug，你可以先注释掉/opt/conda/envs/onnx/lib/python3.6/site-packages/paddle/nn/functional/common.py 127行附近的几个断言，即可转换，且精度对齐。
![image](https://user-images.githubusercontent.com/48579383/103969834-cf092680-51a1-11eb-9283-43be8080ff12.png)

[2021-01-08 07:55] Huihuihh opened #484 "多目标检测模型转paddle出错"
模型来自 https://github.com/open-mmlab/mmdetection
使用x2paddle转化为paddle模型时出错
paddle.__version__ = 2.0.0-rc1
Now translating model from onnx to paddle.
model ir_version: 6, op version: 11
shape inferencing ...
/usr/local/lib/python3.6/dist-packages/x2paddle-1.0.0rc1-py3.6.egg/x2paddle/decoder/onnx_shape_inference.py:510: DeprecationWarning: np.asscalar(a) is deprecated since NumPy v1.16, use a.item() in

[2021-01-11 03:40] SunAhong1993 commented on #476
CTCGreedyDecoder在Paddle中暂时无法对齐，建议将模型中的CTCGreedyDecoder和SparseToDense的处理放于后处理，而不在模型中，即去除CTCGreedyDecoder 、d_predictions、ToInt32这几个节点，生成新的pb模型即可完成转换。
![image](https://user-images.githubusercontent.com/48579383/104145326-7a63e680-5401-11eb-9daa-11fdd9a2c5d4.png)

[2021-01-11 05:49] Huihuihh commented on #476
没处理过怎么去除相关的节点，去除后，对应的模型预测还准确吗

[2021-01-11 06:05] SunAhong1993 commented on #476
让tf模型的输出为Transepose、Fill、Pack这几层的输出即可，在自己进行红框中这几个op的实现（即用numpy实现后处理）。

[2021-01-11 07:17] #477 closed, assigned to nobody

[2021-01-12 01:12] czy1747 commented on #475
模型能够正常转换，问题先关闭了，后续有问题再讨论，再次表示感谢

[2021-01-12 06:42] SunAhong1993 commented on #484
这边近期加入SparseToDense这个op的转换，支持后将回复您。

这边在跑onnx前向时会出错，可否提供一个输入，以numpy形式保存。

[2021-01-12 07:02] Huihuihh commented on #484
输入默认的是[1, 3, 800, 1216]

[2021-01-14 09:59] Huihuihh opened #491 "tensorflow模型转化为paddle模型op不支持"
paddle.__version__ = 2.0.0-rc1
/usr/local/lib/python3.6/dist-packages/tensorflow/python/pywrap_tensorflow_internal.py:15: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym o

[2021-01-14 11:28] SunAhong1993 commented on #491
这边近期添加后回复您。

[2021-01-15 09:13] FengLiXue opened #492 "pytorch spectral_norm的支持"
在pytorch模型转paddle，转成中间onnx模型时spectral_norm不支持，这个不知道有人了解没？
一直报错：RuntimeError: Tensors must have same number of dimensions: got 2 and 1

[2021-01-18 02:15] SunAhong1993 commented on #492
方便提供下模型到545510262@qq.com吗？这边查看下原因。

[2021-01-18 04:56] Dreamkeeper66666 opened #493 "TensorFlow OPs not supported"
[code]

[2021-01-18 07:04] SunAhong1993 commented on #493
请问下这个模型是否为训练模型，因为看到了SaveV2和TruncatedNormal等，目前训练模型不支持转换；如果喂预测模型，是否方便提供下模型到545510262@qq.com吗？近期支持后回复您。

[2021-01-18 07:55] SunAhong1993 commented on #491
目前，已支持该模型的转换（详见PR：https://github.com/PaddlePaddle/X2Paddle/pull/490/commits/4ed14de239427f190a0a812c0a3ff2fe601471dc ），您可重新安装X2Paddle，并进行转换，安装装方式：
[code]

[2021-01-18 08:03] Huihuihh commented on #491
是的，可以成功转换了。不过转换成paddlelite的模型还不行。
[code]

[2021-01-18 09:26] SunAhong1993 commented on #491
这个问题你可以到PaddleLite的repo提一个issue，那边同学会给您解答。

[2021-01-18 09:28] Huihuihh commented on #491
好的，麻烦了。这个问题我先关闭了

[2021-01-18 09:30] #491 closed, assigned to SunAhong1993

[2021-01-18 09:37] YangLiu0427 opened #494 "将onnx模型转paddle报错"
命令行：x2paddle --framework=onnx --model=mobilefacenet.onnx --save_dir=./
错误信息：paddle.__version__ = 2.0.0-rc0
Now translating model from onnx to paddle.
model ir_version: 4, op version: 9
shape inferencing ...
/usr/local/lib/python3.5/dist-packages/x2paddle-1.0.0rc1-py3.5.egg/x2paddle/decoder/onnx_shape_inference.py:510: DeprecationWarning: np.asscalar(a) is deprecated since NumPy v1.16, use a.item()

[2021-01-18 09:50] SunAhong1993 commented on #494
这边更新下X2Paddle和PaddlePaddle，应该就可以转换了。
更新X2Paddle：
[code]
更新Paddle:
[code]

[2021-01-18 09:59] YangLiu0427 commented on #494
你好，我更新了，但还是报了一样的错误，请帮忙看看
paddle.__version__ = 2.0.0-rc1
Now translating model from onnx to paddle.
model ir_version: 4, op version: 9
shape inferencing ...
/usr/local/lib/python3.5/dist-packages/x2paddle-1.0.0rc1-py3.5.egg/x2paddle/decoder/onnx_shape_inference.py:510: DeprecationWarning: np.asscalar(a) is deprecated since NumPy v1.16, use a.item() instead
shape inferenced.
Now, onnx2paddle support

[2021-01-18 10:01] SunAhong1993 commented on #494
方便把模型提供给我们下吗？发送到545510262@qq.com

[2021-01-19 01:07] YangLiu0427 commented on #494
您好，我已经发邮件了，发件人为1109895468@qq.com，请帮忙看看，谢谢。

[2021-01-19 02:09] SunAhong1993 commented on #494
已收到，这边帮忙查看

[2021-01-19 02:55] SunAhong1993 commented on #494
已修复该问题( https://github.com/PaddlePaddle/X2Paddle/pull/486/commits/5bddbb9a5bae468049523acf9fd36736902c48c1 )，您重新安装下X2Paddle：
[code]

[2021-01-19 03:13] YangLiu0427 commented on #494
十分感谢。

[2021-01-19 07:18] SunAhong1993 opened #495 "--params_merge参数不起作用"
1. --params_merge参数不起作用
2. 存在多余参数--without_data_format_optimization

[2021-01-19 09:55] YangLiu0427 commented on #494
将onnx转成paddle之后生成了文件夹inference_model，然后我利用paddle_lite想转成.nb格式，出现错误。
命令：paddle_lite_opt --model_dir=./onnxToPaddle/inference_model --optimize_out=mobilefacenet --optimize_out_type=naive_buffer --valid_targets=arm
错误：WARNING: Logging before InitGoogleLogging() is written to STDERR
F0119 15:42:30.873152  4516 model_parser.cc:137] Check failed: fin.is_open() Cannot open file: ./onnxToPaddle/inference_

[2021-01-19 09:58] SunAhong1993 commented on #494
你把model.pdmodel改为__model__，model.pdiparams改为__params__，两者是等价的，只是明明不一致

[2021-01-20 02:17] YangLiu0427 commented on #468
您好，我也遇到了一样的问题，请问解决了吗？

[2021-01-20 04:38] AIpioneer commented on #468
你好，请问你使用的paddle版本是多少？paddle lite的版本是多少？

[2021-01-20 05:13] YangLiu0427 commented on #468
paddlepaddle是2.0.0rc1，paddlelite是2.7.1

[2021-01-20 05:19] AIpioneer commented on #468
您好，是这样的，paddle lite2.7版本主要对齐的paddle是1.7和1.8静态图版本的模型。因为paddle2.0对op做了大量的升级，paddle lite正式对齐paddle2.0版本的是待发出的2.8版本。 预计在2月发出。你现在可以暂时用develop版本的尝试使用。

[2021-01-20 06:11] czy1747 commented on #475
想请教一下，crf的decode部分之前放在外面的，用crf_decoding实现然后并到模型结构里面放一起，请问我该怎么做啊

[2021-01-21 05:45] YangLiu0427 commented on #494
你好，我再转另一个模型时，又报错了，请帮忙看一下，谢谢。
命令：x2paddle --framework=onnx --model=FaceDetector.onnx --save_dir=./FaceDetector
错误：AssertionError: value in inputs should be type of string or list of string

[2021-01-21 06:10] SunAhong1993 commented on #494
方便把模型提供给我们下吗？发送到545510262@qq.com

[2021-01-21 06:23] YangLiu0427 commented on #494
你好，我已经发邮件了，发件人为1109895468@qq.com，请帮忙看看，谢谢。

[2021-01-21 06:35] SunAhong1993 commented on #494
已收到，修复后回复您

[2021-01-24 14:55] jedibobo opened #497 "yolov5s.onnx转换报错"
请说明模型的来源，模型类型（例如图像分类、目标检测等）
yolov5目标检测模型，来自https://github.com/ultralytics/yolov5，v4.0 release的yolov5s.pt
通过repository中models/export.py文件夹导出，再用x2paddle时，命令如下：
 x2paddle --framework onnx --model yolov5s.onnx  --save_dir ./yolov5s --paddle_type static
x2paddle --framework onnx --model yolov5s.onnx --params_merge  --save_dir ./yolov5s --paddle_type static
x2paddle --framework onnx --model yolov5s.onnx

[2021-01-25 02:07] SunAhong1993 commented on #497
该问题应该是由于转换的代码中使用了gather op，该op在动转静时存在bug，已在Paddle2.0.0-rc1中修复，您可重装下Paddle2.0.0-rc1。

[2021-01-25 05:44] jedibobo commented on #497
ok我试一下嗷

[2021-01-25 06:44] SunAhong1993 commented on #494
您好，已修复该问题，您可以重装下X2Paddle，进行转换：
[code]

[2021-01-25 06:48] #495 closed, assigned to SunAhong1993

[2021-01-25 10:05] tingggggg opened #498 "onnx2paddle 報錯"
模型來源：tf
inception v1 和 v2
先轉至 onnx 後

使用 x2paddle 出錯

v1
[code]

v2
[code]

[2021-01-25 10:17] SunAhong1993 commented on #498
您好，方便提供下v1和v2的onnx模型到545510262@qq.com吗

[2021-01-25 13:37] jedibobo commented on #497
确实可以，感谢！

[2021-01-25 13:37] #497 closed, assigned to SunAhong1993

[2021-01-25 14:04] tingggggg commented on #498
已寄送 v1 model 給您，v2檔案過大我再試看看如何寄給您
謝謝

[2021-01-26 01:43] SunAhong1993 commented on #498
已收到，这边修复后，回复您。

[2021-01-26 02:59] SunAhong1993 commented on #498
你好，这边已经修复该问题，详见 https://github.com/PaddlePaddle/X2Paddle/pull/499 ，您可以重装X2Paddle：
[code]

[2021-01-26 06:04] tingggggg commented on #498
謝謝您，目前已可成功轉換 inception v1 v2

順帶一提，後來嘗試轉換手邊其他的 onnx 發現類似的問題發生在 AveragePool
參考您的 #499  修改後也順利修正 PR #500

[2021-01-26 06:04] #498 closed, assigned to nobody

[2021-01-26 08:21] tingggggg opened #501 "onnx2paddle 報錯 關於 fusedBatchNorm"
tf 官方來源 resnet_v2_50, 101, 152, 200
轉至 onnx 使用 X2paddle 報以下錯誤

[code]

在猜測可能是 tf model 中 fusedBatchNorm is_training 被設為 true 轉換至 ONNX
ONNX 在轉換至 paddle 才造成此問題。

我需要重新存一個 model is_training set to False 嗎

------------------- 補充 -------------------
後來直接  x2paddle --framework=tensorflow 轉換 .pb 是成功的

[2021-01-26 08:42] SunAhong1993 commented on #501
方便提供下onnx模型到545510262@qq.com吗

[2021-01-26 08:49] tingggggg opened #502 "方便提供下onnx模型到545510262@qq.com吗"
方便提供下onnx模型到545510262@qq.com吗

_Originally posted by @SunAhong1993 in https://github.com/PaddlePaddle/X2Paddle/issues/501#issuecomment-767392366_

請問模型過大 提供 google driver 連結方便嗎

[2021-01-26 08:50] #502 closed, assigned to nobody

[2021-01-26 08:51] tingggggg commented on #501
檔案過大，提供google drive 連結方便嗎

[2021-01-26 09:01] SunAhong1993 commented on #501
可以的

[2021-01-26 09:12] tingggggg commented on #501
另外還有一個 .pb model 在轉換 x2paddle --framework=tensorflow 也遇上了問題
若您方便就麻煩你一併幫忙確認一下，謝謝您！

該.pb 轉換報錯如下

[code]

.pb .onnx 已寄出

[2021-01-26 09:17] jedibobo opened #503 "Pytorch模型转换至paddle模型出错"
模型来源： Pytorch
模型说明：来自paddle官方给的pytorch2paddle测试代码中的alexnet

转换过程出错提示如下：
[code]
感觉像是主框架的锅，主框架是我自己在jetson上编译的rc1，也跑过安装成功测试。
感谢！

[2021-01-26 09:55] SunAhong1993 commented on #503
jetson上我们没有测试过（可能暂时不支持），建议到AIStudio【 https://aistudio.baidu.com 】上提供的免费环境进行转换。

[2021-01-26 09:57] SunAhong1993 commented on #501
已收到，修复后回复您

[2021-01-28 08:59] tingggggg opened #504 "LRN（Local Response Normalization） OP 尚未支持"
如title
在轉換模型過程中，發現 tf.nn.lrn -> ONNX -> paddle
onnx2paddle 這段目前尚未支持

[2021-01-28 09:03] Channingss commented on #504
LRN这个OP，ONNX和paddle1.8的时候功能实现不太一样，我们看一下paddle2.0是否一致。

[2021-01-28 10:09] GreenValue opened #505 "“VGG_ILSVRC_19_layers.caffemodel“ X2Paddle失败"
## 环境
docker pull paddlepaddle/paddle:2.0.0-gpu-cuda10.0-cudnn7
[code]

## 执行记录

模型来源： caffe，图像分类
模型说明： VGG19的预训练模型：
[http://www.robots.ox.ac.uk/~vgg/software/very_deep/caffe/VGG_ILSVRC_19_layers.caffemodel](url)
模型文件： 百度网盘上传中
转换过程出错提示如下：
[code]

[2021-01-28 10:10] GreenValue commented on #505
模型文件：链接：https://pan.baidu.com/s/1nF6jItH5o29hW-wYBegxfQ 提取码：s1dx

[2021-01-29 02:46] SunAhong1993 commented on #505
收到，我们这边查看下原因回复您

[2021-01-29 05:58] 459936800 opened #506 "TensorFlow模型pb文件转， 提示模型不支持"
模型来源： TensorFlow
模型说明： 图像生成，https://gitee.com/Harry6011/DCGAN-tensorflow

命令：
x2paddle --framework=tensorflow --model=checkpoint/DCGAN_64_64_64/DCGAN.pb --save_dir=pd_model/DCGAN --paddle_type static

转换过程出错提示如下：
[code]

备注：
  def save(self, checkpoint_dir, step):
    model_name = "DCGAN.model"
    checkpoint_dir = os.path.join(checkpoint_dir, self.model_dir)
    # 本身没有转化pd文件的code，下面这行是自己后来加的。

[2021-02-01 08:28] jiangjiajun commented on #506
当前这个模型中存在大量XXXGrad类的OP，应该是在导出模型时，将整个计算图导了出来。

实际上我们日常在用时，只需要前向计算的那部分图，因此需要给定图的输入和输出节点，来导出需要的部分，参考下面文档
https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/user_guides/export_tf_model.md

[2021-02-01 16:27] p1n0cch10 opened #508 "Tensorflow inceptionv3转Paddle，报错KeyError"
hi，我使用**master**分支的教程
[https://github.com/PaddlePaddle/X2Paddle/blob/master/tensorflow2fluid/vgg_translate_tutorial.ipynb](url)

将tensorflow checkpoint模型转为paddle，但是报错
`Traceback (most recent call last):
  File "./convert_to_paddle_inceptionv3.py", line 22, in <module>
    convert.run(parser)
  File "../tf2fluid/convert.py", line 129, in run
    args.in_nodes, input_format)
  File "../tf2fluid/tens

[2021-02-02 02:10] SunAhong1993 commented on #508
好的，这边查看下是什么原因再回复您

[2021-02-02 03:10] p1n0cch10 commented on #508
请问可以如流联系吗，比较着急。

[2021-02-02 03:23] SunAhong1993 commented on #508
可以的，要不你先使用develop分支尝试下，这是我们最新代码